Repository department-of-veterans-affairs/vets-website, pull requests merged in 2022-09, with the labels that each got.

#22081 46450 - [cfSR] - Resolution Options on Review Page Rendering Incorrectly
  src/applications/financial-status-report/components/ResolutionOptions.jsx
  src/applications/financial-status-report/constants/index.js
  src/applications/financial-status-report/pages/resolution/resolutionComment.js
  src/applications/financial-status-report/pages/resolution/resolutionOption.js
Labels: front end, vsa-benefits-2

#22083 Certificate of Eligibility | Add unit tests for COE form app
  src/applications/lgy/coe/form/components/GetFormHelp.jsx
  src/applications/lgy/coe/form/config/chapters/documents/FileField.jsx
  src/applications/lgy/coe/form/config/chapters/documents/UploadRequirements.jsx
  src/applications/lgy/coe/form/containers/App.jsx
  src/applications/lgy/coe/form/containers/ConfirmationPage.jsx
  src/applications/lgy/coe/form/containers/IntroductionPage.jsx
  src/applications/lgy/coe/form/content/COEIntroPageBox.jsx
  src/applications/lgy/coe/form/content/LoggedInContent.jsx
  src/applications/lgy/coe/form/content/NotLoggedInContent.jsx
  src/applications/lgy/coe/form/tests/components/GetFormHelp.unit.spec.jsx
  src/applications/lgy/coe/form/tests/components/SubwayMap.unit.spec.jsx
  src/applications/lgy/coe/form/tests/components/statuses/Available.unit.spec.jsx
  src/applications/lgy/coe/form/tests/components/statuses/Denied.unit.spec.jsx
  src/applications/lgy/coe/form/tests/components/statuses/Eligible.unit.spec.jsx
  src/applications/lgy/coe/form/tests/components/statuses/Ineligible.unit.spec.jsx
  src/applications/lgy/coe/form/tests/components/statuses/Pending.unit.spec.jsx
  src/applications/lgy/coe/form/tests/config/applicant/applicantInformation.unit.spec.jsx
  src/applications/lgy/coe/form/tests/config/contact-information/additional-information.unit.spec.jsx
  src/applications/lgy/coe/form/tests/config/contact-information/mailing-address.unit.spec.jsx
  src/applications/lgy/coe/form/tests/config/documents/FileField.unit.spec.jsx
  src/applications/lgy/coe/form/tests/config/documents/UploadRequirements.unit.spec.jsx
  src/applications/lgy/coe/form/tests/config/documents/fileUpload.unit.spec.jsx
  src/applications/lgy/coe/form/tests/config/loans/existingLoanScreener.unit.spec.jsx
  src/applications/lgy/coe/form/tests/config/loans/loanHistory.unit.spec.jsx
  src/applications/lgy/coe/form/tests/config/loans/loanIntent.unit.spec.jsx
  src/applications/lgy/coe/form/tests/config/service/history.unit.spec.jsx
  src/applications/lgy/coe/form/tests/config/service/status.unit.spec.jsx
  src/applications/lgy/coe/form/tests/containers/App.unit.spec.jsx
  src/applications/lgy/coe/form/tests/containers/ConfirmationPage.unit.spec.jsx
  src/applications/lgy/coe/form/tests/containers/IntroductionPage.unit.spec.jsx
  src/applications/lgy/coe/form/tests/content/COEIntroPageBox.unit.spec.jsx
  src/applications/lgy/coe/form/tests/content/LoggedInContent.unit.spec.jsx
  src/applications/lgy/coe/form/tests/content/NotLoggedInContent.unit.spec.jsx
  src/applications/lgy/coe/form/utils.js
  src/applications/lgy/coe/shared/actions/index.js
  src/applications/lgy/coe/shared/components/StatusAlert/statuses/Available.jsx
  src/applications/lgy/coe/shared/components/StatusAlert/statuses/Denied.jsx
  src/applications/lgy/coe/shared/components/StatusAlert/statuses/Pending.jsx
  src/applications/lgy/coe/shared/components/StatusAlert/statuses/helpers.js
  src/applications/lgy/coe/shared/reducers/index.js
  src/applications/lgy/coe/shared/tests/actions/actions.unit.spec.js
  src/applications/lgy/coe/shared/tests/components/DownloadLink.unit.spec.jsx
  src/applications/lgy/coe/shared/tests/components/ReviewAndDownload.unit.spec.jsx
  src/applications/lgy/coe/shared/tests/components/StatusAlert/Available.unit.spec.jsx
  src/applications/lgy/coe/shared/tests/components/StatusAlert/Denied.unit.spec.jsx
  src/applications/lgy/coe/shared/tests/components/StatusAlert/Eligible.unit.spec.jsx
  src/applications/lgy/coe/shared/tests/components/StatusAlert/Ineligible.unit.spec.jsx
  src/applications/lgy/coe/shared/tests/components/StatusAlert/Pending.unit.spec.jsx
  src/applications/lgy/coe/shared/tests/reducers/reducers.unit.spec.js
  src/applications/lgy/coe/status/components/DocumentList/List.jsx
  src/applications/lgy/coe/status/components/MoreQuestions.jsx
  src/platform/forms/save-in-progress/FormStartControls.jsx
  src/platform/forms/tests/save-in-progress/FormStartControls.unit.spec.jsx
Labels: front end, Tech Debt, benefits-team-1, squad-2, COE

#22120 [cFSR] 46643 - Confirmation page resolution options display
  src/applications/financial-status-report/containers/ConfirmationPage.jsx
  src/applications/financial-status-report/utils/helpers.js
Labels: front end, vsa-benefits-2

#21919 1095-B Download Form E2E Tests
  src/applications/static-pages/download-1095b/tests/01-1095b-authed.cypress.spec.js
  src/applications/static-pages/download-1095b/tests/02-1095b-no-form-available.cypress.spec.js
  src/applications/static-pages/download-1095b/tests/e2e/fixtures/mocks/mocks.js
Labels: 1095b

#22122 Adding combined debt portal and medical copays (back) to allow list
  config/changed-apps-build.json
Labels: vsa-benefits-2

#22127 46690 - [cFSR] Add FSR Enhancement Feature Flag
  src/platform/utilities/feature-toggles/featureFlagNames.js
Labels: front end, vsa-benefits-2

#22133 Bump va-forms-system-core version to 1.6.1
  package.json
  yarn.lock
Labels: forms-library

#22143 updates to 1095B widget based on staging review suggestions
  src/applications/static-pages/download-1095b/components/App/index.js
  src/applications/static-pages/download-1095b/components/App/utils.js
  src/applications/static-pages/download-1095b/tests/01-1095b-authed.cypress.spec.js
  src/applications/static-pages/download-1095b/tests/02-1095b-no-form-available.cypress.spec.js
Labels: 1095b

#22169 Certificate of Eligibility | Use feature toggle for rendering app
  src/applications/lgy/coe/form/containers/App.jsx
  src/applications/lgy/coe/form/tests/containers/App.unit.spec.jsx
  src/applications/lgy/coe/shared/components/WIP.jsx
  src/applications/lgy/coe/shared/utils/helpers.js
  src/applications/lgy/coe/status/containers/App.jsx
  src/applications/lgy/coe/status/routes.jsx
  src/applications/lgy/coe/status/tests/containers/App.unit.spec.jsx
Labels: front end, benefits-team-1, squad-2, COE

#22178 Certificate of Eligibility | Fix review & submit a11y
  src/applications/lgy/coe/form/components/LoanReviewField.jsx
  src/applications/lgy/coe/form/config/chapters/loans/existingLoanScreener.js
  src/applications/lgy/coe/form/config/chapters/loans/loanHistory.js
  src/applications/lgy/coe/form/content/loanHistory.js
  src/applications/lgy/coe/form/tests/coe.cypress.spec.js
  src/applications/lgy/coe/form/tests/fixtures/data/maximal-test.json
  src/applications/lgy/coe/form/tests/fixtures/data/minimal-test.json
  src/applications/lgy/coe/form/tests/fixtures/mocks/feature-toggles.json
  src/applications/lgy/coe/form/tests/fixtures/mocks/in-progress-forms.json
Labels: 508/Accessibility, front end, benefits-team-1, squad-2, COE

#22191 Certificate of Eligibility | Add VA loan number validation
  src/applications/lgy/coe/form/config/chapters/documents/fileUpload.js
  src/applications/lgy/coe/form/config/chapters/loans/loanHistory.js
  src/applications/lgy/coe/form/config/helpers.js
  src/applications/lgy/coe/form/constants.js
  src/applications/lgy/coe/form/containers/IntroductionPage.jsx
  src/applications/lgy/coe/form/content/loanHistory.js
  src/applications/lgy/coe/form/sass/coe.scss
  src/applications/lgy/coe/form/tests/config/helpers.unit.spec.js
  src/applications/lgy/coe/form/tests/config/loans/loanHistory.unit.spec.jsx
  src/applications/lgy/coe/form/tests/fixtures/data/maximal-test.json
  src/applications/lgy/coe/form/tests/fixtures/data/transformed-maximal-test.json
  src/applications/lgy/coe/form/tests/fixtures/mocks/submitted.js
  src/applications/lgy/coe/form/tests/validations.unit.spec.js
  src/applications/lgy/coe/form/validations.js
Labels: front end, benefits-team-1, squad-2, COE

#22221 47232 - eFSR - Create GA Logs for VBA and VHA Submissions
  src/applications/financial-status-report/containers/ConfirmationPage.jsx
Labels: front end, vsa-benefits-2

#22206 Certificate of Eligibility | Update and add e2e tests
  src/applications/appeals/996/tests/hlr-keyboard-only.cypress.spec.js
  src/applications/lgy/coe/form/containers/ConfirmationPage.jsx
  src/applications/lgy/coe/form/tests/coe-keyboard-only.cypress.spec.js
  src/applications/lgy/coe/form/tests/coe.cypress.spec.js
  src/applications/lgy/coe/status/tests/DocumentUploader.cypress.spec.js
  src/applications/lgy/coe/status/tests/coe-status.cypress.spec.js
Labels: front end, benefits-team-1, squad-2, COE

#22227 Add COE unique loan number validation
  src/applications/lgy/coe/form/config/chapters/loans/loanHistory.js
  src/applications/lgy/coe/form/content/loanHistory.js
  src/applications/lgy/coe/form/tests/config/loans/loanHistory.unit.spec.jsx
  src/applications/lgy/coe/form/tests/validations.unit.spec.js
  src/applications/lgy/coe/form/validations.js
Labels: bug, front end, benefits-team-1, squad-2, COE

#22253 47232 - EFSR - Update GA Dependency Array
  src/applications/financial-status-report/containers/ConfirmationPage.jsx
Labels: front end, vsa-benefits-2

#22264 Certificate of Eligibility | Update to web components
  src/applications/lgy/coe/form/components/GetFormHelp.jsx
  src/applications/lgy/coe/form/content/LoggedInContent.jsx
  src/applications/lgy/coe/shared/components/DownloadLink.jsx
  src/applications/lgy/coe/shared/components/ReviewAndDownload.jsx
  src/applications/lgy/coe/shared/tests/components/DownloadLink.unit.spec.jsx
  src/applications/lgy/coe/shared/tests/components/ReviewAndDownload.unit.spec.jsx
  src/applications/lgy/coe/status/components/DocumentList/List.jsx
  src/applications/lgy/coe/status/components/DocumentList/ListItem.jsx
  src/applications/lgy/coe/status/components/DocumentUploader/DocumentUploader.jsx
  src/applications/lgy/coe/status/components/DocumentUploader/addFile.js
  src/applications/lgy/coe/status/components/DocumentUploader/submit.js
  src/applications/lgy/coe/status/components/statuses/Available.jsx
  src/applications/lgy/coe/status/components/statuses/Eligible.jsx
  src/applications/lgy/coe/status/components/statuses/Ineligible.jsx
  src/applications/lgy/coe/status/tests/DocumentUploader.cypress.spec.js
  src/applications/lgy/coe/status/tests/components/DocumentList/List.unit.spec.jsx
  src/applications/lgy/coe/status/tests/components/DocumentList/ListItem.unit.spec.jsx
  src/applications/lgy/coe/status/tests/components/DocumentUploader/DocumentUploader.unit.spec.jsx
  src/applications/lgy/coe/status/tests/components/DocumentUploader/submit.unit.spec.js
Labels: front end, Tech Debt, benefits-team-1, squad-2, COE

#22300 [cFSR] - Update - Request Help for Bill Link Destination
  src/applications/combined-debt-portal/combined/components/MCPAlerts.jsx
Labels: front end, vsa-benefits-2
