Repository department-of-veterans-affairs/vets-website, pull requests merged in 2022-11, with the labels that each got.

#22538 Supplemental Claims | Implement feature flag
  src/applications/appeals/995/components/WIP.jsx
  src/applications/appeals/995/containers/App.jsx
  src/applications/appeals/995/containers/IntroductionPage.jsx
  src/applications/appeals/995/subtask/SubTaskContainer.jsx
  src/applications/appeals/995/tests/995-contact-loop.cypress.spec.js
  src/applications/appeals/995/tests/995-subtask.cypress.spec.js
  src/applications/appeals/995/tests/995-supplemental-claim.cypress.spec.js
  src/applications/appeals/995/tests/containers/App.unit.spec.jsx
  src/applications/appeals/995/tests/containers/FormApp.unit.spec.jsx
  src/applications/appeals/995/tests/subtask/subtask.unit.spec.jsx
Labels: front end, benefits-team-1, squad-2, Supplemental Claims

#22555 Add spacing around form nav buttons
  src/platform/forms-system/src/js/components/FormNavButtons.jsx
  src/platform/forms/save-in-progress/SaveFormLink.jsx
  src/platform/forms/save-in-progress/SaveInProgressDevModal.jsx
Labels: bug, 508/Accessibility, front end

#22590 Supplemental Claim | Update prefill transformer to match data
  src/applications/appeals/995/config/prefill-transformer.js
  src/applications/appeals/995/tests/config/prefill-transformer.unit.spec.js
Labels: front end, benefits-team-1, squad-2, Supplemental Claims

#22594 Supplemental Claims | Update manifest
  src/applications/appeals/995/constants.js
  src/applications/appeals/995/containers/ConfirmationPage.jsx
  src/applications/appeals/995/manifest.json
  src/applications/appeals/995/tests/routes.unit.spec.js
Labels: front end, benefits-team-1, squad-2, Supplemental Claims

#22623 Supplemental Claims | Update Opt in to AMA page
  src/applications/appeals/995/content/optIn.jsx
  src/applications/appeals/995/pages/optIn.js
  src/applications/appeals/995/tests/995-contact-loop.cypress.spec.js
  src/applications/appeals/995/tests/995-supplemental-claim.cypress.spec.js
  src/applications/appeals/995/tests/995.cypress.helpers.js
  src/applications/appeals/995/tests/fixtures/data/example-upload.pdf
  src/applications/appeals/995/tests/fixtures/data/maximal-test.json
  src/applications/appeals/995/tests/fixtures/data/minimal-test.json
  src/applications/appeals/995/tests/fixtures/mocks/mockUpload.json
  src/applications/appeals/995/tests/pages/optIn.unit.spec.js
  src/applications/appeals/995/tests/subtask/subtask.unit.spec.jsx
Labels: front end, benefits-team-1, squad-2, Supplemental Claims

#22606 Supplemental Claims | Add primary phone selection page
  package.json
  src/applications/appeals/995/components/ContactInformation.jsx
  src/applications/appeals/995/components/PrimaryPhone.jsx
  src/applications/appeals/995/config/form.js
  src/applications/appeals/995/constants.js
  src/applications/appeals/995/pages/primaryPhone.js
  src/applications/appeals/995/sass/995-supplemental-claim.scss
  src/applications/appeals/995/tests/995-supplemental-claim.cypress.spec.js
  src/applications/appeals/995/tests/components/PrimaryPhone.unit.spec.jsx
  src/applications/appeals/995/tests/fixtures/data/maximal-test.json
  src/applications/appeals/995/tests/pages/primaryPhone.unit.spec.jsx
  src/applications/appeals/995/tests/utils/contactInfo.unit.spec.js
  src/applications/appeals/995/tests/utils/helpers.unit.spec.js
  src/applications/appeals/995/tests/utils/submit.unit.spec.js
  src/applications/appeals/995/tests/validations/validations.unit.spec.js
  src/applications/appeals/995/utils/contactInfo.js
  src/applications/appeals/995/utils/helpers.js
  src/applications/appeals/995/utils/submit.js
  src/applications/appeals/995/validations/index.js
  src/applications/check-in/day-of/tests/e2e/translation/validate-veteran-page-is-translated.cypress.spec.js
  yarn.lock
Labels: front end, benefits-team-1, squad-2, Supplemental Claims

#22494 Fix for search pagination state not updating
  src/applications/search/components/SearchDropdown/SearchDropdownComponent.js
  src/applications/search/containers/SearchApp.jsx
Labels: DO NOT MERGE

#22631 Supplemental Claims | Update 5103 acknowledgement page
  src/applications/appeals/995/content/noticeOfAcknowledgement.jsx
  src/applications/appeals/995/pages/noticeOfAcknowledgement.js
  src/applications/appeals/995/tests/pages/noticeOfAcknowledgement.unit.spec.js
Labels: front end, benefits-team-1, squad-2, Supplemental Claims

#22625 Supplemental Claim | Fix e2e upload testing
  src/applications/appeals/10182/tests/10182-notice-of-disagreement.cypress.spec.js
  src/platform/forms-system/src/js/fields/FileField.jsx
  src/platform/forms-system/test/js/fields/FileField.unit.spec.jsx
Labels: front end, testing, benefits-team-1, squad-2

#22645 Cypress fillDate update
  src/applications/disability-benefits/all-claims/tests/all-claims-wizard.cypress.spec.js
  src/platform/testing/e2e/cypress/support/commands/formHelpers.js
Labels: front end, 526, benefits-team-1, squad-2, Supplemental Claims

#22627 Integrate Claims-Status E2E-specs with TestRail
  src/applications/claims-status/tests/e2e/00.claims-list-breadcrumb.cypress.spec.js
  src/applications/claims-status/tests/e2e/00.claims-list-empty.cypress.spec.js
  src/applications/claims-status/tests/e2e/00.claims-list.cypress.spec.js
  src/applications/claims-status/tests/e2e/01.claim-status-decision.cypress.spec.js
  src/applications/claims-status/tests/e2e/01.claim-status-est-current.cypress.spec.js
  src/applications/claims-status/tests/e2e/01.claim-status-est-past.cypress.spec.js
  src/applications/claims-status/tests/e2e/01.claim-status-est.cypress.spec.js
  src/applications/claims-status/tests/e2e/01.claim-status.cypress.spec.js
  src/applications/claims-status/tests/e2e/02.claim-files.cypress.spec.js
  src/applications/claims-status/tests/e2e/03.claim-details.cypress.spec.js
  src/applications/claims-status/tests/e2e/04.claim-ask-va.cypress.spec.js
  src/applications/claims-status/tests/e2e/05.claim-additional-evidence.cypress.spec.js
  src/applications/claims-status/tests/e2e/05.claim-document-request.cypress.spec.js
  src/applications/claims-status/tests/e2e/06-claim-estimation-breadcrumb.cypress.spec.js
  src/applications/claims-status/tests/e2e/06.claim-estimation.cypress.spec.js
  src/applications/claims-status/tests/e2e/07.appeal-status.cypress.spec.js
Labels: claim status, testing, qa

#22643 Supplemental Claims | Select and add issues #48163
  src/applications/appeals/995/components/ContestableIssuesWidget.jsx
  src/applications/appeals/995/content/contestableIssues.jsx
  src/applications/appeals/995/pages/contestableIssues.js
  src/applications/appeals/995/tests/995-supplemental-claim.cypress.spec.js
  src/applications/appeals/995/tests/fixtures/data/maximal-test.json
Labels: front end, benefits-team-1, squad-2, Supplemental Claims

#22660 Supplemental Claim | rearrange AMA & 5103 pages
  src/applications/appeals/995/config/form.js
  src/applications/appeals/995/tests/pages/noticeOfAcknowledgement.unit.spec.js
Labels: front end, benefits-team-1, squad-2, Supplemental Claims

#22761 Supplemental Claims | Switch VA records to use sub task pattern
  src/applications/appeals/995/components/EvidencePrivateRecordsRequest.jsx
  src/applications/appeals/995/components/EvidenceVaRecords.jsx
  src/applications/appeals/995/config/form.js
  src/applications/appeals/995/config/submit-transformer.js
  src/applications/appeals/995/constants.js
  src/applications/appeals/995/containers/App.jsx
  src/applications/appeals/995/content/addIssue.jsx
  src/applications/appeals/995/content/evidencePrivateChoice.jsx
  src/applications/appeals/995/content/evidencePrivateRecordsRequest.jsx
  src/applications/appeals/995/content/evidenceSummary.jsx
  src/applications/appeals/995/content/evidenceTypes.jsx
  src/applications/appeals/995/content/evidenceVaRecords.jsx
  src/applications/appeals/995/content/evidenceVaRecordsRequest.jsx
  src/applications/appeals/995/pages/evidencePrivateChoice.js
  src/applications/appeals/995/pages/evidencePrivateRecords.js
  src/applications/appeals/995/pages/evidencePrivateRecordsRequest.js
  src/applications/appeals/995/pages/evidenceTypes.js
  src/applications/appeals/995/pages/evidenceVaRecords.js
  src/applications/appeals/995/pages/evidenceVaRecordsRequest.js
  src/applications/appeals/995/tests/995-supplemental-claim.cypress.spec.js
  src/applications/appeals/995/tests/components/AddIssue.unit.spec.js
  src/applications/appeals/995/tests/components/EvidencePrivateRecordsRequest.unit.spec.jsx
  src/applications/appeals/995/tests/components/EvidenceVaRecords.unit.spec.jsx
  src/applications/appeals/995/tests/config/submit-transformer.unit.spec.js
  src/applications/appeals/995/tests/fixtures/data/maximal-test.json
  src/applications/appeals/995/tests/fixtures/data/minimal-test.json
  src/applications/appeals/995/tests/fixtures/data/transformed-maximal-test.json
  src/applications/appeals/995/tests/pages/evidencePrivateRecordsRequest.unit.spec.jsx
  src/applications/appeals/995/tests/pages/evidenceVaRecords.unit.spec.jsx
  src/applications/appeals/995/tests/pages/evidenceVaRecordsRequest.unit.spec.jsx
  src/applications/appeals/995/tests/utils/helpers.unit.spec.js
  src/applications/appeals/995/tests/utils/submit.unit.spec.js
  src/applications/appeals/995/tests/validations/date.unit.spec.js
  src/applications/appeals/995/tests/validations/evidence.unit.spec.js
  src/applications/appeals/995/tests/validations/issues.unit.spec.js
  src/applications/appeals/995/tests/validations/validations.unit.spec.js
  src/applications/appeals/995/utils/helpers.js
  src/applications/appeals/995/utils/submit.js
  src/applications/appeals/995/validations/date.js
  src/applications/appeals/995/validations/evidence.js
  src/applications/appeals/995/validations/index.js
  src/applications/appeals/995/validations/issues.js
Labels: front end, benefits-team-1, squad-2, Supplemental Claims
