Repository department-of-veterans-affairs/vets-website, pull requests merged in 2022-10, with the labels that each got.

#22310 [CDP] - Update - Medical Copays CTA Widget Link
  src/applications/static-pages/medical-copays-cta/components/App/index.js
Labels: front end, vsa-benefits-2

#22324 Hot fix for VerifyAccountLink Testing Suite (#47790)
  src/platform/user/tests/authentication/components/VerifyAccountLink.unit.spec.js
Labels: front end, Identity

#22368 SessionTimeOut Modal Bug Fix (47924)
  src/platform/user/authentication/components/SessionTimeoutModal.jsx
Labels: bug, front end, Identity

#22382 48035 direct deposit consent fix
  src/applications/personalization/profile/components/direct-deposit/alerts/VerifyIdentity.jsx
  src/applications/personalization/profile/tests/components/direct-deposit/alerts/VerifyIdentity.unit.spec.jsx
  src/platform/user/tests/authentication/components/CreateAccountLink.unit.spec.js
  src/platform/user/tests/authentication/components/VerifyAccountLink.unit.spec.js
Labels: front end, Identity

#22435 47357 - [eFSR] - Content changes
  src/applications/financial-status-report/components/DebtCheckBox.jsx
  src/applications/financial-status-report/components/PreSubmitSignature.jsx
  src/applications/financial-status-report/components/ResolutionOptions.jsx
  src/applications/financial-status-report/constants/typeaheadOptions.js
  src/applications/financial-status-report/containers/IntroductionPage.jsx
  src/applications/financial-status-report/pages/assets/recreationalVehicles/records.js
  src/applications/financial-status-report/pages/income/dependents/records.js
  src/applications/financial-status-report/pages/income/employment/records.js
  src/applications/financial-status-report/pages/income/spouse/employment/index.js
  src/applications/financial-status-report/pages/income/spouse/employment/records.js
  src/applications/financial-status-report/pages/income/spouse/spouseInfo.js
  src/applications/financial-status-report/pages/resolution/options.js
  src/applications/financial-status-report/tests/e2e/cfsr-5655.cypress.spec.js
  src/applications/financial-status-report/wizard/WizardContainer.jsx
Labels: front end, vsa-benefits-2

#22475 Supplemental Claim | Edit Veteran contact info
  src/applications/appeals/995/components/ContactInformation.jsx
  src/applications/appeals/995/components/EditContactInfo.jsx
  src/applications/appeals/995/config/form.js
  src/applications/appeals/995/constants.js
  src/applications/appeals/995/containers/App.jsx
  src/applications/appeals/995/sass/995-supplemental-claim.scss
  src/applications/appeals/995/tests/995-contact-loop.cypress.spec.js
  src/applications/appeals/995/tests/995.cypress.helpers.js
  src/applications/appeals/995/tests/components/ContactInformation.unit.spec.jsx
  src/applications/appeals/995/tests/containers/FormApp.unit.spec.jsx
  src/applications/appeals/995/tests/fixtures/data/test-data.json
  src/applications/appeals/995/tests/fixtures/mocks/user.json
  src/applications/appeals/995/tests/fixtures/mocks/vapProfile.json
  src/applications/appeals/995/tests/pages/contactInformation.unit.spec.jsx
  src/applications/appeals/995/tests/utils/helpers.unit.spec.js
  src/applications/appeals/995/tests/utils/submit.unit.spec.js
  src/applications/appeals/995/tests/validations/validations.unit.spec.js
  src/applications/appeals/995/utils/helpers.js
  src/applications/appeals/995/utils/submit.js
  src/applications/appeals/995/validations/index.js
Labels: front end, benefits-team-1, squad-2, Supplemental Claims

#22457 CustomPage enhancements
  src/platform/forms-system/src/js/containers/FormPage.jsx
  src/platform/forms-system/src/js/routing.js
  src/platform/forms-system/test/js/containers/FormPage.unit.spec.jsx
  src/platform/forms-system/test/js/routing.unit.spec.js
Labels: enhancement, front end, benefits-team-1, forms-library

#22520 Supplemental Claim | Update introduction page
  src/applications/appeals/995/components/NeedsToVerify.jsx
  src/applications/appeals/995/config/form.js
  src/applications/appeals/995/constants.js
  src/applications/appeals/995/containers/IntroductionPage.jsx
  src/applications/appeals/995/content/GetFormHelp.jsx
  src/applications/appeals/995/manifest.json
  src/applications/appeals/995/tests/995-contact-loop.cypress.spec.js
  src/applications/appeals/995/tests/995-supplemental-claim.cypress.spec.js
  src/applications/appeals/995/tests/containers/IntroductionPage.unit.spec.jsx
  src/applications/appeals/995/tests/fixtures/data/test-data.json
Labels: front end, benefits-team-1, squad-2, Supplemental Claims

#22524 Supplemental Claims | Add feature flag
  src/platform/utilities/feature-toggles/featureFlagNames.js
Labels: front end, benefits-team-1, squad-2, Supplemental Claims

#22539 Supplemental Claims | Update Veteran information page
  src/applications/appeals/995/components/VeteranInformation.jsx
  src/applications/appeals/995/config/form.js
  src/applications/appeals/995/containers/IntroductionPage.jsx
  src/applications/appeals/995/content/formMessages.js
  src/applications/appeals/995/tests/995-contact-loop.cypress.spec.js
  src/applications/appeals/995/tests/995-supplemental-claim.cypress.spec.js
  src/applications/appeals/995/tests/config/prefill-transformer.unit.spec.js
  src/applications/appeals/995/tests/containers/IntroductionPage.unit.spec.jsx
Labels: front end, benefits-team-1, squad-2, Supplemental Claims
