Repository department-of-veterans-affairs/vets-website, pull requests merged in 2022-03, with the labels that each got.

#20354 35399 - [Debt Letters] Refactor alerts to use va-alert
  src/applications/debt-letters/components/Alerts.jsx
Labels: debt, Tech Debt

#20365 CST: Update to `va-telephone` web component
  src/applications/claims-status/components/StemAskVAQuestions.jsx
  src/applications/claims-status/components/StemDeniedDetails.jsx
  src/applications/claims-status/components/appeals-v2/AppealHelpSidebar.jsx
Labels: front end, claim status, vsa-claims-appeals, VSA, Tech Debt

#20393 Tsimmz 36671 Resource & Support error message
  src/applications/resources-and-support/components/SearchBar.jsx
  src/applications/resources-and-support/tests/components/SearchBar.unit.spec.jsx
Labels: front end, VSA

#20386 37346: [FSR] Replace Deprecated LoadingIndicator with va-loading-indicator
  src/applications/financial-status-report/components/AvailableDebts.jsx
  src/applications/financial-status-report/components/PreSubmitSignature.jsx
  src/applications/financial-status-report/containers/App.jsx
Labels: front end, Tech Debt

#20399 CST a11y fixes
  src/applications/claims-status/components/ClaimPhase.jsx
  src/applications/claims-status/components/MobileAppMessage.jsx
  src/applications/claims-status/components/appeals-v2/AppealListItemV2.jsx
  src/applications/claims-status/components/appeals-v2/ClaimsListItemV2.jsx
  src/applications/claims-status/sass/claims-status.scss
  src/applications/claims-status/tests/components/MobileAppMessage.unit.spec.jsx
  src/applications/claims-status/tests/components/appeals-v2/ClaimListItemV2.unit.spec.jsx
Labels: 508/Accessibility, front end, claim status, vsa-claims-appeals, VSA

#20371 37809: Remove menu button on USiP
  src/platform/site-wide/header/components/LogoRow/index.js
  src/platform/site-wide/header/tests/components.js/LogoRow.spec.js
Labels: Identity

#20416 Tsimmz 37843 mobile header typeahead
  src/platform/site-wide/header/components/Search/index.js
  src/platform/site-wide/header/components/Search/styles.scss
  src/platform/site-wide/header/containers/Menu/index.unit.spec.js
Labels: front end, VSA

#20437 37678 - LTR - Add Veteran facing alert to notify them of missing letters
  src/applications/debt-letters/components/Alerts.jsx
Labels: front end, debt, Tech Debt

#20438 update NOD language to specify physical mail
  src/applications/appeals/10182/containers/ConfirmationPage.jsx
  src/applications/appeals/10182/containers/IntroductionPage.jsx
  src/applications/appeals/10182/content/addIssue.jsx
Labels: front end, vsa-claims-appeals, VSA, NOD

#20441 CST: More a11y fixes
  src/applications/claims-status/components/AddFilesForm.jsx
  src/applications/claims-status/components/ClaimDetailLayout.jsx
  src/applications/claims-status/components/ClaimEstimate.jsx
  src/applications/claims-status/components/ClaimPhase.jsx
  src/applications/claims-status/components/ClaimsTimeline.jsx
  src/applications/claims-status/components/CompleteDetails.jsx
  src/applications/claims-status/components/EvidenceWarning.jsx
  src/applications/claims-status/components/RequestedFilesInfo.jsx
  src/applications/claims-status/components/appeals-v2/Expander.jsx
  src/applications/claims-status/components/appeals-v2/Timeline.jsx
  src/applications/claims-status/containers/AdditionalEvidencePage.jsx
  src/applications/claims-status/containers/DetailsPage.jsx
  src/applications/claims-status/containers/FilesPage.jsx
  src/applications/claims-status/sass/claims-status.scss
  src/applications/claims-status/tests/components/appeals-v2/Expander.unit.spec.jsx
  src/applications/claims-status/tests/e2e/page-objects/TrackClaimsPage.js
  src/applications/disability-benefits/all-claims/containers/AddPerson.jsx
Labels: 508/Accessibility, front end, claim status, vsa-claims-appeals, VSA

#20361 34939: MHV to Login.gov Transition Modal
  src/platform/site-wide/user-nav/actions/index.js
  src/platform/site-wide/user-nav/containers/Main.jsx
  src/platform/site-wide/user-nav/reducers/index.js
  src/platform/site-wide/user-nav/tests/containers/Main.unit.spec.jsx
  src/platform/user/authentication/components/account-transition/TransitionModal.jsx
  src/platform/user/authentication/constants.js
Labels: Identity

#20444 37638: Auth Utilities Refactors and Unit Test Overhaul
  src/platform/user/authentication/constants.js
  src/platform/user/authentication/utilities.js
  src/platform/user/tests/authentication/utilities.unit.spec.js
  src/platform/utilities/sso/index.js
Labels: Identity

#20470 HLR: Fix submitted profile data length
  src/applications/disability-benefits/996/components/AddIssue.jsx
  src/applications/disability-benefits/996/components/ContestableIssuesWidget.jsx
  src/applications/disability-benefits/996/constants.js
  src/applications/disability-benefits/996/content/addIssue.jsx
  src/applications/disability-benefits/996/content/contestableIssues.jsx
  src/applications/disability-benefits/996/pages/addIssue.js
  src/applications/disability-benefits/996/pages/areaOfDisagreement.js
  src/applications/disability-benefits/996/pages/informalConferenceRepV2.js
  src/applications/disability-benefits/996/tests/components/AddIssue.unit.spec.js
  src/applications/disability-benefits/996/tests/fixtures/data/maximal-test-v2.json
  src/applications/disability-benefits/996/tests/fixtures/data/transformed/maximal-test-v2.json
  src/applications/disability-benefits/996/tests/utils/disagreement.unit.spec.js
  src/applications/disability-benefits/996/tests/validations/issues.unit.spec.js
  src/applications/disability-benefits/996/utils/disagreement.js
  src/applications/disability-benefits/996/utils/submit.js
  src/applications/disability-benefits/996/validations/issues.js
Labels: bug, front end, vsa-claims-appeals, VSA, HLR

#20419 [FSR] Submit Transformer Unit Test
  src/applications/financial-status-report/tests/unit/transform.unit.spec.jsx
  src/applications/financial-status-report/tests/unit/unit-maximal.json
Labels: debt, Tech Debt

#20482 HLR/NOD current day is an invalid decision date
  src/applications/appeals/10182/tests/validations/date.unit.spec.js
  src/applications/appeals/10182/validations/date.js
  src/applications/disability-benefits/996/tests/validations/date.unit.spec.js
  src/applications/disability-benefits/996/validations/date.js
Labels: bug, front end, vsa-claims-appeals, VSA, HLR, NOD

#20489 NOD: Fix submitted profile data length
  src/applications/appeals/10182/components/AddIssue.jsx
  src/applications/appeals/10182/components/ContestableIssuesWidget.jsx
  src/applications/appeals/10182/constants.js
  src/applications/appeals/10182/content/addIssue.jsx
  src/applications/appeals/10182/content/contestableIssues.jsx
  src/applications/appeals/10182/pages/addIssue.js
  src/applications/appeals/10182/pages/areaOfDisagreement.js
  src/applications/appeals/10182/tests/components/AddIssue.unit.spec.js
  src/applications/appeals/10182/tests/fixtures/data/maximal-test.json
  src/applications/appeals/10182/tests/fixtures/data/transformed-maximal-test.json
  src/applications/appeals/10182/tests/utils/disagreement.unit.spec.js
  src/applications/appeals/10182/tests/validations/issues.unit.spec.js
  src/applications/appeals/10182/utils/disagreement.js
  src/applications/appeals/10182/utils/submit.js
  src/applications/appeals/10182/validations/issues.js
Labels: bug, front end, vsa-claims-appeals, VSA, NOD

#20452 [DON'T MERGE] 37930: Make Login.gov visible by default and hide via flipper
  src/applications/auth/components/RenderErrorContainer.jsx
  src/applications/auth/containers/AuthApp.jsx
  src/applications/static-pages/medical-copays-cta/components/App/index.unit.spec.js
  src/applications/verify/containers/VerifyApp.jsx
  src/platform/user/authentication/components/LoginActions.jsx
  src/platform/user/authentication/components/LoginContainer.jsx
  src/platform/user/authentication/components/ServiceProvidersList.jsx
  src/platform/user/authentication/components/ServiceProvidersText.jsx
  src/platform/user/authentication/selectors.js
  src/platform/utilities/feature-toggles/featureFlagNames.js
Labels: Identity, DO NOT MERGE

#20517 526: Update to use `va-telephone`
  src/applications/disability-benefits/all-claims/components/IntroductionPage.jsx
  src/applications/disability-benefits/all-claims/containers/MissingServices.jsx
  src/applications/disability-benefits/all-claims/content/common.jsx
  src/applications/disability-benefits/all-claims/content/confirmation-page.jsx
  src/applications/disability-benefits/all-claims/content/fullyDevelopedClaim.jsx
  src/applications/disability-benefits/all-claims/content/itfWrapper.jsx
  src/applications/disability-benefits/all-claims/content/pastEmploymentFormDownload.jsx
  src/applications/disability-benefits/all-claims/content/unemployabilityDisabilities.jsx
  src/applications/disability-benefits/all-claims/tests/pages/pastEmploymentFormDownload.unit.spec.jsx
Labels: front end, vsa-claims-appeals, VSA, 526, Tech Debt

#20538 526: Fix typo
  src/applications/disability-benefits/all-claims/containers/MissingServices.jsx
Labels: front end, vsa-claims-appeals, VSA, 526

#20579 NOD: Board & various updates
  src/applications/appeals/10182/components/NeedsToVerify.jsx
  src/applications/appeals/10182/components/VeteranInformation.jsx
  src/applications/appeals/10182/containers/IntroductionPage.jsx
  src/applications/appeals/10182/content/FilingDeadlines.jsx
  src/applications/appeals/10182/content/hearingType.js
  src/applications/appeals/10182/tests/components/VeteranInformation.unit.spec.jsx
  src/applications/appeals/10182/tests/containers/IntroductionPage.unit.spec.jsx
Labels: enhancement, front end, vsa-claims-appeals, VSA, NOD

#20583 HLR: Require LOA 3 status to start form
  src/applications/disability-benefits/996/components/NeedsToVerify.jsx
  src/applications/disability-benefits/996/components/VeteranInformation.jsx
  src/applications/disability-benefits/996/containers/IntroductionPage.jsx
  src/applications/disability-benefits/996/tests/components/veteranInformation.unit.spec.jsx
  src/applications/disability-benefits/996/tests/containers/IntroductionPage.unit.spec.jsx
Labels: front end, vsa-claims-appeals, VSA, HLR

#20535 Adding initial 508 Compliant MCP statements page
  src/applications/medical-copays/components/HTMLStatementLink.jsx
  src/applications/medical-copays/components/HTMLStatementList.jsx
  src/applications/medical-copays/components/OnThisPage.jsx
  src/applications/medical-copays/components/PDFStatementList.jsx
  src/applications/medical-copays/components/StatementAddresses.jsx
  src/applications/medical-copays/containers/DetailPage.jsx
  src/applications/medical-copays/containers/HTMLStatementPage.jsx
  src/applications/medical-copays/routes.jsx
  src/applications/medical-copays/tests/e2e/fixtures/mocks/statement-feature-toggles.json
  src/applications/medical-copays/tests/e2e/statements.cypress.spec.js
  src/applications/medical-copays/utils/helpers.js
Labels: debt, MCP

#20581 Dhp pgd consent flow001
  .github/CODEOWNERS
  src/applications/dhp-connected-devices/app-entry.jsx
  src/applications/dhp-connected-devices/containers/App.jsx
  src/applications/dhp-connected-devices/manifest.json
  src/applications/dhp-connected-devices/reducers/index.js
  src/applications/dhp-connected-devices/routes.jsx
  src/applications/dhp-connected-devices/sass/dhp-consent-flow.scss
  src/applications/dhp-connected-devices/tests/dhp-consent-flow.cypress.spec.js
  src/applications/registry.scaffold.json
Labels: front end, initial PR

#20608 Letters: a11y & design fixes
  src/applications/claims-status/components/ClaimsDecision.jsx
  src/applications/letters/components/NoAddressBanner.jsx
  src/applications/letters/components/systemDownMessage.jsx
  src/applications/letters/containers/DownloadLetters.jsx
  src/applications/letters/containers/LettersApp.jsx
  src/applications/letters/containers/Main.jsx
  src/applications/letters/containers/VeteranBenefitSummaryLetter.jsx
  src/applications/letters/routes.jsx
  src/applications/letters/tests/01-authed.cypress.spec.js
  src/applications/letters/tests/containers/LettersApp.unit.spec.jsx
  src/applications/letters/tests/containers/VeteranBenefitSummaryLetter.unit.spec.jsx
  src/applications/letters/utils/chapters.js
  src/applications/letters/utils/helpers.jsx
Labels: 508/Accessibility, front end, va-letters, vsa-claims-appeals, VSA, Tech Debt

#20626 HLR/NOD: Replace Modal with va-modal
  src/applications/appeals/10182/content/contestableIssues.jsx
  src/applications/appeals/10182/validations/date.js
  src/applications/disability-benefits/996/content/contestableIssues.jsx
  src/applications/disability-benefits/996/validations/date.js
Labels: front end, vsa-claims-appeals, VSA, HLR, Tech Debt, NOD

#20637 CST: Replace `CollapsiblePanel` with `va-accordion`
  src/applications/claims-status/components/appeals-v2/Issues.jsx
  src/applications/claims-status/tests/actions.unit.spec.js
  src/applications/claims-status/tests/components/appeals-v2/Issues.unit.spec.jsx
  src/applications/claims-status/tests/e2e/07.appeal-status.cypress.spec.js
  src/applications/claims-status/tests/e2e/fixtures/mocks/backend-statuses.json
  src/applications/claims-status/tests/e2e/fixtures/mocks/legacy-appeal.json
Labels: front end, claim status, vsa-claims-appeals, VSA, Tech Debt

#20635 [MCP] 35874 Statement Account Summary
  src/applications/medical-copays/components/AccountSummary.jsx
  src/applications/medical-copays/containers/HTMLStatementPage.jsx
  src/applications/medical-copays/sass/medical-copays.scss
  src/applications/medical-copays/sass/partials/_statement-page.scss
  src/applications/medical-copays/tests/e2e/statements.cypress.spec.js
  src/applications/medical-copays/tests/unit/actions.unit.spec.js
  src/applications/medical-copays/tests/unit/reducers.unit.spec.js
  src/applications/medical-copays/tests/unit/statement.unit.spec.js
Labels: front end, MCP

#20641 526: Replace `CollapsiblePanel` with `va-accordion`
  src/applications/disability-benefits/all-claims/components/DownloadLink.jsx
  src/applications/disability-benefits/all-claims/content/ancillaryFormsWizardSummary.jsx
  src/applications/disability-benefits/all-claims/content/claimExamsInfo.jsx
  src/applications/disability-benefits/all-claims/content/summaryOfDisabilities.jsx
  src/applications/disability-benefits/all-claims/pages/ancillaryFormsWizardSummary.js
  src/applications/disability-benefits/all-claims/tests/content/ancillaryFormsWizardSummary.unit.spec.jsx
Labels: front end, vsa-claims-appeals, VSA, 526, Tech Debt

#20654 38995 - [MCP] - Create Statement Addresses Unit Tests
  src/applications/medical-copays/components/StatementAddresses.jsx
  src/applications/medical-copays/containers/HTMLStatementPage.jsx
  src/applications/medical-copays/tests/unit/statement.unit.spec.js
Labels: front end, debt

#20658 SiP menu: make return URL update dynamically
  src/platform/forms/save-in-progress/SaveInProgressDevModal.jsx
Labels: bug, front end, vsa-claims-appeals, VSA

#20661 Letters: Fix unit tests
  src/applications/letters/containers/LetterList.jsx
  src/applications/letters/tests/containers/LetterList.unit.spec.jsx
Labels: bug, front end, va-letters, vsa-claims-appeals, VSA

#20686 35875 - [MCP] HTML Statement - Statement Charges Table
  src/applications/medical-copays/components/StatementCharges.jsx
  src/applications/medical-copays/containers/HTMLStatementPage.jsx
  src/applications/medical-copays/tests/unit/statement.unit.spec.js
Labels: front end, debt

#20644 37566/37572: Unit tests for SignInModal and SignInApp
  src/applications/login/containers/SignInApp.jsx
  src/applications/login/tests/containers/SignInApp.unit.spec.js
  src/platform/user/tests/authentication/components/SignInModal.unit.spec.js
Labels: Identity

#20691 39352 - [MCP] - HTML Statements - On This Page Component Does Not Navigate to Section
  src/applications/medical-copays/components/AccountSummary.jsx
  src/applications/medical-copays/components/StatementAddresses.jsx
  src/applications/medical-copays/components/StatementCharges.jsx
  src/applications/medical-copays/containers/HTMLStatementPage.jsx
Labels: front end

#20701 38754 - [Debt Portal] Provide a way for Veterans to email DMC with technical concerns
  src/applications/debt-letters/components/Alerts.jsx
Labels: front end, debt

#20705 39368 - (Toggle) - Feature toggle for Combined Debt Portal
  src/platform/utilities/feature-toggles/featureFlagNames.js
Labels: front end, debt
