Repository department-of-veterans-affairs/vets-website, pull requests merged in 2022-06, with the labels that each got.

#21224 34176 - 508-defect-4 [SEMANTIC MARKUP]: Consider using `ul` and `li` elements for the cards list
  src/applications/combined-debt-portal/medical-copays/components/Balances.jsx
  src/applications/combined-debt-portal/medical-copays/sass/medical-copays.scss
Labels: front end, vsa-benefits-2, Tech Debt

#21235 [CDP] Updating MCP to meet mock design
  src/applications/combined-debt-portal/medical-copays/components/AlertView.jsx
  src/applications/combined-debt-portal/medical-copays/components/BalanceCard.jsx
  src/applications/combined-debt-portal/medical-copays/components/BalanceQuestions.jsx
  src/applications/combined-debt-portal/medical-copays/components/Balances.jsx
  src/applications/combined-debt-portal/medical-copays/components/DisputeCharges.jsx
  src/applications/combined-debt-portal/medical-copays/components/DownloadStatement.jsx
  src/applications/combined-debt-portal/medical-copays/components/FinancialHelp.jsx
  src/applications/combined-debt-portal/medical-copays/components/HowToPay.jsx
  src/applications/combined-debt-portal/medical-copays/components/OnThisPageDetails.jsx
  src/applications/combined-debt-portal/medical-copays/components/OnThisPageOverview.jsx
  src/applications/combined-debt-portal/medical-copays/components/PDFStatementList.jsx
  src/applications/combined-debt-portal/medical-copays/components/StatementAddresses.jsx
  src/applications/combined-debt-portal/medical-copays/containers/DetailPage.jsx
  src/applications/combined-debt-portal/medical-copays/containers/HTMLStatementPage.jsx
  src/applications/combined-debt-portal/medical-copays/containers/MedicalCopaysApp.jsx
  src/applications/combined-debt-portal/medical-copays/containers/OverviewPage.jsx
  src/applications/combined-debt-portal/medical-copays/sass/medical-copays.scss
Labels: front end

#21300 41484 - [CDP] [MCP] Update medical-copays Cypress tests under CDP
  src/applications/combined-debt-portal/combined/actions/copays.js
  src/applications/combined-debt-portal/medical-copays/tests/e2e/cdp-alert.cypress.spec.js
  src/applications/combined-debt-portal/medical-copays/tests/e2e/fixtures/mocks/feature-toggles.json
  src/applications/combined-debt-portal/medical-copays/tests/e2e/mcp.cypress.spec.js
  src/applications/combined-debt-portal/medical-copays/tests/e2e/statements.cypress.spec.js
Labels: front end, vsa-benefits-2, Tech Debt

#21299 COE: Add mock data
  src/applications/lgy/coe/form/tests/coe.cypress.spec.js
  src/applications/lgy/coe/form/tests/fixtures/data/maximal-test.json
  src/applications/lgy/coe/form/tests/fixtures/data/minimal-test.json
  src/applications/lgy/coe/form/tests/fixtures/data/test-data.json
Labels: front end, benefits-team-1, squad-2, COE

#21360 526: Restore previous city/state when military base checkbox toggled
  src/applications/disability-benefits/all-claims/config/form.js
  src/applications/disability-benefits/all-claims/pages/contactInformation.js
  src/applications/disability-benefits/all-claims/tests/pages/contactInformation.unit.spec.jsx
Labels: bug, front end, 526, benefits-team-1, squad-2

#21323 SiP: fix JS error
  src/platform/forms/save-in-progress/SaveInProgressDevModal.jsx
  src/platform/forms/tests/save-in-progress/SaveInProgressDevModal.unit.spec.jsx
Labels: bug

#21372 42910 - CDP - Sanitize Text in Statement Table
  src/applications/combined-debt-portal/medical-copays/components/StatementCharges.jsx
Labels: front end, vsa-benefits-2

#21342 COE: Add end-to-end tests
  src/applications/lgy/coe/form/config/chapters/service/history.js
  src/applications/lgy/coe/form/containers/ConfirmationPage.jsx
  src/applications/lgy/coe/form/tests/coe.cypress.spec.js
  src/applications/lgy/coe/form/tests/fixtures/data/minimal-test.json
  src/applications/lgy/coe/form/tests/fixtures/mocks/documents.json
  src/applications/lgy/coe/form/tests/fixtures/mocks/downloadCoe.json
  src/applications/lgy/coe/form/tests/fixtures/mocks/status.json
  src/applications/lgy/coe/form/tests/fixtures/mocks/submitted.js
  src/applications/lgy/coe/form/tests/fixtures/mocks/upload.json
  src/applications/lgy/coe/form/tests/fixtures/mocks/user.json
  src/applications/lgy/coe/shared/actions/index.js
  src/applications/lgy/coe/shared/constants.js
  src/platform/forms-system/src/js/review/ReadOnlyArrayField.jsx
  src/platform/forms-system/test/js/review/ReadOnlyArrayField.unit.spec.jsx
Labels: front end, testing, benefits-team-1, squad-2, COE

#21427 HLR: Allow starting with 404 error
  src/applications/appeals/996/containers/IntroductionPage.jsx
  src/applications/appeals/996/tests/utils/helpers.unit.spec.js
  src/applications/appeals/996/utils/helpers.js
Labels: front end, HLR, benefits-team-1, squad-2

#21463 [CDP] 43340 Alert message fixes
  src/applications/combined-debt-portal/combined/containers/OverviewPage.jsx
Labels: bug

#21461 Remove `va-button-primary` class name from benefit apps
  src/applications/appeals/996/components/createHLRApplicationStatus.jsx
  src/applications/appeals/996/utils/wizard.js
  src/applications/appeals/996/wizard/WizardLink.jsx
  src/applications/disability-benefits/wizard/WizardLink.jsx
  src/applications/disability-benefits/wizard/wizard-utils.js
  src/applications/letters/components/DownloadLetterLink.jsx
  src/applications/letters/components/NoAddressBanner.jsx
  src/applications/static-pages/coe-access/COEAccess.js
  src/applications/static-pages/static-pages-entry.js
Labels: front end, va-letters, 526, HLR, Tech Debt, benefits-team-1, squad-2, COE

#21495 Supplemental Claims | Build out framework
  src/applications/appeals/995/app-entry.jsx
  src/applications/appeals/995/config/form-0995-schema.json
  src/applications/appeals/995/config/form.js
  src/applications/appeals/995/containers/App.jsx
  src/applications/appeals/995/containers/ConfirmationPage.jsx
  src/applications/appeals/995/containers/IntroductionPage.jsx
  src/applications/appeals/995/manifest.json
  src/applications/appeals/995/reducers/index.js
  src/applications/appeals/995/routes.jsx
  src/applications/appeals/995/sass/995-supplemental-claim.scss
  src/applications/appeals/995/tests/995-supplemental-claim.cypress.spec.js
  src/applications/appeals/995/tests/fixtures/data/test-data.json
  src/platform/forms/constants.js
  src/platform/forms/tests/forms.unit.spec.js
Labels: front end, benefits-team-1, squad-2, Supplemental Claims

#21508 42354 coe intro page header fix
  src/applications/lgy/coe/form/containers/IntroductionPage.jsx
  src/applications/lgy/coe/form/containers/introduction-content/loggedInContent.jsx
Labels: front end, benefits-team-1, squad-2, COE

#21530 CDP - UAT Feedback - Gibberish in Statement Charge Description
  src/applications/combined-debt-portal/medical-copays/components/StatementCharges.jsx
Labels: front end, vsa-benefits-2

#21540 Rename vsa-bam-1- to benefits-team-1-
  .github/CODEOWNERS
Labels: front end, benefits-team-1

#21488 List Loop Component Accessibility Improvements
  src/applications/financial-status-report/components/ItemLoop.jsx
  src/applications/financial-status-report/components/TableDetailsView.jsx
  src/applications/financial-status-report/components/Typeahead.jsx
Labels: 508/Accessibility
