Repository department-of-veterans-affairs/vets-website, pull requests merged in 2022-04, with the labels that each got.

#20733 32846 - [MCP] Create HTML statements page - Minor updates to components
  src/applications/medical-copays/components/StatementAddresses.jsx
  src/applications/medical-copays/components/StatementCharges.jsx
Labels: front end, debt

#20728 [FSR] 35797 Adding Sentry to FSR
  src/applications/financial-status-report/actions/index.js
  src/applications/financial-status-report/components/DownloadFormPDF.jsx
Labels: front end, Tech Debt

#20660 HLR/NOD: Update verify identity alert content
  src/applications/appeals/10182/components/NeedsToVerify.jsx
  src/applications/disability-benefits/996/components/NeedsToVerify.jsx
Labels: front end, vsa-claims-appeals, VSA, HLR, NOD

#20618 CST: Remove PDF size feature flag
  src/applications/claims-status/components/AddFilesForm.jsx
  src/applications/claims-status/tests/components/AddFilesForm.unit.spec.jsx
  src/applications/claims-status/tests/components/AdditionalEvidencePage.unit.spec.jsx
  src/applications/claims-status/tests/components/DocumentRequestPage.unit.spec.jsx
  src/applications/claims-status/tests/utils/validations.unit.spec.js
  src/applications/claims-status/utils/appeals-v2-helpers.jsx
  src/applications/claims-status/utils/validations.js
Labels: front end, claim status, vsa-claims-appeals, VSA, Tech Debt

#20767 HLR/NOD update verify identity content
  src/applications/appeals/10182/components/NeedsToVerify.jsx
  src/applications/disability-benefits/996/components/NeedsToVerify.jsx
Labels: front end, vsa-claims-appeals, VSA, HLR, NOD

#20709 Add Mock form
  .github/CODEOWNERS
  src/applications/_mock-form/00-1234-schema.json
  src/applications/_mock-form/app-entry.jsx
  src/applications/_mock-form/components/GroupCheckboxWidget.jsx
  src/applications/_mock-form/config/form.js
  src/applications/_mock-form/containers/App.jsx
  src/applications/_mock-form/containers/ConfirmationPage.jsx
  src/applications/_mock-form/containers/IntroductionPage.jsx
  src/applications/_mock-form/definitions/toursOfDuty.js
  src/applications/_mock-form/manifest.json
  src/applications/_mock-form/pages/applicantInformation.js
  src/applications/_mock-form/pages/checkboxGroupPattern.js
  src/applications/_mock-form/pages/checkboxGroupValidation.jsx
  src/applications/_mock-form/pages/conditionalFields.js
  src/applications/_mock-form/pages/conditionalPages.js
  src/applications/_mock-form/pages/contactInformation.js
  src/applications/_mock-form/pages/directDeposit.js
  src/applications/_mock-form/pages/expandUnder.js
  src/applications/_mock-form/pages/radioButtonGroup.js
  src/applications/_mock-form/pages/serviceHistory.js
  src/applications/_mock-form/pages/singleCheckbox.jsx
  src/applications/_mock-form/reducers/index.js
  src/applications/_mock-form/routes.jsx
  src/applications/_mock-form/sass/mock-form.scss
  src/applications/_mock-form/tests/fixtures/data/test-data.json
  src/applications/_mock-form/tests/mock-form.cypress.spec.js
  src/platform/forms/constants.js
  src/platform/forms/tests/forms.unit.spec.js
Labels: documentation, front end

#20791 Auth/feature/39775/remove required zip for international
  src/applications/personalization/profile/components/ProfileInformationEditView.jsx
  src/applications/personalization/profile/mocks/feature-toggles/index.js
  src/applications/personalization/profile/mocks/server.js
  src/applications/personalization/profile/mocks/toggles.js
  src/applications/personalization/profile/selectors.js
  src/applications/personalization/profile/tests/e2e/address-validation/international-zip/international-zip-is-optional.toggle-off.cypress.spec.js
  src/applications/personalization/profile/tests/e2e/address-validation/international-zip/international-zip-is-optional.toggle-on.cypress.spec.js
  src/applications/personalization/profile/tests/e2e/address-validation/international-zip/usa-address-is-required.cypress.spec.js
  src/applications/personalization/profile/tests/e2e/address-validation/page-objects/AddressPage.js
  src/platform/user/profile/vap-svc/actions/ui.js
  src/platform/user/profile/vap-svc/components/AddressField/address-schemas.js
  src/platform/user/profile/vap-svc/components/ProfileInformationFieldController.jsx
  src/platform/user/profile/vap-svc/util/id-factory.js
  src/platform/utilities/feature-toggles/featureFlagNames.js
Labels: DO NOT MERGE

#20810 Change UserNav component back
  src/applications/dhp-connected-devices/components/UnauthenticatedPageContent.jsx
  src/applications/dhp-connected-devices/tests/components/UnauthenticatedPageContent.spec.js
  src/applications/dhp-connected-devices/tests/dhp-consent-flow.cypress.spec.js
  src/platform/site-wide/user-nav/components/SearchHelpSignIn.jsx
  src/platform/site-wide/user-nav/containers/Main.jsx
Labels: design, front end, sitewide

#20819 Aligns 'Sign in' with text directly above it
  src/applications/dhp-connected-devices/components/UnauthenticatedPageContent.jsx
  src/applications/dhp-connected-devices/sass/dhp-consent-flow.scss
Labels: front end

#20846 NOD: Add virtual prefix
  src/applications/appeals/10182/content/hearingType.js
Labels: front end, vsa-claims-appeals, NOD

#20820 [508] Fix burial intro & confirmation a11y
  src/applications/burials/components/IntroductionPage.jsx
  src/applications/burials/containers/ConfirmationPage.jsx
  src/applications/burials/labels.jsx
  src/applications/burials/tests/containers/ConfirmationPage.unit.spec.jsx
  src/applications/burials/tests/e2e/application-status.cypress.spec.js
Labels: 508/Accessibility, front end, vsa-claims-appeals

#20862 NOD: Fix content
  src/applications/appeals/10182/components/ContactInformation.jsx
Labels: front end, vsa-claims-appeals, NOD

#20845 Auth exp/feature/40115/update vaos to v2
  src/applications/personalization/appointments/actions/index.js
  src/applications/personalization/dashboard/components/health-care/HealthCare.jsx
  src/applications/personalization/dashboard/mocks/appeals-success/index.js
  src/applications/personalization/dashboard/mocks/appointments/MOCK_CC_APPOINTMENTS.js
  src/applications/personalization/dashboard/mocks/appointments/MOCK_VA_APPOINTMENTS.js
  src/applications/personalization/dashboard/mocks/appointments/index.js
  src/applications/personalization/dashboard/mocks/appointments/vaos-v2.js
  src/applications/personalization/dashboard/mocks/debts/index.js
  src/applications/personalization/dashboard/mocks/evss-claims/index.js
  src/applications/personalization/dashboard/mocks/feature-toggles/index.js
  src/applications/personalization/dashboard/mocks/health-care/index.js
  src/applications/personalization/dashboard/mocks/payment-history/index.js
  src/applications/personalization/dashboard/mocks/server.js
  src/applications/personalization/dashboard/mocks/users/index.js
  src/applications/personalization/dashboard/selectors.js
  src/applications/personalization/dashboard/tests/unit/healthcare-spinner.unit.spec.jsx
  src/platform/utilities/feature-toggles/featureFlagNames.js
Labels: DO NOT MERGE

#20869 39369 - [CDP] - Establish API Calls for Data to Render
  src/applications/combined-debt-portal/combined/actions/copays.js
  src/applications/combined-debt-portal/combined/actions/debts.js
  src/applications/combined-debt-portal/combined/actions/index.js
  src/applications/combined-debt-portal/combined/containers/CombinedPortalApp.jsx
  src/applications/combined-debt-portal/combined/reducers/index.js
Labels: front end

#20871 526: Cleanup & improvements
  src/applications/disability-benefits/all-claims/content/veteranDetails.jsx
  src/applications/disability-benefits/all-claims/pages/veteranInfo.js
  src/applications/disability-benefits/all-claims/utils/index.jsx
Labels: front end, vsa-claims-appeals, 526, Tech Debt

#20881 32740 - [FSR] Add content to FSR's confirmation page indicating that Veterans will receive an email confirmation
  src/applications/combined-debt-portal/combined/actions/debts.js
  src/applications/financial-status-report/containers/ConfirmationPage.jsx
Labels: front end, Tech Debt

#20882 526: Fix cyclic dependency & eslint warnings
  src/applications/disability-benefits/all-claims/components/DownloadLink.jsx
  src/applications/disability-benefits/all-claims/containers/WizardContainer.jsx
  src/applications/disability-benefits/all-claims/content/fileUploadDescriptions.jsx
  src/applications/disability-benefits/all-claims/pages/additionalDocuments.js
  src/applications/disability-benefits/all-claims/pages/contactInformation.js
  src/applications/disability-benefits/all-claims/pages/employmentHistory.js
  src/applications/disability-benefits/all-claims/pages/hospitalizationHistory.js
  src/applications/disability-benefits/all-claims/pages/incidentLocation.js
  src/applications/disability-benefits/all-claims/pages/pastEmploymentFormUpload.jsx
  src/applications/disability-benefits/all-claims/pages/prisonerOfWar.js
  src/applications/disability-benefits/all-claims/pages/privateMedicalRecordsAttachments.js
  src/applications/disability-benefits/all-claims/pages/recentJobApplications.js
  src/applications/disability-benefits/all-claims/pages/secondaryIncidentAuthorities.js
  src/applications/disability-benefits/all-claims/pages/secondaryIncidentLocation.js
  src/applications/disability-benefits/all-claims/pages/secondaryUploadSources.jsx
  src/applications/disability-benefits/all-claims/pages/serviceTreatmentRecordsAttachments.js
  src/applications/disability-benefits/all-claims/pages/unemployabilityDoctorCare.js
  src/applications/disability-benefits/all-claims/pages/unemployabilityFormUpload.js
  src/applications/disability-benefits/all-claims/pages/uploadPersonalPtsdDocuments.jsx
  src/applications/disability-benefits/all-claims/pages/uploadPtsdDocuments.jsx
  src/applications/disability-benefits/all-claims/pages/uploadUnemployabilitySupportingDocuments.jsx
  src/applications/disability-benefits/all-claims/pages/vaMedicalRecords.js
  src/applications/disability-benefits/all-claims/tests/all-claims-wizard.cypress.spec.js
  src/applications/disability-benefits/all-claims/tests/all-claims.cypress.spec.js
  src/applications/disability-benefits/all-claims/tests/utils/schemas.unit.spec.js
  src/applications/disability-benefits/all-claims/tests/utils/utils.unit.spec.jsx
  src/applications/disability-benefits/all-claims/utils/index.jsx
  src/applications/disability-benefits/all-claims/utils/schemas.js
Labels: front end, vsa-claims-appeals, 526, Tech Debt

#20896 32740 - [FSR] Update Confirmation Alert to Conditionally Render
  src/applications/financial-status-report/containers/ConfirmationPage.jsx
  src/applications/financial-status-report/utils/helpers.js
  src/platform/utilities/feature-toggles/featureFlagNames.js
Labels: debt, vsa-benefits-2

#20902 Add NOD CTA
  src/applications/registry.scaffold.json
  src/applications/static-pages/nod-cta/components/App/index.js
  src/applications/static-pages/nod-cta/index.js
  src/applications/static-pages/static-pages-entry.js
  src/applications/static-pages/widgetTypes.js
Labels: content, front end, vsa-claims-appeals, NOD

#20894 CST: Replace eBenefits link
  src/applications/claims-status/components/FeaturesWarning.jsx
Labels: front end, claim status, vsa-claims-appeals

#20892 37648: LoginAttempted Unit Test
  src/platform/utilities/tests/sso/loginAttempted.unit.spec.js
Labels: Identity

#20912 NOD: Use correct feature flag
  src/applications/static-pages/nod-cta/components/App/index.js
Labels: content, front end, vsa-claims-appeals, NOD
