Repository department-of-veterans-affairs/vets-website, pull requests merged in 2022-02, with the labels that each got.

#20084 Tsimmz 35537 white space find form
  src/applications/find-forms/containers/SearchResults.jsx
  src/applications/find-forms/sass/find-va-forms.scss
Labels: front end, VSA

#20102 Letters: Fix eslint issues
  src/applications/letters/containers/VeteranBenefitSummaryLetter.jsx
Labels: 508/Accessibility, front end, va-letters, vsa-claims-appeals, VSA

#20120 Letter: Fix a11y & update web components
  src/applications/letters/components/DownloadLetterLink.jsx
  src/applications/letters/components/NoAddressBanner.jsx
  src/applications/letters/containers/LetterList.jsx
  src/applications/letters/containers/Main.jsx
  src/applications/letters/containers/VeteranBenefitSummaryLetter.jsx
  src/applications/letters/tests/01-authed.cypress.spec.js
  src/applications/letters/tests/components/DownloadLetterLink.unit.spec.jsx
  src/applications/letters/tests/containers/AddressSection.unit.spec.jsx
  src/applications/letters/tests/containers/LetterList.unit.spec.jsx
  src/applications/letters/utils/helpers.jsx
Labels: 508/Accessibility, va-letters, vsa-claims-appeals, VSA, Tech Debt

#20128 Srsuddath events staging review fixes
  .eslintrc.js
  src/applications/static-pages/events/components/Events/index.js
  src/applications/static-pages/events/components/Results/index.js
  src/applications/static-pages/events/components/Search/index.js
  src/platform/site-wide/sass/shame.scss
Labels: front end, VSA

#20154 pre-need update to use va-alert
  src/applications/pre-need/tests/config/applicantInfo.unit.spec.jsx
  src/applications/pre-need/utils/helpers.js
Labels: front end, vsa-claims-appeals, VSA, Tech Debt, pre-need

#20158 NOD/HLR v2: Always show free form input
  src/applications/appeals/10182/config/form.js
  src/applications/appeals/10182/constants.js
  src/applications/appeals/10182/content/areaOfDisagreement.jsx
  src/applications/appeals/10182/pages/areaOfDisagreement.js
  src/applications/appeals/10182/sass/10182-nod.scss
  src/applications/appeals/10182/tests/fixtures/data/maximal-test.json
  src/applications/appeals/10182/tests/pages/areaOfDisagreement.unit.spec.jsx
  src/applications/appeals/10182/tests/utils/submit.unit.spec.js
  src/applications/appeals/10182/tests/validations/index.unit.spec.js
  src/applications/appeals/10182/utils/disagreement.js
  src/applications/appeals/10182/utils/helpers.js
  src/applications/appeals/10182/utils/submit.js
  src/applications/appeals/10182/utils/ui.js
  src/applications/appeals/10182/validations/index.js
  src/applications/disability-benefits/996/constants.js
  src/applications/disability-benefits/996/content/areaOfDisagreement.jsx
  src/applications/disability-benefits/996/pages/areaOfDisagreement.js
  src/applications/disability-benefits/996/sass/0996-higher-level-review.scss
  src/applications/disability-benefits/996/tests/fixtures/data/maximal-test-v2.json
  src/applications/disability-benefits/996/tests/pages/areaOfDisagreement.unit.spec.jsx
  src/applications/disability-benefits/996/tests/utils/submit.unit.spec.js
  src/applications/disability-benefits/996/tests/validations/issues.unit.spec.js
  src/applications/disability-benefits/996/utils/disagreement.js
  src/applications/disability-benefits/996/utils/helpers.js
  src/applications/disability-benefits/996/utils/submit.js
  src/applications/disability-benefits/996/utils/ui.js
  src/applications/disability-benefits/996/validations/issues.js
Labels: 508/Accessibility, front end, vsa-claims-appeals, VSA, HLR, NOD

#20180 526: Enable review errors
  src/applications/disability-benefits/all-claims/config/form.js
Labels: front end, vsa-claims-appeals, VSA, 526, Tech Debt

#20176 NOD: Fix most linting issues
  src/applications/appeals/10182/components/AddIssue.jsx
  src/applications/appeals/10182/components/ContactInformation.jsx
  src/applications/appeals/10182/components/ContestableIssuesWidget.jsx
  src/applications/appeals/10182/components/EditContactInfo.jsx
  src/applications/appeals/10182/components/IssueCard.jsx
  src/applications/appeals/10182/components/OptInWidget.jsx
  src/applications/appeals/10182/components/ShowIssuesList.jsx
  src/applications/appeals/10182/components/VeteranInformation.jsx
  src/applications/appeals/10182/config/form.js
  src/applications/appeals/10182/constants.js
  src/applications/appeals/10182/containers/ConfirmationPage.jsx
  src/applications/appeals/10182/containers/FormApp.jsx
  src/applications/appeals/10182/containers/IntroductionPage.jsx
  src/applications/appeals/10182/content/GetFormHelp.jsx
  src/applications/appeals/10182/content/contestableIssues.jsx
  src/applications/appeals/10182/content/issueSummary.js
  src/applications/appeals/10182/pages/addIssue.js
  src/applications/appeals/10182/reducers/index.js
  src/applications/appeals/10182/routes.jsx
  src/applications/appeals/10182/tests/actions/actions.unit.spec.js
  src/applications/appeals/10182/tests/components/ContestableIssuesWidget.unit.spec.jsx
  src/applications/appeals/10182/tests/pages/areaOfDisagreement.unit.spec.jsx
  src/applications/appeals/10182/tests/pages/boardReview.unit.spec.jsx
  src/applications/appeals/10182/tests/pages/contactInfo.unit.spec.jsx
  src/applications/appeals/10182/tests/pages/contestableIssues.unit.spec.jsx
  src/applications/appeals/10182/tests/pages/evidenceIntro.unit.spec.js
  src/applications/appeals/10182/tests/pages/evidenceUpload.unit.spec.js
  src/applications/appeals/10182/tests/pages/hearingType.unit.spec.jsx
  src/applications/appeals/10182/tests/pages/issueSummary.unit.spec.jsx
  src/applications/appeals/10182/tests/pages/optIn.unit.spec.jsx
  src/applications/appeals/10182/utils/upload.js
Labels: front end, vsa-claims-appeals, VSA, Tech Debt, NOD

#20201 NOD: fix JS error
  src/applications/appeals/10182/components/ContestableIssuesWidget.jsx
  src/applications/appeals/10182/tests/components/ContestableIssuesWidget.unit.spec.jsx
Labels: bug, front end, vsa-claims-appeals, VSA, NOD

#20211 CST: status color fix
  src/applications/claims-status/components/StemClaimListItem.jsx
  src/applications/claims-status/components/appeals-v2/AppealListItemV2.jsx
  src/applications/claims-status/components/appeals-v2/ClaimsListItemV2.jsx
  src/applications/claims-status/sass/claims-status.scss
  src/applications/claims-status/tests/components/StemClaimListItem.unit.spec.jsx
  src/applications/claims-status/tests/components/appeals-v2/AppealListItemV2.unit.spec.jsx
  src/applications/claims-status/tests/components/appeals-v2/ClaimListItemV2.unit.spec.jsx
Labels: front end, claim status, vsa-claims-appeals, VSA

#20194 36590: [Burials] eslint fixes
  src/applications/burials/components/IntroductionPage.jsx
  src/applications/burials/config/form.js
Labels: front end

#20131 36314: Rework startReactApp root logic
  src/platform/startup/react.js
  src/platform/startup/tests/react.unit.spec.js
Labels: Identity

#20219 Include file upload size in card
  src/platform/forms-system/src/js/actions.js
  src/platform/forms-system/src/js/fields/FileField.jsx
  src/platform/forms-system/test/js/actions.unit.spec.js
  src/platform/forms-system/test/js/fields/FileField.unit.spec.jsx
Labels: enhancement, front end, vsa-claims-appeals, VSA

#20136 Tsimmz 35538 find form feature flag rename
  src/applications/coronavirus-chatbot/tests/config/data/chatbotResponse.json
  src/applications/find-forms/helpers/selectors.js
  src/applications/find-forms/tests/e2e/find-forms-required.cypress.spec.js
  src/applications/gi-sandbox/tests/e2e/mock-feature_toggles.js
  src/platform/utilities/feature-toggles/featureFlagNames.js
Labels: front end, VSA

#20243 Prevent JS error with null address
  src/platform/forms/address/helpers.js
  src/platform/forms/tests/address.unit.spec.js
Labels: bug, front end, vsa-claims-appeals, VSA, HLR, NOD

#20250 NOD: pre-launch modifications
  src/applications/appeals/10182/components/OptInWidget.jsx
  src/applications/appeals/10182/config/form.js
  src/applications/appeals/10182/content/FilingDeadlines.jsx
  src/applications/appeals/10182/content/OptIn.jsx
  src/applications/appeals/10182/content/boardReview.jsx
  src/applications/appeals/10182/pages/boardReview.js
  src/applications/appeals/10182/pages/filingDeadlines.js
  src/applications/appeals/10182/pages/optIn.js
  src/applications/appeals/10182/sass/10182-nod.scss
  src/applications/appeals/10182/tests/components/OptInWidget.unit.spec.jsx
  src/applications/appeals/10182/tests/pages/optIn.unit.spec.jsx
  src/applications/appeals/10182/tests/validations/index.unit.spec.js
  src/applications/appeals/10182/validations/index.js
Labels: front end, vsa-claims-appeals, VSA, NOD

#20262 Add telephone contacts to platform
  src/platform/site-wide/contacts.js
Labels: enhancement, platform

#20257 NOD: Add contact update loop e2e tests
  src/applications/appeals/10182/tests/10182-contact-loop.cypress.spec.js
  src/applications/appeals/10182/tests/fixtures/mocks/contestable-issues.json
  src/applications/appeals/10182/tests/fixtures/mocks/profile-address-validation.json
  src/applications/appeals/10182/tests/fixtures/mocks/profile-address.json
  src/applications/appeals/10182/tests/fixtures/mocks/profile-email.json
  src/applications/appeals/10182/tests/fixtures/mocks/profile-phone.json
  src/applications/appeals/10182/tests/fixtures/mocks/telephone-update.json
  src/applications/appeals/10182/tests/fixtures/mocks/user-update.json
  src/platform/user/profile/vap-svc/components/ProfileInformationFieldController.jsx
  src/platform/user/profile/vap-svc/tests/components/ContactInformationField.unit.spec.jsx
Labels: front end, vsa-claims-appeals, VSA, NOD

#20143 35745: [MCP] remove 'Copay balance for' from the copay overview page's facility cards
  src/applications/medical-copays/components/BalanceCard.jsx
Labels: front end, debt

#20268 Revert adding contacts to platform
  src/platform/site-wide/contacts.js
Labels: enhancement, platform

#20276 Revert Profile changes & disable e2e tests
  src/applications/appeals/10182/tests/10182-contact-loop.cypress.spec.js
  src/platform/user/profile/vap-svc/components/ProfileInformationFieldController.jsx
Labels: front end, vsa-claims-appeals, VSA, NOD

#20283 NOD: switch to `va-telephone`
  src/applications/appeals/10182/components/ContactInformation.jsx
  src/applications/appeals/10182/components/ReviewDescription.jsx
  src/applications/appeals/10182/components/VeteranInformation.jsx
  src/applications/appeals/10182/containers/ConfirmationPage.jsx
  src/applications/appeals/10182/containers/FormApp.jsx
  src/applications/appeals/10182/containers/IntroductionPage.jsx
  src/applications/appeals/10182/content/GetFormHelp.jsx
  src/applications/appeals/10182/content/evidenceIntro.jsx
  src/applications/appeals/10182/tests/components/ContactInformation.unit.spec.jsx
  src/applications/appeals/10182/tests/components/ReviewDescription.unit.spec.jsx
Labels: front end, vsa-claims-appeals, VSA, NOD

#20290 HLR: switch to `va-telephone`
  src/applications/disability-benefits/996/components/ContactInformation.jsx
  src/applications/disability-benefits/996/components/ReviewDescription.jsx
  src/applications/disability-benefits/996/components/VeteranInformation.jsx
  src/applications/disability-benefits/996/containers/ConfirmationPage.jsx
  src/applications/disability-benefits/996/containers/IntroductionPage.jsx
  src/applications/disability-benefits/996/content/GetFormHelp.jsx
  src/applications/disability-benefits/996/content/contestableIssueAlerts.jsx
  src/applications/disability-benefits/996/content/contestableIssues.jsx
  src/applications/disability-benefits/996/content/contestedIssues.jsx
  src/applications/disability-benefits/996/tests/components/ContactInformation.unit.spec.jsx
  src/applications/disability-benefits/996/tests/components/ReviewDescription.unit.spec.jsx
Labels: front end, vsa-claims-appeals, VSA, HLR

#20298 36549 - [Debt Letters] Replace deprecated AdditionalInfo component
  src/applications/debt-letters/components/DebtDetails.jsx
Labels: debt, Tech Debt

#20287 Tsimmz 35540 find form results error
  src/applications/find-forms/containers/SearchForm.jsx
  src/applications/find-forms/sass/find-va-forms.scss
  src/applications/find-forms/tests/containers/SearchForm.cypress.spec.js
Labels: front end, VSA

#20318 Fixes R&S form background color and FAF form input text color
  src/applications/find-forms/containers/SearchForm.jsx
  src/applications/resources-and-support/components/SearchBar.jsx
Labels: front end, VSA

#20338 Tsimmz 36576 RS search UI consistency
  src/applications/find-forms/components/FormTitle.jsx
  src/applications/find-forms/components/SearchResult.jsx
  src/applications/resources-and-support/components/ResourcesAndSupportSearchApp.jsx
  src/applications/resources-and-support/components/SearchResult.jsx
Labels: front end, VSA

#20331 HLR & NOD: Remove unused functions
  src/applications/appeals/10182/tests/utils/helpers.unit.spec.js
  src/applications/appeals/10182/utils/helpers.js
  src/applications/disability-benefits/996/tests/utils/helpers.unit.spec.js
  src/applications/disability-benefits/996/utils/helpers.js
Labels: front end, vsa-claims-appeals, VSA, HLR, Tech Debt, NOD

#20280 Add contact chatbot CTA widget
  src/applications/gi-sandbox/tests/e2e/mock-feature_toggles.js
  src/applications/static-pages/contact-chatbot-cta/components/App/index.js
  src/applications/static-pages/contact-chatbot-cta/components/App/index.unit.spec.js
  src/applications/static-pages/contact-chatbot-cta/index.js
  src/applications/static-pages/static-pages-entry.js
  src/applications/static-pages/widgetTypes.js
  src/platform/utilities/feature-toggles/featureFlagNames.js
Labels: front end, VSA

#20305 Tsimmz 24296 remove old search exp feature flag
  src/applications/coronavirus-chatbot/tests/config/data/chatbotResponse.json
  src/applications/gi-sandbox/tests/e2e/mock-feature_toggles.js
  src/applications/resources-and-support/components/SearchResult.jsx
  src/applications/search/containers/SearchApp.jsx
  src/platform/site-wide/user-nav/components/SearchMenu.jsx
  src/platform/site-wide/user-nav/tests/components/SearchMenu.unit.spec.jsx
  src/platform/site-wide/user-nav/tests/e2e/00-required.cypress.spec.js
  src/platform/utilities/feature-toggles/featureFlagNames.js
Labels: front end, VSA

#20357 NOD: set `socOptIn` to `false`
  src/applications/appeals/10182/config/submit-transformer.js
  src/applications/appeals/10182/tests/fixtures/data/maximal-test.json
  src/applications/appeals/10182/tests/fixtures/data/minimal-test.json
  src/applications/appeals/10182/tests/fixtures/data/transformed-maximal-test.json
  src/applications/appeals/10182/tests/fixtures/data/transformed-minimal-test.json
  src/applications/appeals/10182/tests/schema/initialData.js
  src/applications/appeals/10182/utils/submit.js
Labels: front end, vsa-claims-appeals, VSA, NOD

#20355 CST: Design update
  src/applications/claims-status/components/AskVAQuestions.jsx
  src/applications/claims-status/components/ClaimPhase.jsx
  src/applications/claims-status/components/ConsolidatedClaims.jsx
  src/applications/claims-status/components/FeaturesWarning.jsx
  src/applications/claims-status/components/MobileAppMessage.jsx
  src/applications/claims-status/components/appeals-v2/AppealListItemV2.jsx
  src/applications/claims-status/containers/AppealInfo.jsx
  src/applications/claims-status/containers/YourClaimsPageV2.jsx
  src/applications/claims-status/tests/components/AskVAQuestions.unit.spec.jsx
  src/applications/claims-status/tests/components/YourClaimsPageV2.unit.spec.jsx
  src/applications/claims-status/tests/components/appeals-v2/AppealHelpSidebar.unit.spec.jsx
  src/applications/claims-status/tests/e2e/00.claims-list-breadcrumb.cypress.spec.js
  src/applications/claims-status/tests/e2e/00.claims-list-empty.cypress.spec.js
  src/applications/claims-status/tests/e2e/00.claims-list.cypress.spec.js
  src/applications/claims-status/tests/e2e/01.claim-status-decision.cypress.spec.js
  src/applications/claims-status/tests/e2e/01.claim-status-est-current.cypress.spec.js
  src/applications/claims-status/tests/e2e/01.claim-status-est-past.cypress.spec.js
  src/applications/claims-status/tests/e2e/01.claim-status-est.cypress.spec.js
  src/applications/claims-status/tests/e2e/01.claim-status.cypress.spec.js
  src/applications/claims-status/tests/e2e/02.claim-files.cypress.spec.js
  src/applications/claims-status/tests/e2e/03.claim-details.cypress.spec.js
  src/applications/claims-status/tests/e2e/04.claim-ask-va.cypress.spec.js
  src/applications/claims-status/tests/e2e/05.claim-additional-evidence.cypress.spec.js
  src/applications/claims-status/tests/e2e/05.claim-document-request.cypress.spec.js
  src/applications/claims-status/tests/e2e/06-claim-estimation-breadcrumb.cypress.spec.js
  src/applications/claims-status/tests/e2e/06.claim-estimation.cypress.spec.js
  src/applications/claims-status/tests/e2e/page-objects/TrackClaimsPage.js
Labels: enhancement, front end, claim status, vsa-claims-appeals, VSA

#20359 HLR & NOD: More code cleanup
  src/applications/appeals/10182/content/issueSummary.js
  src/applications/appeals/10182/pages/addIssue.js
  src/applications/disability-benefits/996/content/issueSummary.jsx
  src/applications/disability-benefits/996/pages/addIssue.js
Labels: front end, vsa-claims-appeals, VSA, HLR, Tech Debt, NOD
