Repository department-of-veterans-affairs/vets-website, pull requests merged in 2022-08, with the labels that each got.

#21721 updated 1095B download widget to be able to select PDF or text form options
  src/applications/static-pages/download-1095b/components/App/index.js
  src/applications/static-pages/download-1095b/components/App/utils.js
Labels: 1095b

#21838 Certificate of Eligibility | Restore city & state after unchecking military base
  src/applications/_mock-form/config/form.js
  src/applications/_mock-form/pages/contactInformation1.js
  src/applications/_mock-form/pages/contactInformation2.js
  src/applications/_mock-form/tests/fixtures/data/test-data.json
  src/applications/lgy/coe/form/config/chapters/contact-information/mailing-address.js
  src/applications/lgy/coe/form/config/form.js
  src/platform/forms-system/src/js/definitions/profileAddress.js
  src/platform/forms-system/src/js/utilities/ui/index.js
  src/platform/forms-system/test/js/definitions/address.unit.spec.jsx
  src/platform/forms-system/test/js/definitions/profileAddress.unit.spec.jsx
Labels: front end, benefits-team-1, squad-2, COE

#21874 CDP - Statement Charges - Add Regex Replace for &NBSP
  src/applications/combined-debt-portal/medical-copays/components/StatementCharges.jsx
Labels: front end, vsa-benefits-2

#21849 Set focus to appropriate elements within the ArrayField on Edit, Update, and Add functions
  src/platform/forms-system/src/js/fields/ArrayField.jsx
Labels: 508/Accessibility, forms-library

#21924 44641 - [CFSR] - Update Resolution Options for Copays and Debts
  src/applications/financial-status-report/actions/copays.js
  src/applications/financial-status-report/actions/index.js
  src/applications/financial-status-report/components/CopayCheckBox.jsx
  src/applications/financial-status-report/components/CurrentDebtTitle.jsx
  src/applications/financial-status-report/components/DebtCheckBox.jsx
  src/applications/financial-status-report/components/ResolutionOptions.jsx
  src/applications/financial-status-report/config/form.js
  src/applications/financial-status-report/containers/App.jsx
  src/applications/financial-status-report/pages/index.js
  src/applications/financial-status-report/pages/resolution/resolutionComment.js
  src/applications/financial-status-report/pages/resolution/resolutionOption.js
  src/applications/financial-status-report/sass/financial-status-report.scss
  src/applications/financial-status-report/tests/e2e/cfsr-5655.cypress.spec.js
  src/applications/financial-status-report/utils/helpers.js
Labels: front end, vsa-benefits-2

#21887 added analytics tracking for 1095B form option radio buttons
  src/applications/static-pages/download-1095b/components/App/index.js
  src/applications/static-pages/download-1095b/components/App/utils.js
Labels: 1095b

#21944 44641 - CFSR - Resolution Option Update, Validation and Styling
  src/applications/financial-status-report/components/CurrentDebtTitle.jsx
  src/applications/financial-status-report/components/ResolutionOptions.jsx
  src/applications/financial-status-report/pages/resolution/resolutionOption.js
  src/applications/financial-status-report/sass/financial-status-report.scss
  src/applications/financial-status-report/utils/validations.js
Labels: front end, vsa-benefits-2

#21948 [cFSR] #44640 Resolution Comments Update
  src/applications/financial-status-report/components/CurrentDebtTitle.jsx
  src/applications/financial-status-report/components/ResolutionOptions.jsx
  src/applications/financial-status-report/config/form.js
  src/applications/financial-status-report/pages/resolution/resolutionComment.js
  src/applications/financial-status-report/utils/validations.js
Labels: front end, vsa-benefits-2

#21961 Certificate of Eligibility | Fix upload page headers
  src/applications/lgy/coe/form/config/chapters/documents/FileField.jsx
  src/applications/lgy/coe/form/config/chapters/documents/UploadRequirements.jsx
  src/applications/lgy/coe/form/config/chapters/documents/fileUpload.js
Labels: 508/Accessibility, front end, benefits-team-1, squad-2, COE

#21960 [cFSR] - Fixing debt selection issues
  src/applications/financial-status-report/components/DebtCheckBox.jsx
  src/applications/financial-status-report/pages/veteran/debts.js
Labels: front end, vsa-benefits-2

#21952 Certificate of Eligibility | Update VA loan number input
  package.json
  src/applications/lgy/coe/form/config/chapters/loans/loanHistory.js
  src/applications/lgy/coe/form/routes.jsx
  src/applications/lgy/coe/form/tests/config/loanHistory.unit.spec.jsx
  src/applications/lgy/coe/form/tests/fixtures/data/maximal-test.json
  yarn.lock
Labels: bug, 508/Accessibility, front end, benefits-team-1, squad-2, COE

#21921 Add Sub-Task component
  src/applications/appeals/995/constants.js
  src/applications/appeals/995/containers/App.jsx
  src/applications/appeals/995/containers/IntroductionPage.jsx
  src/applications/appeals/995/content/DownloadLink.jsx
  src/applications/appeals/995/routes.jsx
  src/applications/appeals/995/subtask/SubTaskContainer.jsx
  src/applications/appeals/995/subtask/pages/index.js
  src/applications/appeals/995/subtask/pages/other.jsx
  src/applications/appeals/995/subtask/pages/pageNames.js
  src/applications/appeals/995/subtask/pages/start.jsx
  src/applications/disability-benefits/all-claims/routes.jsx
  src/applications/disability-benefits/all-claims/subtask/SubTaskContainer.jsx
  src/applications/disability-benefits/all-claims/subtask/pages/appeals.jsx
  src/applications/disability-benefits/all-claims/subtask/pages/disagree-file-claim.jsx
  src/applications/disability-benefits/all-claims/subtask/pages/file-bdd.jsx
  src/applications/disability-benefits/all-claims/subtask/pages/file-claim-early.jsx
  src/applications/disability-benefits/all-claims/subtask/pages/file-claim.jsx
  src/applications/disability-benefits/all-claims/subtask/pages/index.js
  src/applications/disability-benefits/all-claims/subtask/pages/pageNames.js
  src/applications/disability-benefits/all-claims/subtask/pages/rad.jsx
  src/applications/disability-benefits/all-claims/subtask/pages/start.jsx
  src/applications/disability-benefits/all-claims/subtask/pages/unable-to-file-bdd.jsx
  src/applications/disability-benefits/all-claims/subtask/utils.js
  src/applications/disability-benefits/all-claims/utils/index.jsx
  src/platform/forms-system/src/js/state/reducers.js
  src/platform/forms/sub-task/index.js
  src/platform/forms/tests/sub-task/basic-2-page.unit.spec.jsx
  src/platform/forms/tests/sub-task/bdd-526.unit.spec.jsx
  src/platform/utilities/ui/index.js
Labels: front end, 526, benefits-team-1, squad-2, Supplemental Claims

#21969 Certificate of Eligibility | Allow same closing & paid off date, and fix date formatting
  src/applications/lgy/coe/form/config/chapters/loans/loanHistory.js
  src/applications/lgy/coe/form/tests/config/loanHistory.unit.spec.jsx
Labels: bug, front end, benefits-team-1, squad-2, COE

#21988 Certificate of Eligibility | Prevent empty other document description submission
  src/applications/lgy/coe/form/config/chapters/documents/fileUpload.js
  src/applications/lgy/coe/form/config/helpers.js
  src/applications/lgy/coe/form/tests/config/helpers.unit.spec.js
  src/applications/lgy/coe/form/tests/fixtures/data/maximal-test.json
  src/applications/lgy/coe/form/tests/fixtures/data/minimal-test.json
  src/applications/lgy/coe/form/tests/fixtures/data/transformed-maximal-test.json
Labels: bug, front end, benefits-team-1, squad-2, COE

#21991 cFSR - Veteran Signature Box - Replace Deprecated Input Causing Breakages
  src/applications/financial-status-report/components/PreSubmitSignature.jsx
  src/applications/financial-status-report/tests/e2e/fsr-5655.cypress.spec.js
Labels: front end, vsa-benefits-2

#21976 [#556] Replace military history TextField with SelectField
  src/applications/burial-poc-v6/pages/MilitaryServiceHistory.jsx
  src/platform/forms/address/data/labels.js
Labels: 508/Accessibility

#21998 Update show PDF password components
  src/platform/forms-system/src/js/utilities/file/ShowPdfPassword.jsx
  src/platform/forms-system/test/js/utilities/file.unit.spec.js
Labels: front end, Tech Debt

#21926 added a component to render when feature toggle is off
  src/applications/static-pages/download-1095b/components/App/index.js
  src/applications/static-pages/download-1095b/components/App/utils.js
Labels: 1095b

#22000 Update vets-json-schema
  package.json
  yarn.lock
Labels: bug, front end, benefits-team-1, squad-2, COE

#22020 adds bug fix for verify for both OAuth + SAML
  src/applications/verify/components/verifyButton.jsx
  src/platform/user/authentication/config/constants.js
  src/platform/user/authentication/utilities.js
  src/platform/utilities/oauth/utilities.js
Labels: Identity

#22056 [CDP] - 46078 - Update and Add Google Analytics to Events
  src/applications/combined-debt-portal/combined/routes.jsx
  src/applications/combined-debt-portal/debt-letters/components/DebtDetailsCard.jsx
  src/applications/combined-debt-portal/debt-letters/components/DebtSummaryCard.jsx
  src/applications/combined-debt-portal/medical-copays/components/BalanceCard.jsx
  src/applications/combined-debt-portal/medical-copays/components/DownloadStatement.jsx
  src/applications/combined-debt-portal/medical-copays/components/HTMLStatementLink.jsx
Labels: front end, vsa-benefits-2

#22006 replaced RadioButtons component with VaRadio
  src/applications/static-pages/download-1095b/components/App/index.js
  src/applications/static-pages/download-1095b/components/App/utils.js
Labels: 1095b

#22043 updated display for when 1095b feature toggle is off
  src/applications/static-pages/download-1095b/components/App/utils.js
Labels: 1095b
