Repository department-of-veterans-affairs/vets-website, pull requests merged in 2022-05, with the labels that each got.

#20928 Letters: Replace & remove eBenefits links
  src/applications/letters/containers/LetterList.jsx
Labels: front end, va-letters, vsa-claims-appeals

#20954 Dependents: Remove <header> in modal
  src/applications/static-pages/dependency-verification/components/dependencyVerificationHeader.jsx
Labels: 508/Accessibility, vsa-claims-appeals, Dependency Verification

#20960 686: confirmation page updates
  src/applications/disability-benefits/686c-674/containers/App.jsx
  src/applications/disability-benefits/686c-674/containers/ConfirmationPage.jsx
  src/applications/disability-benefits/686c-674/sass/new-686.scss
Labels: 508/Accessibility, front end, Tech Debt, Dependency Verification

#20964 686: Address label update
  src/applications/disability-benefits/686c-674/config/address-schema.js
Labels: 508/Accessibility, front end

#20966 686: fix headers
  src/applications/personalization/view-dependents/components/ViewDependentsSidebar/ViewDependentsSidebarBlock.jsx
Labels: 508/Accessibility, front end

#20981 686: Improve a11y
  src/applications/personalization/view-dependents/components/ViewDependentsList/ViewDependentsListItem.jsx
  src/applications/personalization/view-dependents/sass/view-dependents.scss
  src/applications/personalization/view-dependents/tests/e2e/view-dependents.cypress.spec.js
  src/applications/personalization/view-dependents/tests/util/index.unit.spec.jsx
  src/applications/personalization/view-dependents/util/index.js
Labels: 508/Accessibility, front end, vsa-claims-appeals, Tech Debt

#20976 34160 - Assistive tech and device support] Pages require sensory characteristics to be understood or operable. (11.11.1)
  src/applications/debt-letters/components/DebtLettersWrapper.jsx
  src/applications/medical-copays/components/BalanceCard.jsx
  src/applications/medical-copays/containers/MedicalCopaysApp.jsx
  src/applications/medical-copays/containers/OverviewPage.jsx
  src/applications/medical-copays/tests/e2e/statements.cypress.spec.js
  src/applications/medical-copays/utils/mocks/debts.json
  src/applications/medical-copays/utils/mocks/debtsError.json
  src/applications/medical-copays/utils/mocks/debtsVBMS.json
  src/applications/medical-copays/utils/mocks/mockDebtResponses.js
Labels: debt, Tech Debt

#20985 686: Green button to action link
  src/applications/personalization/view-dependents/components/ViewDependentsHeader/ViewDependentsHeader.jsx
Labels: 508/Accessibility, front end, vsa-claims-appeals, Tech Debt

#20993 686: H1 to sentence-case
  src/applications/personalization/view-dependents/components/ViewDependentsHeader/ViewDependentsHeader.jsx
  src/applications/personalization/view-dependents/tests/components/ViewDependentsHeader.unit.spec.jsx
  src/applications/personalization/view-dependents/tests/e2e/view-dependents.cypress.spec.js
Labels: front end, vsa-claims-appeals, Tech Debt

#21028 NOD: Add keyboard-only e2e test
  src/applications/appeals/10182/tests/10182-keyboard-only.cypress.spec.js
Labels: 508/Accessibility, front end, NOD

#21032 Letters: Skip failing e2e test
  src/applications/appeals/10182/tests/10182-keyboard-only.cypress.spec.js
  src/applications/letters/tests/02-keyboard-only.cypress.spec.js
Labels: bug, front end, va-letters, benefits-team-1

#21035 HLR: Change contact import
  src/applications/disability-benefits/996/components/VeteranInformation.jsx
  src/applications/disability-benefits/996/containers/ConfirmationPage.jsx
  src/applications/disability-benefits/996/containers/IntroductionPage.jsx
  src/applications/disability-benefits/996/content/GetFormHelp.jsx
  src/applications/disability-benefits/996/content/contestableIssueAlerts.jsx
  src/applications/disability-benefits/996/content/contestableIssues.jsx
  src/applications/disability-benefits/996/content/contestedIssues.jsx
Labels: front end, HLR, Tech Debt, benefits-team-1

#21073 40888 - [CDP] Debt 2.0 Debt Letter Download
  src/applications/combined-debt-portal/combined/actions/debts.js
  src/applications/combined-debt-portal/combined/utils/mockResponses.js
  src/applications/debt-letters/components/DebtLettersTable.jsx
  src/applications/debt-letters/sass/debt-letters.scss
  src/applications/debt-letters/tests/DebtLettersDownload.unit.spec.js
  src/applications/debt-letters/utils/mockDebtLinks.json
Labels: front end, debt, vsa-benefits-2

#21060 Burials: Add keyboard-only e2e test
  src/applications/burials/tests/burials-keyboard-only.cypress.spec.js
  src/applications/burials/tests/schema/maximal-test.json
  src/platform/testing/e2e/cypress/support/commands/keyboardNavigation.js
Labels: 508/Accessibility, front end, benefits-team-1, Burials

#21075 686 & view dependents: Fix document & H1 titles
  src/applications/disability-benefits/686c-674/components/IntroductionPageHeader.jsx
  src/applications/disability-benefits/686c-674/config/constants.js
  src/applications/disability-benefits/686c-674/containers/App.jsx
  src/applications/disability-benefits/686c-674/containers/IntroductionPage.jsx
  src/applications/personalization/view-dependents/components/ViewDependentsHeader/ViewDependentsHeader.jsx
  src/applications/personalization/view-dependents/containers/ViewDependentsApp.jsx
  src/applications/personalization/view-dependents/tests/components/ViewDependentsHeader.unit.spec.jsx
  src/applications/personalization/view-dependents/tests/e2e/view-dependents.cypress.spec.js
  src/applications/personalization/view-dependents/util/index.js
Labels: content, front end, benefits-team-1

#21118 HLR/NOD: Switch to use web components
  src/applications/appeals/10182/components/AddIssue.jsx
  src/applications/appeals/10182/content/addIssue.jsx
  src/applications/appeals/10182/tests/components/AddIssue.unit.spec.js
  src/applications/appeals/10182/tests/utils/dates.unit.spec.js
  src/applications/appeals/10182/utils/dates.js
  src/applications/appeals/996/components/AddIssue.jsx
  src/applications/appeals/996/content/addIssue.jsx
  src/applications/appeals/996/tests/components/AddIssue.unit.spec.js
  src/applications/appeals/996/tests/utils/dates.unit.spec.js
  src/applications/appeals/996/utils/dates.js
  src/applications/appeals/996/validations/date.js
Labels: front end, HLR, Tech Debt, NOD, benefits-team-1, squad-2

#21152 NOD & Letters: un-skip keyboard e2e tests
  src/applications/appeals/10182/tests/10182-keyboard-only.cypress.spec.js
  src/applications/burials/tests/burials-keyboard-only.cypress.spec.js
  src/applications/letters/tests/02-keyboard-only.cypress.spec.js
  src/platform/testing/e2e/cypress/support/commands/keyboardNavigation.js
Labels: front end, va-letters, NOD, benefits-team-1, squad-2

#21155 Press Enter for button & action links
  src/platform/testing/e2e/cypress/support/commands/keyboardNavigation.js
Labels: front end, testing, benefits-team-1, squad-2

#21154 HLR: Update wizard content
  src/applications/appeals/996/wizard/WizardContainer.jsx
Labels: front end, HLR, benefits-team-1, squad-2

#21150 40891 - [CDP] Merge medical-copays under the new combined-debt-portal
  src/applications/combined-debt-portal/combined/components/BalanceCard.jsx
  src/applications/combined-debt-portal/combined/routes.jsx
  src/applications/combined-debt-portal/combined/utils/helpers.js
  src/applications/combined-debt-portal/combined/utils/mocks/combinedStatements.js
  src/applications/combined-debt-portal/combined/utils/mocks/mockDebtsError.json
  src/applications/combined-debt-portal/combined/utils/mocks/mockDebtsVBMS.json
  src/applications/combined-debt-portal/combined/utils/mocks/mockResponses.js
  src/applications/combined-debt-portal/combined/utils/mocks/mockStatements.json
  src/applications/combined-debt-portal/medical-copays/components/AccountSummary.jsx
  src/applications/combined-debt-portal/medical-copays/components/AlertView.jsx
  src/applications/combined-debt-portal/medical-copays/components/Alerts.jsx
  src/applications/combined-debt-portal/medical-copays/components/BalanceCard.jsx
  src/applications/combined-debt-portal/medical-copays/components/BalanceQuestions.jsx
  src/applications/combined-debt-portal/medical-copays/components/Balances.jsx
  src/applications/combined-debt-portal/medical-copays/components/DisputeCharges.jsx
  src/applications/combined-debt-portal/medical-copays/components/DownloadStatement.jsx
  src/applications/combined-debt-portal/medical-copays/components/FinancialHelp.jsx
  src/applications/combined-debt-portal/medical-copays/components/HTMLStatementLink.jsx
  src/applications/combined-debt-portal/medical-copays/components/HTMLStatementList.jsx
  src/applications/combined-debt-portal/medical-copays/components/HowToPay.jsx
  src/applications/combined-debt-portal/medical-copays/components/LoadingSpinner.jsx
  src/applications/combined-debt-portal/medical-copays/components/Modals.jsx
  src/applications/combined-debt-portal/medical-copays/components/OnThisPage.jsx
  src/applications/combined-debt-portal/medical-copays/components/OtherVADebts.jsx
  src/applications/combined-debt-portal/medical-copays/components/PDFStatementList.jsx
  src/applications/combined-debt-portal/medical-copays/components/StatementAddresses.jsx
  src/applications/combined-debt-portal/medical-copays/components/StatementCharges.jsx
  src/applications/combined-debt-portal/medical-copays/containers/DetailPage.jsx
  src/applications/combined-debt-portal/medical-copays/containers/HTMLStatementPage.jsx
  src/applications/combined-debt-portal/medical-copays/containers/MedicalCopaysApp.jsx
  src/applications/combined-debt-portal/medical-copays/containers/OverviewPage.jsx
  src/applications/combined-debt-portal/medical-copays/sass/medical-copays.scss
  src/applications/combined-debt-portal/medical-copays/tests/e2e/cdp-alert.cypress.spec.js
  src/applications/combined-debt-portal/medical-copays/tests/e2e/fixtures/mocks/cdp-alert-feature-toggles.json
  src/applications/combined-debt-portal/medical-copays/tests/e2e/fixtures/mocks/copays.json
  src/applications/combined-debt-portal/medical-copays/tests/e2e/fixtures/mocks/feature-toggles.json
  src/applications/combined-debt-portal/medical-copays/tests/e2e/fixtures/mocks/mock-user.json
  src/applications/combined-debt-portal/medical-copays/tests/e2e/fixtures/mocks/statement-feature-toggles.json
  src/applications/combined-debt-portal/medical-copays/tests/e2e/mcp.cypress.spec.js
  src/applications/combined-debt-portal/medical-copays/tests/e2e/statements.cypress.spec.js
  src/applications/combined-debt-portal/medical-copays/tests/unit/actions.unit.spec.js
  src/applications/combined-debt-portal/medical-copays/tests/unit/otherdebts.unit.spec.js
  src/applications/combined-debt-portal/medical-copays/tests/unit/reducers.unit.spec.js
  src/applications/combined-debt-portal/medical-copays/tests/unit/statement.unit.spec.js
Labels: front end, vsa-benefits-2

#21167 40891 - CDP - Return to Facility Details Link
  src/applications/combined-debt-portal/medical-copays/containers/HTMLStatementPage.jsx
Labels: front end, vsa-benefits-2

#21176 Updated "how to sections" to match design
  src/applications/combined-debt-portal/debt-letters/components/HowDoIPay.jsx
  src/applications/combined-debt-portal/debt-letters/components/NeedHelp.jsx
  src/applications/combined-debt-portal/debt-letters/containers/DebtDetails.jsx
Labels: vsa-benefits-2

#21188 39385 - [CDP] Debt 2.0 Debt Detail page
  src/applications/combined-debt-portal/debt-letters/components/DebtDetailsCard.jsx
  src/applications/combined-debt-portal/debt-letters/const/diary-codes/debtDetailsCardContent.js
  src/applications/combined-debt-portal/debt-letters/containers/DebtDetails.jsx
Labels: front end, vsa-benefits-2

#21192 [CDP] 41505 User Authentication
  src/applications/combined-debt-portal/combined/containers/CombinedPortalApp.jsx
Labels: front end, vsa-benefits-2

#21196 CST: associate file requirements with upload button
  src/applications/claims-status/components/AddFilesForm.jsx
  src/applications/claims-status/tests/components/AddFilesForm.unit.spec.jsx
Labels: 508/Accessibility, front end, claim status, benefits-team-1, squad-2

#21198 39378 - [CDP] Debt 2.0 - Update Card Components to fit Requirements
  src/applications/combined-debt-portal/debt-letters/components/DebtDetailsCard.jsx
  src/applications/combined-debt-portal/debt-letters/const/diary-codes/debtDetailsCardContent.js
  src/applications/combined-debt-portal/debt-letters/sass/debt-letters.scss
Labels: front end, vsa-benefits-2

#21204 [CDP] 39378 - Debt Letter - Summary Card Updates
  src/applications/combined-debt-portal/debt-letters/components/DebtCardsList.jsx
  src/applications/combined-debt-portal/debt-letters/components/DebtDetailsCard.jsx
  src/applications/combined-debt-portal/debt-letters/components/DebtLetterCard.jsx
  src/applications/combined-debt-portal/debt-letters/components/DebtSummaryCard.jsx
  src/applications/combined-debt-portal/debt-letters/const/diary-codes/debtSummaryCardContent.js
  src/applications/combined-debt-portal/debt-letters/const/diary-codes/diary-code-groups.js
  src/applications/combined-debt-portal/debt-letters/const/diary-codes/index.js
  src/applications/combined-debt-portal/debt-letters/containers/DebtDetails.jsx
Labels: front end

#21187 [508] CST: Focus on pagination info after pagination update
  src/applications/claims-status/containers/YourClaimsPageV2.jsx
  src/applications/claims-status/tests/components/YourClaimsPageV2.unit.spec.jsx
  src/applications/claims-status/tests/utils/helpers.unit.spec.js
  src/applications/claims-status/utils/appeals-v2-helpers.jsx
  src/applications/claims-status/utils/helpers.js
  src/applications/claims-status/utils/page.js
Labels: 508/Accessibility, front end, claim status, benefits-team-1, squad-2

#21208 [FSR] - Conditional Render Alert for Maintenance and Block FSR Submission
  src/applications/financial-status-report/tests/ErrorAlert.unit.spec.jsx
  src/applications/financial-status-report/tests/e2e/fsr-5655-fetchDebts-fail.cypress.spec.js
  src/applications/financial-status-report/tests/e2e/fsr-5655-fetchDebts-filter.cypress.spec.js
  src/applications/financial-status-report/tests/e2e/fsr-5655-fetchDebts-success.cypress.spec.js
  src/applications/financial-status-report/tests/e2e/fsr-5655-fetchfail.cypress.spec.js
  src/applications/financial-status-report/tests/e2e/fsr-5655-fetchsuccess.cypress.spec.js
  src/applications/financial-status-report/tests/e2e/fsr-5655-monthYear-invalidyear.cypress.spec.js
  src/applications/financial-status-report/tests/e2e/fsr-5655-wizard.cypress.spec.js
  src/applications/financial-status-report/tests/unit/transform.unit.spec.jsx
  src/applications/financial-status-report/wizard/WizardContainer.jsx
  src/applications/financial-status-report/wizard/pages/Submit.jsx
Labels: front end, vsa-benefits-2

#21213 Reenable FSR and Remove Conditional Timegated Alert
  src/applications/financial-status-report/tests/ErrorAlert.unit.spec.jsx
  src/applications/financial-status-report/tests/e2e/fsr-5655-fetchDebts-fail.cypress.spec.js
  src/applications/financial-status-report/tests/e2e/fsr-5655-fetchDebts-filter.cypress.spec.js
  src/applications/financial-status-report/tests/e2e/fsr-5655-fetchDebts-success.cypress.spec.js
  src/applications/financial-status-report/tests/e2e/fsr-5655-fetchfail.cypress.spec.js
  src/applications/financial-status-report/tests/e2e/fsr-5655-fetchsuccess.cypress.spec.js
  src/applications/financial-status-report/tests/e2e/fsr-5655-wizard.cypress.spec.js
  src/applications/financial-status-report/tests/unit/transform.unit.spec.jsx
  src/applications/financial-status-report/wizard/WizardContainer.jsx
  src/applications/financial-status-report/wizard/pages/Submit.jsx
Labels: vsa-benefits-2

#21219 [CDP] 39378 - Debt 2.0 Summary Card updates
  src/applications/combined-debt-portal/combined/components/OtherVADebts.jsx
  src/applications/combined-debt-portal/debt-letters/components/Alerts.jsx
  src/applications/combined-debt-portal/debt-letters/components/DebtCardsList.jsx
  src/applications/combined-debt-portal/debt-letters/const/diary-codes/debtSummaryCardContent.js
  src/applications/combined-debt-portal/debt-letters/containers/DebtLettersDownload.jsx
  src/applications/combined-debt-portal/debt-letters/containers/DebtLettersSummary.jsx
  src/applications/combined-debt-portal/medical-copays/components/AlertView.jsx
  src/applications/combined-debt-portal/medical-copays/containers/OverviewPage.jsx
  src/applications/combined-debt-portal/medical-copays/tests/unit/otherdebts.unit.spec.js
Labels: front end
