Repository department-of-veterans-affairs/vets-website, pull requests merged in 2024-11, with the labels that each got.

#32849 Fix Date of Birth Formatting Issue in Profile Information
  src/applications/personalization/profile/tests/util/personalInformationUtils.unit.spec.js
  src/platform/user/profile/vap-svc/util/personal-information/personalInformationUtils.js
Labels: bug, Decision-Reviews-Team

#32836 95230 New Confirmation Page: Successful submit flow (with claim id, less than 30 seconds) - part 1
  src/applications/disability-benefits/all-claims/components/ConfirmationPoll.jsx
  src/applications/disability-benefits/all-claims/containers/ConfirmationPage.jsx
  src/applications/disability-benefits/all-claims/content/confirmation-poll.jsx
  src/applications/disability-benefits/all-claims/tests/components/ConfirmationPoll.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/containers/ConfirmationPage.unit.spec.jsx
Labels: disability-compensation

#32864 DBEX_59255 | Clean up aria-describedBy uses for the 526 Start wizard button
  src/applications/disability-benefits/all-claims/subtask/pages/file-claim-early.jsx
  src/applications/disability-benefits/all-claims/subtask/pages/file-claim.jsx
  src/applications/disability-benefits/wizard/pages/file-bdd.jsx
  src/applications/disability-benefits/wizard/pages/file-claim-early.jsx
  src/applications/disability-benefits/wizard/pages/file-claim.jsx
  src/platform/forms/tests/sub-task/complex-subtask/pages/file-claim-early.jsx
  src/platform/forms/tests/sub-task/complex-subtask/pages/file-claim.jsx
Labels: disability-compensation

#32908 Added check for post login redirect
  src/applications/representative-appoint/containers/App.jsx
Labels: appoint-a-representative

#32939 Appoint a rep routing fix
  src/applications/representative-appoint/config/form.js
  src/applications/representative-appoint/containers/App.jsx
  src/applications/representative-appoint/pages/authorizations/authorizeAddress.js
  src/applications/representative-appoint/pages/authorizations/authorizeMedicalSelect.js
  src/applications/representative-appoint/routes.jsx
  src/applications/representative-appoint/utilities/helpers.js
Labels: appoint-a-representative

#32961 DR | Fix focus issue on array pages
  src/applications/appeals/shared/tests/utils/focus.unit.spec.js
  src/applications/appeals/shared/tests/utils/scrollAndFocusTarget.unit.spec.js
  src/applications/appeals/shared/utils/focus.js
Labels: bug, HLR, NOD, Decision-Reviews-Team, frontend

#32950 VACMS-19599: Fix bug for previous than 15 years and month function for results page
  src/applications/discharge-wizard/helpers/index.jsx
Labels: DO NOT MERGE

#32934 [art/restore-poa-requests] restore 2122 code
  src/applications/accredited-representative-portal/actions/poaRequests.js
  src/applications/accredited-representative-portal/app-entry.jsx
  src/applications/accredited-representative-portal/components/DigitalSubmissionAlert/DigitalSubmissionAlert.jsx
  src/applications/accredited-representative-portal/components/LandingPageWelcome/LandingPageWelcome.jsx
  src/applications/accredited-representative-portal/components/NoPOAPermissionsAlert/NoPOAPermissionsAlert.jsx
  src/applications/accredited-representative-portal/components/NotInPilotAlert/NotInPilotAlert.jsx
  src/applications/accredited-representative-portal/components/POARequestsTable/POARequestsTable.jsx
  src/applications/accredited-representative-portal/components/POARequestsTableFetcher/POARequestsTableFetcher.jsx
  src/applications/accredited-representative-portal/components/common/Breadcrumbs.jsx
  src/applications/accredited-representative-portal/components/common/ErrorMessage.jsx
  src/applications/accredited-representative-portal/containers/App.jsx
  src/applications/accredited-representative-portal/containers/LandingPage.jsx
  src/applications/accredited-representative-portal/containers/POARequestsPage.jsx
  src/applications/accredited-representative-portal/containers/SignedInLayout.jsx
  src/applications/accredited-representative-portal/containers/SignedInLayoutWrapper.jsx
  src/applications/accredited-representative-portal/hooks/usePOARequests.js
  src/applications/accredited-representative-portal/manifest.json
  src/applications/accredited-representative-portal/mocks/mockPOARequestsResponse.json
  src/applications/accredited-representative-portal/routes.jsx
  src/applications/accredited-representative-portal/sass/accredited-representative-portal.scss
  src/applications/accredited-representative-portal/selectors/navigation.js
  src/applications/accredited-representative-portal/tests/e2e/Header.cypress.spec.js
  src/applications/accredited-representative-portal/tests/e2e/accessibility.cypress.spec.js
  src/applications/accredited-representative-portal/tests/e2e/accredited-representative-portal.cypress.spec.js
  src/applications/accredited-representative-portal/tests/e2e/fixtures/mocks/user.json
  src/applications/accredited-representative-portal/tests/e2e/intercepts/feature-toggles.js
  src/applications/accredited-representative-portal/tests/unit/actions/poaRequests.unit.spec.js
  src/applications/accredited-representative-portal/tests/unit/components/DigitalSubmissionAlert.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/components/NoPOAPermissionsAlert.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/components/NotInPilotAlert.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/components/POARequestsTable.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/components/POARequestsTableFetcher.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/components/common/Breadcrumbs.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/components/common/ErrorMessage.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/containers/LandingPage.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/containers/POARequestsPage.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/containers/SignedInLayout.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/helpers/index.jsx
Labels: benefits-accredited-rep-facing

#32969 [96361] Set PDF Generation rep and org ids correctly
  src/applications/representative-appoint/utilities/pdfTransform.js
Labels: appoint-a-representative

#32970 Burials 96640 update email field
  src/applications/burials-ez/config/chapters/01-claimant-information/contactInformation.js
  src/applications/burials-ez/config/form.js
  src/applications/burials-ez/migrations.js
  src/applications/burials-ez/tests/migrations.unit.spec.js
  src/applications/burials-ez/tests/schema/maximal-test.json
  src/applications/burials-ez/tests/schema/minimal-test.json
  src/applications/burials-ez/tests/schema/overflow-test.json
Labels: burial-benefits

#32959 [CST] - Navigate to files upload
  src/applications/claims-status/components/claim-document-request-pages/Default5103EvidenceNotice.jsx
  src/applications/claims-status/components/claim-files-tab/AdditionalEvidencePage.jsx
  src/applications/claims-status/containers/FilesPage.jsx
  src/applications/claims-status/tests/components/FilesPage.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-document-request-pages/Default5103EvidenceNotice.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-files-tab/AdditionalEvidencePage.unit.spec.jsx
Labels: benefits-management-tools, Claim Status Tool

#32937 [FSR] Fix - Updating error reset to onchange
  src/applications/financial-status-report/components/employment/EmploymentWorkDates.jsx
  src/applications/financial-status-report/components/employment/SpouseEmploymentWorkDates.jsx
Labels: financial-status-report

#32237 [DBX-89576] injest new 0781 flipper from BE
  src/applications/disability-benefits/all-claims/prefill-transformer.js
  src/applications/disability-benefits/all-claims/tests/prefill-transformer.unit.spec.js
Labels: disability-experience, disability-compensation

#33002 [Art/96497] - updating POA request list to use cards instead of a table design
  src/applications/accredited-representative-portal/app-entry.jsx
  src/applications/accredited-representative-portal/components/POARequestsTable/POARequestsTable.jsx
  src/applications/accredited-representative-portal/sass/POARequestsTable.scss
  src/applications/accredited-representative-portal/tests/e2e/accredited-representative-portal.cypress.spec.js
  src/applications/accredited-representative-portal/tests/unit/components/POARequestsTable.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/components/POARequestsTableFetcher.unit.spec.jsx
Labels: benefits-accredited-rep-facing

#32982 DR | Update confirmation page
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: HLR, NOD, Decision-Reviews-Team, frontend

#33007 DR | Update confirmation page
  src/applications/appeals/10182/components/ConfirmationPageV2.jsx
  src/applications/appeals/10182/containers/ConfirmationPage.jsx
  src/applications/appeals/10182/content/boardReview.jsx
  src/applications/appeals/10182/tests/components/ConfirmationPagev2.unit.spec.jsx
  src/applications/appeals/shared/components/ConfirmationCommon.jsx
  src/applications/appeals/shared/components/ConfirmationDecisionReviews.jsx
  src/applications/appeals/shared/components/ConfirmationIssues.jsx
  src/applications/appeals/shared/components/ConfirmationPersonalInfo.jsx
  src/applications/appeals/shared/sass/appeals.scss
  src/applications/appeals/shared/tests/components/ConfirmationCommon.unit.spec.jsx
  src/applications/appeals/shared/tests/components/ConfirmationIssues.unit.spec.jsx
Labels: HLR, NOD, Decision-Reviews-Team, frontend

#33012 95241 add 'no claim id' and BDD scenarios
  src/applications/disability-benefits/all-claims/components/ClaimConfirmationInfo.jsx
  src/applications/disability-benefits/all-claims/containers/ConfirmationPage.jsx
  src/applications/disability-benefits/all-claims/content/bddConfirmationAlert.jsx
  src/applications/disability-benefits/all-claims/tests/containers/ConfirmationPage.unit.spec.jsx
Labels: disability-compensation

#33074 CST - Added changes to the claims status workspace
  package.json
  src/applications/claims-status/package.json
Labels: bmt-team-1, benefits-management-tools, Claim Status Tool

#33031 Representative chapter unit tests
  src/applications/representative-appoint/api/generatePDF.js
  src/applications/representative-appoint/components/ReplaceAccreditedRepresentative.jsx
  src/applications/representative-appoint/components/SearchResult.jsx
  src/applications/representative-appoint/components/SelectAccreditedRepresentative.jsx
  src/applications/representative-appoint/components/SelectAccreditedRepresentativeReview.jsx
  src/applications/representative-appoint/components/SelectOrganization.jsx
  src/applications/representative-appoint/config/form.js
  src/applications/representative-appoint/containers/IntroductionPage.jsx
  src/applications/representative-appoint/routes.jsx
  src/applications/representative-appoint/tests/components/ReplaceAccreditedRepresentative.unit.spec.jsx
  src/applications/representative-appoint/tests/fixtures/data/representative-results.json
  src/applications/representative-appoint/tests/fixtures/data/representative.json
  src/applications/representative-appoint/tests/pages/representative/selectAccreditedRepresentative.unit.spec.jsx
  src/applications/representative-appoint/tests/pages/representative/selectAccreditedRepresentativeReview.unit.spec.jsx
  src/applications/representative-appoint/tests/pages/representative/selectOrganization.unit.spec.jsx
  src/applications/representative-appoint/utilities/helpers.js
Labels: appoint-a-representative

#33083 95245 refactor new confirmation page tests and add more
  src/applications/disability-benefits/all-claims/tests/containers/ConfirmationPage.unit.spec.jsx
Labels: disability-compensation

#32929 Dependnents 81671 | Unit Test Coverage and Code Clean up ( 1st round )
  src/applications/disability-benefits/686c-674-v2/actions/index.js
  src/applications/disability-benefits/686c-674-v2/analytics/helpers.js
  src/applications/disability-benefits/686c-674-v2/components/ArrayPageItemSpouseTitle.jsx
  src/applications/disability-benefits/686c-674-v2/components/ArrayViewField.jsx
  src/applications/disability-benefits/686c-674-v2/components/ChildViewField.jsx
  src/applications/disability-benefits/686c-674-v2/components/DependentViewField.jsx
  src/applications/disability-benefits/686c-674-v2/components/SpouseViewField.jsx
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/spouseMarriageHistoryArrayPages.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/veteranMarriageHistoryArrayPages.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-child-stopped-attending-school/removeChildStoppedAttendingSchoolArrayPages.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-dependent-death/deceasedDependentArrayPages.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-marriage-of-child/removeMarriedChildArrayPages.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/stepchild-no-longer-part-of-household/removeChildHouseholdArrayPages.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/taskWizard/wizard/addOrRemoveDependents.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/veteran-information/veteran-contact-information.js
  src/applications/disability-benefits/686c-674-v2/config/constants.js
  src/applications/disability-benefits/686c-674-v2/config/form.js
  src/applications/disability-benefits/686c-674-v2/containers/App.jsx
  src/applications/disability-benefits/686c-674-v2/containers/IntroductionPage.jsx
  src/applications/disability-benefits/686c-674-v2/tests/actions/index.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/components/SpouseViewField.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/components/dependentViewField.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/addSpouseAdditionalEvidence.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-add-a-spouse/currentMarriageInformation.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-add-a-spouse/spouseMarriageHistoryArrayPages.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-add-a-spouse/spouseNameInformation.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-add-a-spouse/veteranMarriageHistoryArrayPages.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-child-stopped-attending-school/removeChildStoppedAttendingSchoolArrayPages.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-dependent-death/deceasedDependentsArray.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/stepchild-no-longer-part-of-household/removeChildHouseholdArrayPages.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/veteran-information/veteranAddress.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/veteran-information/veteranContactInformation.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/veteran-information/veteranInformation.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/childInformation.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/helpers.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/config/prefill-transformer.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/config/utilities.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/veteranInformation.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/containers/introductionPage.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/reducers/index.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/utils/index.js
Labels: dependents-benefits

#33035 SC | Clean up evidence checks
  src/applications/appeals/995/components/EvidenceSummary.jsx
  src/applications/appeals/995/components/EvidenceSummaryReview.jsx
  src/applications/appeals/995/components/EvidenceVaRecords.jsx
  src/applications/appeals/995/tests/components/EvidenceVaRecords.unit.spec.jsx
  src/applications/appeals/995/tests/utils/evidence.unit.spec.js
  src/applications/appeals/995/tests/validations/evidence.unit.spec.js
  src/applications/appeals/995/utils/evidence.js
  src/applications/appeals/995/utils/submit.js
Labels: Decision-Reviews-Team, Supplemental Claims, frontend

#32990 HLR | Update confirmation page content
  src/applications/appeals/996/components/ConfirmationPageV2.jsx
  src/applications/appeals/996/containers/ConfirmationPage.jsx
  src/applications/appeals/996/tests/components/ConfirmationPagev2.unit.spec.jsx
  src/applications/appeals/996/tests/containers/ConfirmationPage.unit.spec.jsx
Labels: HLR, Decision-Reviews-Team, frontend

#33044 [CST] - Update AddFiles form tests
  src/applications/claims-status/components/claim-files-tab/AddFilesForm.jsx
  src/applications/claims-status/tests/components/claim-files-tab/AddFilesForm.unit.spec.jsx
Labels: bmt-team-1, benefits-management-tools, Claim Status Tool

#33117 SC | Transform VA evidence on load
  src/applications/appeals/995/config/form.js
  src/applications/appeals/995/tests/utils/evidence.unit.spec.js
  src/applications/appeals/995/utils/evidence.js
Labels: Decision-Reviews-Team, Supplemental Claims, frontend

#33114 SC | Fix new form submit
  src/applications/appeals/995/components/EvidenceSummaryReview.jsx
  src/applications/appeals/995/pages/evidenceVaRecords.js
  src/applications/appeals/995/tests/components/EvidenceSummaryReview.unit.spec.jsx
  src/applications/appeals/995/tests/pages/evidenceVaRecords.unit.spec.jsx
  src/applications/appeals/995/tests/utils/submit.unit.spec.js
  src/applications/appeals/995/tests/validations/evidence.unit.spec.js
  src/applications/appeals/995/utils/submit.js
  src/applications/appeals/995/validations/evidence.js
Labels: Decision-Reviews-Team, Supplemental Claims, frontend

#33170 [CST] - Changes text and link on the Copy of Exam component
  src/applications/claims-status/components/CopyOfExam.jsx
  src/applications/claims-status/tests/components/CopyOfExam.unit.spec.jsx
Labels: bmt-team-1, benefits-management-tools

#33098 Benefit Letters - Update Step 1 focus management to H1 from containing DIV
  src/applications/letters/containers/AddressSection.jsx
  src/applications/letters/containers/DownloadLetters.jsx
Labels: 508/Accessibility, benefits-management-tools, bmt-team-2

#33138 [97179] Add helper method unit tests to Appoint a Representative
  src/applications/representative-appoint/config/form.js
  src/applications/representative-appoint/tests/utilities/convertRepType.unit.spec.jsx
  src/applications/representative-appoint/tests/utilities/formatDate.unit.spec.jsx
  src/applications/representative-appoint/tests/utilities/getApplicantName.unit.spec.jsx
  src/applications/representative-appoint/tests/utilities/getFormSubtitle.unit.spec.jsx
  src/applications/representative-appoint/tests/utilities/getRepresentativeName.unit.spec.jsx
  src/applications/representative-appoint/tests/utilities/isAttorneyOrClaimsAgent.unit.spec.jsx
  src/applications/representative-appoint/tests/utilities/isVSORepresentative.unit.spec.jsx
  src/applications/representative-appoint/tests/utilities/representativeTypeMap.unit.spec.jsx
  src/applications/representative-appoint/tests/utilities/srSubstitute.unit.spec.jsx
  src/applications/representative-appoint/utilities/helpers.js
Labels: appoint-a-representative

#33154 96916 - [DD] Create Dispute Debt feature toggle
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: vsa-benefits-2, frontend, digital-dispute

#32785 94930 - [FSR] Deprecate unused enhanced feature flag
  src/applications/financial-status-report/config/chapters/householdExpensesChapter.js
  src/applications/financial-status-report/config/submitForm.js
  src/applications/financial-status-report/tests/e2e/fixtures/data/fsr-maximal.json
  src/applications/financial-status-report/tests/e2e/fixtures/data/fsr-minimal.json
  src/applications/financial-status-report/tests/e2e/fixtures/data/initial-expenses.json
  src/applications/financial-status-report/tests/e2e/fixtures/data/initial-feature.json
  src/applications/financial-status-report/tests/e2e/fixtures/data/initial.json
  src/applications/financial-status-report/tests/e2e/fixtures/data/sw-long-path-minimal-asset.json
  src/applications/financial-status-report/tests/e2e/fixtures/data/sw-short-path-minimal-asset.json
  src/applications/financial-status-report/tests/unit/cfsr-unit-maximal.json
  src/applications/financial-status-report/tests/unit/efsr-transform.unit.spec.jsx
  src/applications/financial-status-report/tests/unit/efsr-unit-maximal.json
  src/applications/financial-status-report/tests/unit/fsr-5655-submit.unit.spec.jsx
  src/applications/financial-status-report/utils/calculateExpenses.js
  src/applications/financial-status-report/utils/calculateIncome.js
Labels: financial-status-report

#33121 [97464] Add ARM team to codeowners
  .github/CODEOWNERS
Labels: find-a-representative, appoint-a-representative

#33100 pdf transform logic now matches backend shape
  src/applications/representative-appoint/components/ClaimantTypeForm.jsx
  src/applications/representative-appoint/components/ProfileNotUpdatedNote.jsx
  src/applications/representative-appoint/components/SelectAccreditedRepresentative.jsx
  src/applications/representative-appoint/containers/IntroductionPage.jsx
  src/applications/representative-appoint/containers/NextStepsPage.jsx
  src/applications/representative-appoint/utilities/pdfTransform.js
Labels: appoint-a-representative

#33019 Burial 90229 Remove polling on submission - CentralMail refactor
  src/applications/burials-ez/config/form.js
  src/applications/burials-ez/config/submit.js
  src/applications/burials-ez/tests/e2e/burials.cypress.spec.js
  src/applications/burials-ez/tests/helpers.unit.spec.jsx
  src/applications/burials-ez/utils/helpers.jsx
Labels: burial-benefits

#33024 Burial Benefits - General Cleanup
  src/applications/burials-ez/components/DeathCertificateUploadMessage.jsx
  src/applications/burials-ez/components/IntroductionPage.jsx
  src/applications/burials-ez/components/PrefillMessage.jsx
  src/applications/burials-ez/config/chapters/01-claimant-information/mailingAddress.js
  src/applications/burials-ez/config/chapters/02-veteran-information/burialInformation.js
  src/applications/burials-ez/config/chapters/02-veteran-information/locationOfDeath.js
  src/applications/burials-ez/config/chapters/02-veteran-information/veteranInformation.js
  src/applications/burials-ez/config/chapters/03-military-history/previousNames.js
  src/applications/burials-ez/config/chapters/03-military-history/previousNamesQuestion.js
  src/applications/burials-ez/config/chapters/03-military-history/separationDocuments.js
  src/applications/burials-ez/config/chapters/03-military-history/servicePeriods.js
  src/applications/burials-ez/config/chapters/03-military-history/uploadDD214.js
  src/applications/burials-ez/config/chapters/04-benefits-selection/benefitsSelection.js
  src/applications/burials-ez/config/chapters/04-benefits-selection/burialAllowanceConfirmation.js
  src/applications/burials-ez/config/chapters/04-benefits-selection/burialAllowancePartOne.js
  src/applications/burials-ez/config/chapters/04-benefits-selection/burialAllowancePartTwo.js
  src/applications/burials-ez/config/chapters/04-benefits-selection/cemeteryLocation.js
  src/applications/burials-ez/config/chapters/04-benefits-selection/cemeteryLocationQuestion.js
  src/applications/burials-ez/config/chapters/04-benefits-selection/finalRestingPlace.js
  src/applications/burials-ez/config/chapters/04-benefits-selection/nationalOrFederalCemetery.js
  src/applications/burials-ez/config/chapters/04-benefits-selection/plotAllowancePartOne.js
  src/applications/burials-ez/config/chapters/04-benefits-selection/plotAllowancePartTwo.js
  src/applications/burials-ez/config/chapters/04-benefits-selection/transportationExpenses.js
  src/applications/burials-ez/config/chapters/04-benefits-selection/tribalLandLocation.js
  src/applications/burials-ez/config/chapters/05-additional-information/additionalEvidence.js
  src/applications/burials-ez/config/chapters/05-additional-information/fasterClaimProcessing.js
  src/applications/burials-ez/config/chapters/05-additional-information/supportingDocuments.js
  src/applications/burials-ez/config/chapters/05-additional-information/transportationReceipts.js
  src/applications/burials-ez/config/form.js
  src/applications/burials-ez/containers/ConfirmationPage.jsx
  src/applications/burials-ez/utils/upload.js
Labels: Burials, burial-benefits

#33232 Restored MS Voice Access click command for Benefit Letter buttons
  src/applications/letters/components/DownloadLetterLink.jsx
  src/applications/letters/components/NoAddressBanner.jsx
  src/applications/letters/containers/AddressSection.jsx
  src/applications/letters/containers/LetterList.jsx
  src/applications/letters/sass/letters.scss
  src/applications/letters/tests/01-authed.cypress.spec.js
  src/applications/letters/tests/containers/AddressSection.unit.spec.jsx
Labels: 508/Accessibility, benefits-management-tools, bmt-team-2

#33187 Add unreported assets chapter
  src/applications/income-and-asset-statement/config/chapters/10-unreported-assets/index.js
  src/applications/income-and-asset-statement/config/chapters/10-unreported-assets/unreportedAssetPages.js
  src/applications/income-and-asset-statement/config/form.js
  src/applications/income-and-asset-statement/helpers.js
  src/applications/income-and-asset-statement/tests/e2e/fixtures/data/test-data.json
  src/applications/income-and-asset-statement/tests/e2e/income-and-asset-statement.cypress.spec.js
Labels: pension-income-assets

#33190 require email address
  src/applications/disability-benefits/686c-674-v2/config/chapters/veteran-information/veteran-contact-information.js
  src/applications/disability-benefits/686c-674-v2/tests/e2e/fixtures/add-child-add-674.json
  src/applications/disability-benefits/686c-674-v2/tests/e2e/fixtures/add-child-report-divorce.json
  src/applications/disability-benefits/686c-674-v2/tests/e2e/fixtures/ancilliary-flows.json
  src/applications/disability-benefits/686c-674-v2/tests/e2e/fixtures/spouse-child-all-fields.json
  src/applications/disability-benefits/686c-674-v2/tests/e2e/fixtures/spouse-report-divorce.json
Labels: dependents-benefits
