Repository department-of-veterans-affairs/vets-website, pull requests merged in 2024-06, with the labels that each got.

#30079 18155 DUW content updates
  src/applications/discharge-wizard/components/gpSteps/StepThree.jsx
  src/applications/discharge-wizard/components/gpSteps/StepTwo.jsx
  src/applications/discharge-wizard/helpers/index.jsx
Labels: DO NOT MERGE

#29993 Appoint a representative form config, SIP
  src/applications/representative-appoint/21-22-schema.json
  src/applications/representative-appoint/actions/formType/updateFormType.js
  src/applications/representative-appoint/actions/index.js
  src/applications/representative-appoint/config/form.js
  src/applications/representative-appoint/containers/IntroductionPage.jsx
  src/applications/representative-appoint/mocks/script/utils.js
  src/applications/representative-appoint/pages/serviceHistory.js
  src/applications/representative-appoint/utils/actionTypes/index.js
  src/platform/forms/constants.js
  src/platform/forms/tests/forms.unit.spec.js
Labels: appoint-a-representative

#30053 Submit 0969 to /v0/form0960
  src/applications/income-and-asset-statement/config/applicantInformation.js
  src/applications/income-and-asset-statement/config/form.js
  src/applications/income-and-asset-statement/config/submit.js
Labels: pension-benefits

#30149 [CST] Add feature flag cst_5103_update_enabled for 5103 changes and removal of Ask
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#30173 [CST] - Added accessibility text to the Overview Page when cst_claim_phases toggle is enabled
  src/applications/claims-status/components/claim-overview-tab/ClaimPhaseStepper.jsx
  src/applications/claims-status/components/claim-overview-tab/DesktopClaimPhaseDiagram.jsx
  src/applications/claims-status/components/claim-overview-tab/MobileClaimPhaseDiagram.jsx
  src/applications/claims-status/tests/components/claim-overview-tab/ClaimPhaseStepper.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-overview-tab/DesktopClaimPhaseDiagram.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-overview-tab/MobileClaimPhaseDiagram.unit.spec.jsx
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#30178 Appoint a Rep Authorization screen
  src/applications/representative-appoint/config/form.js
  src/applications/representative-appoint/containers/App.jsx
  src/applications/representative-appoint/content/authorizationInfo.jsx
  src/applications/representative-appoint/pages/authorizeMedical.js
  src/applications/representative-appoint/pages/index.js
  src/applications/representative-appoint/reducers/flow.js
  src/applications/representative-appoint/reducers/index.js
  src/applications/representative-appoint/utilities/configService.js
Labels: appoint-a-representative

#30184 DR | Switch to USWDS breadcrumbs
  src/applications/appeals/10182/containers/FormApp.jsx
  src/applications/appeals/995/containers/App.jsx
  src/applications/appeals/996/containers/Form0996App.jsx
  src/applications/appeals/shared/components/Breadcrumbs.jsx
  src/applications/appeals/shared/sass/appeals.scss
Labels: front end, HLR, Tech Debt, NOD, Decision-Reviews-Team, Supplemental Claims

#30153 dbex/84314 none notsure
  src/applications/disability-benefits/all-claims/content/toxicExposure.jsx
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/additionalExposures.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/gulfWar1990Locations.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/gulfWar2001Locations.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/herbicideLocations.unit.spec.jsx
Labels: disability-compensation

#30152 add cypress e2e test for 526 which covers revisedAddDisabilities page
  src/applications/disability-benefits/all-claims/tests/all-claims-revised-add-disabilities.cypress.spec.js
  src/applications/disability-benefits/all-claims/tests/cypress.helpers.js
Labels: disability-compensation

#30206 Add subTitle function support
  src/platform/forms-system/src/js/containers/FormApp.jsx
  src/platform/forms-system/test/js/containers/FormApp.unit.spec.jsx
Labels: front end, Decision-Reviews-Team, Supplemental Claims

#30242 Removing "other" report option from report modal of Find a Representative
  src/applications/representative-search/components/results/ReportModal.jsx
  src/applications/representative-search/tests/components/ReportModal.unit.spec.jsx
Labels: find-a-representative

#30167 DR | Call contestable issues API after starting form
  src/applications/appeals/10182/containers/FormApp.jsx
  src/applications/appeals/10182/tests/10182-keyboard-only.cypress.spec.js
  src/applications/appeals/10182/tests/10182-notice-of-disagreement.cypress.spec.js
  src/applications/appeals/10182/tests/containers/FormApp.unit.spec.jsx
  src/applications/appeals/995/containers/App.jsx
  src/applications/appeals/995/containers/ITFWrapper.jsx
  src/applications/appeals/995/tests/995-ITF.cypress.spec.js
  src/applications/appeals/995/tests/995-contact-loop.cypress.spec.js
  src/applications/appeals/995/tests/995.cypress.helpers.js
  src/applications/appeals/995/tests/containers/App.unit.spec.jsx
  src/applications/appeals/995/tests/utils/itf.unit.spec.js
  src/applications/appeals/995/utils/itf.js
  src/applications/appeals/996/containers/Form0996App.jsx
  src/applications/appeals/996/tests/containers/FormApp.unit.spec.jsx
  src/applications/appeals/996/tests/hlr-contact-loop.cypress.spec.js
  src/applications/appeals/996/tests/hlr-keyboard-only.cypress.spec.js
  src/applications/appeals/996/tests/hlr.cypress.spec.js
  src/applications/appeals/shared/tests/cypress.downtime.js
  src/applications/appeals/shared/tests/utils/helpers.unit.spec.js
  src/applications/appeals/shared/utils/helpers.js
Labels: bug, front end, HLR, NOD, Decision-Reviews-Team, Supplemental Claims

#30222 [CST] - Improved 5103 waiver for the document request page
  src/applications/claims-status/components/claim-document-request-pages/Automated5103Notice.jsx
  src/applications/claims-status/components/claim-document-request-pages/DefaultPage.jsx
  src/applications/claims-status/components/claim-overview-tab/ClaimPhaseStepper.jsx
  src/applications/claims-status/containers/DocumentRequestPage.jsx
  src/applications/claims-status/tests/components/DocumentRequestPage.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-document-request-pages/Automated5103Notice.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-document-request-pages/DefaultPage.unit.spec.jsx
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#30289 Appoint a Rep - Address Authorization Screen
  src/applications/representative-appoint/components/Breadcrumbs.jsx
  src/applications/representative-appoint/config/form.js
  src/applications/representative-appoint/containers/App.jsx
  src/applications/representative-appoint/pages/authorizeAddress.js
  src/applications/representative-appoint/pages/authorizeMedical.js
  src/applications/representative-appoint/pages/index.js
  src/applications/representative-search/components/results/ReportModal.jsx
Labels: appoint-a-representative

#30175 [DBEX] update toxic exposure page visibility logic
  src/applications/disability-benefits/all-claims/Form526EZApp.jsx
  src/applications/disability-benefits/all-claims/content/toxicExposure.jsx
  src/applications/disability-benefits/all-claims/prefill-transformer.js
  src/applications/disability-benefits/all-claims/tests/all-claims-revised-add-disabilities.cypress.spec.js
  src/applications/disability-benefits/all-claims/tests/content/toxicExposure.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/cypress.helpers.js
  src/applications/disability-benefits/all-claims/tests/fixtures/data/transformed-data/maximal-toxic-exposure-test.json
  src/applications/disability-benefits/all-claims/tests/prefill-transformer.unit.spec.js
  src/applications/disability-benefits/all-claims/tests/submit-transformer.unit.spec.js
  src/applications/disability-benefits/all-claims/tests/toxic-exposure.cypress.spec.js
Labels: disability-experience, disability-compensation

#30283 [CST] - Show new claim phase work only for disability compensation claims
  src/applications/claims-status/components/claim-overview-tab/ClaimOverviewHeader.jsx
  src/applications/claims-status/components/claim-status-tab/WhatWeAreDoing.jsx
  src/applications/claims-status/constants.js
  src/applications/claims-status/containers/ClaimStatusPage.jsx
  src/applications/claims-status/containers/OverviewPage.jsx
  src/applications/claims-status/tests/components/OverviewPage.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-overview-tab/ClaimOverviewHeader.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-status-tab/WhatWeAreDoing.unit.spec.jsx
  src/applications/claims-status/tests/e2e/01.claim-status.v2.cypress.spec.js
  src/applications/claims-status/tests/e2e/fixtures/mocks/lighthouse/claim-detail-closed.json
  src/applications/claims-status/tests/e2e/fixtures/mocks/lighthouse/claim-detail-open.json
  src/applications/claims-status/tests/e2e/page-objects/TrackClaimsPageV2.js
  src/applications/claims-status/tests/utils/helpers.unit.spec.js
  src/applications/claims-status/utils/helpers.js
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#30347 83523 Allow CFI for BDD claims
  src/applications/disability-benefits/all-claims/content/summaryOfDisabilities.jsx
  src/applications/disability-benefits/all-claims/tests/content/summaryOfDisabilities.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/cypress.helpers.js
  src/applications/disability-benefits/all-claims/tests/fixtures/data/maximal-bdd-test.json
  src/applications/disability-benefits/all-claims/tests/fixtures/data/transformed-data/maximal-bdd-test.json
  src/applications/disability-benefits/all-claims/utils/index.jsx
Labels: disability-compensation

#30345 Appoint a Representative - authorize inside VA screen
  src/applications/representative-appoint/config/form.js
  src/applications/representative-appoint/containers/App.jsx
  src/applications/representative-appoint/content/authorizeMedical.jsx
  src/applications/representative-appoint/content/authorizeMedicalSelect.jsx
  src/applications/representative-appoint/pages/authorizeAddress.js
  src/applications/representative-appoint/pages/authorizeInsideVA.js
  src/applications/representative-appoint/pages/authorizeMedical.js
  src/applications/representative-appoint/pages/authorizeMedicalSelect.js
  src/applications/representative-appoint/pages/formToggle.js
  src/applications/representative-appoint/pages/index.js
  src/applications/representative-appoint/pages/serviceHistory.js
  src/applications/representative-appoint/reducers/flow.js
  src/applications/representative-appoint/reducers/index.js
  src/applications/representative-appoint/utilities/helpers.js
Labels: appoint-a-representative

#30302 75835 - FSR - Review page error alert messaging Resolution Option & Bankruptcy chapters
  src/applications/financial-status-report/config/form.js
  src/applications/financial-status-report/constants/reviewErrors.js
  src/applications/financial-status-report/pages/bankruptcy/index.js
  src/applications/financial-status-report/pages/resolution/resolutionComment.js
  src/applications/financial-status-report/pages/resolution/resolutionOption.js
  src/applications/financial-status-report/pages/resolution/resolutionWaiverAgreement.js
  src/applications/financial-status-report/utils/validations.js
Labels: front end, vsa-benefits-2

#30328 [CST] - Update Document Request page with new 5103 waiver submission experience
  src/applications/claims-status/actions/index.js
  src/applications/claims-status/components/claim-document-request-pages/Automated5103Notice.jsx
  src/applications/claims-status/components/claim-files-tab/AdditionalEvidencePage.jsx
  src/applications/claims-status/components/claim-files-tab/FilesNeeded.jsx
  src/applications/claims-status/components/claim-status-tab/WhatYouNeedToDo.jsx
  src/applications/claims-status/tests/actions/index.unit.spec.js
  src/applications/claims-status/tests/components/claim-document-request-pages/Automated5103Notice.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-files-tab/FilesNeeded.unit.spec.jsx
  src/applications/claims-status/tests/e2e/02.claim-files.v2.cypress.spec.js
  src/applications/claims-status/tests/e2e/09.claim-document-request.cypress.spec.js
  src/applications/claims-status/tests/e2e/fixtures/mocks/lighthouse/claim-detail-open.json
  src/applications/claims-status/tests/e2e/fixtures/mocks/lighthouse/feature-toggle-5103-update-enabled.json
  src/applications/claims-status/tests/e2e/page-objects/TrackClaimsPageV2.js
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#30389 [DBEX] convert radio buttons (PTSD chapter)
  src/applications/disability-benefits/all-claims/pages/individualsInvolved.js
  src/applications/disability-benefits/all-claims/pages/individualsInvolvedFollowUp.js
  src/applications/disability-benefits/all-claims/pages/ptsdAdditionalEvents.js
  src/applications/disability-benefits/all-claims/pages/ptsdBypassCombat.js
  src/applications/disability-benefits/all-claims/pages/ptsdBypassNonCombat.js
  src/applications/disability-benefits/all-claims/pages/ptsdSecondaryAdditionalEvents.js
  src/applications/disability-benefits/all-claims/pages/secondaryOtherSources.js
  src/applications/disability-benefits/all-claims/pages/secondaryUploadSourcesChoice.js
  src/applications/disability-benefits/all-claims/tests/pages/individualsInvolved.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/individualsInvolvedFollowUp.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/ptsdAdditionalEvents.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/ptsdBypassCombat.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/ptsdBypassNonCombat.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/ptsdSecondaryAdditionalEvents.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/secondaryOtherSources.unit.spec.js
Labels: disability-experience, disability-compensation

#30429 [CST] Updated link text and test id
  src/applications/claims-status/components/claim-overview-tab/ClaimPhaseStepper.jsx
  src/applications/claims-status/tests/components/claim-overview-tab/ClaimPhaseStepper.unit.spec.jsx
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#30436 [CST] - Update AddFilesForm paragraph
  src/applications/claims-status/components/claim-files-tab/AddFilesForm.jsx
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#30455 [CST] - Updates for claim phase stepper on the overview tab
  src/applications/claims-status/components/claim-overview-tab/ClaimPhaseStepper.jsx
  src/applications/claims-status/sass/claims-status.scss
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#30396 Update scroll of new pages in subtask
  src/platform/forms/sub-task/index.js
Labels: bug, 508/Accessibility, front end, Decision-Reviews-Team, Supplemental Claims, Higher Level Reviews

#30473 Re-enable 995 maximal test
  src/applications/appeals/995/components/Notice5103.jsx
  src/applications/appeals/995/tests/995-supplemental-claim-maximal.cypress.spec.js
  src/applications/appeals/995/tests/995-supplemental-claim.cypress.spec.js
  src/applications/appeals/995/tests/995.cypress.helpers.js
Labels: front end, Tech Debt, Decision-Reviews-Team, Supplemental Claims

#30457 84311 Update regex and error message for other fields
  src/applications/disability-benefits/all-claims/content/toxicExposure.jsx
  src/applications/disability-benefits/all-claims/pages/toxicExposure/additionalExposures.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/herbicideLocations.js
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/additionalExposures.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/herbicideLocations.unit.spec.jsx
Labels: disability-compensation

#30521 75834 - [FSR] - Review page error alert messaging Household Expenses chapter
  src/applications/financial-status-report/constants/reviewErrors.js
Labels: front end, vsa-benefits-2

#30479 Appoint a Representative: Authorize outside VA names screen
  src/applications/representative-appoint/config/form.js
  src/applications/representative-appoint/content/authorizeMedical.jsx
  src/applications/representative-appoint/content/authorizeMedicalSelect.jsx
  src/applications/representative-appoint/pages/authorizeAddress.js
  src/applications/representative-appoint/pages/authorizeInsideVA.js
  src/applications/representative-appoint/pages/authorizeMedical.js
  src/applications/representative-appoint/pages/authorizeMedicalSelect.js
  src/applications/representative-appoint/pages/authorizeOutsideVA.js
  src/applications/representative-appoint/pages/authorizeOutsideVANames.js
  src/applications/representative-appoint/pages/directDeposit.js
  src/applications/representative-appoint/pages/formToggle.js
  src/applications/representative-appoint/pages/index.js
  src/applications/representative-appoint/sass/appoint-a-representative.scss
  src/applications/representative-appoint/utilities/helpers.js
  src/applications/representative-search/actions/search/searchWithInput.js
  src/applications/representative-search/utils/analytics.js
Labels: appoint-a-representative

#30520 85582 Display TE pages for new applications and IPF via toggled form …
  src/applications/disability-benefits/all-claims/content/toxicExposure.jsx
  src/applications/disability-benefits/all-claims/tests/content/toxicExposure.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/cypress.helpers.js
  src/applications/disability-benefits/all-claims/tests/fixtures/data/maximal-toxic-exposure-2022-test.json
  src/applications/disability-benefits/all-claims/tests/fixtures/data/transformed-data/maximal-toxic-exposure-2022-test.json
  src/applications/disability-benefits/all-claims/tests/submit-transformer.unit.spec.js
  src/applications/disability-benefits/all-claims/tests/toxic-exposure-2022.cypress.spec.js
Labels: disability-compensation

#30527 [CST] - Update CST pages to be indented after the va heading
  src/applications/claims-status/components/ClaimDetailLayout.jsx
  src/applications/claims-status/containers/AppealInfo.jsx
  src/applications/claims-status/containers/ClaimEstimationPage.jsx
  src/applications/claims-status/containers/DocumentRequestPage.jsx
  src/applications/claims-status/containers/StemClaimStatusPage.jsx
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#30220 SC | Update title & subtitle when asking 4142 questions
  src/applications/appeals/995/components/EvidencePrivateRecordsRequest.jsx
  src/applications/appeals/995/components/EvidenceSummaryLists.jsx
  src/applications/appeals/995/config/form.js
  src/applications/appeals/995/containers/ConfirmationPage.jsx
  src/applications/appeals/995/containers/IntroductionPage.jsx
  src/applications/appeals/995/content/OmbInfo.jsx
  src/applications/appeals/995/content/evidencePrivateLimitation.js
  src/applications/appeals/995/content/evidencePrivateRecords.jsx
  src/applications/appeals/995/content/evidencePrivateRecordsAuthorization.jsx
  src/applications/appeals/995/content/evidencePrivateRecordsRequest.jsx
  src/applications/appeals/995/content/evidenceSummary.jsx
  src/applications/appeals/995/content/title.js
  src/applications/appeals/995/sass/995-supplemental-claim.scss
  src/applications/appeals/995/subtask/pages/other.jsx
  src/applications/appeals/995/subtask/pages/start.jsx
  src/applications/appeals/995/tests/995-subtask.cypress.spec.js
  src/applications/appeals/995/tests/components/EvidencePrivateRecordsRequest.unit.spec.jsx
  src/applications/appeals/995/tests/containers/IntroductionPage.unit.spec.jsx
  src/applications/appeals/995/tests/content/title.unit.spec.js
  src/applications/appeals/shared/components/Breadcrumbs.jsx
  src/platform/forms/tests/forms.unit.spec.js
Labels: front end, Decision-Reviews-Team, Supplemental Claims

#30575 SC | Fix 4142 OMB subtitle
  src/applications/appeals/995/content/OmbInfo.jsx
  src/applications/appeals/995/content/title.js
Labels: front end, Decision-Reviews-Team, Supplemental Claims

#30553 DR | Update contested issues after successful fetch
  src/applications/appeals/10182/containers/FormApp.jsx
  src/applications/appeals/10182/tests/containers/FormApp.unit.spec.jsx
  src/applications/appeals/995/containers/App.jsx
  src/applications/appeals/995/tests/containers/App.unit.spec.jsx
  src/applications/appeals/996/containers/Form0996App.jsx
  src/applications/appeals/996/tests/containers/FormApp.unit.spec.jsx
Labels: bug, front end, HLR, NOD, Decision-Reviews-Team, Supplemental Claims

#30568 Update vets-json-schema
  package.json
  src/applications/pensions/config/definitions.js
  yarn.lock
Labels: pension-benefits
