Repository department-of-veterans-affairs/vets-website, pull requests merged in 2024-08, with the labels that each got.

#31043 86972 - Payment History VBA MVP 1.5 - Update Debt card header, description and more
  src/applications/combined-debt-portal/combined/sass/combined-debt-portal.scss
  src/applications/combined-debt-portal/debt-letters/components/DebtCardsList.jsx
  src/applications/combined-debt-portal/debt-letters/components/DebtSummaryCard.jsx
  src/applications/combined-debt-portal/debt-letters/const/diary-codes/debtSummaryCardContent.js
  src/applications/combined-debt-portal/debt-letters/tests/DebtDates.unit.spec.js
  src/applications/combined-debt-portal/debt-letters/tests/DebtSummaryCard.unit.spec.js
  src/applications/combined-debt-portal/debt-letters/tests/e2e/details-card-content.cypress.spec.js
  src/applications/combined-debt-portal/debt-letters/tests/e2e/summary-card-content.cypress.spec.js
  src/applications/combined-debt-portal/medical-copays/components/BalanceCard.jsx
Labels: front end, vsa-benefits-2

#31097 Update supporting documents page
  src/applications/pensions/config/chapters/06-additional-information/supportingDocuments.js
  src/applications/pensions/tests/unit/chapters/06-additional-information/supportingDocuments.unit.spec.jsx
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: pension-benefits

#31153 HLR | Fix new content issues
  src/applications/appeals/996/constants.js
  src/applications/appeals/996/content/InformalConferenceTimes.jsx
  src/applications/appeals/996/content/introduction.jsx
  src/applications/appeals/testing/hlr/constants.js
Labels: front end, HLR, Decision-Reviews-Team

#31020 [CST] - Add Standard 5103 Notice Response to the CST and hide the "Ask for your claim decision" logic
  src/applications/claims-status/components/claim-document-request-pages/Default5103EvidenceNotice.jsx
  src/applications/claims-status/components/claim-files-tab/AdditionalEvidencePage.jsx
  src/applications/claims-status/components/claim-files-tab/FilesNeeded.jsx
  src/applications/claims-status/components/claim-files-tab/Standard5103Alert.jsx
  src/applications/claims-status/components/claim-status-tab/RecentActivity.jsx
  src/applications/claims-status/components/claim-status-tab/WhatYouNeedToDo.jsx
  src/applications/claims-status/constants.js
  src/applications/claims-status/containers/DocumentRequestPage.jsx
  src/applications/claims-status/containers/FilesPage.jsx
  src/applications/claims-status/containers/Standard5103NoticePage.jsx
  src/applications/claims-status/routes.jsx
  src/applications/claims-status/tests/components/DocumentRequestPage.unit.spec.jsx
  src/applications/claims-status/tests/components/FilesPage.unit.spec.jsx
  src/applications/claims-status/tests/components/Standard5103NoticePage.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-document-request-pages/Default5103EvidenceNotice.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-files-tab/AdditionalEvidencePage.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-files-tab/Standard5103Alert.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-status-tab/WhatYouNeedToDo.unit.spec.jsx
  src/applications/claims-status/tests/e2e/05.claim-document-request.cypress.spec.js
  src/applications/claims-status/tests/e2e/fixtures/mocks/lighthouse/claim-detail-with-standard-5103-notice.json
  src/applications/claims-status/tests/e2e/page-objects/TrackClaimsPage.js
  src/applications/claims-status/tests/e2e/page-objects/TrackClaimsPageV2.js
  src/applications/claims-status/tests/utils/helpers.unit.spec.js
  src/applications/claims-status/utils/helpers.js
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#31154 Update confirmation page
  src/applications/pensions/components/FormAlerts/index.jsx
  src/applications/pensions/containers/ConfirmationPage.jsx
  src/applications/pensions/tests/unit/containers/ConfirmationPage.unit.spec.jsx
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: pension-benefits

#31177 DR | Increase shared code coverage
  src/applications/appeals/996/content/InformalConferenceTimes.jsx
  src/applications/appeals/shared/components/ContestableIssues.jsx
  src/applications/appeals/shared/tests/components/AddIssue.unit.spec.jsx
  src/applications/appeals/shared/tests/components/AreaOfDisagreement.unit.spec.jsx
  src/applications/appeals/shared/tests/components/ContestableIssues.unit.spec.jsx
  src/applications/appeals/shared/tests/components/ShowIssuesList.unit.spec.jsx
  src/applications/appeals/shared/tests/components/ShowPdfPassword.unit.spec.jsx
  src/applications/appeals/shared/tests/components/VeteranInformation.unit.spec.jsx
  src/applications/appeals/shared/tests/content/GetFormHelp.unit.spec.jsx
  src/applications/appeals/shared/tests/content/contestableIssues.unit.spec.jsx
  src/applications/appeals/shared/tests/content/homeless.unit.spec.jsx
  src/applications/appeals/shared/tests/pages/areaOfDisagreement.unit.spec.jsx
  src/applications/appeals/shared/tests/utils/focus.unit.spec.js
  src/applications/appeals/shared/tests/validations/areaOfDisagreements.unit.spec.js
  src/applications/appeals/shared/tests/validations/date.unit.spec.js
  src/applications/appeals/shared/tests/validations/index.unit.spec.js
  src/applications/appeals/shared/validations/index.js
Labels: front end, HLR, Tech Debt, NOD, Decision-Reviews-Team, Supplemental Claims

#31198 88742 - [CDP] - VBA Debt Detail — On this page link updates
  src/applications/combined-debt-portal/debt-letters/components/DebtDetailsOnThisPageLinks.jsx
  src/applications/combined-debt-portal/debt-letters/components/PaymentHistoryTable.jsx
  src/applications/combined-debt-portal/debt-letters/containers/DebtDetails.jsx
Labels: front end, vsa-benefits-2

#31218 Incremented vets-json-schema to latest commit
  package.json
  yarn.lock
Labels: appoint-a-representative

#31237 SC testing | Update app, start & intro
  src/applications/appeals/995/subtask/pages/start.jsx
  src/applications/appeals/shared/constants.js
  src/applications/appeals/shared/content/NeedHelp.jsx
  src/applications/appeals/testing/sc/actions/index.js
  src/applications/appeals/testing/sc/config/form.js
  src/applications/appeals/testing/sc/containers/App.jsx
  src/applications/appeals/testing/sc/containers/IntroductionPage.jsx
  src/applications/appeals/testing/sc/subtask/pages/start.jsx
Labels: front end, testing, Decision-Reviews-Team, Supplemental Claims

#31204 Update submit documents page
  src/applications/pensions/PensionsApp.jsx
  src/applications/pensions/config/chapters/06-additional-information/documentUpload.js
  src/applications/pensions/config/chapters/06-additional-information/index.js
  src/applications/pensions/config/chapters/06-additional-information/uploadDocuments.js
  src/applications/pensions/helpers.jsx
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: pension-benefits

#31256 HLR | Update subtitle
  src/applications/appeals/996/config/form.js
  src/applications/appeals/996/content/title.js
  src/applications/appeals/996/tests/subtask/subtask.unit.spec.jsx
Labels: front end, HLR, Decision-Reviews-Team

#31281 89653 - CDP - Replace Mocked Payment History Data with API Response Data
  src/applications/combined-debt-portal/debt-letters/components/PaymentHistoryTable.jsx
  src/applications/combined-debt-portal/debt-letters/const/diary-codes/index.js
  src/applications/combined-debt-portal/debt-letters/containers/DebtDetails.jsx
Labels: front end, vsa-benefits-2

#31311 90395 - FSR - Update Form 5655 intro page footer URL
  src/applications/financial-status-report/components/shared/GetFormHelp.jsx
Labels: front end, vsa-benefits-2

#29677 Dependents (686c-674 V1): Add and remove fields
  src/applications/disability-benefits/686c-674-v2/tests/config/currentMarriageInformation.unit.spec.jsx
  src/applications/disability-benefits/686c-674/config/chapters/674/helpers.jsx
  src/applications/disability-benefits/686c-674/config/chapters/674/index.js
  src/applications/disability-benefits/686c-674/config/chapters/674/student-address-marriage-tuition/studentAddressMarriageTuition.js
  src/applications/disability-benefits/686c-674/config/chapters/674/student-last-term-information/studentLastTerm.js
  src/applications/disability-benefits/686c-674/config/chapters/674/student-school-address/helpers.js
  src/applications/disability-benefits/686c-674/config/chapters/674/student-school-address/studentSchoolAddress.js
  src/applications/disability-benefits/686c-674/config/chapters/674/student-term-dates/studentTermDates.js
  src/applications/disability-benefits/686c-674/config/chapters/report-add-a-spouse/current-marriage-information/currentMarriageInformation.js
  src/applications/disability-benefits/686c-674/config/chapters/veteran-information/veteran-address/veteran-address.js
  src/applications/disability-benefits/686c-674/config/constants.js
  src/applications/disability-benefits/686c-674/config/form.js
  src/applications/disability-benefits/686c-674/tests/config/currentMarriageInformation.unit.spec.js
  src/applications/disability-benefits/686c-674/tests/config/currentMarriageInformation.unit.spec.jsx
  src/applications/disability-benefits/686c-674/tests/config/studentAddressMarriageTuition.unit.spec.jsx
  src/applications/disability-benefits/686c-674/tests/config/studentLastTermInfo.unit.spec.js
  src/applications/disability-benefits/686c-674/tests/config/studentLastTermInfo.unit.spec.jsx
  src/applications/disability-benefits/686c-674/tests/config/studentTermDates.unit.spec.js
  src/applications/disability-benefits/686c-674/tests/config/veteranAddress.unit.spec.jsx
  src/applications/disability-benefits/686c-674/tests/e2e/686C-674.cypress.spec.js
  src/applications/disability-benefits/686c-674/tests/e2e/fixtures/add-child-add-674.json
Labels: dependents-benefits

#31313 Content and layout updates based on feedback
  src/applications/pensions/components/FormAlerts/index.jsx
  src/applications/pensions/components/IntroductionPage.jsx
  src/applications/pensions/config/chapters/03-health-and-employment-information/helpers.js
  src/applications/pensions/config/chapters/06-additional-information/supportingDocuments.js
  src/applications/pensions/containers/ConfirmationPage.jsx
Labels: pension-benefits

#31341 Add introduction page link url
  src/applications/pensions/components/IntroductionPage.jsx
Labels: pension-benefits

#31226 Appoint a representative contact screens
  src/applications/representative-appoint/components/PhoneEmailViewField.jsx
  src/applications/representative-appoint/config/form.js
  src/applications/representative-appoint/definitions/constants.js
  src/applications/representative-appoint/pages/index.js
  src/applications/representative-appoint/pages/personalInformation/claimantContactMailing.js
  src/applications/representative-appoint/pages/personalInformation/claimantRelationship.js
  src/applications/representative-appoint/prefill-transformer.js
  src/applications/representative-appoint/utilities/authStatus.js
Labels: appoint-a-representative

#31257 Import royalties and other properties chapter
  src/applications/income-and-asset-statement/config/chapters/03-unassociated-incomes/unassociatedIncomePages.js
  src/applications/income-and-asset-statement/config/chapters/04-associated-incomes/associatedIncomePages.js
  src/applications/income-and-asset-statement/config/chapters/05-owned-assets/ownedAssetPages.js
  src/applications/income-and-asset-statement/config/chapters/06-royalties-and-other-properties/index.js
  src/applications/income-and-asset-statement/config/chapters/06-royalties-and-other-properties/royaltiesAndOtherPropertyPages.js
  src/applications/income-and-asset-statement/config/form.js
  src/applications/income-and-asset-statement/helpers.js
  src/applications/income-and-asset-statement/labels.jsx
  src/applications/income-and-asset-statement/tests/e2e/fixtures/data/test-data.json
  src/applications/income-and-asset-statement/tests/e2e/income-and-asset-statement.cypress.spec.js
Labels: pension-income-assets

#31364 Update path names to help debug
  src/applications/pensions/components/IntroductionPage.jsx
  src/applications/pensions/config/chapters/03-health-and-employment-information/age.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/medicalCondition.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/medicalConditions.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/over65.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/socialSecurityDisability.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/socialSupplementalSecurity.js
  src/applications/pensions/config/chapters/05-financial-information/hasOver25kAssets.js
  src/applications/pensions/config/chapters/05-financial-information/totalNetWorth.js
Labels: pension-benefits

#31353 [CDP] e2e test cleanup
  src/applications/combined-debt-portal/combined/routes.jsx
  src/applications/combined-debt-portal/combined/tests/e2e/combined-debt-portal.cypress.spec.js
  src/applications/combined-debt-portal/combined/tests/e2e/fixtures/mocks/feature-toggles.json
  src/applications/combined-debt-portal/combined/tests/e2e/fixtures/mocks/mockDataEmpty.json
  src/applications/combined-debt-portal/combined/tests/e2e/fixtures/mocks/mockDebtsEmpty.json
  src/applications/combined-debt-portal/combined/tests/e2e/helpers/cdp-helpers.js
  src/applications/combined-debt-portal/debt-letters/components/Alerts.jsx
  src/applications/combined-debt-portal/debt-letters/tests/e2e/debt-alerts.cypress.spec.js
  src/applications/combined-debt-portal/debt-letters/tests/e2e/debt-details-card-content.cypress.spec.js
  src/applications/combined-debt-portal/debt-letters/tests/e2e/debt-letters.cypress.spec.js
  src/applications/combined-debt-portal/debt-letters/tests/e2e/debt-summary-card-content.cypress.spec.js
  src/applications/combined-debt-portal/debt-letters/tests/e2e/fixtures/mocks/feature-toggles.json
  src/applications/combined-debt-portal/debt-letters/tests/e2e/fixtures/mocks/mock-user.json
  src/applications/combined-debt-portal/medical-copays/containers/SummaryPage.jsx
  src/applications/combined-debt-portal/medical-copays/tests/e2e/cdp-alert.cypress.spec.js
  src/applications/combined-debt-portal/medical-copays/tests/e2e/copay-alerts.cypress.spec.js
  src/applications/combined-debt-portal/medical-copays/tests/e2e/copay-navigation.cypress.spec.js
  src/applications/combined-debt-portal/medical-copays/tests/e2e/copay-statement-content.cypress.spec.js
  src/applications/combined-debt-portal/medical-copays/tests/e2e/fixtures/mocks/cdp-alert-feature-toggles.json
  src/applications/combined-debt-portal/medical-copays/tests/e2e/fixtures/mocks/feature-toggles.json
  src/applications/combined-debt-portal/medical-copays/tests/e2e/fixtures/mocks/mock-user.json
  src/applications/combined-debt-portal/medical-copays/tests/e2e/fixtures/mocks/statement-feature-toggles.json
Labels: combined-debt-portal

#30878 Arf.77862/vary ARP.CLIENT_IDS by environment
  src/applications/accredited-representative-portal/constants/index.js
  src/platform/user/authentication/config/prod.config.js
Labels: benefits-accredited-rep-facing

#31354 SC prototype | Update beginning pages
  src/applications/appeals/testing/sc/actions/index.js
  src/applications/appeals/testing/sc/components/_MockContactInfo.jsx
  src/applications/appeals/testing/sc/components/_MockVeteranInformation.jsx
  src/applications/appeals/testing/sc/config/form.js
  src/applications/appeals/testing/sc/containers/ITFWrapper.jsx
  src/applications/appeals/testing/sc/containers/IntroductionPage.jsx
  src/applications/appeals/testing/sc/pages/veteranInfo.js
Labels: front end, Decision-Reviews-Team, Supplemental Claims

#31391 SC prototype | Add housing & living situation questions
  src/applications/appeals/shared/utils/focus.js
  src/applications/appeals/testing/sc/config/form.js
  src/applications/appeals/testing/sc/content/livingSituation.jsx
  src/applications/appeals/testing/sc/pages/housingRisk.js
  src/applications/appeals/testing/sc/pages/livingSituation.js
  src/applications/appeals/testing/sc/utils/livingSituation.js
  src/applications/appeals/testing/sc/validations/livingSituation.js
Labels: front end, Decision-Reviews-Team, Supplemental Claims

#31416 SC prototype | Add MST info to intro
  src/applications/appeals/testing/sc/content/OmbInfo.jsx
  src/applications/appeals/testing/sc/content/title.js
Labels: front end, Decision-Reviews-Team, Supplemental Claims

#31433 SC prototype | Add other housing risks & point of contact
  src/applications/appeals/testing/sc/components/_MockContactInfo.jsx
  src/applications/appeals/testing/sc/config/form.js
  src/applications/appeals/testing/sc/constants.js
  src/applications/appeals/testing/sc/content/livingSituation.jsx
  src/applications/appeals/testing/sc/pages/_mockContactInfo.jsx
  src/applications/appeals/testing/sc/pages/otherHousingRisk.js
  src/applications/appeals/testing/sc/pages/pointOfContact.js
  src/applications/appeals/testing/sc/tests/fixtures/data/maximal-test.json
  src/applications/appeals/testing/sc/utils/livingSituation.js
Labels: front end, Decision-Reviews-Team, Supplemental Claims

#31435 SC prototype | Add MST & VHA notification pages
  src/applications/appeals/995/content/notice5103.jsx
  src/applications/appeals/testing/sc/config/form.js
  src/applications/appeals/testing/sc/constants.js
  src/applications/appeals/testing/sc/content/notice5103.jsx
  src/applications/appeals/testing/sc/content/optionForMst.jsx
  src/applications/appeals/testing/sc/content/vhaNotifications.jsx
  src/applications/appeals/testing/sc/pages/optionForMst.js
  src/applications/appeals/testing/sc/pages/vhaNotifications.js
  src/applications/appeals/testing/sc/tests/fixtures/data/maximal-test.json
  src/applications/appeals/testing/sc/utils/evidence.js
Labels: front end, Decision-Reviews-Team, Supplemental Claims

#31418 Introduced home and mobile to claimant-contact page for authenticated…
  src/applications/representative-appoint/config/form.js
Labels: appoint-a-representative

#31407 90448 consistency for each summary list item, better alignment with mocks
  src/applications/disability-benefits/all-claims/components/ToxicExposureSummary.jsx
  src/applications/disability-benefits/all-claims/utils/index.jsx
Labels: disability-compensation

#31473 Add Registration Only pages for guest users in the Health Care Application
  src/applications/hca/components/FormDescriptions/RegistrationOnlyDescription.jsx
  src/applications/hca/components/FormPages/RegistrationOnlyGuest.jsx
  src/applications/hca/config/chapters/vaBenefits/benefitsPackage.js
  src/applications/hca/config/chapters/vaBenefits/pensionInformation.js
  src/applications/hca/config/form.js
  src/applications/hca/locales/en/content.json
  src/applications/hca/tests/unit/components/FormDescriptions/RegistrationOnlyDescription.unit.spec.js
  src/applications/hca/tests/unit/components/FormPages/RegistrationOnlyGuest.unit.spec.js
  src/applications/hca/tests/unit/config/vaBenefits/benefitsPackage.unit.spec.js
  src/applications/hca/tests/unit/utils/helpers/form-config.unit.spec.js
  src/applications/hca/utils/helpers/form-config.js
Labels: 1010-team

#31445 SC prototype | Add facility type page
  src/applications/appeals/testing/sc/config/form.js
  src/applications/appeals/testing/sc/content/facilityTypes.js
  src/applications/appeals/testing/sc/pages/facilityTypes.js
  src/platform/forms-system/src/js/web-component-fields/VaCheckboxGroupField.jsx
Labels: front end, Decision-Reviews-Team, Supplemental Claims

#31488 DR | Fix breadcrumb horizontal padding on narrow screens
  src/applications/appeals/shared/components/Breadcrumbs.jsx
Labels: front end, HLR, NOD, Decision-Reviews-Team, Supplemental Claims

#31486 SC prototype | Move & rename MST pages
  src/applications/appeals/testing/sc/config/form.js
  src/applications/appeals/testing/sc/content/optionIndicator.jsx
  src/applications/appeals/testing/sc/pages/optionIndicator.js
  src/applications/appeals/testing/sc/tests/fixtures/data/maximal-test.json
Labels: front end, Decision-Reviews-Team, Supplemental Claims

#31471 SC prototype | Update VA evidence request & add pages
  src/applications/appeals/testing/sc/components/EvidenceRecords.jsx
  src/applications/appeals/testing/sc/components/EvidenceSummaryLists.jsx
  src/applications/appeals/testing/sc/components/EvidenceVaRecords.jsx
  src/applications/appeals/testing/sc/config/form.js
  src/applications/appeals/testing/sc/constants.js
  src/applications/appeals/testing/sc/content/evidenceSummary.jsx
  src/applications/appeals/testing/sc/content/evidenceVaRecords.jsx
  src/applications/appeals/testing/sc/content/evidenceVaRecordsRequest.jsx
  src/applications/appeals/testing/sc/pages/evidenceVaRecords.js
  src/applications/appeals/testing/sc/pages/evidenceVaRecordsRequest.js
  src/applications/appeals/testing/sc/tests/fixtures/data/maximal-test.json
  src/applications/appeals/testing/sc/validations/date.js
  src/applications/appeals/testing/sc/validations/evidence.js
Labels: front end, Decision-Reviews-Team, Supplemental Claims

#31442 [10-10CG] Add facility confirmation screen and update facility api search
  src/applications/caregivers/actions/fetchFacilities.js
  src/applications/caregivers/actions/fetchMapBoxGeocoding.js
  src/applications/caregivers/components/FormDescriptions/PreferredFacilityApiDescription.jsx
  src/applications/caregivers/components/FormFields/FacilityList.jsx
  src/applications/caregivers/components/FormFields/FacilitySearch.jsx
  src/applications/caregivers/components/FormPages/FacilityConfirmation.jsx
  src/applications/caregivers/config/chapters/veteran/vaMedicalCenter_api.js
  src/applications/caregivers/config/form.js
  src/applications/caregivers/config/submit-transformer.js
  src/applications/caregivers/tests/mocks/responses.js
  src/applications/caregivers/tests/unit/actions/fetchFacilities.unit.spec.js
  src/applications/caregivers/tests/unit/actions/fetchMapBoxGeocoding.unit.spec.js
  src/applications/caregivers/tests/unit/components/FormFields/FacilityList.unit.spec.js
  src/applications/caregivers/tests/unit/components/FormFields/FacilitySearch.unit.spec.js
  src/applications/caregivers/tests/unit/components/FormPages/FacilityConfirmation.unit.spec.js
  src/applications/caregivers/tests/unit/config/submit-transformer.unit.spec.js
  src/applications/caregivers/tests/unit/utils/validation.unit.spec.js
  src/applications/caregivers/utils/mapbox/mapboxToken.js
  src/applications/caregivers/utils/validation.js
Labels: 1010-team

#31492 Appoint a Rep Veteran Screens
  src/applications/representative-appoint/config/form.js
  src/applications/representative-appoint/constants/options.js
  src/applications/representative-appoint/pages/claimant/claimantContactMailing.js
  src/applications/representative-appoint/pages/claimant/claimantContactPhoneEmail.js
  src/applications/representative-appoint/pages/claimant/claimantPersonalInformation.js
  src/applications/representative-appoint/pages/claimant/claimantRelationship.js
  src/applications/representative-appoint/pages/claimant/confirmClaimantPersonalInformation.js
  src/applications/representative-appoint/pages/index.js
  src/applications/representative-appoint/pages/personalInformation/claimantContactMailing.js
  src/applications/representative-appoint/pages/veteran/veteranContactMailing.js
  src/applications/representative-appoint/pages/veteran/veteranContactPhoneEmail.js
  src/applications/representative-appoint/pages/veteran/veteranIdentification.js
  src/applications/representative-appoint/pages/veteran/veteranPersonalInformation.js
  src/applications/representative-appoint/pages/veteran/veteranServiceInformation.js
  src/applications/representative-appoint/tests/pages/claimantContactMailing.unit.spec.jsx
  src/applications/representative-appoint/tests/pages/claimantContactPhoneEmail.unit.spec.jsx
  src/applications/representative-appoint/tests/pages/claimantPersonalInformation.unit.spec.jsx
  src/applications/representative-appoint/tests/pages/claimantRelationship.unit.spec.jsx
Labels: appoint-a-representative

#31532 DR | Update Cypress commands
  src/applications/appeals/10182/tests/10182-contact-loop.cypress.spec.js
  src/applications/appeals/10182/tests/10182-notice-of-disagreement.cypress.spec.js
  src/applications/appeals/995/tests/995-contact-loop.cypress.spec.js
  src/applications/appeals/995/tests/995.cypress.helpers.js
  src/applications/appeals/996/tests/hlr-contact-loop.cypress.spec.js
  src/applications/appeals/996/tests/hlr-keyboard-only.cypress.spec.js
  src/applications/appeals/996/tests/hlr-v3.cypress.spec.js
  src/applications/appeals/996/tests/hlr.cypress.spec.js
  src/applications/appeals/shared/tests/fixtures/mocks/profile-phone.json
  src/platform/testing/e2e/cypress/support/commands/keyboardNavigation.js
  src/platform/testing/e2e/cypress/support/commands/webComponents.js
Labels: front end, testing, HLR, NOD, Decision-Reviews-Team, Supplemental Claims

#31542 NOD prototype | Fix links
  src/applications/appeals/testing/nod-new/components/ReviewPage2.jsx
  src/applications/appeals/testing/nod-new/components/TaskList.jsx
  src/applications/appeals/testing/nod-new/constants.js
  src/applications/appeals/testing/nod-new/containers/App.jsx
  src/applications/appeals/testing/nod-new/containers/IntroductionPage.jsx
Labels: front end, Tech Debt, NOD, Decision-Reviews-Team

#31461 [CDP] Removing deprecated feature flags
  src/applications/combined-debt-portal/combined/tests/e2e/fixtures/mocks/feature-toggles.json
  src/applications/combined-debt-portal/combined/utils/helpers.js
  src/applications/combined-debt-portal/debt-letters/containers/DebtLettersDownload.jsx
  src/applications/combined-debt-portal/debt-letters/tests/e2e/debt-alerts.cypress.spec.js
  src/applications/static-pages/health-care-manage-benefits/fixtures/feature-toggles/disabled.json
  src/applications/static-pages/health-care-manage-benefits/fixtures/feature-toggles/enabled.json
  src/applications/static-pages/medical-copays-cta/components/App/index.js
  src/applications/static-pages/medical-copays-cta/components/App/index.unit.spec.js
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: combined-debt-portal

#31511 Array Builder Summary Page Text Overrides
  src/applications/pensions/config/chapters/02-military-history/otherNamesPages.js
  src/applications/pensions/config/chapters/04-household-information/dependentChildrenPages.js
  src/platform/forms-system/src/js/patterns/array-builder/ArrayBuilderSummaryPage.jsx
  src/platform/forms-system/src/js/patterns/array-builder/README.md
  src/platform/forms-system/src/js/patterns/array-builder/tests/arrayBuilderSummaryPage.unit.spec.js
  src/platform/forms-system/src/js/types.js
Labels: forms-library, pension-benefits

#31561 91180 - CDP - Payment History - Currency Not Displaying Correct Format
  src/applications/combined-debt-portal/debt-letters/components/PaymentHistoryTable.jsx
Labels: front end, vsa-benefits-2

#31475 [CST] Remove claim details v2 flag
  src/applications/claims-status/components/AddFilesFormOld.jsx
  src/applications/claims-status/components/AdditionalEvidenceItem.jsx
  src/applications/claims-status/components/ClaimComplete.jsx
  src/applications/claims-status/components/ClaimsDecision.jsx
  src/applications/claims-status/components/DueDateOld.jsx
  src/applications/claims-status/components/EvidenceWarning.jsx
  src/applications/claims-status/components/FilesNeededOld.jsx
  src/applications/claims-status/components/FilesOptionalOld.jsx
  src/applications/claims-status/components/NeedFilesFromYou.jsx
  src/applications/claims-status/components/RequestedFilesInfo.jsx
  src/applications/claims-status/components/SubmittedTrackedItem.jsx
  src/applications/claims-status/components/TabNav.jsx
  src/applications/claims-status/components/claim-document-request-pages/DefaultPage.jsx
  src/applications/claims-status/containers/AdditionalEvidencePageOld.jsx
  src/applications/claims-status/containers/ClaimStatusPage.jsx
  src/applications/claims-status/containers/DetailsPage.jsx
  src/applications/claims-status/containers/FilesPage.jsx
  src/applications/claims-status/routes.jsx
  src/applications/claims-status/selectors/index.js
  src/applications/claims-status/tests/components/AddFilesFormOld.unit.spec.jsx
  src/applications/claims-status/tests/components/AdditionalEvidenceItem.unit.spec.jsx
  src/applications/claims-status/tests/components/AdditionalEvidencePageOld.unit.spec.jsx
  src/applications/claims-status/tests/components/ClaimComplete.unit.spec.jsx
  src/applications/claims-status/tests/components/ClaimDetailLayout.unit.spec.jsx
  src/applications/claims-status/tests/components/ClaimStatusPage.unit.spec.jsx
  src/applications/claims-status/tests/components/ClaimsDecision.unit.spec.jsx
  src/applications/claims-status/tests/components/DetailsPage.unit.spec.jsx
  src/applications/claims-status/tests/components/DocumentRequestPage.unit.spec.jsx
  src/applications/claims-status/tests/components/DueDateOld.unit.spec.jsx
  src/applications/claims-status/tests/components/FilesNeededOld.unit.spec.jsx
  src/applications/claims-status/tests/components/FilesOptionalOld.unit.spec.jsx
  src/applications/claims-status/tests/components/FilesPage.unit.spec.jsx
  src/applications/claims-status/tests/components/NeedFilesFromYou.unit.spec.jsx
  src/applications/claims-status/tests/components/RequestedFilesInfo.unit.spec.jsx
  src/applications/claims-status/tests/components/SubmittedTrackedItem.unit.spec.jsx
  src/applications/claims-status/tests/components/TabNav.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-document-request-pages/DefaultPage.unit.spec.jsx
  src/applications/claims-status/tests/e2e/02.claim-files.cypress.spec.js
  src/applications/claims-status/tests/e2e/03.claim-details.cypress.spec.js
  src/applications/claims-status/tests/e2e/04.claim-ask-va.cypress.spec.js
  src/applications/claims-status/tests/e2e/05.claim-document-request.cypress.spec.js
  src/applications/claims-status/tests/e2e/page-objects/TrackClaimsPage.js
  src/applications/claims-status/tests/e2e/page-objects/TrackClaimsPageV2.js
  src/applications/claims-status/tests/selectors/index.unit.spec.js
Labels: Claim Status Tool

#31576 91345 Move subtitles into the titles
  src/applications/disability-benefits/all-claims/components/ToxicExposureSummary.jsx
  src/applications/disability-benefits/all-claims/content/toxicExposure.jsx
  src/applications/disability-benefits/all-claims/pages/toxicExposure/additionalExposuresDetails.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/additionalExposuresSummary.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/gulfWar1990Details.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/gulfWar1990Summary.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/gulfWar2001Details.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/gulfWar2001Summary.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/herbicideDetails.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/herbicideOtherLocations.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/herbicideSummary.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/specifyOtherExposures.js
  src/applications/disability-benefits/all-claims/tests/components/ToxicExposureSummary.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/content/toxicExposure.unit.spec.jsx
  src/applications/disability-benefits/all-claims/utils/index.jsx
Labels: disability-experience

#31550 Array Builder Card Description
  src/applications/income-and-asset-statement/config/chapters/03-unassociated-incomes/unassociatedIncomePages.js
  src/applications/income-and-asset-statement/config/chapters/04-associated-incomes/associatedIncomePages.js
  src/applications/income-and-asset-statement/config/chapters/05-owned-assets/ownedAssetPages.js
  src/applications/income-and-asset-statement/config/chapters/06-royalties-and-other-properties/royaltiesAndOtherPropertyPages.js
  src/platform/forms-system/src/js/patterns/array-builder/ArrayBuilderCards.jsx
Labels: forms-library, pension-benefits

#31512 DR | Fix focus shifting (platform code)
  src/applications/caregivers/config/form.js
  src/applications/caregivers/tests/e2e/1010cg-representative.cypress.spec.js
  src/applications/caregivers/tests/e2e/1010cg-required-only.cypress.spec.js
  src/applications/caregivers/tests/e2e/1010cg-secondary.cypress.spec.js
  src/applications/caregivers/tests/e2e/1010cg.cypress.spec.js
  src/applications/caregivers/tests/e2e/utils/helpers.js
  src/applications/caregivers/tests/e2e/utils/index.js
  src/applications/simple-forms/21-0845/config/helpers.js
  src/applications/simple-forms/shared/tests/e2e/helpers.js
  src/platform/forms-system/src/js/components/FormNav.jsx
  src/platform/forms-system/src/js/definitions/ssn.js
  src/platform/forms-system/src/js/review/ReviewPage.jsx
  src/platform/forms-system/src/js/web-component-fields/SsnField.jsx
  src/platform/forms-system/test/js/components/FormNav.unit.spec.jsx
  src/platform/forms/save-in-progress/RoutedSavableApp.jsx
  src/platform/forms/save-in-progress/RoutedSavableReviewPage.jsx
  src/platform/testing/e2e/cypress/support/commands/webComponents.js
  src/platform/testing/e2e/cypress/support/form-tester/index.js
  src/platform/utilities/tests/ui/focus.unit.spec.jsx
  src/platform/utilities/tests/ui/index.unit.spec.jsx
  src/platform/utilities/ui/focus.js
  src/platform/utilities/ui/index.js
Labels: bug, front end, HLR, NOD, Decision-Reviews-Team, Supplemental Claims

#31591 Arf/87799/arp 21a.repair e2e tests
  src/applications/accredited-representative-portal/components/LandingPageWelcome/LandingPageWelcome.jsx
  src/applications/accredited-representative-portal/components/POARequestsTable/POARequestsTable.jsx
  src/applications/accredited-representative-portal/containers/SignedInLayout.jsx
  src/applications/accredited-representative-portal/containers/SignedInLayoutWrapper.jsx
  src/applications/accredited-representative-portal/routes.jsx
  src/applications/accredited-representative-portal/tests/e2e/Header.cypress.spec.js
  src/applications/accredited-representative-portal/tests/e2e/accredited-representative-portal.cypress.spec.js
  src/applications/accredited-representative-portal/tests/e2e/fixtures/mocks/user.json
Labels: benefits-accredited-rep-facing

#31578 [ARF-87799] ARP 21a: Move component unit tests to jsx.
  src/applications/accredited-representative-portal/components/LandingPageWelcome/LandingPageWelcome.jsx
  src/applications/accredited-representative-portal/components/POARequestsTable/POARequestsTable.jsx
  src/applications/accredited-representative-portal/containers/SignedInLayout.jsx
  src/applications/accredited-representative-portal/containers/SignedInLayoutWrapper.jsx
  src/applications/accredited-representative-portal/routes.jsx
  src/applications/accredited-representative-portal/tests/components/DigitalSubmissionAlert.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/components/NoPOAPermissionsAlert.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/components/NotInPilotAlert.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/components/POARequestsTable.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/components/POARequestsTableFetcher.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/components/common/Breadcrumbs.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/components/common/ErrorMessage.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/components/common/Footer/MobileFooter/MobileFooter.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/components/common/Footer/WiderThanMobileFooter/WiderThanMobileFooter.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/components/common/Header/MobileHeader/MobileHeader.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/components/common/Header/MobileHeader/MobileLogoRow.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/components/common/Header/WiderThanMobileHeader/WiderThanMobileHeader.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/components/common/Header/WiderThanMobileHeader/WiderThanMobileLogoRow.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/components/common/Header/WiderThanMobileHeader/WiderThanMobileMenu.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/components/common/Header/common/OfficialGovtWebsite.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/components/common/Header/common/UserNav.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/components/common/Header/common/VeteranCrisisLine.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/containers/LandingPage.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/containers/POARequestsPage.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/containers/SignedInLayout.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/e2e/Header.cypress.spec.js
  src/applications/accredited-representative-portal/tests/e2e/accredited-representative-portal.cypress.spec.js
  src/applications/accredited-representative-portal/tests/e2e/fixtures/mocks/user.json
Labels: benefits-accredited-rep-facing

#31606 91344 Consistency in use of singular versus plural in the term "Toxic Exposure"
  src/applications/disability-benefits/all-claims/content/toxicExposure.jsx
Labels: disability-compensation

#31664 91346 remove unnecessary aria label
  src/applications/disability-benefits/all-claims/components/ToxicExposureSummary.jsx
  src/applications/disability-benefits/all-claims/pages/toxicExposure/additionalExposuresSummary.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/gulfWar1990Summary.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/gulfWar2001Summary.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/herbicideSummary.js
  src/applications/disability-benefits/all-claims/tests/components/ToxicExposureSummary.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/additionalExposuresSummary.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/gulfWar1990Summary.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/gulfWar2001Summary.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/herbicideSummary.unit.spec.jsx
Labels: disability-compensation

#31086 Dependents 81247 | Step 3: Add spouse
  src/applications/disability-benefits/686c-674-v2/components/CustomReviewFields.jsx
  src/applications/disability-benefits/686c-674-v2/components/SpouseViewField.jsx
  src/applications/disability-benefits/686c-674-v2/config/address-schema.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/current-marriage-information/currentMarriageInformation.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/current-marriage-information/currentMarriageInformationPartFour.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/current-marriage-information/currentMarriageInformationPartThree.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/current-marriage-information/currentMarriageInformationPartTwo.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/current-marriage-information/helpers.jsx
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/current-spouse-marriage-history-details/additionalQuestionsView.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/current-spouse-marriage-history-details/currentSpouseMarriageHistoryDetails.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/current-spouse-marriage-history-details/currentSpouseMarriageHistoryDetailsPartFive.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/current-spouse-marriage-history-details/currentSpouseMarriageHistoryDetailsPartFour.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/current-spouse-marriage-history-details/currentSpouseMarriageHistoryDetailsPartThree.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/current-spouse-marriage-history-details/currentSpouseMarriageHistoryDetailsPartTwo.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/current-spouse-marriage-history/currentSpouseMarriageHistory.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/current-spouse-marriage-history/currentSpouseMarriageHistoryPartTwo.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/current-spouse-marriage-history/helpers.jsx
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/does-live-with-spouse/doesLiveWithSpouse.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/does-live-with-spouse/helpers.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/index.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/spouse-information/spouseInformation.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/spouse-information/spouseInformationPartThree.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/spouse-information/spouseInformationPartTwo.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/veteran-marriage-history-details/veteranAdditionalQuestionsView.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/veteran-marriage-history-details/veteranMarriageHistoryDetails.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/veteran-marriage-history-details/veteranMarriageHistoryDetailsPartFive.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/veteran-marriage-history-details/veteranMarriageHistoryDetailsPartFour.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/veteran-marriage-history-details/veteranMarriageHistoryDetailsPartThree.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/veteran-marriage-history-details/veteranMarriageHistoryDetailsPartTwo.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/veteran-marriage-history/veteranMarriageHistory.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/veteran-marriage-history/veteranMarriageHistoryPartTwo.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/veteran-information/veteran-address/veteran-address.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/veteran-information/veteran-contact-information.js
  src/applications/disability-benefits/686c-674-v2/config/constants.js
  src/applications/disability-benefits/686c-674-v2/config/form.js
  src/applications/disability-benefits/686c-674-v2/config/helpers.js
  src/applications/disability-benefits/686c-674-v2/containers/App.jsx
  src/applications/disability-benefits/686c-674-v2/sass/new-686.scss
  src/applications/disability-benefits/686c-674-v2/tests/components/CustomReviewFields.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/components/SpouseViewField.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-add-a-spouse/additionalQuestionsView.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-add-a-spouse/currentMarriageInformation.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-add-a-spouse/doesLiveWithSpouse.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-add-a-spouse/spouseMarriageHistory.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-add-a-spouse/spouseMarriageHistoryDetails.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-add-a-spouse/spouseNameInformation.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-add-a-spouse/veteranAdditionalQuestionsView.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-add-a-spouse/veteranMarriageHistory.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-add-a-spouse/veteranMarriageHistoryDetails.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/currentMarriageInformation.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/currentSpouseInformation.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/doesLiveWithSpouse.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/spouseMarriageFormerPartners.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/spouseMarriageHistoryDetails.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/veteranMarriageHistory.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/veteranMarriageHistoryDetails.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/e2e/686C-674-ancilliary.cypress.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/e2e/686C-674.cypress.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/e2e/fixtures/spouse-child-all-fields.json
  src/applications/disability-benefits/686c-674-v2/tests/e2e/fixtures/spouse-report-divorce.json
Labels: dependents-benefits

#31523 Dependents 67456 | Step 3: Remove spouse
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-divorce/former-spouse-information/formerSpouseInformation.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-divorce/former-spouse-information/formerSpouseInformationPartTwo.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-divorce/index.js
  src/applications/disability-benefits/686c-674-v2/config/form.js
  src/applications/disability-benefits/686c-674-v2/config/helpers.js
  src/applications/disability-benefits/686c-674-v2/tests/config/report-divorce/formerSpouseInformation.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/config/reportDivorce.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/e2e/fixtures/add-child-add-674.json
  src/applications/disability-benefits/686c-674-v2/tests/e2e/fixtures/add-child-report-divorce.json
  src/applications/disability-benefits/686c-674-v2/tests/e2e/fixtures/ancilliary-flows.json
  src/applications/disability-benefits/686c-674-v2/tests/e2e/fixtures/spouse-child-all-fields.json
  src/applications/disability-benefits/686c-674-v2/tests/e2e/fixtures/spouse-report-divorce.json
Labels: dependents-benefits

#31573 Dependents 81254 | Step 3: Remove children (married & stopped attending school)
  src/applications/disability-benefits/686c-674-v2/components/ChildViewField.jsx
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-child-stopped-attending-school/child-information/childInformation.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-marriage-of-child/child-information/childInformation.js
  src/applications/disability-benefits/686c-674-v2/config/form.js
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-child-stopped-attending-school/childInformation.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-marriage-of-child/childInformation.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/config/reportChildStoppedAttendingSchool.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/reportMarriageOfChild.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/e2e/fixtures/ancilliary-flows.json
  src/applications/disability-benefits/686c-674-v2/tests/e2e/fixtures/spouse-child-all-fields.json
Labels: dependents-benefits

#31640 DR | Fix focus management
  src/applications/appeals/10182/components/ConfirmationPageV2.jsx
  src/applications/appeals/10182/config/form.js
  src/applications/appeals/10182/containers/IntroductionPage.jsx
  src/applications/appeals/10182/tests/containers/ConfirmationPage.unit.spec.jsx
  src/applications/appeals/995/components/ITFBanner.jsx
  src/applications/appeals/995/config/form.js
  src/applications/appeals/995/containers/IntroductionPage.jsx
  src/applications/appeals/995/tests/containers/ConfirmationPage.unit.spec.jsx
  src/applications/appeals/995/utils/focus.js
  src/applications/appeals/996/config/form.js
  src/applications/appeals/996/containers/IntroductionPage.jsx
  src/applications/appeals/996/tests/containers/ConfirmationPage.unit.spec.jsx
  src/applications/appeals/996/tests/hlr-keyboard-only.cypress.spec.js
  src/applications/appeals/shared/components/ConfirmationDecisionReviews.jsx
  src/applications/appeals/shared/components/IssueCard.jsx
  src/applications/appeals/shared/tests/components/ConfirmationDecisionReivews.unit.spec.jsx
  src/applications/appeals/shared/utils/focus.js
  src/applications/appeals/testing/download/containers/Confirmation.jsx
  src/applications/appeals/testing/download/containers/ViewAppeal.jsx
  src/applications/appeals/testing/hlr/config/form.js
  src/applications/appeals/testing/hlr/containers/IntroductionPage.jsx
  src/applications/appeals/testing/nod-new/containers/IntroductionPage.jsx
  src/applications/appeals/testing/sc/components/ITFBanner.jsx
  src/applications/appeals/testing/sc/config/form.js
  src/applications/appeals/testing/sc/containers/IntroductionPage.jsx
Labels: front end, HLR, NOD, Decision-Reviews-Team, Supplemental Claims
