Repository department-of-veterans-affairs/vets-website, pull requests merged in 2024-07, with the labels that each got.

#30430 👌 IMPROVE: convert process list to v3 component
  src/applications/disability-benefits/all-claims/components/IntroductionPage.jsx
  src/applications/disability-benefits/all-claims/tests/containers/IntroductionPage.unit.spec.jsx
Labels: disability-compensation

#30585 [CST] - Update recent activity for claim phase dates
  src/applications/claims-status/components/claim-status-tab/RecentActivity.jsx
  src/applications/claims-status/tests/components/claim-status-tab/RecentActivity.unit.spec.jsx
  src/applications/claims-status/tests/e2e/01.claim-status.v2.cypress.spec.js
  src/applications/claims-status/tests/e2e/page-objects/TrackClaimsPageV2.js
  src/applications/claims-status/tests/utils/helpers.unit.spec.js
  src/applications/claims-status/utils/helpers.js
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#30593 IdentityNotVerified Component Refactor #87095
  src/platform/user/authorization/components/IdentityNotVerified.jsx
Labels: Identity

#30699 Updated text on breadcrumbs that show on the Document Request page
  src/applications/claims-status/components/claim-files-tab/AdditionalEvidencePage.jsx
  src/applications/claims-status/components/claim-files-tab/FilesNeeded.jsx
  src/applications/claims-status/components/claim-status-tab/WhatYouNeedToDo.jsx
  src/applications/claims-status/containers/DocumentRequestPage.jsx
  src/applications/claims-status/tests/components/DocumentRequestPage.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-files-tab/FilesNeeded.unit.spec.jsx
  src/applications/claims-status/tests/e2e/05.claim-document-request.cypress.spec.js
  src/applications/claims-status/tests/e2e/page-objects/TrackClaimsPage.js
  src/applications/claims-status/tests/e2e/page-objects/TrackClaimsPageV2.js
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#30711 HLR | Remove old feature toggle references
  src/applications/appeals/996/migrations/01-lighthouse-v2-updates.js
  src/applications/appeals/996/tests/migrations/01-lighthouse-v2-updates.unit.spec.js
Labels: front end, HLR, Tech Debt, Decision-Reviews-Team

#30702 NOD | Remove obsolete feature toggles
  src/applications/appeals/10182/components/ContestableIssuesWidget.jsx
  src/applications/appeals/10182/config/form.js
  src/applications/appeals/10182/config/submitForm.js
  src/applications/appeals/10182/constants.js
  src/applications/appeals/10182/containers/FormApp.jsx
  src/applications/appeals/10182/content/WorkInProgressMessage.jsx
  src/applications/appeals/10182/content/extensionRequest.jsx
  src/applications/appeals/10182/pages/extensionRequest.js
  src/applications/appeals/10182/reducers/contestableIssues.js
  src/applications/appeals/10182/tests/10182-downtime-notification.cypress.spec.js
  src/applications/appeals/10182/tests/components/ConfirmationPagev2.unit.spec.jsx
  src/applications/appeals/10182/tests/components/ContestableIssuesWidget.unit.spec.jsx
  src/applications/appeals/10182/tests/config/submit-transformer.unit.spec.js
  src/applications/appeals/10182/tests/config/submitForm.unit.spec.js
  src/applications/appeals/10182/tests/containers/FormApp.unit.spec.jsx
  src/applications/appeals/10182/tests/content/extensionRequest.unit.spec.jsx
  src/applications/appeals/10182/tests/fixtures/data/100-issues.json
  src/applications/appeals/10182/tests/fixtures/data/maximal-test.json
  src/applications/appeals/10182/tests/fixtures/data/transformed-maximal-test.json
  src/applications/appeals/10182/tests/fixtures/data/transformed-minimal-test.json
  src/applications/appeals/10182/tests/pages/extensionReason.unit.spec.jsx
  src/applications/appeals/10182/tests/pages/extensionRequest.unit.spec.jsx
  src/applications/appeals/10182/tests/utils/helpers.unit.spec.js
  src/applications/appeals/10182/tests/utils/issues.unit.spec.js
  src/applications/appeals/10182/tests/utils/redirect.unit.spec.js
  src/applications/appeals/10182/tests/utils/submit.unit.spec.js
  src/applications/appeals/10182/tests/validations/date.unit.spec.js
  src/applications/appeals/10182/utils/helpers.js
  src/applications/appeals/10182/utils/issues.js
  src/applications/appeals/10182/utils/redirect.js
  src/applications/appeals/10182/utils/submit.js
  src/applications/appeals/10182/validations/date.js
  src/applications/appeals/995/config/form.js
  src/applications/appeals/995/reducers/contestableIssues.js
  src/applications/appeals/995/tests/utils/helpers.unit.spec.js
  src/applications/appeals/995/utils/helpers.js
  src/applications/appeals/shared/tests/utils/issues.unit.spec.js
  src/applications/appeals/shared/utils/issues.jsx
  src/applications/appeals/testing/content/WorkInProgressMessage.jsx
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: front end, Tech Debt, NOD, Decision-Reviews-Team, Supplemental Claims

#30733 [CST] - added required prop and tests
  src/applications/claims-status/components/claim-files-tab/AddFilesForm.jsx
  src/applications/claims-status/tests/components/claim-files-tab/AddFilesForm.unit.spec.jsx
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#30625 85579 Toxic Exposure 1.1: Add Alert to Review and Submit Page
  src/applications/disability-benefits/all-claims/components/CustomReviewTopContent.jsx
  src/applications/disability-benefits/all-claims/config/form.js
  src/applications/disability-benefits/all-claims/tests/components/CustomReviewTopContent.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/cypress.helpers.js
  src/platform/forms-system/src/js/types.js
  src/platform/forms/save-in-progress/RoutedSavableReviewPage.jsx
  src/platform/forms/tests/forms.unit.spec.js
Labels: disability-compensation

#30740 [FSR] 87875 BUG - Fixing payload data for transform and submit endpoint
  src/applications/financial-status-report/config/submitForm.js
Labels: bug

#30669 86798 Remove includeToxicExposure flag
  src/applications/disability-benefits/all-claims/content/toxicExposure.jsx
  src/applications/disability-benefits/all-claims/prefill-transformer.js
  src/applications/disability-benefits/all-claims/tests/content/toxicExposure.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/cypress.helpers.js
  src/applications/disability-benefits/all-claims/tests/fixtures/data/maximal-toxic-exposure-2022-test.json
  src/applications/disability-benefits/all-claims/tests/fixtures/data/maximal-toxic-exposure-test.json
  src/applications/disability-benefits/all-claims/tests/fixtures/data/transformed-data/maximal-toxic-exposure-2022-test.json
  src/applications/disability-benefits/all-claims/tests/fixtures/data/transformed-data/maximal-toxic-exposure-test.json
  src/applications/disability-benefits/all-claims/tests/prefill-transformer.unit.spec.js
  src/applications/disability-benefits/all-claims/tests/submit-transformer.unit.spec.js
  src/applications/disability-benefits/all-claims/tests/toxic-exposure-2022.cypress.spec.js
  src/applications/disability-benefits/all-claims/tests/toxic-exposure.cypress.spec.js
Labels: disability-compensation

#30779 [CST] - Update Claim Cards on the Claims List to show 8 steps
  src/applications/claims-status/components/ClaimsListItem.jsx
  src/applications/claims-status/tests/components/ClaimsListItem.unit.spec.jsx
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#30524 Add pension module routes to use flipper flag.
  src/applications/pensions/PensionsApp.jsx
  src/applications/pensions/config/submit.js
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: pension-benefits

#30724 Appoint a rep claimant screens
  src/applications/representative-appoint/components/ClaimantType.jsx
  src/applications/representative-appoint/components/ClaimantTypeForm.jsx
  src/applications/representative-appoint/components/PrefillAlert.jsx
  src/applications/representative-appoint/components/VeteranDetails.jsx
  src/applications/representative-appoint/config/form.js
  src/applications/representative-appoint/content/common.jsx
  src/applications/representative-appoint/definitions/constants.js
  src/applications/representative-appoint/pages/index.js
  src/applications/representative-appoint/pages/personalInformation/claimantPersonalInformation.js
  src/applications/representative-appoint/pages/personalInformation/claimantRelationship.js
  src/applications/representative-appoint/pages/personalInformation/confirmClaimantPersonalInformation.js
  src/applications/representative-appoint/prefill-transformer.js
  src/applications/representative-appoint/schema/21-22-AND-21-22A-schema.json
  src/applications/representative-appoint/tests/fixtures/data/test-data.json
  src/applications/representative-appoint/tests/fixtures/data/user.js
  src/applications/representative-appoint/utilities/helpers.js
  src/applications/representative-appoint/utils/actionTypes/index.js
  src/applications/representative-search/components/results/ReportModal.jsx
  src/applications/representative-search/components/results/SearchResultsHeader.jsx
  src/applications/static-pages/representative-status/components/States/Auth.jsx
Labels: appoint-a-representative

#30817 88191 - CDP - DMC request for Alert Banner for Chapter 33 Debts 2/3
  src/applications/combined-debt-portal/debt-letters/components/DebtDetailsCard.jsx
Labels: front end, vsa-benefits-2

#30789 [CST] - Updated Document Request Page so page breadcrumb, page title and tab title match
  src/applications/claims-status/components/claim-document-request-pages/Automated5103Notice.jsx
  src/applications/claims-status/components/claim-document-request-pages/DefaultPage.jsx
  src/applications/claims-status/containers/DocumentRequestPage.jsx
  src/applications/claims-status/tests/components/DocumentRequestPage.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-document-request-pages/Automated5103Notice.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-document-request-pages/DefaultPage.unit.spec.jsx
  src/applications/claims-status/tests/e2e/05.claim-document-request.cypress.spec.js
  src/applications/claims-status/tests/e2e/page-objects/TrackClaimsPage.js
  src/applications/claims-status/tests/e2e/page-objects/TrackClaimsPageV2.js
  src/applications/claims-status/tests/utils/helpers.unit.spec.js
  src/applications/claims-status/utils/helpers.js
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#30681 Multiple page dependent children
  src/applications/pensions/PensionsApp.jsx
  src/applications/pensions/components/FormAlerts/index.jsx
  src/applications/pensions/config/chapters/04-household-information/dependentChildAddress.js
  src/applications/pensions/config/chapters/04-household-information/dependentChildInHousehold.js
  src/applications/pensions/config/chapters/04-household-information/dependentChildInformation.js
  src/applications/pensions/config/chapters/04-household-information/dependentChildren.js
  src/applications/pensions/config/chapters/04-household-information/dependentChildrenPages.js
  src/applications/pensions/config/chapters/04-household-information/hasDependents.js
  src/applications/pensions/config/chapters/04-household-information/helpers.jsx
  src/applications/pensions/config/chapters/04-household-information/index.js
  src/applications/pensions/helpers.jsx
  src/applications/pensions/labels.jsx
  src/applications/pensions/tests/e2e/pensionsKeyboardOnly.cypress.spec.js
  src/platform/forms-system/src/js/containers/FormApp.jsx
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: front end, pension-benefits

#30837 86971 - Payment History VBA MVP 1.5 -Removal of section on "Current Debts" pages
  src/applications/combined-debt-portal/debt-letters/components/HowDoIPay.jsx
  src/applications/combined-debt-portal/debt-letters/components/NeedHelp.jsx
  src/applications/combined-debt-portal/debt-letters/components/OnThisPageLinks.jsx
  src/applications/combined-debt-portal/debt-letters/containers/DebtDetails.jsx
  src/applications/combined-debt-portal/debt-letters/containers/DebtLettersSummary.jsx
  src/applications/combined-debt-portal/debt-letters/tests/e2e/debt-letters.cypress.spec.js
Labels: front end, vsa-benefits-2

#30784 DR | Fix re-focus on error alert
  src/applications/appeals/10182/config/form.js
  src/applications/appeals/995/config/form.js
  src/applications/appeals/996/config/form.js
  src/applications/appeals/shared/components/ContestableIssues.jsx
  src/applications/appeals/shared/tests/components/ContestableIssues.unit.spec.jsx
  src/applications/appeals/shared/tests/utils/focus.unit.spec.js
  src/applications/appeals/shared/utils/focus.js
Labels: 508/Accessibility, front end, HLR, NOD, Decision-Reviews-Team, Supplemental Claims

#30847 [CST] - Update name of tracked item in Recent Activity section to reflect updated 5103 alert
  src/applications/claims-status/components/claim-document-request-pages/Automated5103Notice.jsx
  src/applications/claims-status/components/claim-document-request-pages/DefaultPage.jsx
  src/applications/claims-status/components/claim-status-tab/RecentActivity.jsx
  src/applications/claims-status/tests/components/claim-status-tab/RecentActivity.unit.spec.jsx
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#30832 HLR | Update introduction page content
  src/applications/appeals/995/containers/ITFWrapper.jsx
  src/applications/appeals/996/components/EditContactInfo.jsx
  src/applications/appeals/996/config/form.js
  src/applications/appeals/996/constants.js
  src/applications/appeals/996/containers/Form0996App.jsx
  src/applications/appeals/996/containers/IntroductionPage.jsx
  src/applications/appeals/996/content/NeedHelp.jsx
  src/applications/appeals/996/content/OfficeForReview.jsx
  src/applications/appeals/996/content/introduction.jsx
  src/applications/appeals/996/content/title.js
  src/applications/appeals/996/subtask/pages/other.jsx
  src/applications/appeals/996/subtask/pages/start.jsx
  src/applications/appeals/996/tests/containers/FormApp.unit.spec.jsx
  src/applications/appeals/996/tests/containers/IntroductionPage.unit.spec.jsx
  src/applications/appeals/996/tests/subtask/subtask.unit.spec.jsx
  src/applications/appeals/996/tests/validations/validations.unit.spec.js
  src/applications/appeals/996/utils/helpers.js
  src/applications/appeals/996/validations/index.js
  src/applications/appeals/shared/content/submissionError.jsx
  src/applications/appeals/testing/hlr/content/OfficeForReview.jsx
  src/applications/appeals/testing/hlr/validations/index.js
  src/platform/forms-system/src/js/containers/FormApp.jsx
  src/platform/forms/tests/forms.unit.spec.js
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: front end, HLR, Decision-Reviews-Team

#30858 86971 - Payment History VBA MVP 1.5 -Removal of section on "Current Debts" pages - OnThisPage Addendum
  src/applications/combined-debt-portal/debt-letters/containers/DebtLettersSummary.jsx
  src/applications/combined-debt-portal/debt-letters/tests/e2e/debt-letters.cypress.spec.js
Labels: front end, vsa-benefits-2

#30861 HLR | Remove reference to exam
  src/applications/appeals/996/containers/ConfirmationPage.jsx
Labels: front end, HLR, Decision-Reviews-Team

#30887 [CST] [Frontend] Added required prop to 5103 document upload form
  src/applications/claims-status/components/claim-document-request-pages/Automated5103Notice.jsx
  src/applications/claims-status/tests/components/claim-document-request-pages/Automated5103Notice.unit.spec.jsx
Labels: benefits-management-tools

#30889 86973 - Payment History VBA MVP 1.5 - Check details link refactor
  src/applications/combined-debt-portal/debt-letters/components/DebtSummaryCard.jsx
  src/applications/combined-debt-portal/debt-letters/tests/e2e/details-card-content.cypress.spec.js
Labels: front end, vsa-benefits-2

#30899 [CST] - Updated page focus on CST Tabs
  src/applications/claims-status/components/ClaimStatusHeader.jsx
  src/applications/claims-status/components/claim-files-tab/AdditionalEvidencePage.jsx
  src/applications/claims-status/components/claim-files-tab/ClaimFileHeader.jsx
  src/applications/claims-status/components/claim-overview-tab/ClaimOverviewHeader.jsx
  src/applications/claims-status/containers/ClaimStatusPage.jsx
  src/applications/claims-status/containers/ClaimsStatusApp.jsx
  src/applications/claims-status/containers/FilesPage.jsx
  src/applications/claims-status/containers/OverviewPage.jsx
  src/applications/claims-status/reducers/routing.js
  src/applications/claims-status/tests/components/ClaimStatusPage.unit.spec.jsx
  src/applications/claims-status/tests/components/ClaimsStatusApp.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-files-tab/AdditionalEvidencePage.unit.spec.jsx
  src/applications/claims-status/tests/reducers/routing.unit.spec.js
  src/applications/claims-status/tests/utils/helpers.unit.spec.js
  src/applications/claims-status/utils/helpers.js
  src/applications/claims-status/utils/page.js
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#30884 [FSR] 86679 - Fix to better handle issues with income api
  src/applications/financial-status-report/components/householdIncome/AdditionalIncomeCheckList.jsx
  src/applications/financial-status-report/components/householdIncome/OtherIncomeSummary.jsx
  src/applications/financial-status-report/components/householdIncome/SpouseAdditionalIncomeCheckList.jsx
  src/applications/financial-status-report/components/householdIncome/SpouseOtherIncomeSummary.jsx
  src/applications/financial-status-report/tests/e2e/fsr-5655-streamlined-waiver-short.cypress.spec.js
  src/applications/financial-status-report/utils/streamlinedDepends.js
Labels: front end, financial-status-report

#30934 Update multi-page pattern pages
  src/applications/pensions/config/chapters/02-military-history/otherNamesPages.js
  src/applications/pensions/config/chapters/04-household-information/dependentChildrenPages.js
Labels: pension-benefits

#30945 [CST] - Update the last updated date on the Status Tab
  src/applications/claims-status/components/ClaimStatusHeader.jsx
  src/applications/claims-status/components/claim-status-tab/RecentActivity.jsx
  src/applications/claims-status/tests/components/ClaimStatusHeader.unit.spec.jsx
  src/applications/claims-status/tests/utils/helpers.unit.spec.js
  src/applications/claims-status/utils/helpers.js
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#30985 Adding feature toggle to Find a Rep
  src/applications/representative-search/components/results/SearchResult.jsx
  src/applications/representative-search/components/results/SearchResultsHeader.jsx
  src/applications/representative-search/tests/components/SearchResult.unit.spec.jsx
  src/applications/representative-search/tests/components/SearchResultsHeader.unit.spec.jsx
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: find-a-representative

#30982 NOD | Update confirmation page
  src/applications/appeals/10182/components/ConfirmationPageV2.jsx
  src/applications/appeals/10182/tests/components/ConfirmationPagev2.unit.spec.jsx
  src/applications/appeals/10182/tests/containers/ConfirmationPage.unit.spec.jsx
  src/applications/appeals/shared/components/ConfirmationPersonalInfo.jsx
  src/applications/appeals/shared/tests/components/ConfirmationPersonalInfo.unit.spec.jsx
Labels: front end, NOD, Decision-Reviews-Team

#30992 HLR & SC | Filter out disqualifying issues
  src/applications/appeals/10182/containers/FormApp.jsx
  src/applications/appeals/996/tests/utils/helpers.unit.spec.js
  src/applications/appeals/996/utils/helpers.js
  src/applications/appeals/shared/content/contestableIssues.jsx
  src/applications/appeals/shared/tests/utils/issues.unit.spec.js
  src/applications/appeals/shared/utils/issues.jsx
Labels: front end, HLR, NOD, Decision-Reviews-Team, Supplemental Claims

#30999 [CST] - Add new EP codes to disabilityCompensationClaimTypeCodes
  src/applications/claims-status/constants.js
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#30996 HLR | Update informal conference time pages
  src/applications/appeals/996/config/form.js
  src/applications/appeals/996/constants.js
  src/applications/appeals/996/content/InformalConferenceTimes.jsx
  src/applications/appeals/996/content/NeedHelp.jsx
  src/applications/appeals/996/pages/informalConferenceTime.js
  src/applications/appeals/996/pages/informalConferenceTimeRep.js
  src/applications/appeals/996/tests/content/InformalConferenceTimes.unit.spec.jsx
  src/applications/appeals/996/tests/content/introduction.unit.spec.jsx
  src/applications/appeals/996/tests/pages/informalConferenceTime.unit.spec.js
  src/applications/appeals/996/tests/pages/informalConferenceTimeRep.unit.spec.js
  src/applications/appeals/996/tests/utils/helpers.unit.spec.js
  src/applications/appeals/996/utils/helpers.js
  src/applications/appeals/996/utils/submit.js
  src/applications/appeals/shared/tests/fixtures/mocks/feature-toggles.json
  src/applications/appeals/shared/tests/test-helpers.js
  src/applications/appeals/shared/utils/focus.js
Labels: front end, HLR, Decision-Reviews-Team

#30940 Pension 88387 introduction page update
  src/applications/pensions/components/FormAlerts/index.jsx
  src/applications/pensions/components/IntroductionPage.jsx
  src/applications/pensions/tests/unit/components/IntroductionPage.unit.spec.jsx
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: pension-benefits

#31033 HLR & NOD | Review areas of disagreement to sentence format
  src/applications/appeals/shared/content/areaOfDisagreement.jsx
  src/applications/appeals/shared/pages/areaOfDisagreement.js
  src/applications/appeals/shared/tests/content/areaOfDisagreement.unit.spec.jsx
  src/applications/appeals/shared/tests/utils/areaOfDisagreement.unit.spec.js
  src/applications/appeals/shared/utils/areaOfDisagreement.js
Labels: front end, HLR, NOD, Decision-Reviews-Team

#30990 Add income and assets clarification
  src/applications/pensions/PensionsApp.jsx
  src/applications/pensions/components/FormAlerts/index.jsx
  src/applications/pensions/config/chapters/05-financial-information/additionalDocuments.js
  src/applications/pensions/config/chapters/05-financial-information/hasOver25kAssets.js
  src/applications/pensions/config/chapters/05-financial-information/helpers.js
  src/applications/pensions/config/chapters/05-financial-information/index.js
  src/applications/pensions/config/chapters/05-financial-information/totalNetWorth.js
  src/applications/pensions/helpers.jsx
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: pension-benefits

#31093 DR | Get phone extension from profile data
  src/applications/appeals/10182/tests/components/ConfirmationPagev2.unit.spec.jsx
  src/applications/appeals/10182/tests/fixtures/data/100-issues.json
  src/applications/appeals/10182/tests/fixtures/data/maximal-test.json
  src/applications/appeals/10182/tests/fixtures/data/minimal-test.json
  src/applications/appeals/10182/tests/fixtures/data/no-api-issues.json
  src/applications/appeals/10182/tests/fixtures/data/transformed-maximal-test.json
  src/applications/appeals/10182/tests/fixtures/data/transformed-minimal-test.json
  src/applications/appeals/995/tests/fixtures/data/101-issues.json
  src/applications/appeals/995/tests/fixtures/data/maximal-test.json
  src/applications/appeals/995/tests/fixtures/data/minimal-test.json
  src/applications/appeals/995/tests/fixtures/data/no-evidence-test.json
  src/applications/appeals/995/tests/fixtures/data/partial-evidence-test.json
  src/applications/appeals/995/tests/fixtures/data/transformed-maximal-test.json
  src/applications/appeals/995/tests/fixtures/data/transformed-no-evidence-test.json
  src/applications/appeals/995/tests/utils/submit.unit.spec.js
  src/applications/appeals/995/utils/submit.js
  src/applications/appeals/996/tests/fixtures/data/maximal-test-v2.json
  src/applications/appeals/996/tests/fixtures/data/transformed/maximal-test-v2.json
  src/applications/appeals/996/utils/submit.js
  src/applications/appeals/shared/components/ConfirmationPersonalInfo.jsx
  src/applications/appeals/shared/tests/components/ConfirmationPersonalInfo.unit.spec.jsx
  src/applications/appeals/shared/tests/fixtures/mocks/user-update.json
  src/applications/appeals/shared/tests/fixtures/mocks/user.json
  src/applications/appeals/shared/tests/utils/submit.unit.spec.js
  src/applications/appeals/shared/utils/submit.js
Labels: bug, front end, HLR, NOD, Decision-Reviews-Team, Supplemental Claims

#30863 85887 - Payment History VBA Pre-MVP 1.0 - Implement page(s) V2
  src/applications/combined-debt-portal/combined/sass/combined-debt-portal.scss
  src/applications/combined-debt-portal/combined/utils/helpers.js
  src/applications/combined-debt-portal/debt-letters/components/OnThisPageLinks.jsx
  src/applications/combined-debt-portal/debt-letters/components/PaymentHistoryTable.jsx
  src/applications/combined-debt-portal/debt-letters/const/diary-codes/index.js
  src/applications/combined-debt-portal/debt-letters/containers/DebtDetails.jsx
Labels: front end, vsa-benefits-2
