Repository department-of-veterans-affairs/vets-website, pull requests merged in 2024-10, with the labels that each got.

#32139 Pension 93221 edit item description
  src/applications/pensions/config/chapters/02-military-history/otherNamesPages.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/currentEmploymentHistoryPages.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/federalMedicalCentersPages.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/previousEmploymentHistoryPages.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/vaMedicalCentersPages.js
  src/platform/forms-system/src/js/patterns/array-builder/tests/arrayBuilderFirstItemPage.unit.spec.js
  src/platform/forms-system/src/js/web-component-patterns/arrayBuilderPatterns.jsx
Labels: platform, pension-benefits

#32194 [CDP] 88192 - Update alert banner for Chapter 33 Debts
  src/applications/combined-debt-portal/debt-letters/components/DebtDetailsCard.jsx
Labels: combined-debt-portal

#32239 [CDP] 92800 - Replacing moment with date-fns in Combined Debt Portal
  src/applications/combined-debt-portal/combined/tests/unit/combinedHelpers.unit.spec.js
  src/applications/combined-debt-portal/combined/utils/helpers.js
  src/applications/combined-debt-portal/debt-letters/components/Alerts.jsx
  src/applications/combined-debt-portal/debt-letters/components/DebtLettersTable.jsx
  src/applications/combined-debt-portal/debt-letters/components/HistoryTable.jsx
  src/applications/combined-debt-portal/debt-letters/containers/DebtDetails.jsx
  src/applications/combined-debt-portal/medical-copays/components/DownloadStatement.jsx
  src/applications/combined-debt-portal/medical-copays/components/HTMLStatementLink.jsx
  src/applications/combined-debt-portal/medical-copays/components/StatementCharges.jsx
  src/applications/combined-debt-portal/medical-copays/containers/DetailPage.jsx
  src/applications/combined-debt-portal/medical-copays/containers/HTMLStatementPage.jsx
Labels: combined-debt-portal

#32242 [CDP] Miscellaneous fixes for Combined Debt Portal
  src/applications/combined-debt-portal/debt-letters/components/DebtLettersTable.jsx
  src/applications/combined-debt-portal/medical-copays/components/HowToPay.jsx
  src/applications/combined-debt-portal/medical-copays/containers/HTMLStatementPage.jsx
  src/applications/combined-debt-portal/medical-copays/containers/SummaryPage.jsx
Labels: combined-debt-portal

#32191 Global | Print confirmation page CSS changes
  src/applications/appeals/10182/components/ConfirmationPageV2.jsx
  src/applications/appeals/996/sass/0996-higher-level-review.scss
  src/applications/appeals/shared/components/ConfirmationDecisionReviews.jsx
  src/applications/appeals/shared/sass/appeals.scss
  src/platform/forms-system/src/js/containers/ConfirmationPage.jsx
  src/platform/forms-system/src/js/containers/FormApp.jsx
  src/platform/forms-system/src/js/routing.js
  src/platform/forms/sass/_m-form-confirmation.scss
Labels: HLR, NOD, Decision-Reviews-Team, forms-library, Supplemental Claims, frontend

#32225 [91079] Contact accredited representative page
  src/applications/representative-appoint/components/ContactAccreditedRepresentative.jsx
  src/applications/representative-appoint/components/SearchResult.jsx
  src/applications/representative-appoint/config/form.js
  src/applications/representative-appoint/pages/index.js
  src/applications/representative-appoint/pages/representative/contactAccreditedRepresentative.js
Labels: appoint-a-representative

#32261 NOD | Fix confirmation page unit test failure
  src/applications/appeals/10182/tests/components/ConfirmationPagev2.unit.spec.jsx
Labels: bug, NOD, Decision-Reviews-Team, frontend

#32119 Pension 93217 array builder edit lower case
  src/applications/pensions/config/chapters/02-military-history/otherNamesPages.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/currentEmploymentHistoryPages.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/federalMedicalCentersPages.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/previousEmploymentHistoryPages.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/vaMedicalCentersPages.js
  src/applications/pensions/config/chapters/04-household-information/dependentChildrenPages.js
  src/platform/forms-system/src/js/patterns/array-builder/tests/arrayBuilderFirstItemPage.unit.spec.js
  src/platform/forms-system/src/js/patterns/array-builder/tests/arrayBuilderSubsequentItemPage.unit.spec.js
  src/platform/forms-system/src/js/web-component-patterns/arrayBuilderPatterns.jsx
Labels: platform, pension-benefits

#32189 Reset yes/no question answer
  src/platform/forms-system/src/js/patterns/array-builder/ArrayBuilderSummaryPage.jsx
  src/platform/forms-system/src/js/patterns/array-builder/README.md
  src/platform/forms-system/src/js/patterns/array-builder/tests/arrayBuilderSummaryPage.unit.spec.js
Labels: platform, forms-library

#32224 Pension update documentation
  src/applications/burials-ez/README.md
  src/applications/income-and-asset-statement/README.md
  src/applications/pensions/21p527ez/README.md
  src/applications/pensions/PULL_REQUEST_TEMPLATE.md
  src/applications/pensions/README.md
Labels: pension-benefits, burial-benefits, pension-income-assets

#32269 Cleanup Why might I have this debt additional info component
  src/applications/combined-debt-portal/debt-letters/const/deduction-codes/index.js
  src/applications/combined-debt-portal/debt-letters/tests/DebtLetterDeductionCodes.unit.spec.js
  src/applications/financial-status-report/constants/deduction-codes/index.js
Labels: financial-status-report, combined-debt-portal

#32262 Appoint a Rep PDF Generation
  src/applications/representative-appoint/api/generatePDF.js
  src/applications/representative-appoint/config/form.js
  src/applications/representative-appoint/containers/App.jsx
  src/applications/representative-appoint/pages/representative/selectAccreditedRepresentative.js
  src/applications/representative-appoint/tests/fixtures/data/test-data.json
  src/applications/representative-appoint/utilities/helpers.js
  src/applications/representative-appoint/utilities/pdfTransform.js
Labels: appoint-a-representative

#32315 Global | Add `focusOnAlertRole` to `formOptions`
  src/platform/forms-system/src/js/components/SchemaForm.jsx
  src/platform/forms-system/src/js/containers/FormPage.jsx
  src/platform/forms-system/src/js/utilities/ui/index.js
  src/platform/utilities/constants.js
  src/platform/utilities/tests/ui/scroll.unit.spec.jsx
  src/platform/utilities/ui/scroll.js
Labels: testing, Decision-Reviews-Team, frontend

#32326 Appoint a representative pdf generation
  src/applications/representative-appoint/api/generatePDF.js
  src/applications/representative-appoint/config/form.js
  src/applications/representative-appoint/containers/App.jsx
Labels: appoint-a-representative

#32329 Appoint a Rep - updating request url
  src/applications/representative-appoint/api/generatePDF.js
  src/applications/representative-appoint/utilities/pdfTransform.js
Labels: appoint-a-representative

#32323 Global | Replace react-scroll Element
  src/applications/_mock-form-ae-design-patterns/patterns/pattern1/TaskPurple/ContactInfo.jsx
  src/applications/appeals/995/components/EvidenceSummary.jsx
  src/applications/appeals/testing/sc/components/EvidenceSummary.jsx
  src/applications/ask-va/components/ArrayField.jsx
  src/applications/ask-va/components/ReviewCollapsibleChapter.jsx
  src/applications/claims-status/components/claim-files-tab/AddFilesForm.jsx
  src/applications/claims-status/components/claim-files-tab/AdditionalEvidencePage.jsx
  src/applications/claims-status/containers/DocumentRequestPage.jsx
  src/applications/coronavirus-screener/components/FormQuestion.jsx
  src/applications/coronavirus-screener/components/FormResult.jsx
  src/applications/disability-benefits/all-claims/components/ArrayField.jsx
  src/applications/discharge-wizard/components/AnswerReview.jsx
  src/applications/discharge-wizard/components/questions/BranchOfService.jsx
  src/applications/discharge-wizard/components/questions/CourtMartial.jsx
  src/applications/discharge-wizard/components/questions/DischargeMonth.jsx
  src/applications/discharge-wizard/components/questions/DischargeType.jsx
  src/applications/discharge-wizard/components/questions/DischargeYear.jsx
  src/applications/discharge-wizard/components/questions/FailureToExhaust.jsx
  src/applications/discharge-wizard/components/questions/Intention.jsx
  src/applications/discharge-wizard/components/questions/PrevApplication.jsx
  src/applications/discharge-wizard/components/questions/PrevApplicationType.jsx
  src/applications/discharge-wizard/components/questions/PrevApplicationYear.jsx
  src/applications/discharge-wizard/components/questions/PriorService.jsx
  src/applications/discharge-wizard/components/questions/Reason.jsx
  src/applications/edu-benefits/feedback-tool/components/SchoolSelectField.jsx
  src/applications/financial-status-report/components/contactInfo/ContactInfo.jsx
  src/applications/financial-status-report/components/contactInfo/ContactInfoReview.jsx
  src/applications/gi/containers/ProfilePage.jsx
  src/applications/pre-need-integration/components/DeceasedPersons.jsx
  src/applications/simple-forms/mock-simple-forms-patterns-v3/containers/App.jsx
  src/applications/travel-pay/components/TravelClaimDetails.jsx
  src/platform/forms-system/src/js/components/ContactInfo.jsx
  src/platform/forms-system/src/js/components/ContactInfoReview.jsx
  src/platform/forms-system/src/js/containers/FormApp.jsx
  src/platform/forms-system/src/js/fields/ArrayField.jsx
  src/platform/forms-system/src/js/fields/BasicArrayField.jsx
  src/platform/forms-system/src/js/review/ArrayField.jsx
  src/platform/forms-system/src/js/review/ReviewCollapsibleChapter.jsx
  src/platform/forms-system/src/js/review/submit-states/ClientError.jsx
  src/platform/forms/save-in-progress/RoutedSavableApp.jsx
  src/platform/forms/save-in-progress/RoutedSavableReviewPage.jsx
  src/platform/forms/save-in-progress/SaveFormLink.jsx
  src/platform/utilities/scroll/index.jsx
Labels: HLR, NOD, Decision-Reviews-Team, Supplemental Claims, frontend

#32356 94331 - [CDP] - Payment disclaimer and small bug updates
  src/applications/combined-debt-portal/combined/containers/OverviewPage.jsx
  src/applications/combined-debt-portal/combined/sass/combined-debt-portal.scss
  src/applications/combined-debt-portal/debt-letters/components/DebtDetailsOnThisPageLinks.jsx
  src/applications/combined-debt-portal/debt-letters/components/HistoryTable.jsx
  src/applications/combined-debt-portal/debt-letters/components/PaymentHistoryTable.jsx
  src/applications/combined-debt-portal/debt-letters/containers/DebtDetails.jsx
  src/applications/combined-debt-portal/debt-letters/containers/DebtLettersDownload.jsx
  src/applications/combined-debt-portal/debt-letters/containers/DebtLettersSummary.jsx
Labels: vsa-benefits-2, frontend

#32383 Appoint a representative review screen
  src/applications/representative-appoint/api/generatePDF.js
  src/applications/representative-appoint/components/SearchResult.jsx
  src/applications/representative-appoint/components/SelectAccreditedRepresentative.jsx
  src/applications/representative-appoint/components/SelectAccreditedRepresentativeReview.jsx
  src/applications/representative-appoint/config/form.js
  src/applications/representative-appoint/pages/representative/contactAccreditedRepresentative.js
  src/applications/representative-appoint/pages/representative/replaceAccreditedRepresentative.js
  src/applications/representative-appoint/pages/representative/selectAccreditedOrganization.js
  src/applications/representative-appoint/utilities/helpers.js
  src/applications/representative-appoint/utilities/pdfTransform.js
Labels: appoint-a-representative

#32384 Added function invocation to conditional
  src/applications/representative-appoint/components/SearchResult.jsx
Labels: appoint-a-representative

#32357 [FSR] 94327 - Replacing moment with date-fns in Financial Status Report
  src/applications/financial-status-report/actions/index.js
  src/applications/financial-status-report/components/bankruptcy/BankruptcyDetails.jsx
  src/applications/financial-status-report/components/debtsAndCopays/AvailableDebtsAndCopays.jsx
  src/applications/financial-status-report/components/employment/EmploymentHistorySummaryCard.jsx
  src/applications/financial-status-report/components/employment/EmploymentHistorySummaryReview.jsx
  src/applications/financial-status-report/components/employment/EmploymentWorkDates.jsx
  src/applications/financial-status-report/components/employment/SpouseEmploymentWorkDates.jsx
  src/applications/financial-status-report/components/householdExpenses/InstallmentContractsSummaryReview.jsx
  src/applications/financial-status-report/components/veteranInformation/VeteranInfoBox.jsx
  src/applications/financial-status-report/constants/diary-codes/index.js
  src/applications/financial-status-report/containers/ConfirmationPage.jsx
  src/applications/financial-status-report/tests/unit/efsr-transform.unit.spec.jsx
  src/applications/financial-status-report/tests/unit/helpers.unit.spec.js
  src/applications/financial-status-report/utils/helpers.js
  src/applications/financial-status-report/utils/transform.js
Labels: financial-status-report

#32178 93403 Update toxic exposure date validations and review page error messages
  package.json
  src/applications/disability-benefits/all-claims/pages/toxicExposure/additionalExposuresDetails.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/gulfWar1990Details.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/gulfWar2001Details.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/herbicideDetails.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/herbicideOtherLocations.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/specifyOtherExposures.js
  src/applications/disability-benefits/all-claims/reviewErrors.js
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/additionalExposuresDetails.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/gulfWar1990Details.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/gulfWar2001Details.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/herbicideDetails.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/herbicideOtherLocations.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/specifyOtherExposures.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/reviewErrors.unit.spec.js
  src/applications/disability-benefits/all-claims/tests/unit.helpers.spec.js
  yarn.lock
Labels: disability-compensation

#32395 Global | Fix review page error highlighting
  src/applications/appeals/shared/content/reviewErrors.js
  src/applications/appeals/shared/tests/content/reviewErrors.unit.spec.js
  src/platform/forms-system/docs/reviewErrors.md
  src/platform/forms-system/src/js/review/ReviewChapters.jsx
  src/platform/forms-system/src/js/review/ReviewCollapsibleChapter.jsx
  src/platform/forms-system/src/js/utilities/review/index.js
Labels: bug, HLR, NOD, Decision-Reviews-Team, frontend

#32391 Fix informal conference validation
  src/applications/appeals/996/components/InformalConference.jsx
  src/applications/appeals/996/components/InformalConferenceContact.jsx
  src/applications/appeals/996/components/InformalConferenceReview.jsx
  src/applications/appeals/996/pages/informalConference.js
  src/applications/appeals/996/pages/informalConferenceRep.js
  src/applications/appeals/996/tests/components/InformalConference.unit.spec.jsx
Labels: bug, HLR, Decision-Reviews-Team, frontend

#32400 Fix review page alert focus
  src/platform/forms-system/src/js/review/SubmitController.jsx
  src/platform/forms/components/common/alerts/ErrorMessage.jsx
Labels: HLR, NOD, Decision-Reviews-Team, Supplemental Claims, frontend

#32491 [FSR] 94327 - FIX Adding some extra checks for date of birth helpers
  src/applications/financial-status-report/components/veteranInformation/VeteranInfoBox.jsx
  src/applications/financial-status-report/utils/transform.js
Labels: financial-status-report

#32402 [93570] Appoint a Rep: Next-steps page fixups
  src/applications/representative-appoint/components/AddressBlock.jsx
  src/applications/representative-appoint/config/form.js
  src/applications/representative-appoint/containers/NextStepsPage.jsx
  src/applications/representative-appoint/routes.jsx
  src/applications/representative-appoint/tests/utilities/getEntityAddressAsObject.unit.spec.jsx
  src/applications/representative-appoint/tests/utilities/getOrgName.unit.spec.jsx
  src/applications/representative-appoint/utilities/helpers.js
Labels: appoint-a-representative

#32407 [Letters] Fix issue with the NoAddressBanner component not rendering
  src/applications/letters/containers/Main.jsx
Labels: Benefits Letters

#32294 Dependents 81247 | Step 3: Add spouse (array refactor)
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/current-marriage-information/currentMarriageInformation.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/current-marriage-information/currentMarriageInformationPartFive.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/current-marriage-information/currentMarriageInformationPartFour.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/current-marriage-information/currentMarriageInformationPartThree.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/current-marriage-information/currentMarriageInformationPartTwo.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/current-spouse-marriage-history-details/additionalQuestionsView.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/current-spouse-marriage-history-details/currentSpouseMarriageHistoryDetails.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/current-spouse-marriage-history-details/currentSpouseMarriageHistoryDetailsPartFive.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/current-spouse-marriage-history-details/currentSpouseMarriageHistoryDetailsPartFour.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/current-spouse-marriage-history-details/currentSpouseMarriageHistoryDetailsPartThree.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/current-spouse-marriage-history-details/currentSpouseMarriageHistoryDetailsPartTwo.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/current-spouse-marriage-history/currentSpouseMarriageHistory.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/current-spouse-marriage-history/currentSpouseMarriageHistoryPartTwo.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/current-spouse-marriage-history/helpers.jsx
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/index.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/spouseMarriageHistoryArrayPages.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/veteran-marriage-history-details/veteranAdditionalQuestionsView.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/veteran-marriage-history-details/veteranMarriageHistoryDetails.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/veteran-marriage-history-details/veteranMarriageHistoryDetailsPartFive.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/veteran-marriage-history-details/veteranMarriageHistoryDetailsPartFour.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/veteran-marriage-history-details/veteranMarriageHistoryDetailsPartThree.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/veteran-marriage-history-details/veteranMarriageHistoryDetailsPartTwo.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/veteran-marriage-history/helpers.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/veteran-marriage-history/veteranMarriageHistory.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/veteran-marriage-history/veteranMarriageHistoryPartTwo.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-add-a-spouse/veteranMarriageHistoryArrayPages.js
  src/applications/disability-benefits/686c-674-v2/config/form.js
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-add-a-spouse/additionalQuestionsView.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-add-a-spouse/currentMarriageInformation.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-add-a-spouse/spouseMarriageHistory.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-add-a-spouse/spouseMarriageHistoryArrayPages.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-add-a-spouse/spouseMarriageHistoryDetails.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-add-a-spouse/veteranAdditionalQuestionsView.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-add-a-spouse/veteranMarriageHistory.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-add-a-spouse/veteranMarriageHistoryArrayPages.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-add-a-spouse/veteranMarriageHistoryDetails.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/e2e/fixtures/spouse-child-all-fields.json
  src/applications/disability-benefits/686c-674-v2/tests/e2e/fixtures/spouse-report-divorce.json
Labels: dependents-benefits

#32488 Fix web component error selector
  src/platform/utilities/constants.js
  src/platform/utilities/tests/ui/scroll.unit.spec.jsx
  src/platform/utilities/ui/focus.js
Labels: HLR, NOD, Decision-Reviews-Team, Supplemental Claims, frontend

#32492 Appoint a rep -
  src/applications/representative-appoint/components/ContactCard.jsx
  src/applications/representative-appoint/components/CurrentAccreditedRepresentative.jsx
  src/applications/representative-appoint/components/ReplaceAccreditedRepresentative.jsx
  src/applications/representative-appoint/components/SelectAccreditedRepresentative.jsx
  src/applications/representative-appoint/containers/App.jsx
  src/applications/representative-appoint/tests/components/ContactCard.unit.spec.jsx
Labels: appoint-a-representative

#32366 Prevent modal content overflow
  package.json
  src/applications/pensions/config/chapters/03-health-and-employment-information/federalMedicalCentersPages.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/vaMedicalCentersPages.js
  src/applications/pensions/sass/pensions.scss
  yarn.lock
Labels: pension-benefits

#32602 DR | Update visibility of eligible issues alert
  src/applications/appeals/shared/components/ContestableIssues.jsx
  src/applications/appeals/shared/tests/components/ContestableIssues.unit.spec.jsx
Labels: HLR, NOD, Decision-Reviews-Team, Supplemental Claims, frontend

#32490 Fix non-failing errors in CI
  src/platform/forms-system/src/js/utilities/review/index.js
  src/platform/forms-system/test/js/widgets/SSNWidget.unit.spec.jsx
  src/platform/forms-system/test/js/widgets/VAFileNumberWidget.unit.spec.jsx
  src/platform/forms/sub-task/index.js
Labels: HLR, NOD, Decision-Reviews-Team, Supplemental Claims, frontend

#32581 SC | Update missing primary phone message on review page
  src/applications/appeals/995/components/PrimaryPhoneReview.jsx
  src/applications/appeals/995/constants.js
  src/applications/appeals/995/content/reviewErrors.js
  src/applications/appeals/995/tests/components/PrimaryPhoneReview.unit.spec.jsx
  src/applications/appeals/995/tests/content/reviewErrors.unit.spec.js
  src/applications/appeals/testing/sc/components/PrimaryPhoneReview.jsx
  src/applications/appeals/testing/sc/constants.js
  src/applications/appeals/testing/sc/content/reviewErrors.js
Labels: bug, Decision-Reviews-Team, Supplemental Claims, frontend

#32610 Global | Change profile success alert
  src/platform/forms-system/src/js/components/ContactInfo.jsx
Labels: bug, 508/Accessibility, HLR, NOD, Decision-Reviews-Team, Supplemental Claims, frontend

#32514 [Letters] Fix application crash issue with Lighthouse Letters Generator API
  src/applications/letters/containers/VeteranBenefitSummaryLetter.jsx
  src/applications/letters/utils/helpers.jsx
Labels: Benefits Letters

#32343 Dependents 81251 | Step 3: Add students (array refactor)
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/addStudentsArrayPages.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/helpers.jsx
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/helpers.jsx
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/studentAdditionalInformationPartTen.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/studentInformation.js
  src/applications/disability-benefits/686c-674-v2/config/form.js
  src/applications/disability-benefits/686c-674-v2/config/helpers.js
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/student-information/addStudentArrayPages.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/student-information/studentAdditionalInformation.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/student-information/studentInformation.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/e2e/686C-674.cypress.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/e2e/fixtures/add-child-add-674.json
Labels: dependents-benefits

#32623 Global | Update profile save button
  src/applications/appeals/10182/tests/10182-contact-loop.cypress.spec.js
  src/applications/appeals/995/tests/995-contact-loop.cypress.spec.js
  src/applications/appeals/996/tests/hlr-contact-loop.cypress.spec.js
  src/platform/forms-system/src/js/components/EditContactInfo.jsx
  src/platform/forms-system/test/js/components/EditContactInfo.unit.spec.jsx
  src/platform/forms/sass/_m-schemaform.scss
Labels: HLR, NOD, Decision-Reviews-Team, Supplemental Claims, frontend

#32628 Pension Introduction Page Layout Update
  src/applications/pensions/components/IntroductionPage.jsx
Labels: pension-benefits

#32662 Subtask | Use focusOnAlertRole to manage focus
  src/platform/forms/sub-task/index.js
Labels: 508/Accessibility, HLR, Decision-Reviews-Team, Supplemental Claims, frontend

#32654 79856 - [FSR] - Change Type of work dropdown to radio button group
  src/applications/financial-status-report/components/employment/EnhancedEmploymentRecord.jsx
  src/applications/financial-status-report/components/employment/EnhancedSpouseEmploymentRecord.jsx
  src/applications/financial-status-report/tests/e2e/pages/EmploymentHistory.js
  src/applications/financial-status-report/utils/session.js
Labels: front end, vsa-benefits-2, financial-status-report, frontend

#32611 Appoint a Rep - representative select routing
  src/applications/representative-appoint/components/ContactAccreditedRepresentative.jsx
  src/applications/representative-appoint/components/SearchInput.jsx
  src/applications/representative-appoint/components/SearchResult.jsx
  src/applications/representative-appoint/components/SelectAccreditedRepresentative.jsx
  src/applications/representative-appoint/components/SelectOrganization.jsx
  src/applications/representative-appoint/config/form.js
  src/applications/representative-appoint/config/organizations/DynamicRadioWidget.jsx
  src/applications/representative-appoint/hooks/useReviewPage.js
  src/applications/representative-appoint/pages/representative/selectAccreditedOrganization.js
  src/applications/representative-appoint/pages/representative/selectAccreditedRepresentative.js
  src/applications/representative-appoint/utilities/pdfTransform.js
Labels: appoint-a-representative

#32714 Dependents 81254 | Remove spouse (refactored)
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-divorce/former-spouse-information/formerSpouseInformation.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-divorce/former-spouse-information/formerSpouseInformationPartThree.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-divorce/index.js
  src/applications/disability-benefits/686c-674-v2/config/form.js
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-divorce/formerSpouseInformation.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/e2e/fixtures/add-child-add-674.json
  src/applications/disability-benefits/686c-674-v2/tests/e2e/fixtures/add-child-report-divorce.json
  src/applications/disability-benefits/686c-674-v2/tests/e2e/fixtures/ancilliary-flows.json
  src/applications/disability-benefits/686c-674-v2/tests/e2e/fixtures/spouse-report-divorce.json
Labels: dependents-benefits

#32622 Dependents 81254 | All Remove children arrays (refactored)
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-child-stopped-attending-school/child-information/childInformation.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-child-stopped-attending-school/index.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-child-stopped-attending-school/removeChildStoppedAttendingSchoolArrayPages.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-marriage-of-child/child-information/childInformation.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-marriage-of-child/index.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-marriage-of-child/removeMarriedChildArrayPages.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/stepchild-no-longer-part-of-household/index.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/stepchild-no-longer-part-of-household/removeChildHouseholdArrayPages.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/stepchild-no-longer-part-of-household/stepchild-information/helpers.jsx
  src/applications/disability-benefits/686c-674-v2/config/chapters/stepchild-no-longer-part-of-household/stepchild-information/stepchild-information.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/stepchild-no-longer-part-of-household/stepchildren/helpers.jsx
  src/applications/disability-benefits/686c-674-v2/config/chapters/stepchild-no-longer-part-of-household/stepchildren/stepchildren.js
  src/applications/disability-benefits/686c-674-v2/config/form.js
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-child-stopped-attending-school/childInformation.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-child-stopped-attending-school/removeChildStoppedAttendingSchoolArrayPages.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-marriage-of-child/childInformation.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-marriage-of-child/removeMarriedChildArrayPages.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/stepchild-no-longer-part-of-household/removeChildHouseholdArrayPages.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/config/stepchildInformation.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/stepchildren.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/e2e/686C-674-ancilliary.cypress.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/e2e/fixtures/add-child-add-674.json
  src/applications/disability-benefits/686c-674-v2/tests/e2e/fixtures/ancilliary-flows.json
  src/applications/disability-benefits/686c-674-v2/tests/e2e/fixtures/spouse-child-all-fields.json
Labels: dependents-benefits

#32731 SC | Update to new form content
  src/applications/appeals/995/constants.js
  src/applications/appeals/995/containers/App.jsx
  src/applications/appeals/995/containers/IntroductionPage.jsx
  src/applications/appeals/995/content/OmbInfo.jsx
  src/applications/appeals/995/content/title.js
  src/applications/appeals/995/tests/containers/App.unit.spec.jsx
  src/applications/appeals/995/tests/containers/IntroductionPage.unit.spec.jsx
  src/applications/appeals/995/tests/utils/focus.unit.spec.js
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: Decision-Reviews-Team, Supplemental Claims, frontend

#32677 SC | Use focusOnAlertRole option for focus management
  src/applications/appeals/995/components/EvidencePrivateRecords.jsx
  src/applications/appeals/995/components/EvidencePrivateRecordsRequest.jsx
  src/applications/appeals/995/components/EvidenceSummary.jsx
  src/applications/appeals/995/components/EvidenceVaRecords.jsx
  src/applications/appeals/995/components/Notice5103.jsx
  src/applications/appeals/995/components/PrimaryPhone.jsx
  src/applications/appeals/995/config/form.js
  src/applications/appeals/995/pages/addIssue.js
  src/applications/appeals/995/tests/components/EvidencePrivateRecords.unit.spec.jsx
  src/applications/appeals/995/tests/components/EvidenceVaRecords.unit.spec.jsx
  src/applications/appeals/shared/utils/focus.js
Labels: bug, 508/Accessibility, Decision-Reviews-Team, Supplemental Claims, frontend

#32739 dbex/95149: add disability526NewConfirmationPage feature toggle
  src/applications/disability-benefits/all-claims/containers/ConfirmationPage.jsx
  src/applications/disability-benefits/all-claims/tests/components/ConfirmationPoll.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/containers/ConfirmationPage.unit.spec.jsx
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: disability-compensation

#32752 [94983] Update Appoint a Rep search to use original_entities api
  src/applications/representative-appoint/api/generatePDF.js
  src/applications/representative-appoint/components/ContactAccreditedRepresentative.jsx
  src/applications/representative-appoint/config/form.js
  src/applications/representative-appoint/constants/api.js
  src/applications/representative-appoint/tests/fixtures/data/test-data.json
  src/applications/representative-appoint/tests/utilities/getFormNumber.unit.spec.jsx
  src/applications/representative-appoint/utilities/helpers.js
Labels: appoint-a-representative

#32805 Appoint a rep QA
  src/applications/representative-appoint/components/SelectAccreditedRepresentative.jsx
  src/applications/representative-appoint/components/SelectOrganization.jsx
  src/applications/representative-appoint/components/SubmissionError.js
  src/applications/representative-appoint/config/form.js
Labels: appoint-a-representative

#32790 [94719] Appoint a Rep contact rep page fixups
  src/applications/representative-appoint/components/ContactAccreditedRepresentative.jsx
Labels: appoint-a-representative

#32780 SC | Add MST pages
  src/applications/appeals/995/config/form.js
  src/applications/appeals/995/constants.js
  src/applications/appeals/995/containers/App.jsx
  src/applications/appeals/995/content/optionForMst.jsx
  src/applications/appeals/995/content/optionIndicator.jsx
  src/applications/appeals/995/pages/optionForMst.js
  src/applications/appeals/995/pages/optionIndicator.js
  src/applications/appeals/995/tests/pages/optionForMst.unit.spec.jsx
  src/applications/appeals/995/tests/pages/optionIndicator.unit.spec.jsx
  src/applications/appeals/995/tests/utils/mstOptions.unit.spec.js
  src/applications/appeals/995/utils/mstOption.js
Labels: Decision-Reviews-Team, Supplemental Claims, frontend

#32761 Dependents 95792: Implement data reset
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/addStudentsArrayPages.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/helpers.jsx
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/helpers.jsx
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/studentAdditionalInformation.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/studentAdditionalInformationPartEight.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/studentAdditionalInformationPartEleven.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/studentAdditionalInformationPartFive.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/studentAdditionalInformationPartFour.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/studentAdditionalInformationPartNine.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/studentAdditionalInformationPartSeven.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/studentAdditionalInformationPartSix.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/studentAdditionalInformationPartTen.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/studentAdditionalInformationPartThirteen.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/studentAdditionalInformationPartThree.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/studentAdditionalInformationPartTwelve.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/studentAdditionalInformationPartTwo.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/studentAdditionalInformationView.jsx
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/studentInformation.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-dependent-death/deceasedDependentArrayPages.js
  src/applications/disability-benefits/686c-674-v2/config/form.js
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-dependent-death/deceasedDependentsArray.unit.spec.js
Labels: dependents-benefits
