Repository department-of-veterans-affairs/vets-website, pull requests merged in 2024-03, with the labels that each got.

#28249 Update introduction burden information
  src/applications/pensions/components/IntroductionPage.jsx
Labels: pension-benefits

#28263 DR | Remove unused feature flags
  src/applications/appeals/10182/tests/containers/FormApp.unit.spec.jsx
  src/applications/appeals/995/components/WIP.jsx
  src/applications/appeals/995/containers/App.jsx
  src/applications/appeals/995/subtask/SubTaskContainer.jsx
  src/applications/appeals/995/tests/containers/App.unit.spec.jsx
  src/applications/appeals/995/tests/subtask/subtask.unit.spec.jsx
  src/applications/appeals/shared/tests/fixtures/mocks/feature-toggles.json
  src/platform/utilities/feature-toggles/featureFlagNames.js
Labels: front end, Tech Debt, NOD, benefits-team-1, Decision-Reviews-Team, Supplemental Claims

#28269 76006 - [FSR] - Remove deprecated code form previous form versions Veteran Information Chapter
  src/applications/financial-status-report/config/chapters/veteranInformationChapter.js
  src/applications/financial-status-report/pages/index.js
  src/applications/financial-status-report/pages/veteran/contact.js
Labels: front end, vsa-benefits-2

#28239 NOD | Update board review option radios
  src/applications/appeals/10182/content/boardReview.jsx
  src/applications/appeals/10182/pages/boardReview.js
  src/applications/appeals/10182/tests/pages/boardReview.unit.spec.jsx
  src/platform/forms-system/src/js/web-component-fields/VaRadioField.jsx
Labels: front end, Tech Debt, NOD, benefits-team-1, Decision-Reviews-Team

#28310 [CST] Remove EVSS code from OverviewPage component
  src/applications/claims-status/containers/OverviewPage.jsx
  src/applications/claims-status/selectors/index.js
  src/applications/claims-status/tests/components/OverviewPage.unit.spec.jsx
Labels: Claim Status Tool

#28287 [CST] - Closed claim status tab changes for V2
  src/applications/claims-status/components/ClaimComplete.jsx
  src/applications/claims-status/components/ClaimStatusHeader.jsx
  src/applications/claims-status/components/ClaimTimeline.jsx
  src/applications/claims-status/components/ClaimsDecision.jsx
  src/applications/claims-status/components/CompleteDetails.jsx
  src/applications/claims-status/components/claim-status-tab/ClosedClaimAlert.jsx
  src/applications/claims-status/components/claim-status-tab/NextSteps.jsx
  src/applications/claims-status/components/claim-status-tab/Payments.jsx
  src/applications/claims-status/components/claim-status-tab/RecentActivity.jsx
  src/applications/claims-status/components/claim-status-tab/WhatWeAreDoing.jsx
  src/applications/claims-status/components/claim-status-tab/WhatYouNeedToDo.jsx
  src/applications/claims-status/components/evss/ClaimStatusPageContent.jsx
  src/applications/claims-status/components/evss/ClaimsTimeline.jsx
  src/applications/claims-status/containers/ClaimStatusPage.jsx
  src/applications/claims-status/containers/FilesPage.jsx
  src/applications/claims-status/containers/OverviewPage.jsx
  src/applications/claims-status/tests/components/ClaimComplete.unit.spec.jsx
  src/applications/claims-status/tests/components/ClaimStatusHeader.unit.spec.jsx
  src/applications/claims-status/tests/components/ClaimsDecision.unit.spec.jsx
  src/applications/claims-status/tests/components/ClaimsTimeline.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-status-tab/ClosedClaimAlert.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-status-tab/NextSteps.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-status-tab/Payments.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-status-tab/RecentActivity.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-status-tab/WhatWeAreDoing.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-status-tab/WhatYouNeedToDo.unit.spec.jsx
  src/applications/claims-status/tests/utils/helpers.unit.spec.js
  src/applications/claims-status/utils/helpers.js
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#28225 Arf/74185/arp landing page sign in link
  src/applications/representatives/constants/index.js
  src/applications/representatives/constants/usip.js
  src/applications/representatives/containers/App.jsx
  src/applications/representatives/containers/LandingPage.jsx
  src/applications/representatives/mocks/feature-toggles.js
  src/applications/representatives/tests/e2e/accessibility.cypress.spec.js
  src/applications/representatives/tests/e2e/representatives.cypress.spec.js
  src/platform/user/authentication/config/constants.js
  src/platform/user/authentication/config/staging.config.js
  src/platform/user/authentication/constants.js
  src/platform/utilities/oauth/constants.js
Labels: benefits-accredited-rep-facing

#28302 76015 - [FSR] - Remove deprecated code form previous form versions Household Expenses Chapter
  src/applications/financial-status-report/config/chapters/householdExpensesChapter.js
  src/applications/financial-status-report/pages/expenses/other/index.js
  src/applications/financial-status-report/pages/expenses/other/records.js
  src/applications/financial-status-report/pages/expenses/repayments/index.js
  src/applications/financial-status-report/pages/expenses/repayments/records.js
  src/applications/financial-status-report/pages/expenses/utilities/index.js
  src/applications/financial-status-report/pages/expenses/utilities/records.js
  src/applications/financial-status-report/pages/index.js
Labels: front end, vsa-benefits-2

#28354 ARF-77687 fix ARP feature toggle
  src/applications/representatives/containers/App.jsx
  src/applications/representatives/tests/e2e/representatives.cypress.spec.js
Labels: benefits-accredited-rep-facing

#28365 Update special monthly pension page
  src/applications/pensions/config/chapters/03-health-and-employment-information/specialMonthlyPension.js
  src/applications/pensions/tests/unit/chapters/03-health-and-employment-information/specialMonthlyPension.unit.spec.jsx
Labels: pension-benefits

#28378 Update explanation for reasonForCurrentSeparation
  src/applications/pensions/config/chapters/04-household-information/reasonForCurrentSeparation.js
  src/applications/pensions/tests/unit/chapters/04-household-information/reasonForCurrentSeparation.unit.spec.jsx
Labels: pension-benefits

#28351 [CST] Remove EVSS code from DocumentRequestPage component
  src/applications/claims-status/components/evss/DocumentRequestPageContent.jsx
  src/applications/claims-status/containers/DocumentRequestPage.jsx
  src/applications/claims-status/sass/claims-status.scss
  src/applications/claims-status/tests/components/DocumentRequestPage.unit.spec.jsx
  src/applications/claims-status/tests/e2e/00.claims-list.cypress.spec.js
  src/applications/claims-status/tests/e2e/01.claim-status-decision.cypress.spec.js
  src/applications/claims-status/tests/e2e/01.claim-status.cypress.spec.js
  src/applications/claims-status/tests/e2e/02.claim-files.cypress.spec.js
  src/applications/claims-status/tests/e2e/03.claim-details.cypress.spec.js
  src/applications/claims-status/tests/e2e/04.claim-ask-va.cypress.spec.js
  src/applications/claims-status/tests/e2e/05.claim-additional-evidence.cypress.spec.js
  src/applications/claims-status/tests/e2e/05.claim-document-request.cypress.spec.js
  src/applications/claims-status/tests/e2e/fixtures/mocks/lighthouse/claim-detail-closed.json
  src/applications/claims-status/tests/e2e/fixtures/mocks/lighthouse/claim-detail.json
  src/applications/claims-status/tests/e2e/fixtures/mocks/lighthouse/feature-toggle-disabled.json
  src/applications/claims-status/tests/e2e/fixtures/mocks/lighthouse/feature-toggle-enabled.json
  src/applications/claims-status/tests/e2e/page-objects/TrackClaimsPage.js
Labels: Claim Status Tool

#28385 76021 - [FSR] - Remove deprecated code form previous form versions Resolution Options and Bankruptcy Chapters
  src/applications/financial-status-report/config/chapters/bankruptcyAttestationChapter.js
  src/applications/financial-status-report/pages/bankruptcy/records.js
  src/applications/financial-status-report/pages/index.js
Labels: front end, vsa-benefits-2

#28315 MHV-48128 Redirect the user if they don't have the MEDICAL_RECORDS service
  src/applications/mhv/medical-records/containers/App.jsx
  src/applications/mhv/medical-records/tests/containers/App.unit.spec.jsx
  src/applications/mhv/medical-records/tests/e2e/fixtures/user.json
  src/applications/mhv/medical-records/tests/e2e/medical-records-Download-txt-functionality-notesotes.cypress.spec.js
  src/platform/user/profile/constants/backendServices.js
Labels: 508/Accessibility

#28393 Removing EVSS claim code from AskVAPage
  src/applications/claims-status/containers/AskVAPage.jsx
  src/applications/claims-status/sass/claims-status.scss
  src/applications/claims-status/tests/components/AskVAPage.unit.spec.jsx
Labels: Claim Status Tool

#28396 Add additional upload info to NOD
  src/applications/appeals/10182/content/EvidenceUpload.jsx
  src/applications/appeals/10182/content/evidenceIntro.jsx
  src/applications/appeals/10182/pages/evidenceUpload.jsx
  src/applications/appeals/10182/tests/pages/evidenceUpload.unit.spec.js
Labels: front end, NOD, benefits-team-1, Decision-Reviews-Team

#28395 Update employment history field
  src/applications/pensions/config/chapters/03-health-and-employment-information/employmentHistory.js
  src/applications/pensions/helpers.jsx
  src/applications/pensions/tests/e2e/fixtures/data/maximal-test.json
  src/applications/pensions/tests/e2e/fixtures/data/overflow-test.json
  src/applications/pensions/tests/e2e/fixtures/data/simple-test.json
  src/applications/pensions/tests/unit/chapters/03-health-and-employment-information/employmentHistory.unit.spec.jsx
  src/applications/pensions/tests/unit/helpers.unit.spec.jsx
Labels: pension-benefits

#28407 Update introduction link
  src/applications/pensions/components/IntroductionPage.jsx
Labels: pension-benefits

#28398 [CST] - Added logic to hide the details tab
  src/applications/claims-status/components/TabNav.jsx
  src/applications/claims-status/routes.jsx
  src/applications/claims-status/tests/components/ClaimDetailLayout.unit.spec.jsx
  src/applications/claims-status/tests/components/TabNav.unit.spec.jsx
  src/applications/claims-status/tests/components/evss/ClaimDetailLayout.unit.spec.jsx
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#28416 FSR - Patch - EmploymentRecords & SpEmploymentRecords JS Optional Chaining Error Prevention
  src/applications/financial-status-report/components/employment/EmploymentHistorySummaryReview.jsx
Labels: front end, vsa-benefits-2

#28414 [CST] Remove EVSS references from DetailsPage component
  src/applications/claims-status/components/evss/DetailsPageContent.jsx
  src/applications/claims-status/containers/DetailsPage.jsx
  src/applications/claims-status/tests/components/DetailsPage.unit.spec.jsx
Labels: Claim Status Tool

#28294 Update uiSchema titles to titleUI pattern
  src/applications/pensions/components/DisclosureTitle.jsx
  src/applications/pensions/components/HomeAcreageValueInput.jsx
  src/applications/pensions/components/SpouseMarriageTitle.jsx
  src/applications/pensions/config/chapters/01-applicant-information/contactInformation.js
  src/applications/pensions/config/chapters/01-applicant-information/mailingAddress.js
  src/applications/pensions/config/chapters/02-military-history/generalHistory.js
  src/applications/pensions/config/chapters/02-military-history/pow.js
  src/applications/pensions/config/chapters/02-military-history/previousNames.js
  src/applications/pensions/config/chapters/02-military-history/servicePeriod.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/currentEmployment.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/employmentHistory.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/federalTreatmentHistory.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/medicaidCoverage.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/medicaidStatus.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/medicalCenters.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/medicalCondition.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/nursingHome.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/socialSecurityDisability.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/vaTreatmentHistory.js
  src/applications/pensions/config/chapters/04-household-information/currentSpouseAddress.js
  src/applications/pensions/config/chapters/04-household-information/currentSpouseFormerMarriages.jsx
  src/applications/pensions/config/chapters/04-household-information/currentSpouseMaritalHistory.js
  src/applications/pensions/config/chapters/04-household-information/currentSpouseMonthlySupport.js
  src/applications/pensions/config/chapters/04-household-information/dependentChildInformation.js
  src/applications/pensions/config/chapters/04-household-information/dependentChildren.js
  src/applications/pensions/config/chapters/04-household-information/hasDependents.js
  src/applications/pensions/config/chapters/04-household-information/maritalStatus.js
  src/applications/pensions/config/chapters/04-household-information/reasonForCurrentSeparation.js
  src/applications/pensions/config/chapters/05-financial-information/careExpenses.js
  src/applications/pensions/config/chapters/05-financial-information/hasCareExpenses.js
  src/applications/pensions/config/chapters/05-financial-information/hasMedicalExpenses.js
  src/applications/pensions/config/chapters/05-financial-information/homeAcreageMoreThanTwo.js
  src/applications/pensions/config/chapters/05-financial-information/homeOwnership.js
  src/applications/pensions/config/chapters/05-financial-information/incomeSources.js
  src/applications/pensions/config/chapters/05-financial-information/landMarketable.js
  src/applications/pensions/config/chapters/05-financial-information/medicalExpenses.js
  src/applications/pensions/config/chapters/05-financial-information/netWorthEstimation.js
  src/applications/pensions/config/chapters/05-financial-information/receivesIncome.js
  src/applications/pensions/config/chapters/05-financial-information/totalNetWorth.js
  src/applications/pensions/config/chapters/05-financial-information/transferredAssets.js
  src/applications/pensions/config/chapters/06-additional-information/documentUpload.js
  src/applications/pensions/config/chapters/06-additional-information/fasterClaimProcessing.js
  src/applications/pensions/config/chapters/06-additional-information/supportingDocuments.js
  src/applications/pensions/config/form.js
  src/applications/pensions/helpers.jsx
  src/applications/pensions/sass/pensions.scss
  src/platform/forms-system/src/js/web-component-patterns/titlePattern.js
Labels: pension-benefits

#28380 NOD | Update hearing type radio to v3
  src/applications/appeals/10182/content/boardReview.jsx
  src/applications/appeals/10182/content/hearingType.js
  src/applications/appeals/10182/pages/boardReview.js
  src/applications/appeals/10182/pages/hearingType.js
  src/applications/appeals/10182/sass/10182-nod.scss
  src/applications/appeals/10182/tests/pages/hearingType.unit.spec.jsx
  src/applications/ivc-champva/10-10D/config/form.js
  src/platform/forms-system/src/js/web-component-patterns/radioPattern.jsx
Labels: front end, Tech Debt, NOD, benefits-team-1, Decision-Reviews-Team

#28426 [CST] Removing more EVSS specific code from DetailsPage component
  src/applications/claims-status/containers/DetailsPage.jsx
Labels: Claim Status Tool

#28442 [CST] - Update Files and Overview Tabs for closed status
  src/applications/claims-status/components/ClaimTimeline.jsx
  src/applications/claims-status/components/claim-files-tab/AdditionalEvidencePage.jsx
  src/applications/claims-status/components/claim-files-tab/ClaimFileHeader.jsx
  src/applications/claims-status/containers/FilesPage.jsx
  src/applications/claims-status/containers/OverviewPage.jsx
  src/applications/claims-status/tests/components/OverviewPage.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-files-tab/AdditionalEvidencePage.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-files-tab/ClaimFileHeader.unit.spec.jsx
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#28413 DR | Refactor reducers
  src/applications/appeals/10182/actions/index.js
  src/applications/appeals/10182/components/ContestableIssuesWidget.jsx
  src/applications/appeals/10182/reducers/contestableIssues.js
  src/applications/appeals/10182/tests/actions/actions.unit.spec.js
  src/applications/appeals/10182/tests/components/ContestableIssuesWidget.unit.spec.jsx
  src/applications/appeals/10182/tests/containers/FormApp.unit.spec.jsx
  src/applications/appeals/10182/tests/reducers/reducers.unit.spec.js
  src/applications/appeals/995/actions/index.js
  src/applications/appeals/995/containers/App.jsx
  src/applications/appeals/995/reducers/contestableIssues.js
  src/applications/appeals/995/tests/actions/actions.unit.spec.js
  src/applications/appeals/995/tests/reducers/contestableIssues.unit.spec.js
  src/applications/appeals/996/actions/index.js
  src/applications/appeals/996/containers/Form0996App.jsx
  src/applications/appeals/996/reducers/contestableIssues.js
  src/applications/appeals/996/tests/actions/actions.unit.spec.js
  src/applications/appeals/996/tests/containers/FormApp.unit.spec.jsx
  src/applications/appeals/996/tests/containers/IntroductionPage.unit.spec.jsx
  src/applications/appeals/996/tests/reducers/reducers.unit.spec.js
  src/applications/appeals/shared/reducers/contestableIssues.js
  src/applications/appeals/shared/tests/reducers/reducers.unit.spec.js
  src/applications/appeals/testing/components/ContestableIssuesWidget.jsx
Labels: front end, HLR, Tech Debt, NOD, benefits-team-1, Decision-Reviews-Team, Supplemental Claims

#28228 Use vets json schema fixtures for pension cypress tests
  src/applications/pensions/tests/e2e/pensions.cypress.spec.js
  src/platform/testing/e2e/cypress/support/form-tester/README.md
  src/platform/testing/e2e/cypress/support/form-tester/index.js
Labels: pension-benefits

#28429 [CST] Remove EVSS code from ClosedClaimMessage component
  src/applications/claims-status/components/ClosedClaimMessage.jsx
  src/applications/claims-status/tests/components/ClosedClaimMessage.unit.spec.jsx
Labels: Claim Status Tool

#28434 NOD | TTY updated to be Phone Link
  src/applications/appeals/10182/content/GetFormHelp.jsx
Labels: design, 508/Accessibility, benefits-team-1, Decision-Reviews-Team, Notice of Disagreement

#28469 DR | Add set-focus to loading indicator
  src/applications/appeals/995/containers/App.jsx
  src/applications/appeals/995/containers/ITFWrapper.jsx
  src/applications/appeals/996/containers/Form0996App.jsx
Labels: 508/Accessibility, front end, HLR, NOD, benefits-team-1, Decision-Reviews-Team, Supplemental Claims

#28410 Update faster claim processing page
  src/applications/pensions/config/chapters/06-additional-information/fasterClaimProcessing.js
  src/applications/pensions/tests/unit/chapters/06-additional-information/fasterClaimProcessing.unit.spec.jsx
  src/applications/pensions/tests/unit/config/expedited.unit.spec.jsx
Labels: pension-benefits

#28402 NOD and SC | Update Max and Min filesize error content
  src/platform/forms-system/src/js/actions.js
  src/platform/forms-system/test/js/actions.unit.spec.js
Labels: front end, benefits-team-1, Decision-Reviews-Team, Supplemental Claims, Notice of Disagreement

#28391 Updated deprecated care expenses fields
  package.json
  src/applications/pensions/config/chapters/03-health-and-employment-information/employmentHistory.js
  src/applications/pensions/config/chapters/05-financial-information/careExpenses.js
  src/applications/pensions/helpers.jsx
  src/applications/pensions/migrations.js
  src/applications/pensions/tests/e2e/fixtures/data/maximal-test.json
  src/applications/pensions/tests/e2e/fixtures/data/overflow-test.json
  src/applications/pensions/tests/e2e/fixtures/data/simple-test.json
  src/applications/pensions/tests/fixtures/data/v4formData.json
  src/applications/pensions/tests/unit/chapters/03-health-and-employment-information/employmentHistory.unit.spec.jsx
  src/applications/pensions/tests/unit/chapters/05-financial-information/careExpenses.unit.spec.jsx
  src/applications/pensions/tests/unit/helpers.unit.spec.jsx
  yarn.lock
Labels: pension-benefits

#28440 Render saved page content
  src/platform/site-wide/wc-loader.js
  src/platform/startup/react.js
  src/platform/startup/tests/react.unit.spec.js
Labels: enhancement, front end, platform, HLR, NOD, benefits-team-1, Decision-Reviews-Team, Supplemental Claims

#28501 Update add dependents page
  src/applications/pensions/config/chapters/04-household-information/dependentChildren.js
  src/applications/pensions/tests/unit/chapters/04-household-information/dependentChildren.unit.spec.jsx
Labels: pension-benefits

#28468 Pension 76771 update dependent address
  src/applications/pensions/config/chapters/04-household-information/dependentChildAddress.js
  src/applications/pensions/config/form.js
  src/applications/pensions/sass/pensions.scss
  src/applications/pensions/tests/unit/chapters/04-household-information/dependentChildAddress.unit.spec.jsx
  src/applications/pensions/tests/unit/config/dependentChildAddress.unit.spec.jsx
Labels: pension-benefits

#28494 No delete modal on upload cancel
  src/platform/forms-system/src/js/fields/FileField.jsx
  src/platform/forms-system/src/js/utilities/file/ShowPdfPassword.jsx
  src/platform/forms-system/test/js/fields/FileField.unit.spec.jsx
  src/platform/forms-system/test/js/utilities/file.unit.spec.js
Labels: front end, NOD, benefits-team-1, Decision-Reviews-Team, Supplemental Claims

#28523 [CST] - Update Need Help section to no longer be on the right sidebar
  src/applications/claims-status/components/AskVAQuestions.jsx
  src/applications/claims-status/components/ClaimDetailLayout.jsx
  src/applications/claims-status/components/NeedHelp.jsx
  src/applications/claims-status/components/appeals-v2/AppealHelpSidebar.jsx
  src/applications/claims-status/components/evss/ClaimDetailLayout.jsx
  src/applications/claims-status/containers/AskVAPage.jsx
  src/applications/claims-status/containers/ClaimEstimationPage.jsx
  src/applications/claims-status/containers/DocumentRequestPage.jsx
  src/applications/claims-status/containers/YourClaimsPageV2.jsx
  src/applications/claims-status/tests/components/AskVAQuestions.unit.spec.jsx
  src/applications/claims-status/tests/components/NeedHelp.unit.spec.jsx
  src/applications/claims-status/tests/components/YourClaimsPageV2.unit.spec.jsx
  src/applications/claims-status/tests/components/appeals-v2/AppealHelpSidebar.unit.spec.jsx
  src/applications/claims-status/utils/omniChannel.js
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#28541 [CDP] - [MCP] - Remove Unused Applications
  .github/CODEOWNERS
  config/changed-apps-build.json
  jsconfig-example.json
  src/applications/medical-copays/actions/index.js
  src/applications/medical-copays/app-entry.jsx
  src/applications/medical-copays/components/AccountSummary.jsx
  src/applications/medical-copays/components/AlertView.jsx
  src/applications/medical-copays/components/Alerts.jsx
  src/applications/medical-copays/components/BalanceCard.jsx
  src/applications/medical-copays/components/BalanceQuestions.jsx
  src/applications/medical-copays/components/Balances.jsx
  src/applications/medical-copays/components/DisputeCharges.jsx
  src/applications/medical-copays/components/DownloadStatement.jsx
  src/applications/medical-copays/components/FinancialHelp.jsx
  src/applications/medical-copays/components/HTMLStatementLink.jsx
  src/applications/medical-copays/components/HTMLStatementList.jsx
  src/applications/medical-copays/components/HowToPay.jsx
  src/applications/medical-copays/components/LoadingSpinner.jsx
  src/applications/medical-copays/components/Modals.jsx
  src/applications/medical-copays/components/OnThisPage.jsx
  src/applications/medical-copays/components/OtherVADebts.jsx
  src/applications/medical-copays/components/PDFStatementList.jsx
  src/applications/medical-copays/components/PaymentHistoryTable.jsx
  src/applications/medical-copays/components/StatementAddresses.jsx
  src/applications/medical-copays/components/StatementCharges.jsx
  src/applications/medical-copays/containers/DetailPage.jsx
  src/applications/medical-copays/containers/HTMLStatementPage.jsx
  src/applications/medical-copays/containers/MedicalCopaysApp.jsx
  src/applications/medical-copays/containers/OverviewPage.jsx
  src/applications/medical-copays/manifest.json
  src/applications/medical-copays/reducers/index.js
  src/applications/medical-copays/routes.jsx
  src/applications/medical-copays/sass/medical-copays.scss
  src/applications/medical-copays/sass/partials/_balance-card.scss
  src/applications/medical-copays/sass/partials/_charge-details.scss
  src/applications/medical-copays/sass/partials/_statement-page.scss
  src/applications/medical-copays/tests/e2e/cdp-alert.cypress.spec.js
  src/applications/medical-copays/tests/e2e/fixtures/mocks/cdp-alert-feature-toggles.json
  src/applications/medical-copays/tests/e2e/fixtures/mocks/copays.json
  src/applications/medical-copays/tests/e2e/fixtures/mocks/feature-toggles.json
  src/applications/medical-copays/tests/e2e/fixtures/mocks/mock-user.json
  src/applications/medical-copays/tests/e2e/fixtures/mocks/statement-feature-toggles.json
  src/applications/medical-copays/tests/e2e/mcp.cypress.spec.js
  src/applications/medical-copays/tests/e2e/statements.cypress.spec.js
  src/applications/medical-copays/tests/unit/actions.unit.spec.js
  src/applications/medical-copays/tests/unit/otherdebts.unit.spec.js
  src/applications/medical-copays/tests/unit/reducers.unit.spec.js
  src/applications/medical-copays/tests/unit/statement.unit.spec.js
  src/applications/medical-copays/utils/alert-messages.jsx
  src/applications/medical-copays/utils/helpers.js
  src/applications/medical-copays/utils/mocks/debts.json
  src/applications/medical-copays/utils/mocks/debtsError.json
  src/applications/medical-copays/utils/mocks/debtsVBMS.json
  src/applications/medical-copays/utils/mocks/mockDebtResponses.js
Labels: front end, vsa-benefits-2

#28542 [CDP] - [LTR] - Remove Unused Applications
  .github/CODEOWNERS
  jsconfig-example.json
  src/applications/debt-letters/actions/index.js
  src/applications/debt-letters/app-entry.jsx
  src/applications/debt-letters/components/Alerts.jsx
  src/applications/debt-letters/components/DebtCardsList.jsx
  src/applications/debt-letters/components/DebtDetails.jsx
  src/applications/debt-letters/components/DebtLetterCard.jsx
  src/applications/debt-letters/components/DebtLettersDownload.jsx
  src/applications/debt-letters/components/DebtLettersSummary.jsx
  src/applications/debt-letters/components/DebtLettersTable.jsx
  src/applications/debt-letters/components/DebtLettersWrapper.jsx
  src/applications/debt-letters/components/ExpandableAlert.jsx
  src/applications/debt-letters/components/HistoryTable.jsx
  src/applications/debt-letters/components/HowDoIPay.jsx
  src/applications/debt-letters/components/NeedHelp.jsx
  src/applications/debt-letters/components/OnThisPageLinks.jsx
  src/applications/debt-letters/components/OtherVADebts.jsx
  src/applications/debt-letters/const/deduction-codes/index.js
  src/applications/debt-letters/const/diary-codes/index.js
  src/applications/debt-letters/manifest.json
  src/applications/debt-letters/reducers/index.js
  src/applications/debt-letters/routes.js
  src/applications/debt-letters/sass/debt-letters.scss
  src/applications/debt-letters/sass/partials/_expandable-alert.scss
  src/applications/debt-letters/selectors.js
  src/applications/debt-letters/tests/DebtCardsList.unit.spec.js
  src/applications/debt-letters/tests/DebtLetterCard.unit.spec.js
  src/applications/debt-letters/tests/DebtLettersDownload.unit.spec.js
  src/applications/debt-letters/tests/DebtLettersSummary.unit.spec.js
  src/applications/debt-letters/tests/DebtLettersWrapper.unit.spec.jsx
  src/applications/debt-letters/tests/actions.unit.spec.js
  src/applications/debt-letters/tests/e2e/cdp-alert.cypress.spec.js
  src/applications/debt-letters/tests/e2e/debt-letters.cypress.spec.js
  src/applications/debt-letters/tests/e2e/diary-codes-content.cypress.spec.js
  src/applications/debt-letters/tests/e2e/diary-codes-next-step.cypress.spec.js
  src/applications/debt-letters/tests/e2e/fixtures/mocks/copays.json
  src/applications/debt-letters/tests/e2e/fixtures/mocks/debts.json
  src/applications/debt-letters/tests/e2e/fixtures/mocks/debtsError.json
  src/applications/debt-letters/tests/e2e/fixtures/mocks/debtsVBMS.json
  src/applications/debt-letters/tests/e2e/fixtures/mocks/feature-toggles.json
  src/applications/debt-letters/tests/e2e/fixtures/mocks/mock-user.json
  src/applications/debt-letters/tests/reducers.unit.spec.js
  src/applications/debt-letters/utils/alert-messages.jsx
  src/applications/debt-letters/utils/helpers.js
  src/applications/debt-letters/utils/mockDebtLinks.json
  src/applications/debt-letters/utils/mockResponses.js
  src/applications/debt-letters/utils/page.js
  src/applications/personalization/dashboard/components/debts/DebtsCard.jsx
  src/applications/personalization/dashboard/components/notifications/DebtNotificationAlert.jsx
  src/applications/personalization/dashboard/components/notifications/TestNotification.jsx
  src/applications/static-pages/cta-widget/ctaWidgets.js
Labels: front end, vsa-benefits-2

#28547 SC | Update to use USWDS v3 web components
  src/applications/appeals/10182/config/form.js
  src/applications/appeals/10182/sass/10182-nod.scss
  src/applications/appeals/995/components/EvidencePrivateRecords.jsx
  src/applications/appeals/995/config/form.js
  src/applications/appeals/995/content/evidenceVaRecordsRequest.jsx
  src/applications/appeals/995/content/evidenceWillUpload.jsx
  src/applications/appeals/995/pages/evidenceVaRecordsRequest.js
  src/applications/appeals/995/pages/evidenceWillUpload.js
  src/applications/appeals/995/sass/995-supplemental-claim.scss
  src/applications/appeals/995/tests/pages/evidenceVaRecordsRequest.unit.spec.jsx
  src/applications/appeals/995/tests/pages/evidenceWillUpload.unit.spec.jsx
  src/applications/appeals/995/utils/upload.js
  src/applications/appeals/996/sass/0996-higher-level-review.scss
  src/applications/appeals/shared/sass/appeals.scss
  src/applications/appeals/shared/utils/focus.js
  src/applications/appeals/testing/sass/appeals-testing.scss
  src/platform/forms-system/src/js/web-component-patterns/yesNoPattern.jsx
Labels: front end, Tech Debt, benefits-team-1, Decision-Reviews-Team, Supplemental Claims

#28525 DR | Update Max and Min filesize error staging/prod and buttons locally
  src/platform/forms-system/src/js/actions.js
  src/platform/forms-system/src/js/fields/FileField.jsx
  src/platform/forms-system/test/js/actions.unit.spec.js
  src/platform/forms-system/test/js/fields/FileField.unit.spec.jsx
Labels: front end, benefits-team-1, Supplemental Claims, Notice of Disagreement

#28296 [CST] Removing cst_use_new_claim_cards and omni_channel_link from featureFlagNames
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: Claim Status Tool

#28568 [CST] Remove EVSS code from ClaimStatusPage component
  src/applications/claims-status/components/evss/ClaimDetailLayout.jsx
  src/applications/claims-status/components/evss/ClaimPhase.jsx
  src/applications/claims-status/components/evss/ClaimStatusPageContent.jsx
  src/applications/claims-status/components/evss/ClaimsTimeline.jsx
  src/applications/claims-status/containers/ClaimStatusPage.jsx
  src/applications/claims-status/tests/components/ClaimStatusPage.unit.spec.jsx
  src/applications/claims-status/tests/components/ClaimsTimeline.unit.spec.jsx
  src/applications/claims-status/tests/components/FilesPage.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-status-tab/WhatYouNeedToDo.unit.spec.jsx
  src/applications/claims-status/tests/components/evss/ClaimDetailLayout.unit.spec.jsx
  src/applications/claims-status/tests/components/evss/ClaimPhase.unit.spec.jsx
  src/applications/claims-status/tests/components/evss/ClaimStatusPageContent.unit.spec.jsx
Labels: Claim Status Tool

#28580 [CST] Add readme to Claim Status Tool
  src/applications/claims-status/README.md
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#28582 [Letters] Add readme to Letters
  src/applications/letters/README.md
Labels: benefits-team-1, benefits-management-tools

#28595 [Rated Disabilities] Added readme to rated disabilities
  src/applications/rated-disabilities/README.md
Labels: benefits-team-1, benefits-management-tools, Rated Disabilities

#28602 [View Payments] - Add to the view payments readme
  src/applications/disability-benefits/view-payments/README.md
Labels: benefits-team-1, benefits-management-tools, View Payments

#28216 [CST] - Migrate v1 components to v3 components for Stem files and 'your claim letters'
  src/applications/claims-status/components/StemAskVAQuestions.jsx
  src/applications/claims-status/containers/YourClaimLetters/index.jsx
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#28163 [Rated Disabilities] - Migrate v1 components to v3 components
  src/applications/rated-disabilities/components/FeatureFlagsLoaded.jsx
  src/applications/rated-disabilities/components/Learn.jsx
  src/applications/rated-disabilities/components/MVIError.jsx
  src/applications/rated-disabilities/components/NeedHelp.jsx
  src/applications/rated-disabilities/components/NoCombinedRating.jsx
  src/applications/rated-disabilities/components/RatedDisabilityList.jsx
  src/applications/rated-disabilities/components/RatedDisabilityListItem.jsx
  src/applications/rated-disabilities/components/RatingLists/NoRatings.jsx
  src/applications/rated-disabilities/components/ServerError.jsx
  src/applications/rated-disabilities/components/SortSelect.jsx
  src/applications/rated-disabilities/components/TotalRatedDisabilities.jsx
  src/applications/rated-disabilities/components/TotalRatingStates.jsx
Labels: benefits-team-1, benefits-management-tools, Rated Disabilities

#28579 [CST] Removing EVSS code from AdditionalEvidencePage component
  src/applications/claims-status/components/claim-files-tab/AdditionalEvidencePage.jsx
  src/applications/claims-status/containers/AdditionalEvidencePageOld.jsx
  src/applications/claims-status/tests/components/AdditionalEvidencePageOld.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-files-tab/AdditionalEvidencePage.unit.spec.jsx
  src/applications/claims-status/tests/e2e/08.claim-letters-keyboard-only.cypress.spec.js
Labels: Claim Status Tool

#28611 SC | Refactor evidence pages
  src/applications/appeals/995/components/EvidencePrivateLimitation.jsx
  src/applications/appeals/995/components/EvidencePrivateRecords.jsx
  src/applications/appeals/995/components/EvidencePrivateRecordsAuthorization.jsx
  src/applications/appeals/995/components/EvidencePrivateRecordsRequest.jsx
  src/applications/appeals/995/components/EvidenceRecords.jsx
  src/applications/appeals/995/components/EvidenceSummary.jsx
  src/applications/appeals/995/components/EvidenceSummaryReview.jsx
  src/applications/appeals/995/components/EvidenceVaRecords.jsx
  src/applications/appeals/995/components/Notice5103.jsx
  src/applications/appeals/995/components/PrimaryPhone.jsx
  src/applications/appeals/995/components/PrimaryPhoneReview.jsx
  src/applications/appeals/995/containers/App.jsx
  src/applications/appeals/995/content/IssueSummary.jsx
  src/applications/appeals/995/content/evidencePrivateRecords.jsx
  src/applications/appeals/995/content/evidenceVaRecords.jsx
  src/applications/appeals/995/tests/995-supplemental-claim.cypress.spec.js
  src/applications/appeals/995/tests/components/EvidencePrivateRecords.unit.spec.jsx
  src/applications/appeals/995/tests/components/EvidenceVaRecords.unit.spec.jsx
  src/applications/appeals/995/tests/components/helpers.js
  src/applications/appeals/shared/components/AreaOfDisagreement.jsx
  src/applications/appeals/shared/props.js
  src/applications/appeals/testing/components/AreaOfDisagreement.jsx
  src/applications/appeals/testing/components/PrimaryPhone.jsx
Labels: front end, Tech Debt, benefits-team-1, Decision-Reviews-Team, Supplemental Claims

#28642 Remove VA & upload evidence yes/no from review page
  src/applications/appeals/995/pages/evidenceVaRecordsRequest.js
  src/applications/appeals/995/pages/evidenceWillUpload.js
Labels: bug, front end, benefits-team-1, Decision-Reviews-Team, Supplemental Claims

#28637 SC | Bump RUM session rate to 100%
  src/applications/appeals/995/containers/App.jsx
Labels: front end, benefits-team-1, Decision-Reviews-Team, Supplemental Claims

#28640 [Letters] - Update letter readme
  src/applications/letters/README.md
Labels: benefits-team-1, benefits-management-tools, Benefits Letters

#28454 73848 Checkbox and loop for Gulf War 1990 location + dates pages
  src/applications/disability-benefits/all-claims/constants.js
  src/applications/disability-benefits/all-claims/content/toxicExposure.jsx
  src/applications/disability-benefits/all-claims/pages/index.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/gulfWar1990LocationDates.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/gulfWar1990Locations.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/toxicExposurePages.js
  src/applications/disability-benefits/all-claims/tests/content/toxicExposure.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/gulfWar1990LocationDates.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/gulfWar1990Locations.unit.spec.jsx
  src/applications/disability-benefits/all-claims/utils/index.jsx
  src/platform/forms-system/src/js/web-component-fields/VaCheckboxGroupField.jsx
Labels: disability-compensation

#28559 Pension 76768 Spouse info - update deprecated fields
  src/applications/pensions/config/chapters/04-household-information/spouseInfo.js
  src/applications/pensions/config/form.js
  src/applications/pensions/tests/unit/chapters/04-household-information/spouseInfo.unit.spec.jsx
  src/applications/pensions/tests/unit/config/spouseMarriageInfo.unit.spec.jsx
Labels: pension-benefits, pension

#28656 [CST] - Update Notification.jsx to use va web components
  src/applications/claims-status/components/Notification.jsx
  src/applications/claims-status/tests/components/Notification.unit.spec.jsx
  src/applications/claims-status/tests/e2e/page-objects/TrackClaimsPage.js
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#28650 [CST] Remove EVSS code from the ClaimPage component
  src/applications/claims-status/containers/ClaimPage.jsx
  src/applications/claims-status/tests/components/ClaimPage.unit.spec.jsx
Labels: Claim Status Tool

#28681 78782 Enable v3 progress bar
  src/applications/disability-benefits/all-claims/config/form.js
Labels: disability-compensation

#28648 Update fields
  src/applications/pensions/config/chapters/04-household-information/dependentChildInformation.js
Labels: pension-benefits

#28683 [CST] Removing getTrackedItems EVSS helper
  src/applications/claims-status/components/claim-files-tab/AdditionalEvidencePage.jsx
  src/applications/claims-status/components/claim-status-tab/WhatYouNeedToDo.jsx
  src/applications/claims-status/tests/components/ClaimStatusPage.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-status-tab/WhatYouNeedToDo.unit.spec.jsx
  src/applications/claims-status/tests/utils/helpers.unit.spec.js
  src/applications/claims-status/utils/helpers.js
Labels: Claim Status Tool

#28621 Pensions 76767 update marriage history
  src/applications/pensions/config/chapters/04-household-information/marriageHistory.js
  src/applications/pensions/config/form.js
  src/applications/pensions/helpers.jsx
  src/applications/pensions/sass/pensions.scss
  src/applications/pensions/tests/unit/chapters/04-household-information/marriageHistory.unit.spec.jsx
  src/applications/pensions/tests/unit/config/marriageHistory.unit.spec.jsx
  src/applications/pensions/tests/unit/validation.unit.spec.js
  src/applications/pensions/validation.js
Labels: pension-benefits

#28692 [CST] - Update the Upload Status Modal on AddFilesForm
  src/applications/claims-status/components/AddFilesFormOld.jsx
  src/applications/claims-status/components/claim-files-tab/AddFilesForm.jsx
  src/applications/claims-status/tests/components/AddFilesFormOld.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-files-tab/AddFilesForm.unit.spec.jsx
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#28679 Pension 78466 update currency fields
  src/applications/pensions/config/chapters/04-household-information/currentSpouseMonthlySupport.js
  src/applications/pensions/config/chapters/05-financial-information/careExpenses.js
  src/applications/pensions/config/chapters/05-financial-information/incomeSources.js
  src/applications/pensions/config/chapters/05-financial-information/medicalExpenses.js
  src/applications/pensions/config/chapters/05-financial-information/netWorthEstimation.js
  src/applications/pensions/sass/pensions.scss
Labels: pension-benefits

#28725 Revert "Bump SC RUM session rate to 100% (#28637)"
  src/applications/appeals/995/containers/App.jsx
Labels: front end, benefits-team-1, Decision-Reviews-Team, Supplemental Claims

#28702 76052 - [FSR] - Update FSR transform to remove deprecated calculations/functionality
  src/applications/financial-status-report/components/employment/SpouseEmploymentHistoryWidget.jsx
  src/applications/financial-status-report/tests/unit/transform.unit.spec.jsx
  src/applications/financial-status-report/tests/unit/unit-maximal.json
  src/applications/financial-status-report/utils/helpers.js
  src/applications/financial-status-report/utils/transform.js
Labels: front end, vsa-benefits-2

#28691 Find a Rep data layer events
  src/applications/representative-search/actions/representatives/fetchRepresentatives.js
  src/applications/representative-search/actions/search/searchWithInput.js
  src/applications/representative-search/components/results/ResultsList.jsx
  src/applications/representative-search/components/results/SearchResult.jsx
  src/applications/representative-search/containers/SearchPage.jsx
  src/applications/representative-search/tests/components/SearchResult.unit.spec.jsx
  src/applications/representative-search/utils/analytics.js
Labels: find-a-representative

#28732 Move place of last separation to service period
  src/applications/pensions/components/ServicePeriodReview.jsx
  src/applications/pensions/config/chapters/02-military-history/generalHistory.js
  src/applications/pensions/config/chapters/02-military-history/servicePeriod.js
  src/applications/pensions/tests/unit/chapters/02-military-history/generalHistory.unit.spec.jsx
Labels: pension-benefits

#28737 Pension remove gender from in-progress forms
  src/applications/pensions/config/form.js
  src/applications/pensions/migrations.js
  src/applications/pensions/tests/unit/migrations.unit.spec.js
Labels: pension-benefits

#28721 [CST] - Update CST V1 Components to V3 Components PR #1
  src/applications/claims-status/components/ClaimContentionList.jsx
  src/applications/claims-status/components/ClaimDetailLayout.jsx
  src/applications/claims-status/components/ClaimLetterList.jsx
  src/applications/claims-status/components/ClaimLetterListItem.jsx
  src/applications/claims-status/components/ClaimsBreadcrumbs.jsx
  src/applications/claims-status/constants.js
  src/applications/claims-status/containers/AppealInfo.jsx
  src/applications/claims-status/containers/AskVAPage.jsx
  src/applications/claims-status/containers/ClaimEstimationPage.jsx
  src/applications/claims-status/containers/DocumentRequestPage.jsx
  src/applications/claims-status/containers/StemClaimStatusPage.jsx
  src/applications/claims-status/containers/YourClaimLetters/index.jsx
  src/applications/claims-status/tests/components/Breadcrumbs.unit.spec.jsx
  src/applications/claims-status/tests/components/ClaimsBreadcrumbs.unit.spec.jsx
  src/applications/claims-status/tests/components/appeals-v2/AppealInfo.unit.spec.jsx
  src/applications/claims-status/tests/e2e/08.claim-letters-keyboard-only.cypress.spec.js
  src/applications/claims-status/tests/e2e/08.claim-letters.cypress.spec.js
  src/applications/claims-status/tests/e2e/page-objects/TrackClaimsPage.js
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#28747 DR | Update Need Help component for consistency
  src/applications/appeals/10182/config/form.js
  src/applications/appeals/10182/content/GetFormHelp.jsx
  src/applications/appeals/995/config/form.js
  src/applications/appeals/995/content/GetFormHelp.jsx
  src/applications/appeals/996/config/form.js
  src/applications/appeals/996/content/GetFormHelp.jsx
  src/applications/appeals/download/containers/ViewAppeal.jsx
  src/applications/appeals/download/tests/submitted-appeal.cypress.spec.js
  src/applications/appeals/shared/content/GetFormHelp.jsx
  src/applications/appeals/testing/config/form.js
  src/applications/appeals/testing/containers/App.jsx
  src/applications/appeals/testing/containers/IntroductionPage.jsx
  src/applications/appeals/testing/content/GetFormHelp.jsx
  src/applications/appeals/testing/tests/appeals-testing.cypress.spec.js
Labels: front end, benefits-team-1, Decision-Reviews-Team, Supplemental Claims, Higher Level Reviews, Notice of Disagreement

#28762 [Rated Disabilities] - Update va-link to v3 component
  src/applications/rated-disabilities/components/CombinedRating.jsx
Labels: benefits-team-1, benefits-management-tools, Rated Disabilities

#28651 HLR - Update optin and informal rep to uswds components
  src/applications/appeals/996/content/OptIn.jsx
  src/applications/appeals/996/pages/informalConference.js
  src/applications/appeals/996/pages/informalConferenceRep.js
  src/applications/appeals/996/pages/informalConferenceTime.js
  src/applications/appeals/996/pages/informalConferenceTimeRep.js
  src/applications/appeals/996/pages/optIn.js
  src/applications/appeals/996/tests/hlr-keyboard-only.cypress.spec.js
  src/applications/appeals/996/tests/hlr.cypress.spec.js
  src/applications/appeals/996/tests/pages/InformalConference.unit.spec.jsx
  src/applications/appeals/996/tests/pages/informalConferenceRep.unit.spec.js
  src/applications/appeals/996/tests/pages/informalConferenceTime.unit.spec.js
  src/applications/appeals/996/tests/pages/informalConferenceTimeRep.unit.spec.js
  src/applications/appeals/996/tests/pages/optIn.unit.spec.js
  src/platform/testing/e2e/cypress/support/commands/keyboardNavigation.js
Labels: front end, Tech Debt, benefits-team-1, Decision-Reviews-Team, Higher Level Reviews

#28767 [CST] - update accept prop to not have spaces in the list of file types
  src/applications/claims-status/components/claim-files-tab/AddFilesForm.jsx
Labels: benefits-team-1, benefits-management-tools

#28780 [CST] Update buildDateFormatter to have a default format
  src/applications/claims-status/components/ClaimDetailLayout.jsx
  src/applications/claims-status/components/ClaimLetterListItem.jsx
  src/applications/claims-status/components/ClaimStatusHeader.jsx
  src/applications/claims-status/components/ClaimsListItem.jsx
  src/applications/claims-status/components/ClosedClaimMessage.jsx
  src/applications/claims-status/components/DueDate.jsx
  src/applications/claims-status/components/StemClaimListItem.jsx
  src/applications/claims-status/components/appeals-v2/AppealListItem.jsx
  src/applications/claims-status/components/claim-files-tab/DocumentsFiled.jsx
  src/applications/claims-status/components/claim-status-tab/RecentActivity.jsx
  src/applications/claims-status/containers/ClaimStatusPage.jsx
  src/applications/claims-status/containers/DetailsPage.jsx
  src/applications/claims-status/containers/FilesPage.jsx
  src/applications/claims-status/containers/OverviewPage.jsx
  src/applications/claims-status/tests/components/ClaimStatusHeader.unit.spec.jsx
  src/applications/claims-status/tests/components/DueDate.unit.spec.jsx
  src/applications/claims-status/utils/helpers.js
Labels: Claim Status Tool

#28786 [CST] - Update CST V1 Components to V3 Components PR #2
  src/applications/claims-status/components/AddFilesFormOld.jsx
  src/applications/claims-status/components/ClaimPhase.jsx
  src/applications/claims-status/components/ClaimSyncWarning.jsx
  src/applications/claims-status/components/ClaimsDecision.jsx
  src/applications/claims-status/components/ClaimsListItem.jsx
  src/applications/claims-status/components/ClosedClaimMessage.jsx
  src/applications/claims-status/containers/YourClaimsPageV2.jsx
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#28793 NDBEX 63351: Updated schema
  package.json
  yarn.lock
Labels: Burials, burial-benefits

#28799 NOD & SC | Check PDF encryption on backend
  src/applications/appeals/shared/components/FileField.jsx
  src/applications/appeals/shared/components/ShowPdfPassword.jsx
  src/applications/appeals/shared/tests/components/FileField.unit.spec.jsx
  src/applications/appeals/shared/tests/components/ShowPdfPassword.unit.spec.jsx
  src/applications/appeals/shared/tests/utils/focus.unit.spec.js
  src/applications/appeals/shared/tests/utils/upload.unit.spec.js
  src/applications/appeals/shared/utils/focus.js
  src/applications/appeals/shared/utils/upload.js
  src/platform/forms-system/src/js/actions.js
  src/platform/forms-system/test/js/actions.unit.spec.js
Labels: bug, front end, NOD, benefits-team-1, Decision-Reviews-Team, Supplemental Claims

#28739 Set disableAnalytics to prevent multiple data layer events
  src/applications/representative-search/components/results/SearchResult.jsx
Labels: find-a-representative

#28811 DR | Show error for uploads with long file names
  src/applications/appeals/shared/components/FileField.jsx
  src/applications/appeals/shared/tests/components/FileField.unit.spec.jsx
  src/applications/appeals/shared/tests/utils/upload.unit.spec.js
  src/applications/appeals/shared/utils/upload.js
Labels: front end, NOD, benefits-team-1, Decision-Reviews-Team, Supplemental Claims

#28830 70029 - [CDP] Bug - Investigate authenticated redirects
  src/applications/static-pages/cta-widget/ctaWidgets.js
Labels: front end, vsa-benefits-2

#28836 [CST] - Remove DurationCard since it is no longer being used in the CST for appeals
  src/applications/claims-status/components/appeals-v2/Docket.jsx
  src/applications/claims-status/components/appeals-v2/DurationCard.jsx
  src/applications/claims-status/components/appeals-v2/NextEvent.jsx
  src/applications/claims-status/components/appeals-v2/WhatsNext.jsx
  src/applications/claims-status/tests/components/appeals-v2/Docket.unit.spec.jsx
  src/applications/claims-status/tests/components/appeals-v2/Duration.unit.spec.jsx
  src/applications/claims-status/tests/components/appeals-v2/NextEvent.unit.spec.jsx
  src/applications/claims-status/tests/components/appeals-v2/WhatsNext.unit.spec.jsx
  src/applications/claims-status/tests/utils/helpers.unit.spec.js
  src/applications/claims-status/utils/appeals-v2-helpers.jsx
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#28826 Replacement application URL changes
  src/applications/pensions/21p527ez/README.md
  src/applications/pensions/manifest.json
  src/applications/pensions/tests/e2e/cypress.setup.js
  src/applications/pensions/tests/unit/PensionsApp.unit.spec.jsx
  src/applications/static-pages/pension-how-do-i-apply-widget/components/App/index.js
  src/applications/static-pages/pension-how-do-i-apply-widget/components/App/index.unit.spec.js
  src/platform/landing-pages/header-footer-data.json
Labels: pension-benefits

#28833 Adding representative status widget
  src/applications/registry.scaffold.json
  src/applications/static-pages/representative-status/components/App/index.jsx
  src/applications/static-pages/representative-status/index.jsx
  src/applications/static-pages/static-pages-entry.js
  src/applications/static-pages/widgetTypes.js
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: find-a-representative

#28619 78597 Update content about single direct deposit account requirement
  src/applications/disability-benefits/all-claims/components/PaymentView.jsx
  src/applications/disability-benefits/all-claims/content/paymentInformation.jsx
  src/applications/disability-benefits/all-claims/pages/paymentInformation.js
  src/applications/disability-benefits/all-claims/tests/components/PaymentView.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/paymentInformation.unit.spec.jsx
Labels: disability-compensation

#28617 Support typescript in webpack build
  config/base-tsconfig.json
  config/readme.md
  config/webpack.config.js
Labels: pension-benefits
