Repository department-of-veterans-affairs/vets-website, pull requests merged in 2024-09, with the labels that each got.

#31619 Updated 1p 5103 alert content and remediated associated logic
  src/applications/claims-status/components/claim-document-request-pages/Default5103EvidenceNotice.jsx
  src/applications/claims-status/components/claim-files-tab/FilesNeeded.jsx
  src/applications/claims-status/components/claim-status-tab/RecentActivity.jsx
  src/applications/claims-status/constants.js
  src/applications/claims-status/tests/components/claim-document-request-pages/Default5103EvidenceNotice.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-files-tab/AdditionalEvidencePage.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-files-tab/FilesNeeded.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-files-tab/Standard5103Alert.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-status-tab/RecentActivity.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-status-tab/WhatYouNeedToDo.unit.spec.jsx
  src/applications/claims-status/tests/e2e/05.claim-document-request.cypress.spec.js
  src/applications/claims-status/tests/e2e/page-objects/TrackClaimsPageV2.js
Labels: Claim Status Tool

#31653 Disable cypress window unload in CI
  src/applications/income-and-asset-statement/config/form.js
  src/applications/pensions/config/form.js
  src/applications/pensions/tests/e2e/cypress.setup.js
Labels: pension-benefits

#31703 HLR | Code cleanup
  src/applications/appeals/996/config/submit-transformer.js
  src/applications/appeals/996/constants.js
  src/applications/appeals/996/containers/Form0996App.jsx
  src/applications/appeals/996/migrations/02-rep-phone-fix.js
  src/applications/appeals/996/migrations/forceMigrations.js
  src/applications/appeals/996/pages/informalConferenceTime.js
  src/applications/appeals/996/pages/informalConferenceTimeRep.js
  src/applications/appeals/996/tests/containers/FormApp.unit.spec.jsx
  src/applications/appeals/996/tests/fixtures/data/maximal-test-v1.json
  src/applications/appeals/996/tests/fixtures/data/maximal-test-v2.5.json
  src/applications/appeals/996/tests/fixtures/data/migrated/02-migrated-v1-to-v2.json
  src/applications/appeals/996/tests/fixtures/data/migrated/maximal-test-v1-to-v2.json
  src/applications/appeals/996/tests/fixtures/data/migrated/save-in-progress-v1.js
  src/applications/appeals/996/tests/hlr-v2.5.cypress.spec.js
  src/applications/appeals/996/tests/migrations/01-lighthouse-v2-updates.unit.spec.js
  src/applications/appeals/996/tests/migrations/02-rep-phone-fix.unit.spec.js
  src/applications/appeals/996/tests/migrations/forceMigrations.unit.spec.js
  src/applications/appeals/996/utils/submit.js
  src/applications/appeals/shared/tests/utils/helpers.unit.spec.js
  src/applications/appeals/shared/utils/helpers.js
  src/applications/appeals/testing/hlr/containers/Form0996App.jsx
  src/applications/appeals/testing/hlr/migrations/02-rep-phone-fix.js
  src/applications/appeals/testing/hlr/migrations/forceMigrations.js
Labels: front end, HLR, Tech Debt, Decision-Reviews-Team

#31760 SC prototype | Update issues & clear form
  src/applications/appeals/testing/sc/config/form.js
  src/applications/appeals/testing/sc/tests/fixtures/data/prototype-test.json
Labels: front end, Decision-Reviews-Team, Supplemental Claims

#31604 Appoint a rep - search representative screen
  src/applications/representative-appoint/api/fetchRepresentatives.js
  src/applications/representative-appoint/components/SearchResult.jsx
  src/applications/representative-appoint/components/SelectAccreditedRepresentative.jsx
  src/applications/representative-appoint/config/form.js
  src/applications/representative-appoint/constants/api.js
  src/applications/representative-appoint/containers/App.jsx
  src/applications/representative-appoint/pages/index.js
  src/applications/representative-appoint/pages/representative/selectAccreditedRepresentative.js
  src/applications/representative-appoint/pages/veteran/veteranIdentification.js
  src/applications/representative-appoint/pages/veteran/veteranPersonalInformation.js
  src/applications/representative-appoint/utilities/helpers.js
Labels: appoint-a-representative

#31734 Pension 91042 Remove module flipper from Frontend
  src/applications/pensions/PensionsApp.jsx
  src/applications/pensions/config/submit.js
  src/applications/pensions/tests/e2e/cypress.setup.js
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: pension-benefits

#31780 DR | Fix continued review page scroll & focus
  src/applications/appeals/995/components/ITFBanner.jsx
Labels: bug, front end, HLR, NOD, Decision-Reviews-Team, Supplemental Claims

#31654 [91108] Update appoint a rep intro page to match design
  src/applications/representative-appoint/components/GetFormHelp.jsx
  src/applications/representative-appoint/config/form.js
  src/applications/representative-appoint/containers/IntroductionPage.jsx
  src/applications/static-pages/representative-status/components/App/index.jsx
  src/applications/static-pages/representative-status/components/States/Unauth.jsx
  src/applications/static-pages/representative-status/index.jsx
Labels: appoint-a-representative

#31784 Multiple Response Pattern Submit
  src/applications/pensions/config/chapters/04-household-information/dependentChildrenPages.js
  src/applications/pensions/config/chapters/05-financial-information/totalNetWorth.js
Labels: pension-benefits

#31805 HLR | New form content updates
  src/applications/appeals/996/components/InformalConference.jsx
  src/applications/appeals/996/containers/ConfirmationPage.jsx
  src/applications/appeals/996/content/InformalConference.jsx
  src/applications/appeals/996/content/contestableIssues.jsx
  src/applications/appeals/996/content/introduction.jsx
  src/applications/appeals/996/pages/homeless.js
  src/applications/appeals/shared/components/ConfirmationDecisionReviews.jsx
  src/applications/appeals/shared/components/DateSubmitted.jsx
  src/applications/appeals/shared/content/homeless.jsx
Labels: front end, HLR, Decision-Reviews-Team

#31674 DR | Update & add keyboard-only e2e tests
  src/applications/appeals/10182/tests/10182-keyboard-only.cypress.spec.js
  src/applications/appeals/995/components/EvidencePrivateRecordsAuthorization.jsx
  src/applications/appeals/995/tests/995-keyboard-only.cypress.spec.js
  src/applications/appeals/995/tests/fixtures/data/keyboard-test.json
  src/applications/appeals/996/tests/hlr-keyboard-only.cypress.spec.js
  src/applications/appeals/shared/tests/cypress.helpers.js
  src/platform/utilities/tests/ui/focus.unit.spec.jsx
  src/platform/utilities/ui/focus.js
Labels: front end, HLR, NOD, Decision-Reviews-Team, Supplemental Claims

#31807 91555 - [CDP] - Unique Page Titles for Debt Portal
  src/applications/combined-debt-portal/combined/containers/OverviewPage.jsx
  src/applications/combined-debt-portal/combined/hooks/useHeaderPageTitle.jsx
  src/applications/combined-debt-portal/debt-letters/containers/DebtDetails.jsx
  src/applications/combined-debt-portal/debt-letters/containers/DebtLettersDownload.jsx
  src/applications/combined-debt-portal/debt-letters/containers/DebtLettersSummary.jsx
  src/applications/combined-debt-portal/medical-copays/containers/DetailPage.jsx
  src/applications/combined-debt-portal/medical-copays/containers/HTMLStatementPage.jsx
  src/applications/combined-debt-portal/medical-copays/containers/SummaryPage.jsx
Labels: front end, vsa-benefits-2

#31781 [FSR] 85928 - VaCheckbox refactor
  src/applications/financial-status-report/components/debtsAndCopays/AvailableDebtsAndCopays.jsx
  src/applications/financial-status-report/components/debtsAndCopays/CopayCheckBox.jsx
  src/applications/financial-status-report/components/debtsAndCopays/DebtCheckBox.jsx
  src/applications/financial-status-report/components/resolution/ResolutionWaiverAgreement.jsx
  src/applications/financial-status-report/pages/resolution/resolutionWaiverAgreement.js
  src/applications/financial-status-report/pages/veteran/combinedDebts.js
  src/applications/financial-status-report/sass/financial-status-report.scss
  src/applications/financial-status-report/tests/e2e/fsr-5655-complete.cypress.spec.js
  src/applications/financial-status-report/tests/e2e/fsr-5655-contact-loop.cypress.spec.js
  src/applications/financial-status-report/tests/e2e/fsr-5655-minimal.cypress.spec.js
  src/applications/financial-status-report/tests/e2e/fsr-5655-streamlined-waiver-long.cypress.spec.js
  src/applications/financial-status-report/tests/e2e/fsr-5655-streamlined-waiver-short.cypress.spec.js
Labels: financial-status-report

#31771 [CST] Pass tracked item id to submit5103
  src/applications/claims-status/actions/index.js
  src/applications/claims-status/components/claim-document-request-pages/Default5103EvidenceNotice.jsx
  src/applications/claims-status/components/claim-files-tab/FilesNeeded.jsx
  src/applications/claims-status/tests/actions/index.unit.spec.js
  src/applications/claims-status/tests/components/claim-files-tab/FilesNeeded.unit.spec.jsx
  src/applications/claims-status/tests/e2e/fixtures/mocks/lighthouse/feature-toggle-5103-update-enabled-v2.json
  src/applications/claims-status/tests/e2e/fixtures/mocks/lighthouse/feature-toggle-5103-update-enabled.json
Labels: Claim Status Tool

#31835 SC | Fix evidence focus
  src/applications/appeals/995/components/EvidencePrivateRecords.jsx
  src/applications/appeals/995/components/EvidenceVaRecords.jsx
  src/applications/appeals/995/utils/focus.js
  src/applications/appeals/testing/sc/components/EvidencePrivateRecords.jsx
  src/applications/appeals/testing/sc/components/EvidenceVaRecords.jsx
Labels: bug, front end, Decision-Reviews-Team, Supplemental Claims

#31790 91342 Use va-checkbox component
  src/applications/disability-benefits/all-claims/content/toxicExposure.jsx
  src/applications/disability-benefits/all-claims/pages/toxicExposure/additionalExposuresDetails.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/gulfWar1990Details.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/gulfWar2001Details.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/herbicideDetails.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/herbicideOtherLocations.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/specifyOtherExposures.js
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/additionalExposuresDetails.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/gulfWar1990Details.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/gulfWar2001Details.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/herbicideDetails.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/herbicideOtherLocations.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/specifyOtherExposures.unit.spec.jsx
Labels: disability-compensation

#31863 HLR | Update content
  src/applications/appeals/996/config/submit-transformer.js
  src/applications/appeals/996/containers/ConfirmationPage.jsx
  src/applications/appeals/996/content/Authorization.jsx
  src/applications/appeals/996/pages/homeless.js
  src/applications/appeals/996/tests/pages/homeless.unit.spec.js
  src/applications/appeals/shared/content/homeless.jsx
Labels: HLR, Decision-Reviews-Team, frontend

#31870 Global | Remove progress-box padding
  src/platform/forms/sass/_m-schemaform.scss
Labels: platform, Tech Debt, frontend

#31864 NOD | Hide PDF download content for now
  src/applications/appeals/10182/components/ConfirmationPageV2.jsx
  src/applications/appeals/10182/tests/components/ConfirmationPagev2.unit.spec.jsx
Labels: NOD, Decision-Reviews-Team, frontend

#31882 SC prototype | remove fieldset
  src/applications/appeals/testing/sc/pages/_mockContactInfo.jsx
Labels: 508/Accessibility, Decision-Reviews-Team, Supplemental Claims, frontend

#31637 Dependents 81254 | Step 3: Add Students (Form 674)
  src/applications/disability-benefits/686c-674-v2/components/ArrayViewField.jsx
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/index.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-address-marriage-tuition/helpers.jsx
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-address-marriage-tuition/studentAddressMarriageTuition.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-income-information/studentIncomeInformation.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/helpers.jsx
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/studentAdditionalInformation.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/studentAdditionalInformationPartEight.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/studentAdditionalInformationPartEleven.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/studentAdditionalInformationPartFive.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/studentAdditionalInformationPartFour.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/studentAdditionalInformationPartNine.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/studentAdditionalInformationPartSeven.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/studentAdditionalInformationPartSix.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/studentAdditionalInformationPartTen.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/studentAdditionalInformationPartThirteen.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/studentAdditionalInformationPartThree.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/studentAdditionalInformationPartTwelve.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/studentAdditionalInformationPartTwo.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/studentAdditionalInformationView.jsx
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-information/studentInformation.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-last-term-information/studentLastTerm.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-name-ssn/helpers.jsx
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-name-ssn/studentNameSSN.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-networth-information/studentNetworthInformation.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-school-address/helpers.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-school-address/studentSchoolAddress.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/674/student-term-dates/studentTermDates.js
  src/applications/disability-benefits/686c-674-v2/config/form.js
  src/applications/disability-benefits/686c-674-v2/config/helpers.js
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/report-divorce/formerSpouseInformation.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/student-information/studentAdditionalInformation.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/config/chapters/student-information/studentInformation.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/config/studentAddressMarriageTuition.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/studentIncomeInformation.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/studentLastTermInfo.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/studentNameSSN674.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/studentNetworthInformation.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/studentSchoolAddress.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/config/studentTermDates.unit.spec.jsx
  src/applications/disability-benefits/686c-674-v2/tests/e2e/686C-674.cypress.spec.js
  src/applications/disability-benefits/686c-674-v2/tests/e2e/fixtures/add-child-add-674.json
Labels: dependents-benefits

#31838 [CST] Updated Document Request page header for 5103s, and the breadcrumb
  src/applications/claims-status/components/claim-document-request-pages/Default5103EvidenceNotice.jsx
  src/applications/claims-status/containers/Standard5103NoticePage.jsx
  src/applications/claims-status/tests/components/DocumentRequestPage.unit.spec.jsx
  src/applications/claims-status/tests/components/Standard5103NoticePage.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-document-request-pages/Default5103EvidenceNotice.unit.spec.jsx
  src/applications/claims-status/tests/e2e/page-objects/TrackClaimsPageV2.js
  src/applications/claims-status/tests/utils/helpers.unit.spec.js
  src/applications/claims-status/utils/helpers.js
Labels: front end, Claim Status Tool

#31861 [CST] [Frontend] Added new doctype descriptions to ClaimLetterListItem.jsx
  src/applications/claims-status/components/claim-letters/ClaimLetterListItem.jsx
Labels: Claim Status Tool, frontend

#31739 Employer Multiple Response Pages
  src/applications/pensions/config/chapters/03-health-and-employment-information/currentEmployment.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/currentEmploymentHistory.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/currentEmploymentHistoryPages.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/helpers.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/index.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/previousEmploymentHistory.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/previousEmploymentHistoryPages.js
Labels: pension-benefits

#31855 List loop review page strings
  src/applications/accredited-representative-portal/accreditation/21a/pages/07-character-references-chapter/characterReferencesPages.js
  src/platform/forms-system/src/js/patterns/array-builder/ArrayBuilderSummaryPage.jsx
  src/platform/forms-system/src/js/patterns/array-builder/README.md
  src/platform/forms-system/src/js/patterns/array-builder/tests/arrayBuilderSummaryPage.unit.spec.js
  src/platform/forms-system/src/js/types.js
Labels: benefits-accredited-rep-facing

#31922 SC & SC prototype | Fix focus on 5103 page
  src/applications/appeals/995/content/notice5103.jsx
  src/applications/appeals/995/tests/utils/focus.unit.spec.js
  src/applications/appeals/995/utils/focus.js
  src/applications/appeals/testing/sc/content/notice5103.jsx
  src/applications/appeals/testing/sc/utils/focus.js
Labels: bug, Decision-Reviews-Team, Supplemental Claims, frontend

#31920 SC prototype | Fix continued review page scroll & focus
  src/applications/appeals/testing/sc/components/ITFBanner.jsx
Labels: bug, Decision-Reviews-Team, Supplemental Claims, frontend

#31943 [91101] Add org select page to 21-22 Form
  src/applications/representative-appoint/components/ClaimantType.jsx
  src/applications/representative-appoint/components/SearchResult.jsx
  src/applications/representative-appoint/components/SelectAccreditedRepresentative.jsx
  src/applications/representative-appoint/config/form.js
  src/applications/representative-appoint/config/organizations/DynamicRadioWidget.jsx
  src/applications/representative-appoint/pages/index.js
  src/applications/representative-appoint/pages/representative/selectAccreditedOrganization.js
  src/applications/representative-appoint/utilities/helpers.js
Labels: appoint-a-representative

#31948 SC prototype | Fix wrapping & shared data name
  src/applications/appeals/shared/sass/appeals.scss
  src/applications/appeals/testing/sc/components/EvidencePrivateRecordsAuthorization.jsx
  src/applications/appeals/testing/sc/pages/evidencePrivateRecordsAuthorization.js
  src/applications/appeals/testing/sc/tests/fixtures/data/101-issues.json
  src/applications/appeals/testing/sc/tests/fixtures/data/maximal-test.json
  src/applications/appeals/testing/sc/tests/fixtures/data/minimal-test.json
  src/applications/appeals/testing/sc/tests/fixtures/data/no-evidence-test.json
  src/applications/appeals/testing/sc/tests/fixtures/data/partial-evidence-test.json
  src/applications/appeals/testing/sc/utils/submit.js
Labels: bug, HLR, NOD, Decision-Reviews-Team, Supplemental Claims, frontend

#31952 [91108] Appoint rep intro page fixups
  src/applications/representative-appoint/components/Breadcrumbs.jsx
  src/applications/representative-appoint/containers/IntroductionPage.jsx
Labels: appoint-a-representative

#31968 Add headline slot to review accordion
  src/platform/forms-system/src/js/review/ReviewCollapsibleChapter.jsx
  src/platform/forms-system/test/js/review/ReviewCollapsibleChapter.unit.spec.jsx
Labels: bug, Decision-Reviews-Team, frontend

#31981 SC prototype | Start app with action link & fix typo
  src/applications/appeals/shared/components/ContestableIssues.jsx
  src/applications/appeals/testing/sc/containers/IntroductionPage.jsx
  src/applications/appeals/testing/sc/content/facilityTypes.js
Labels: Decision-Reviews-Team, Supplemental Claims, frontend

#31987 SC prototype | Fix start claim action link
  src/applications/appeals/testing/sc/containers/IntroductionPage.jsx
Labels: Decision-Reviews-Team, Supplemental Claims, frontend

#31990 SC prototype | Fix top start app action link
  src/applications/appeals/testing/sc/containers/IntroductionPage.jsx
Labels: bug, Decision-Reviews-Team, Supplemental Claims, frontend

#31945 Styling search result
  src/applications/representative-appoint/components/SearchResult.jsx
  src/applications/representative-appoint/components/SelectAccreditedRepresentative.jsx
  src/applications/representative-appoint/config/form.js
  src/applications/representative-appoint/pages/formToggle.js
  src/applications/representative-appoint/pages/index.js
  src/applications/representative-appoint/pages/representative/selectAccreditedRepresentative.js
Labels: appoint-a-representative

#31995 [91108] Form 21-22 intro page auth state fixups
  src/applications/representative-appoint/components/SearchResult.jsx
  src/applications/representative-appoint/containers/IntroductionPage.jsx
Labels: appoint-a-representative

#32012 SC prototype | Use simple help footer
  src/applications/appeals/testing/sc/config/form.js
Labels: Decision-Reviews-Team, Supplemental Claims, frontend

#32009 SC & SC prototype: Fix review header levels
  src/applications/appeals/995/components/EvidenceSummary.jsx
  src/applications/appeals/995/components/PrimaryPhone.jsx
  src/applications/appeals/995/content/evidenceSummary.jsx
  src/applications/appeals/995/tests/content/evidenceSummary.unit.spec.jsx
  src/applications/appeals/shared/utils/helpers.js
  src/applications/appeals/testing/sc/components/EvidenceSummary.jsx
  src/applications/appeals/testing/sc/components/PrimaryPhone.jsx
  src/applications/appeals/testing/sc/content/evidenceSummary.jsx
  src/applications/appeals/testing/sc/content/livingSituation.jsx
  src/applications/appeals/testing/sc/pages/housingRisk.js
  src/applications/appeals/testing/sc/pages/livingSituation.js
  src/applications/appeals/testing/sc/pages/optionForMst.js
  src/applications/appeals/testing/sc/pages/optionIndicator.js
  src/applications/appeals/testing/sc/pages/otherHousingRisk.js
Labels: Decision-Reviews-Team, Supplemental Claims, frontend

#32020 HLR | Update content
  src/applications/appeals/996/containers/IntroductionPage.jsx
  src/applications/appeals/996/content/InformalConference.jsx
  src/applications/appeals/996/content/InformalConferenceContact.jsx
  src/applications/appeals/996/content/introduction.jsx
Labels: HLR, Decision-Reviews-Team, frontend

#32015 [91108] Appoint a Rep Form 21-22 bump rep status widget header from 2 to 3
  src/applications/representative-appoint/containers/IntroductionPage.jsx
Labels: appoint-a-representative

#32036 SC prototype | Update VA evidence date hint
  src/applications/appeals/shared/constants.js
  src/applications/appeals/shared/content/intro.jsx
  src/applications/appeals/shared/sass/appeals.scss
  src/applications/appeals/testing/sc/config/form.js
  src/applications/appeals/testing/sc/containers/IntroductionPage.jsx
  src/applications/appeals/testing/sc/content/OmbInfo.jsx
  src/applications/appeals/testing/sc/content/evidenceVaRecords.jsx
  src/applications/appeals/testing/sc/content/facilityTypes.js
  src/applications/appeals/testing/sc/content/livingSituation.jsx
  src/applications/appeals/testing/sc/pages/facilityTypes.js
  src/applications/appeals/testing/sc/tests/fixtures/data/maximal-test.json
Labels: Decision-Reviews-Team, Supplemental Claims, frontend

#32033 HLR | Update new content
  src/applications/appeals/996/config/form.js
  src/applications/appeals/996/constants.js
  src/applications/appeals/996/containers/IntroductionPage.jsx
  src/applications/appeals/996/content/InformalConferenceContact.jsx
  src/applications/appeals/996/content/NeedHelp.jsx
  src/applications/appeals/996/content/contestableIssues.jsx
  src/applications/appeals/996/content/introduction.jsx
  src/applications/appeals/996/tests/content/introduction.unit.spec.jsx
Labels: HLR, Decision-Reviews-Team, frontend

#31941 91546 - [FSR] - Refactor resolution options radio button group to use design system component
  src/applications/financial-status-report/components/resolution/ResolutionOptions.jsx
  src/applications/financial-status-report/components/shared/CurrentDebtTitle.jsx
  src/applications/financial-status-report/pages/resolution/resolutionComment.js
  src/applications/financial-status-report/pages/resolution/resolutionOption.js
  src/applications/financial-status-report/sass/financial-status-report.scss
  src/applications/financial-status-report/tests/e2e/fsr-5655-complete.cypress.spec.js
  src/applications/financial-status-report/tests/e2e/fsr-5655-minimal.cypress.spec.js
  src/applications/financial-status-report/utils/fileValidation.js
Labels: vsa-benefits-2, frontend

#31979 Multiple page gross monthly income pages
  package.json
  src/applications/pensions/config/chapters/05-financial-information/helpers.js
  src/applications/pensions/config/chapters/05-financial-information/incomeSources.js
  src/applications/pensions/config/chapters/05-financial-information/incomeSourcesPages.js
  src/applications/pensions/config/chapters/05-financial-information/index.js
  src/applications/pensions/config/chapters/05-financial-information/receivesIncome.js
  src/applications/pensions/sass/pensions.scss
  src/applications/pensions/tests/unit/chapters/05-financial-information/incomeSourcesPages.unit.spec.jsx
  yarn.lock
Labels: pension-benefits

#32078 Appoint a Representative - replace rep screen
  src/applications/representative-appoint/21-22-schema.json
  src/applications/representative-appoint/api/fetchRepStatus.js
  src/applications/representative-appoint/components/Address.jsx
  src/applications/representative-appoint/components/ClaimantTypeForm.jsx
  src/applications/representative-appoint/components/ContactCard.jsx
  src/applications/representative-appoint/components/CurrentAccreditedRepresentative.jsx
  src/applications/representative-appoint/components/GoogleMapLink.jsx
  src/applications/representative-appoint/components/ReplaceAccreditedRepresentative.jsx
  src/applications/representative-appoint/components/SearchResult.jsx
  src/applications/representative-appoint/config/form.js
  src/applications/representative-appoint/constants/api.js
  src/applications/representative-appoint/containers/App.jsx
  src/applications/representative-appoint/containers/IntroductionPage.jsx
  src/applications/representative-appoint/containers/NextStepsPage.jsx
  src/applications/representative-appoint/pages/index.js
  src/applications/representative-appoint/pages/representative/replaceAccreditedRepresentative.js
  src/applications/representative-appoint/tests/components/AddressBlock.unit.spec.jsx
  src/applications/representative-appoint/tests/components/ContactCard.unit.spec.jsx
  src/applications/representative-appoint/tests/components/GoogleMapLink.unit.spec.jsx
Labels: appoint-a-representative

#32105 Rep replace screen
  src/applications/representative-appoint/components/ReplaceAccreditedRepresentative.jsx
  src/applications/representative-appoint/components/SearchResult.jsx
  src/applications/representative-appoint/containers/App.jsx
Labels: appoint-a-representative

#32116 HLR | Fix default socOptIn submit value
  src/applications/appeals/996/config/submit-transformer.js
  src/applications/appeals/996/tests/config/submit-transformer.unit.spec.js
Labels: bug, HLR, Decision-Reviews-Team, frontend

#32125 NOD | Fix confirmation page success alert typo
  src/applications/appeals/10182/components/ConfirmationPageV2.jsx
Labels: NOD, Decision-Reviews-Team, frontend

#32114 Arf/92798/21a.url prefix
  src/applications/accredited-representative-portal/accreditation/21a/containers/Form.jsx
  src/applications/accredited-representative-portal/accreditation/21a/containers/IntroductionPage.jsx
  src/applications/accredited-representative-portal/accreditation/21a/pages/03-employment-information-chapter/employersPages.js
  src/applications/accredited-representative-portal/accreditation/21a/pages/helpers/backgroundInformationDetailsPageSchema.js
  src/applications/accredited-representative-portal/accreditation/21a/routes.jsx
  src/applications/accredited-representative-portal/app-entry.jsx
  src/applications/accredited-representative-portal/components/common/Header/common/UserNav.jsx
  src/applications/accredited-representative-portal/containers/App.jsx
  src/applications/accredited-representative-portal/containers/LandingPage.jsx
  src/applications/accredited-representative-portal/routes.jsx
  src/applications/accredited-representative-portal/selectors/navigation.js
  src/applications/accredited-representative-portal/selectors/user.js
  src/applications/accredited-representative-portal/tests/accreditation/21a/e2e/fixtures/mocks/test-data.json
Labels: benefits-accredited-rep-facing

#32130 [ARF-92798] ARP 21a URL: Remove dead 2122 code.
  src/applications/accredited-representative-portal/actions/poaRequests.js
  src/applications/accredited-representative-portal/components/DigitalSubmissionAlert/DigitalSubmissionAlert.jsx
  src/applications/accredited-representative-portal/components/LandingPageWelcome/LandingPageWelcome.jsx
  src/applications/accredited-representative-portal/components/NoPOAPermissionsAlert/NoPOAPermissionsAlert.jsx
  src/applications/accredited-representative-portal/components/NotInPilotAlert/NotInPilotAlert.jsx
  src/applications/accredited-representative-portal/components/POARequestsTable/POARequestsTable.jsx
  src/applications/accredited-representative-portal/components/POARequestsTableFetcher/POARequestsTableFetcher.jsx
  src/applications/accredited-representative-portal/components/common/Breadcrumbs.jsx
  src/applications/accredited-representative-portal/components/common/ErrorMessage.jsx
  src/applications/accredited-representative-portal/containers/LandingPage.jsx
  src/applications/accredited-representative-portal/containers/POARequestsPage.jsx
  src/applications/accredited-representative-portal/containers/SignedInLayout.jsx
  src/applications/accredited-representative-portal/containers/SignedInLayoutWrapper.jsx
  src/applications/accredited-representative-portal/hooks/usePOARequests.js
  src/applications/accredited-representative-portal/mocks/mockPOARequestsResponse.json
  src/applications/accredited-representative-portal/sass/accredited-representative-portal.scss
  src/applications/accredited-representative-portal/tests/e2e/accredited-representative-portal.cypress.spec.js
  src/applications/accredited-representative-portal/tests/unit/actions/poaRequests.unit.spec.js
  src/applications/accredited-representative-portal/tests/unit/components/DigitalSubmissionAlert.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/components/NoPOAPermissionsAlert.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/components/NotInPilotAlert.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/components/POARequestsTable.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/components/POARequestsTableFetcher.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/components/common/Breadcrumbs.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/components/common/ErrorMessage.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/containers/LandingPage.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/containers/POARequestsPage.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/containers/SignedInLayout.unit.spec.jsx
Labels: benefits-accredited-rep-facing

#32073 Pension 88680 care expense pages
  src/applications/pensions/config/chapters/05-financial-information/careExpenses.js
  src/applications/pensions/config/chapters/05-financial-information/careExpensesPages.js
  src/applications/pensions/config/chapters/05-financial-information/hasCareExpenses.js
  src/applications/pensions/config/chapters/05-financial-information/helpers.js
  src/applications/pensions/config/chapters/05-financial-information/incomeSourcesPages.js
  src/applications/pensions/config/chapters/05-financial-information/index.js
  src/applications/pensions/labels.jsx
Labels: pension-benefits

#32107 [CDP] VBA payment history remove payment disclaimer and heading updates
  src/applications/combined-debt-portal/combined/components/OtherVADebts.jsx
  src/applications/combined-debt-portal/combined/containers/OverviewPage.jsx
  src/applications/combined-debt-portal/debt-letters/components/DebtCardsList.jsx
  src/applications/combined-debt-portal/debt-letters/components/DebtSummaryCard.jsx
  src/applications/combined-debt-portal/debt-letters/containers/DebtDetails.jsx
  src/applications/combined-debt-portal/debt-letters/containers/DebtLettersSummary.jsx
  src/applications/combined-debt-portal/debt-letters/tests/DebtSummaryCard.unit.spec.js
  src/applications/combined-debt-portal/medical-copays/containers/SummaryPage.jsx
Labels: combined-debt-portal

#32145 Arf/submit transformer.fix
  src/applications/accredited-representative-portal/accreditation/21a/config/submit-transformer.js
  src/applications/accredited-representative-portal/accreditation/21a/tests/e2e/21a.cypress.spec.js
  src/applications/accredited-representative-portal/accreditation/21a/tests/e2e/fixtures/mocks/in-progress-form.json
  src/applications/accredited-representative-portal/accreditation/21a/tests/e2e/fixtures/mocks/test-data.json
  src/applications/accredited-representative-portal/accreditation/21a/tests/e2e/fixtures/mocks/user.json
  src/applications/accredited-representative-portal/accreditation/21a/tests/e2e/helpers/index.js
  src/applications/accredited-representative-portal/accreditation/21a/tests/submit-transformer.unit.spec.js
  src/applications/accredited-representative-portal/accreditation/21a/tests/unit/submit-transformer.unit.spec.js
  src/applications/accredited-representative-portal/tests/e2e/Header.cypress.spec.js
  src/applications/accredited-representative-portal/tests/e2e/accessibility.cypress.spec.js
  src/applications/accredited-representative-portal/tests/e2e/accredited-representative-portal.cypress.spec.js
Labels: benefits-accredited-rep-facing

#32140 Appoint a Representative rep select
  src/applications/representative-appoint/components/SearchResult.jsx
  src/applications/representative-appoint/components/SelectAccreditedRepresentative.jsx
Labels: appoint-a-representative
