Repository department-of-veterans-affairs/vets-website, pull requests merged in 2024-02, with the labels that each got.

#27759 66217 - [FSR] Work history bugs - Employment Work Dates
  src/applications/financial-status-report/components/employment/EmploymentWorkDates.jsx
  src/applications/financial-status-report/components/employment/SpouseEmploymentWorkDates.jsx
  src/applications/financial-status-report/utils/helpers.js
Labels: front end, vsa-benefits-2

#27776 NOD and SC | Fix maximum attachment size to match Lighthouse's API limits
  src/applications/appeals/995/constants.js
  src/applications/appeals/995/content/evidenceUpload.jsx
  src/applications/appeals/995/utils/upload.js
  src/applications/appeals/shared/constants.js
Labels: bug, front end, squad-2, Supplemental Claims, Notice of Disagreement

#27815 [CST] Update files that have va components without the uswds prop for claim-status
  src/applications/claims-status/components/AddFilesForm.jsx
  src/applications/claims-status/components/AddFilesFormOld.jsx
  src/applications/claims-status/components/ClaimCard/ClaimCard.jsx
  src/applications/claims-status/components/ClaimContentionList.jsx
  src/applications/claims-status/components/ClaimDetailLayout.jsx
  src/applications/claims-status/components/ClaimLetterListItem.jsx
  src/applications/claims-status/components/ClaimsBreadcrumbs.jsx
  src/applications/claims-status/components/ClaimsDecision.jsx
  src/applications/claims-status/components/ClosedClaimMessage.jsx
  src/applications/claims-status/components/EvidenceWarning.jsx
  src/applications/claims-status/components/StemAskVAQuestions.jsx
  src/applications/claims-status/components/WIP.jsx
  src/applications/claims-status/components/appeals-v2/AppealHelpSidebar.jsx
  src/applications/claims-status/components/appeals-v2/DurationCard.jsx
  src/applications/claims-status/components/appeals-v2/Issues.jsx
  src/applications/claims-status/containers/AdditionalEvidencePage.jsx
  src/applications/claims-status/containers/AdditionalEvidencePageOld.jsx
  src/applications/claims-status/containers/AskVAPage.jsx
  src/applications/claims-status/containers/ClaimEstimationPage.jsx
  src/applications/claims-status/containers/ClaimsStatusApp.jsx
  src/applications/claims-status/containers/DocumentRequestPage.jsx
  src/applications/claims-status/containers/StemClaimStatusPage.jsx
  src/applications/claims-status/containers/YourClaimLetters/index.jsx
  src/applications/claims-status/containers/YourClaimsPageV2.jsx
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#27836 SC | Adjust minSize for file uploads
  src/applications/appeals/995/utils/upload.js
Labels: bug, front end, benefits-team-1, Decision-Reviews-Team

#27828 Add custom max & min size upload text
  src/applications/appeals/10182/utils/upload.js
  src/applications/appeals/995/utils/upload.js
  src/platform/forms-system/src/js/actions.js
  src/platform/forms-system/test/js/actions.unit.spec.js
Labels: bug, front end, NOD, benefits-team-1, Decision-Reviews-Team, Supplemental Claims

#27876 NOD | Fix prototype test data for Safari
  src/applications/appeals/download/tests/fixtures/data/test-data.json
Labels: bug, front end, NOD, benefits-team-1, Decision-Reviews-Team

#27807 74876 - [CDP][FSR] - Design System V3 web component update identification - CDP ONLY
  src/applications/combined-debt-portal/combined/components/AlertCard.jsx
  src/applications/combined-debt-portal/combined/components/ComboAlerts.jsx
  src/applications/combined-debt-portal/combined/components/DisasterAlert.jsx
  src/applications/combined-debt-portal/combined/components/MCPAlerts.jsx
  src/applications/combined-debt-portal/combined/containers/OverviewPage.jsx
  src/applications/combined-debt-portal/debt-letters/components/Alerts.jsx
  src/applications/combined-debt-portal/debt-letters/components/DebtDetailsCard.jsx
  src/applications/combined-debt-portal/debt-letters/components/HowDoIPay.jsx
  src/applications/combined-debt-portal/debt-letters/containers/DebtDetails.jsx
  src/applications/combined-debt-portal/debt-letters/containers/DebtLettersDownload.jsx
  src/applications/combined-debt-portal/debt-letters/containers/DebtLettersSummary.jsx
  src/applications/combined-debt-portal/debt-letters/tests/DebtDetailsCard.unit.spec.js
  src/applications/combined-debt-portal/medical-copays/components/FinancialHelp.jsx
  src/applications/combined-debt-portal/medical-copays/components/HowToPay.jsx
  src/applications/combined-debt-portal/medical-copays/containers/DetailPage.jsx
  src/applications/combined-debt-portal/medical-copays/containers/HTMLStatementPage.jsx
  src/applications/combined-debt-portal/medical-copays/containers/OverviewPage.jsx
Labels: front end, vsa-benefits-2

#27886 [Letters] Hide va-accordion when there are not letters to display
  src/applications/letters/containers/LetterList.jsx
Labels: Benefits Letters

#27897 [CST] - Updated the Status tab to include a "What we're doing" section
  src/applications/claims-status/components/ClaimCard/ClaimCardLink.jsx
  src/applications/claims-status/components/ClaimsListItem.jsx
  src/applications/claims-status/components/ClaimsListItemV3.jsx
  src/applications/claims-status/components/WhatWeAreDoing.jsx
  src/applications/claims-status/containers/ClaimStatusPage.jsx
  src/applications/claims-status/sass/claims-status.scss
  src/applications/claims-status/tests/components/ClaimListItem.unit.spec.jsx
  src/applications/claims-status/tests/components/ClaimStatusPage.unit.spec.jsx
  src/applications/claims-status/tests/components/WhatWeAreDoing.unit.spec.jsx
  src/applications/claims-status/tests/utils/helpers.unit.spec.js
  src/applications/claims-status/utils/helpers.js
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#27941 [CST] - Added claim file header to the Files Tab
  src/applications/claims-status/components/ClaimFileHeader.jsx
  src/applications/claims-status/containers/FilesPage.jsx
  src/applications/claims-status/tests/components/ClaimFileHeader.unit.spec.jsx
  src/applications/claims-status/tests/components/FilesPage.unit.spec.jsx
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#27936 Find a Rep 2.0 Internal QA
  src/applications/representative-search/components/results/PaginationWrapper.jsx
  src/applications/representative-search/components/results/ReportModal.jsx
  src/applications/representative-search/components/results/SearchResult.jsx
  src/applications/representative-search/components/results/SearchResultsHeader.jsx
  src/applications/representative-search/components/search/SearchControls.jsx
  src/applications/representative-search/containers/SearchPage.jsx
  src/applications/representative-search/sass/find-a-representative.scss
  src/applications/representative-search/tests/components/SearchResultsHeader.unit.spec.jsx
Labels: find-a-representative

#27912 NOD | Increase code coverage
  src/applications/appeals/10182/containers/ConfirmationPage.jsx
  src/applications/appeals/10182/content/EvidenceUpload.jsx
  src/applications/appeals/10182/content/addIssue.jsx
  src/applications/appeals/10182/content/extensionRequest.jsx
  src/applications/appeals/10182/tests/containers/ConfirmationPage.unit.spec.jsx
  src/applications/appeals/10182/tests/content/EvidenceUpload.unit.spec.js
  src/applications/appeals/10182/tests/content/extensionRequest.unit.spec.jsx
  src/applications/appeals/10182/tests/content/homeless.unit.spec.jsx
  src/applications/appeals/10182/tests/pages/contactInfo.unit.spec.jsx
  src/applications/appeals/10182/tests/utils/helpers.unit.spec.js
  src/applications/appeals/10182/tests/utils/issues.unit.spec.js
  src/applications/appeals/10182/tests/utils/submit.unit.spec.js
  src/applications/appeals/10182/tests/utils/upload.unit.spec.js
  src/applications/appeals/10182/utils/submit.js
  src/applications/appeals/10182/utils/upload.js
  src/applications/appeals/995/containers/ConfirmationPage.jsx
  src/applications/appeals/995/tests/containers/ConfirmationPage.unit.spec.jsx
  src/applications/appeals/996/containers/ConfirmationPage.jsx
  src/applications/appeals/996/content/addIssue.jsx
  src/applications/appeals/996/tests/containers/ConfirmationPage.unit.spec.jsx
  src/applications/appeals/996/tests/content/addIssue.unit.spec.js
  src/applications/appeals/shared/content/errorMessages.js
  src/applications/appeals/shared/tests/utils/data.unit.spec.js
  src/applications/appeals/shared/utils/data.js
Labels: front end, testing, HLR, Tech Debt, NOD, benefits-team-1, Decision-Reviews-Team, Supplemental Claims

#27937 NOD | Download prototype updates
  src/applications/appeals/download/containers/Confirmation.jsx
  src/applications/appeals/download/containers/ViewAppeal.jsx
Labels: front end, NOD, benefits-team-1, Decision-Reviews-Team

#27567 Add DataDog logging for submission validation errors
  package.json
  src/applications/appeals/shared/utils/useBrowserMonitoring.js
  src/platform/forms-system/src/js/review/SubmitController.jsx
  src/platform/forms-system/test/js/review/SubmitController.unit.spec.jsx
  yarn.lock
Labels: front end, HLR, NOD, analytics, Decision-Reviews-Team, Supplemental Claims

#27955 Update review & submit v3 web components
  src/platform/forms-system/src/js/components/ContactInfoReview.jsx
  src/platform/forms-system/src/js/review/ObjectField.jsx
  src/platform/forms-system/src/js/review/ReviewChapters.jsx
  src/platform/forms-system/src/js/review/ReviewCollapsibleChapter.jsx
  src/platform/forms/components/review/PreSubmitSection.jsx
  src/platform/forms/preSubmitInfo.js
Labels: front end, HLR, NOD, benefits-team-1, Decision-Reviews-Team, Supplemental Claims

#28004 NOD | Update prototype confirmation page
  src/applications/appeals/download/containers/Confirmation.jsx
  src/applications/appeals/download/sass/submitted-appeal.scss
Labels: front end, NOD, benefits-team-1, Decision-Reviews-Team

#28003 Pension 76296 va process list
  src/applications/pensions/components/IntroductionPage.jsx
  src/applications/pensions/config/form.js
Labels: pension-benefits

#28024 NOD prototype: Fix typo
  src/applications/appeals/download/containers/Confirmation.jsx
Labels: front end, NOD, benefits-team-1, Decision-Reviews-Team

#28021 CAIA Updates
  src/applications/pensions/components/FormAlerts/index.jsx
  src/applications/pensions/config/chapters/05-financial-information/transferredAssets.js
  src/applications/pensions/config/chapters/06-additional-information/supportingDocuments.js
Labels: pension-benefits

#27985 Find a Rep 2.0 internal qa changes
  src/applications/representative-search/components/results/PaginationWrapper.jsx
  src/applications/representative-search/components/results/ReportModal.jsx
  src/applications/representative-search/components/results/SearchResult.jsx
  src/applications/representative-search/components/results/SearchResultsHeader.jsx
  src/applications/representative-search/components/search/SearchControls.jsx
  src/applications/representative-search/config.js
  src/applications/representative-search/containers/App.jsx
  src/applications/representative-search/containers/SearchPage.jsx
  src/applications/representative-search/sass/find-a-representative.scss
  src/applications/representative-search/tests/components/SearchResultsHeader.unit.spec.jsx
  src/applications/representative-search/utils/phoneNumbers.js
Labels: find-a-representative

#28035 NOD | Update pages to use USWDS v3
  src/applications/appeals/10182/content/appealingVhaDenial.jsx
  src/applications/appeals/10182/content/extensionReason.jsx
  src/applications/appeals/10182/content/extensionRequest.jsx
  src/applications/appeals/10182/content/homeless.jsx
  src/applications/appeals/10182/pages/appealingVhaDenial.js
  src/applications/appeals/10182/pages/evidenceIntro.js
  src/applications/appeals/10182/pages/extensionReason.jsx
  src/applications/appeals/10182/pages/extensionRequest.js
  src/applications/appeals/10182/pages/homeless.js
  src/applications/appeals/10182/sass/10182-nod.scss
  src/applications/appeals/10182/tests/10182-keyboard-only.cypress.spec.js
  src/applications/appeals/10182/tests/pages/appealingVhaDenial.unit.spec.jsx
  src/applications/appeals/10182/tests/pages/evidenceIntro.unit.spec.js
  src/applications/appeals/10182/tests/pages/extensionRequest.unit.spec.jsx
  src/applications/appeals/10182/utils/upload.js
  src/applications/appeals/shared/content/contestableIssues.jsx
Labels: front end, Tech Debt, NOD, benefits-team-1, Decision-Reviews-Team

#28039 Add custom service period review
  src/applications/pensions/components/ServicePeriodReview.jsx
  src/applications/pensions/config/chapters/02-military-history/servicePeriod.js
  src/applications/pensions/config/form.js
  src/applications/pensions/labels.jsx
  src/applications/pensions/sass/pensions.scss
  src/applications/pensions/tests/unit/components/ServicePeriodReview.unit.spec.jsx
Labels: pension-benefits

#28041 Fix review page edit va-button label prop
  src/platform/forms-system/src/js/review/ObjectField.jsx
  src/platform/forms-system/test/js/review/ObjectField.unit.spec.jsx
Labels: bug, 508/Accessibility, front end, HLR, NOD, Supplemental Claims

#28025 [View Payments] Upgrade web components to their V3 versions
  src/applications/disability-benefits/view-payments/components/IdentityNotVerified.jsx
  src/applications/disability-benefits/view-payments/components/view-payments-lists/ViewPaymentsLists.jsx
  src/applications/disability-benefits/view-payments/components/view-payments-lists/payments/Payments.jsx
  src/applications/disability-benefits/view-payments/utils.js
Labels: View Payments

#28071 Update POW Status page
  src/applications/pensions/config/chapters/02-military-history/pow.js
Labels: pension-benefits

#28070 Find a Rep 2.0 - copy/styling/a11y updates + unit test coverage
  src/applications/representative-search/components/results/ReportModal.jsx
  src/applications/representative-search/components/results/ResultsList.jsx
  src/applications/representative-search/components/results/SearchResult.jsx
  src/applications/representative-search/components/results/SearchResultsHeader.jsx
  src/applications/representative-search/components/search/SearchControls.jsx
  src/applications/representative-search/reducers/errors.js
  src/applications/representative-search/tests/components/ReportModal.unit.spec.jsx
  src/applications/representative-search/tests/components/SearchResult.unit.spec.jsx
  src/applications/representative-search/tests/components/SearchResultsHeader.unit.spec.jsx
  src/applications/representative-search/tests/helpers/appendReports.unit.spec.js
  src/applications/representative-search/tests/reducers/errors.unit.spec.js
  src/applications/representative-search/tests/reducers/searchQuery.unit.spec.js
  src/applications/representative-search/tests/reducers/searchResult.unit.spec.js
  src/applications/representative-search/utils/helpers.js
Labels: find-a-representative

#28097 DR | Focus & scrolling fixes after v3 updates
  src/applications/appeals/10182/config/form.js
  src/applications/appeals/995/utils/focus.js
  src/applications/appeals/shared/utils/focus.js
Labels: bug, front end, NOD, benefits-team-1, Decision-Reviews-Team, Supplemental Claims

#28088 [CST] - Updated button components to use va web components on Expander.jsx and tests
  src/applications/claims-status/components/AddFilesFormOld.jsx
  src/applications/claims-status/components/ClaimPhase.jsx
  src/applications/claims-status/components/appeals-v2/Expander.jsx
  src/applications/claims-status/sass/claims-status.scss
  src/applications/claims-status/tests/components/ClaimPhase.unit.spec.jsx
  src/applications/claims-status/tests/components/appeals-v2/Expander.unit.spec.jsx
  src/applications/claims-status/tests/e2e/07.appeal-status.cypress.spec.js
  src/applications/claims-status/tests/e2e/page-objects/TrackClaimsPage.js
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#28094 Consolidate alerts
  src/applications/pensions/components/FormAlerts/index.jsx
  src/applications/pensions/config/chapters/01-applicant-information/applicantInformation.js
  src/applications/pensions/config/chapters/02-military-history/generalHistory.js
  src/applications/pensions/config/chapters/02-military-history/pow.js
  src/applications/pensions/config/chapters/02-military-history/servicePeriod.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/age.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/currentEmployment.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/federalTreatmentHistory.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/medicaidCoverage.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/medicaidStatus.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/medicalCondition.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/nursingHome.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/socialSecurityDisability.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/vaTreatmentHistory.js
  src/applications/pensions/config/chapters/04-household-information/currentSpouseFormerMarriages.jsx
  src/applications/pensions/config/chapters/04-household-information/dependentChildInformation.js
  src/applications/pensions/config/chapters/05-financial-information/hasCareExpenses.js
  src/applications/pensions/config/chapters/05-financial-information/hasMedicalExpenses.js
  src/applications/pensions/config/chapters/05-financial-information/homeAcreageMoreThanTwo.js
  src/applications/pensions/config/chapters/05-financial-information/homeOwnership.js
  src/applications/pensions/config/chapters/05-financial-information/landMarketable.js
  src/applications/pensions/config/chapters/05-financial-information/receivesIncome.js
  src/applications/pensions/config/chapters/05-financial-information/totalNetWorth.js
  src/applications/pensions/config/chapters/05-financial-information/transferredAssets.js
  src/applications/pensions/helpers.jsx
  src/applications/pensions/tests/unit/chapters/02-military-history/servicePeriod.unit.spec.jsx
Labels: pension-benefits

#28131 [CST] - Updated button components to use va web components (Second PR)
  src/applications/claims-status/components/ClaimSyncWarning.jsx
  src/applications/claims-status/components/ConsolidatedClaims.jsx
  src/applications/claims-status/components/UploadStatus.jsx
  src/applications/claims-status/containers/AskVAPage.jsx
  src/applications/claims-status/containers/YourClaimsPageV2.jsx
  src/applications/claims-status/sass/claims-status.scss
  src/applications/claims-status/tests/components/AskVAPage.unit.spec.jsx
  src/applications/claims-status/tests/components/UploadStatus.unit.spec.jsx
  src/applications/claims-status/tests/e2e/page-objects/TrackClaimsPage.js
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#28152 [CST] - Remove NeedFilesFromYou from OverviewPage.jsx and updated tests
  src/applications/claims-status/containers/OverviewPage.jsx
  src/applications/claims-status/tests/components/OverviewPage.unit.spec.jsx
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#28158 [CST] - Updated the tab underline color
  src/applications/claims-status/sass/claims-status.scss
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#28162 SC | Fix flaky unit tests
  src/applications/appeals/10182/tests/10182-keyboard-only.cypress.spec.js
  src/applications/appeals/995/tests/containers/App.unit.spec.jsx
Labels: bug, front end, testing, benefits-team-1, Decision-Reviews-Team

#28130 Supplemental Claim | Fix submission validation on partial data
  src/applications/appeals/995/components/EvidenceSummary.jsx
  src/applications/appeals/995/components/EvidenceSummaryLists.jsx
  src/applications/appeals/995/config/form.js
  src/applications/appeals/995/content/evidenceSummary.jsx
  src/applications/appeals/995/pages/evidencePrivateRecords.js
  src/applications/appeals/995/pages/evidenceSummary.js
  src/applications/appeals/995/pages/evidenceVaRecords.js
  src/applications/appeals/995/tests/995-supplemental-claim.cypress.spec.js
  src/applications/appeals/995/tests/components/EvidenceSummary.unit.spec.jsx
  src/applications/appeals/995/tests/fixtures/data/partial-evidence-test.json
Labels: bug, front end, benefits-team-1, Decision-Reviews-Team, Supplemental Claims

#28177 SC | Minor fixes
  src/applications/appeals/995/tests/containers/App.unit.spec.jsx
Labels: front end, benefits-team-1, Decision-Reviews-Team, Supplemental Claims

#28096 Pensions json schema key value updates
  src/applications/edu-benefits/1995/pages/benefitSelectionUpdate.js
  src/applications/edu-benefits/1995/tests/config/applicantInformation.unit.spec.jsx
  src/applications/edu-benefits/1995/tests/pages/benefitSelection.unit.spec.jsx
  src/applications/pensions/config/chapters/04-household-information/currentSpouseFormerMarriages.jsx
  src/applications/pensions/config/chapters/04-household-information/currentSpouseMaritalHistory.js
  src/applications/pensions/config/chapters/04-household-information/dependentChildInformation.js
  src/applications/pensions/config/chapters/04-household-information/maritalStatus.js
  src/applications/pensions/config/chapters/05-financial-information/careExpenses.js
  src/applications/pensions/config/chapters/05-financial-information/incomeSources.js
  src/applications/pensions/config/chapters/05-financial-information/medicalExpenses.js
  src/applications/pensions/config/form.js
  src/applications/pensions/helpers.jsx
  src/applications/pensions/labels.jsx
  src/applications/pensions/migrations.js
  src/applications/pensions/tests/e2e/fixtures/data/maximal-test.json
  src/applications/pensions/tests/e2e/fixtures/data/overflow-test.json
  src/applications/pensions/tests/e2e/fixtures/data/simple-test.json
  src/applications/pensions/tests/fixtures/data/v4formData.json
  src/applications/pensions/tests/unit/chapters/04-household-information/dependentChildInformation.unit.spec.jsx
  src/applications/pensions/tests/unit/components/DependentField.unit.spec.jsx
  src/applications/pensions/tests/unit/components/DisclosureTitle.unit.spec.jsx
  src/applications/pensions/tests/unit/config/form.unit.spec.jsx
  src/applications/pensions/tests/unit/config/marriageHistory.unit.spec.jsx
  src/applications/pensions/tests/unit/config/spouseMarriageInfo.unit.spec.jsx
  src/applications/pensions/tests/unit/helpers.unit.spec.jsx
  src/applications/pensions/tests/unit/migrations.unit.spec.js
Labels: pension-benefits

#28178 Update react-focus-lock dependency
  package.json
  yarn.lock
Labels: bug, front end, benefits-team-1, Decision-Reviews-Team

#28209 Revert sign in modal changes
  src/platform/forms/save-in-progress/FormSignInModal.jsx
  src/platform/forms/tests/save-in-progress/FormSignInModal.unit.spec.jsx
Labels: bug, front end, benefits-team-1, Decision-Reviews-Team

#28197 Update pow page
  src/applications/pensions/config/chapters/02-military-history/pow.js
Labels: pension-benefits

#28207 DR | Set DataDog log telemetrySampleRate to 100
  src/applications/appeals/shared/utils/useBrowserMonitoring.js
Labels: front end, HLR, NOD, benefits-team-1, Decision-Reviews-Team, Supplemental Claims

#28189 Schema changes
  package.json
  yarn.lock
Labels: Burials, burial-benefits

#28161 Update list loop aria labels
  src/applications/pensions/components/DependentField.jsx
  src/applications/pensions/components/IncomeSourceView.jsx
  src/applications/pensions/config/chapters/02-military-history/previousNames.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/employmentHistory.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/medicalCenters.js
  src/applications/pensions/config/chapters/04-household-information/currentSpouseFormerMarriages.jsx
  src/applications/pensions/config/chapters/04-household-information/dependentChildren.js
  src/applications/pensions/config/chapters/05-financial-information/careExpenses.js
  src/applications/pensions/config/chapters/05-financial-information/incomeSources.js
  src/applications/pensions/config/chapters/05-financial-information/medicalExpenses.js
  src/applications/pensions/labels.jsx
  src/applications/pensions/tests/unit/components/DependentField.unit.spec.jsx
Labels: pension-benefits

#28194 Updated API endpoint URL for flagging representatives in Find a Rep
  src/applications/representative-search/api/RepresentativeFinderApi.js
  src/applications/representative-search/config.js
  src/applications/representative-search/tests/api-url-parameters.railsEngine.unit.spec.js
Labels: find-a-representative

#26923 [Rated Disabilities] Integrate new LH endpoint behind feature flag
  src/applications/rated-disabilities/components/AppContent.jsx
  src/applications/rated-disabilities/components/CombinedRating.jsx
  src/applications/rated-disabilities/components/NeedHelp.jsx
  src/applications/rated-disabilities/components/NoCombinedRating.jsx
  src/applications/rated-disabilities/components/RatingLists/List.jsx
  src/applications/rated-disabilities/components/RatingLists/ListItem.jsx
  src/applications/rated-disabilities/components/RatingLists/NoRatings.jsx
  src/applications/rated-disabilities/components/RatingLists/RatingLists.jsx
  src/applications/rated-disabilities/components/RatingLists/helpers.jsx
  src/applications/rated-disabilities/components/RatingLists/index.jsx
  src/applications/rated-disabilities/components/ServerError.jsx
  src/applications/rated-disabilities/containers/App.jsx
  src/applications/rated-disabilities/tests/components/AppContent.unit.spec.jsx
  src/applications/rated-disabilities/tests/components/CombinedRating.unit.spec.jsx
  src/applications/rated-disabilities/tests/components/RatingLists/List.unit.spec.jsx
  src/applications/rated-disabilities/tests/components/RatingLists/ListItem.unit.spec.jsx
  src/applications/rated-disabilities/tests/components/RatingLists/RatingLists.unit.spec.jsx
  src/applications/rated-disabilities/tests/e2e/fixtures/200-response.json
  src/applications/rated-disabilities/tests/e2e/fixtures/feature-toggle-enabled.json
  src/applications/rated-disabilities/tests/e2e/fixtures/no-combined-rating.json
  src/applications/rated-disabilities/tests/e2e/fixtures/no-ratings.json
  src/applications/rated-disabilities/tests/e2e/fixtures/non-service-connected-only.json
  src/applications/rated-disabilities/tests/e2e/fixtures/service-connected-only.json
  src/applications/rated-disabilities/tests/e2e/rated-disabilities-lighthouse.cypress.spec.js
  src/applications/rated-disabilities/util/index.js
Labels: Rated Disabilities

#28229 Update assets information components
  src/applications/pensions/components/FormAlerts/index.jsx
  src/applications/pensions/config/chapters/02-military-history/pow.js
Labels: pension-benefits

#28262 [CST] Renaming V3 claim card files
  src/applications/claims-status/components/ClaimsListItem.jsx
  src/applications/claims-status/components/StemClaimListItem.jsx
  src/applications/claims-status/components/appeals-v2/AppealListItem.jsx
  src/applications/claims-status/containers/YourClaimsPageV2.jsx
  src/applications/claims-status/tests/components/ClaimsListItem.unit.spec.jsx
  src/applications/claims-status/tests/components/StemClaimListItem.unit.spec.jsx
  src/applications/claims-status/tests/components/appeals-v2/AppealListItem.unit.spec.jsx
Labels: Claim Status Tool

#28278 Fix error negative margins on review page
  src/platform/forms/sass/_m-schemaform.scss
Labels: bug, 508/Accessibility, front end, HLR, NOD, Supplemental Claims
