Repository department-of-veterans-affairs/vets-website, pull requests merged in 2024-01, with the labels that each got.

#27246 [DDL] Adding documentType query parameter
  src/applications/claims-status/components/ClaimLetterListItem.jsx
Labels: Download Decision Letters

#27265 68991 - SW - [FSR] Back/Cancel A11y fix for Spouse and Employment Records on mini-summary list loops
  src/applications/financial-status-report/components/employment/EmploymentHistorySummaryCard.jsx
  src/applications/financial-status-report/components/employment/EmploymentHistoryWidget.jsx
  src/applications/financial-status-report/components/employment/EmploymentQuestion.jsx
  src/applications/financial-status-report/components/employment/EmploymentWorkDates.jsx
  src/applications/financial-status-report/components/employment/EnhancedEmploymentRecord.jsx
  src/applications/financial-status-report/components/employment/EnhancedSpouseEmploymentRecord.jsx
  src/applications/financial-status-report/components/employment/SpouseEmploymentHistoryWidget.jsx
  src/applications/financial-status-report/components/employment/SpouseEmploymentQuestion.jsx
  src/applications/financial-status-report/components/employment/SpouseEmploymentWorkDates.jsx
  src/applications/financial-status-report/components/householdIncome/PayrollDeductionInputList.jsx
  src/applications/financial-status-report/components/householdIncome/SpousePayrollDeductionInputList.jsx
  src/applications/financial-status-report/pages/income/employmentEnhanced/AddEmployment.jsx
  src/applications/financial-status-report/utils/session.js
Labels: front end, vsa-benefits-2

#27317 DR | Render contact info phone extension
  src/applications/appeals/995/tests/utils/contactInfo.unit.spec.js
  src/applications/appeals/995/utils/contactInfo.js
  src/platform/forms-system/src/js/components/ContactInfo.jsx
  src/platform/forms-system/src/js/utilities/data/profile.js
  src/platform/forms-system/test/js/utilities/profile.unit.spec.js
Labels: front end, HLR, NOD, benefits-team-1, squad-2, Supplemental Claims

#27256 NOD | Block Progress if missing encrypted PDF password
  src/platform/forms-system/src/js/fields/FileField.jsx
  src/platform/forms-system/src/js/validation.js
  src/platform/forms-system/test/js/fields/FileField.unit.spec.jsx
  src/platform/forms-system/test/js/validation.unit.spec.js
Labels: bug, front end, NOD, benefits-team-1, squad-2

#27321 [CST] Adding decision letter docType to GA metadata
  src/applications/claims-status/components/ClaimLetterListItem.jsx
Labels: Claim Status Tool

#27326 Return to review & submit after add issue
  src/applications/appeals/shared/components/AddIssue.jsx
  src/applications/appeals/shared/tests/components/AddIssue.unit.spec.js
Labels: bug, front end, HLR, NOD, benefits-team-1, squad-2, Supplemental Claims

#27187 [Rated Disabilities] Moving the learn and need help sections into their own components
  src/applications/rated-disabilities/components/Learn.jsx
  src/applications/rated-disabilities/components/NeedHelp.jsx
  src/applications/rated-disabilities/components/RatedDisabilityView.jsx
  src/applications/rated-disabilities/tests/components/RatedDisabilityListItem.unit.spec.jsx
  src/applications/rated-disabilities/tests/components/RatedDisabilityView.unit.spec.jsx
Labels: Rated Disabilities

#27348 Add pageConfig onContinue setData arg
  src/platform/forms-system/src/js/containers/FormPage.jsx
  src/platform/forms-system/test/js/containers/FormPage.unit.spec.jsx
Labels: enhancement, front end, benefits-team-1, squad-2, forms-library

#27349 Add formConfig & pageConfig onFormExit callback
  src/platform/forms-system/src/js/components/ContactInfo.jsx
  src/platform/forms-system/src/js/definitions/profileContactInfo.js
  src/platform/forms-system/test/js/components/ContactInfo.unit.spec.jsx
  src/platform/forms/save-in-progress/SaveFormLink.jsx
  src/platform/forms/tests/save-in-progress/SaveFormLink.unit.spec.jsx
Labels: enhancement, front end, benefits-team-1, squad-2, forms-library

#27361 Add unique key to CustomPage(Review) on review & submit
  src/platform/forms-system/src/js/review/ReviewCollapsibleChapter.jsx
  src/platform/forms-system/test/js/review/ReviewCollapsibleChapter.unit.spec.jsx
Labels: bug, front end, HLR, NOD, benefits-team-1, squad-2

#27402 [CST] Applying JSON.stringify to the tracked_item_ids param value
  src/applications/claims-status/actions/index.js
Labels: Claim Status Tool

#27407 Pension: Marriage type copy location change
  src/applications/pensions/config/form.js
  src/applications/pensions/tests/e2e/fixtures/data/maximal-test.json
Labels: pension

#27350 DR | Update Confirmation Page Design for all forms
  src/applications/appeals/10182/containers/ConfirmationPage.jsx
  src/applications/appeals/10182/tests/containers/ConfirmationPage.unit.spec.jsx
  src/applications/appeals/995/containers/ConfirmationPage.jsx
  src/applications/appeals/996/containers/ConfirmationPage.jsx
  src/applications/appeals/996/tests/containers/ConfirmationPage.unit.spec.jsx
Labels: front end, HLR, NOD, benefits-team-1, squad-2, Supplemental Claims

#27387 NOD | Clear redirect on continue
  src/applications/appeals/10182/config/form.js
  src/applications/appeals/10182/pages/extensionRequest.js
  src/applications/appeals/10182/tests/pages/extensionRequest.unit.spec.jsx
Labels: bug, front end, NOD, benefits-team-1, squad-2

#27383 Expand Pension unit test coverage
  src/applications/pensions/config/chapters/03-health-and-employment-information/employmentHistory.js
  src/applications/pensions/config/chapters/04-household-information/reasonForCurrentSeparation.js
  src/applications/pensions/config/chapters/05-financial-information/careExpenses.js
  src/applications/pensions/config/chapters/05-financial-information/netWorthEstimation.js
  src/applications/pensions/config/chapters/06-additional-information/supportingDocuments.js
  src/applications/pensions/config/form.js
  src/applications/pensions/helpers.jsx
  src/applications/pensions/tests/unit/chapters/03-health-and-employment-information/employmentHistory.unit.spec.jsx
  src/applications/pensions/tests/unit/chapters/04-household-information/currentSpouseMaritalHistory.unit.spec.jsx
  src/applications/pensions/tests/unit/chapters/04-household-information/maritalStatus.unit.spec.jsx
  src/applications/pensions/tests/unit/chapters/04-household-information/reasonForCurrentSeparation.unit.spec.jsx
  src/applications/pensions/tests/unit/chapters/05-financial-information/careExpenses.unit.spec.jsx
  src/applications/pensions/tests/unit/chapters/05-financial-information/netWorthEstimation.unit.spec.jsx
  src/applications/pensions/tests/unit/chapters/06-additional-information/supportingDocuments.unit.spec.jsx
  src/applications/pensions/tests/unit/components/HomeAcreageValueInput.unit.spec.jsx
  src/applications/pensions/tests/unit/config/form.unit.spec.jsx
  src/applications/pensions/tests/unit/helpers.unit.spec.jsx
Labels: pension

#27426 73295 & 71855: Pensions form supporting documents for assets
  src/applications/pensions/components/FormAlerts/index.jsx
  src/applications/pensions/config/chapters/05-financial-information/landMarketable.js
  src/applications/pensions/config/chapters/05-financial-information/transferredAssets.js
  src/applications/pensions/config/chapters/06-additional-information/supportingDocuments.js
Labels: pension-benefits

#27410 72994: Pensions form separate household children home questions
  src/applications/pensions/config/form.js
  src/applications/pensions/tests/unit/config/dependentChildAddress.unit.spec.jsx
  src/applications/pensions/tests/unit/config/dependentChildInHousehold.unit.spec.jsx
Labels: pension-benefits

#27434 Focus on alert after submit
  src/applications/appeals/shared/components/ContestableIssues.jsx
  src/applications/appeals/shared/tests/components/ContestableIssues.unit.spec.jsx
Labels: bug, front end, product support, NOD, benefits-team-1, squad-2, Supplemental Claims

#27390 Pension mvp review and submit
  src/applications/pensions/components/FinancialDisclosureDescription.jsx
  src/applications/pensions/config/chapters/03-health-and-employment-information/employmentHistory.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/medicalCenters.js
  src/applications/pensions/config/chapters/04-household-information/currentSpouseFormerMarriages.jsx
  src/applications/pensions/config/chapters/04-household-information/dependentChildren.js
  src/applications/pensions/config/chapters/04-household-information/reasonForCurrentSeparation.js
  src/applications/pensions/config/chapters/05-financial-information/careExpenses.js
  src/applications/pensions/config/chapters/05-financial-information/incomeSources.js
  src/applications/pensions/config/chapters/05-financial-information/medicalExpenses.js
  src/applications/pensions/config/form.js
  src/applications/pensions/helpers.jsx
  src/applications/pensions/tests/e2e/schema/maximal-test.json
  src/applications/pensions/tests/unit/components/FinancialDisclosureDescription.unit.spec.jsx
  src/applications/pensions/tests/unit/config/form.unit.spec.jsx
Labels: pension-benefits

#27411 Add signature component
  src/applications/pensions/config/form.js
  src/applications/pensions/tests/e2e/schema/maximal-test.json
Labels: pension-benefits

#27399 65952 - [FSR] Discovery: Map and estimate an error submission solution
  src/applications/financial-status-report/utils/transform.js
Labels: front end, vsa-benefits-2

#27408 DR | Save accordion state on review & submit
  src/platform/forms-system/exportsFile.js
  src/platform/forms-system/src/js/actions.js
  src/platform/forms-system/src/js/review/ReviewChapters.jsx
  src/platform/forms-system/src/js/review/ReviewCollapsibleChapter.jsx
  src/platform/forms-system/src/js/state/helpers.js
  src/platform/forms-system/src/js/state/reducers.js
  src/platform/forms-system/src/js/state/selectors.js
  src/platform/forms-system/src/js/utilities/ui/index.js
  src/platform/forms-system/test/js/review/ReviewChapters.unit.spec.jsx
  src/platform/forms-system/test/js/review/ReviewPage.unit.spec.jsx
  src/platform/forms-system/test/js/utilities/ui.unit.spec.js
Labels: bug, front end, HLR, NOD, benefits-team-1, squad-2, Supplemental Claims

#27444 Use getter for page title
  src/applications/pensions/config/form.js
Labels: pension-benefits

#27440 Fix required fields on list loops
  src/applications/pensions/config/chapters/04-household-information/currentSpouseFormerMarriages.jsx
  src/applications/pensions/config/chapters/05-financial-information/careExpenses.js
  src/applications/pensions/config/chapters/05-financial-information/incomeSources.js
  src/applications/pensions/tests/e2e/fixtures/data/maximal-test.json
  src/applications/pensions/tests/e2e/schema/maximal-test.json
  src/applications/pensions/tests/unit/chapters/04-household-information/spouseMarriageHistory.unit.spec.jsx
Labels: pension-benefits

#27453 DR | Add saved appeal view & download app
  src/applications/appeals/download/app-entry.jsx
  src/applications/appeals/download/containers/Confirmation.jsx
  src/applications/appeals/download/containers/ViewAppeal.jsx
  src/applications/appeals/download/manifest.json
  src/applications/appeals/download/reducers/index.js
  src/applications/appeals/download/routes.jsx
  src/applications/appeals/download/sass/submitted-appeal.scss
  src/applications/appeals/download/tests/fixtures/data/extra-data.json
  src/applications/appeals/download/tests/fixtures/data/test-data.json
  src/applications/appeals/download/tests/submitted-appeal.cypress.spec.js
Labels: front end, NOD, benefits-team-1, squad-2, disability-compensation

#27479 DR | Fix flaky unit tests
  src/applications/appeals/996/tests/containers/ConfirmationPage.unit.spec.jsx
  src/applications/appeals/shared/tests/components/AreaOfDisagreement.unit.spec.jsx
Labels: front end, HLR, NOD, benefits-team-1, squad-2, Supplemental Claims, disability-compensation

#27481 Add submit transformer
  src/applications/pensions/config/form.js
  src/applications/pensions/config/submit-transformer.js
  src/applications/pensions/tests/e2e/fixtures/data/maximal-test.json
  src/applications/pensions/tests/e2e/schema/maximal-test.json
  src/applications/pensions/tests/unit/config/submit-transfomer.unit.spec.jsx
Labels: pension-benefits

#27464 Pensions: Update copy for dependent children
  src/applications/pensions/config/chapters/04-household-information/dependentChildren.js
  src/applications/pensions/config/form.js
  src/applications/pensions/tests/unit/chapters/04-household-information/currentSpouseAddress.unit.spec.jsx
  src/applications/pensions/tests/unit/components/HomeAcreageValueInput.unit.spec.jsx
Labels: pension-benefits

#27484 Increase list loop hint contrast
  src/applications/pensions/sass/pensions.scss
Labels: pension-benefits

#27468 NOD | Prevent redirect if starting over
  src/applications/appeals/10182/containers/FormApp.jsx
  src/applications/appeals/10182/tests/containers/FormApp.unit.spec.jsx
  src/applications/appeals/10182/tests/utils/redirect.unit.spec.js
  src/applications/appeals/10182/utils/redirect.js
Labels: bug, front end, NOD, benefits-team-1, squad-2, disability-compensation

#27456 DR | Fix focus on edit va-button after update
  src/applications/appeals/shared/components/AreaOfDisagreement.jsx
  src/platform/utilities/tests/ui/focus.unit.spec.jsx
  src/platform/utilities/ui/focus.js
Labels: bug, front end, HLR, NOD, benefits-team-1, dependents-benefits

#27423 Disable front-end classification
  src/applications/disability-benefits/all-claims/submit-transformer.js
  src/applications/disability-benefits/all-claims/tests/submit-transformer.unit.spec.js
  src/applications/disability-benefits/all-claims/tests/validations.unit.spec.js
Labels: disability-compensation

#27492 DR | Fix prototype view appeal route
  src/applications/appeals/download/routes.jsx
Labels: bug, front end, NOD, benefits-team-1, squad-2, disability-compensation

#27511 Fix no issue alert visibility
  src/applications/appeals/shared/components/ContestableIssues.jsx
  src/applications/appeals/shared/content/contestableIssues.jsx
  src/applications/appeals/shared/tests/components/ContestableIssues.unit.spec.jsx
  src/applications/appeals/shared/tests/content/contestableIssues.unit.spec.jsx
  src/applications/appeals/testing/components/ContestableIssuesWidget.jsx
Labels: bug, front end, NOD, benefits-team-1, squad-2, disability-compensation

#27516 Revert to old address ui schema
  src/applications/pensions/config/form.js
  src/applications/pensions/tests/unit/config/dependentChildAddress.unit.spec.jsx
Labels: pension-benefits

#27530 Pension: Re-launch static widget
  src/applications/static-pages/pension-how-do-i-apply-widget/components/App/index.js
  src/applications/static-pages/pension-how-do-i-apply-widget/components/App/index.unit.spec.js
Labels: pension-benefits, pension

#27515 NOD | Prototype Appeal Information
  src/applications/appeals/download/containers/Confirmation.jsx
  src/applications/appeals/download/containers/ViewAppeal.jsx
  src/applications/appeals/download/sass/submitted-appeal.scss
  src/applications/appeals/download/tests/fixtures/data/extra-data.json
  src/applications/appeals/download/tests/fixtures/data/test-data.json
Labels: front end, NOD, benefits-team-1, Notice of Disagreement

#27546 NOD | Prototype Confirmation content updates
  src/applications/appeals/10182/content/GetFormHelp.jsx
  src/applications/appeals/download/containers/Confirmation.jsx
Labels: front end, NOD, benefits-team-1, Notice of Disagreement

#27554 NOD | Download page tweaks
  src/applications/appeals/download/containers/ViewAppeal.jsx
Labels: front end, NOD, benefits-team-1, squad-2

#27560 Prototype | Remove duplicate ID
  src/applications/appeals/download/containers/Confirmation.jsx
Labels: bug, 508/Accessibility, front end, NOD, benefits-team-1, squad-2

#27571 64815 - [SW] - Review page resolution options enhancements
  src/applications/financial-status-report/components/resolution/ResolutionCommentsReview.jsx
  src/applications/financial-status-report/components/shared/CustomResolutionOptionReview.jsx
  src/applications/financial-status-report/config/chapters/resolutionOptionsChapter.js
  src/applications/financial-status-report/pages/resolution/resolutionComment.js
  src/applications/financial-status-report/pages/resolution/resolutionOption.js
  src/applications/financial-status-report/pages/resolution/resolutionWaiverAgreement.js
  src/applications/financial-status-report/utils/helpers.js
Labels: front end, vsa-benefits-2

#27614 Contact Info | Fix contact info page key
  src/platform/forms-system/src/js/components/ContactInfo.jsx
  src/platform/forms-system/src/js/components/ContactInfoReview.jsx
  src/platform/forms-system/src/js/definitions/profileContactInfo.js
  src/platform/forms-system/src/js/utilities/data/profile.js
  src/platform/forms-system/test/js/components/ContactInfo.unit.spec.jsx
  src/platform/forms-system/test/js/components/ContactInfoReview.unit.spec.jsx
  src/platform/forms-system/test/js/definitions/profileContactInfo.unit.spec.jsx
Labels: bug, front end, HLR, NOD, benefits-team-1, squad-2, Supplemental Claims

#27595 [CST] - 72065 Change 'Submitted on' to 'Received on'
  src/applications/claims-status/components/ClaimDetailLayout.jsx
  src/applications/claims-status/components/ClaimsListItem.jsx
  src/applications/claims-status/components/ClaimsListItemV3.jsx
  src/applications/claims-status/components/StemClaimListItem.jsx
  src/applications/claims-status/components/StemClaimListItemV3.jsx
  src/applications/claims-status/components/appeals-v2/AppealListItemV2.jsx
  src/applications/claims-status/components/appeals-v2/AppealListItemV3.jsx
  src/applications/claims-status/components/appeals-v2/ClaimsListItemV2.jsx
  src/applications/claims-status/components/evss/ClaimDetailLayout.jsx
  src/applications/claims-status/tests/components/ClaimDetailLayout.unit.spec.jsx
  src/applications/claims-status/tests/components/ClaimListItem.unit.spec.jsx
  src/applications/claims-status/tests/components/ClaimListItemV3.unit.spec.jsx
  src/applications/claims-status/tests/components/StemClaimListItem.unit.spec.jsx
  src/applications/claims-status/tests/components/StemClaimListItemV3.unit.spec.jsx
  src/applications/claims-status/tests/components/appeals-v2/AppealListItemV2.unit.spec.jsx
  src/applications/claims-status/tests/components/appeals-v2/AppealListItemV3.unit.spec.jsx
  src/applications/claims-status/tests/components/appeals-v2/ClaimListItemV2.unit.spec.jsx
  src/applications/claims-status/tests/components/evss/ClaimDetailLayout.unit.spec.jsx
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#27566 [CST] - Evidence request alert changes on status tab
  src/applications/claims-status/components/DueDate.jsx
  src/applications/claims-status/components/DueDateOld.jsx
  src/applications/claims-status/components/FilesNeeded.jsx
  src/applications/claims-status/components/FilesNeededOld.jsx
  src/applications/claims-status/components/RequestedFilesInfo.jsx
  src/applications/claims-status/components/WhatYouNeedToDo.jsx
  src/applications/claims-status/components/evss/ClaimStatusPageContent.jsx
  src/applications/claims-status/components/evss/DocumentRequestPageContent.jsx
  src/applications/claims-status/containers/ClaimStatusPage.jsx
  src/applications/claims-status/containers/DocumentRequestPage.jsx
  src/applications/claims-status/sass/claims-status.scss
  src/applications/claims-status/tests/components/ClaimStatusPage.unit.spec.jsx
  src/applications/claims-status/tests/components/DocumentRequestPage.unit.spec.jsx
  src/applications/claims-status/tests/components/DueDate.unit.spec.jsx
  src/applications/claims-status/tests/components/DueDateOld.unit.spec.jsx
  src/applications/claims-status/tests/components/FilesNeeded.unit.spec.jsx
  src/applications/claims-status/tests/components/FilesNeededOld.unit.spec.jsx
  src/applications/claims-status/tests/components/RequestedFilesInfo.unit.spec.jsx
  src/applications/claims-status/tests/components/WhatYouNeedToDo.unit.spec.jsx
  src/applications/claims-status/tests/components/evss/ClaimStatusPageContent.unit.spec.jsx
  src/applications/claims-status/tests/utils/helpers.unit.spec.js
  src/applications/claims-status/utils/helpers.js
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#27620 Review & submit chapters | highlight page errors
  src/applications/appeals/shared/content/reviewErrors.js
  src/applications/appeals/shared/tests/content/reviewErrors.unit.spec.js
  src/platform/forms-system/src/js/review/ObjectField.jsx
  src/platform/forms-system/src/js/review/ReviewCollapsibleChapter.jsx
  src/platform/forms-system/src/js/utilities/data/reduceErrors.js
  src/platform/forms-system/test/js/review/ObjectField.unit.spec.jsx
  src/platform/forms-system/test/js/review/ReviewCollapsibleChapter.unit.spec.jsx
  src/platform/forms-system/test/js/utilities/reduceErrors.unit.spec.js
  src/platform/forms/sass/_m-schemaform.scss
Labels: bug, front end, HLR, NOD, benefits-team-1, squad-2

#27624 72960 landing page first draft
  src/applications/representatives/app-entry.jsx
  src/applications/representatives/containers/App.jsx
  src/applications/representatives/containers/Dashboard.jsx
  src/applications/representatives/containers/LandingPage.jsx
  src/applications/representatives/routes.jsx
  src/applications/representatives/sass/representatives.scss
  src/applications/representatives/tests/representatives.unit.spec.js
Labels: benefits-accredited-rep-facing

#27671 [CST] - Update the css for the FilesNeeded alert
  src/applications/claims-status/components/FilesNeeded.jsx
  src/applications/claims-status/components/WhatYouNeedToDo.jsx
  src/applications/claims-status/sass/claims-status.scss
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#27679 [CST][DDL] Disabling built-in analytics on DDL download link
  src/applications/claims-status/components/ClaimLetterListItem.jsx
Labels: Claim Status Tool

#27669 Add custom title A11y hack and confirmation modals
  src/applications/pensions/config/chapters/02-military-history/previousNames.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/employmentHistory.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/medicalCenters.js
  src/applications/pensions/config/chapters/04-household-information/currentSpouseFormerMarriages.jsx
  src/applications/pensions/config/chapters/04-household-information/dependentChildren.js
  src/applications/pensions/config/chapters/05-financial-information/careExpenses.js
  src/applications/pensions/config/chapters/05-financial-information/incomeSources.js
  src/applications/pensions/config/chapters/05-financial-information/medicalExpenses.js
  src/applications/pensions/tests/e2e/pensions.cypress.spec.js
Labels: pension-benefits

#27696 Modify maximal-test to not have any overflow
  src/applications/pensions/tests/e2e/fixtures/data/maximal-test.json
Labels: pension-benefits

#27701 NOD | Prototype update submitted date and contested year
  src/applications/appeals/download/containers/ViewAppeal.jsx
  src/applications/appeals/download/tests/fixtures/data/test-data.json
Labels: front end, NOD, benefits-team-1, squad-2, Notice of Disagreement

#27688 Review & submit | Fix focus management on pages
  src/applications/appeals/995/components/EvidenceSummaryReview.jsx
  src/applications/appeals/shared/components/AreaOfDisagreement.jsx
  src/platform/forms-system/src/js/fields/FileField.jsx
  src/platform/forms-system/src/js/review/ReviewCollapsibleChapter.jsx
  src/platform/forms-system/src/js/utilities/review/index.js
  src/platform/forms-system/src/js/utilities/ui/index.js
  src/platform/forms-system/src/js/web-component-fields/webComponentList.js
  src/platform/forms-system/test/js/review/ReviewCollapsibleChapter.unit.spec.jsx
  src/platform/forms-system/test/js/utilities/ui.unit.spec.js
  src/platform/utilities/constants.js
  src/platform/utilities/ui/index.js
  src/platform/utilities/ui/scroll.js
Labels: bug, 508/Accessibility, front end, HLR, NOD, benefits-team-1, squad-2, Supplemental Claims

#27727 Pension 72951 marriage question reorder
  src/applications/pensions/config/form.js
  src/applications/pensions/tests/e2e/fixtures/data/maximal-test.json
  src/applications/pensions/tests/e2e/fixtures/data/overflow-test.json
  src/applications/pensions/tests/unit/config/marriageHistory.unit.spec.jsx
Labels: pension-benefits, pension

#27700 Pension 73146 additional job button text copy change
  src/applications/pensions/config/chapters/03-health-and-employment-information/employmentHistory.js
Labels: pension-benefits, pension

#27728 HLR | Update web components to USWDS v3
  src/applications/appeals/996/containers/ConfirmationPage.jsx
  src/applications/appeals/996/containers/IntroductionPage.jsx
  src/applications/appeals/996/content/contestableIssues.jsx
  src/applications/appeals/996/wizard/pages/claimType.jsx
Labels: front end, HLR, Tech Debt, benefits-team-1, squad-2

#27733 NOD | Update VA web components with USWDS v3
  src/applications/appeals/10182/containers/ConfirmationPage.jsx
  src/applications/appeals/10182/containers/IntroductionPage.jsx
  src/applications/appeals/10182/content/WorkInProgressMessage.jsx
  src/applications/appeals/10182/content/evidenceIntro.jsx
  src/applications/appeals/10182/content/extensionRequest.jsx
Labels: front end, Tech Debt, squad-2, Notice of Disagreement

#27731 DR | Update Appeals Forms with USWDS v3
  src/applications/appeals/download/containers/Confirmation.jsx
  src/applications/appeals/download/containers/ViewAppeal.jsx
  src/applications/appeals/shared/components/AddIssue.jsx
  src/applications/appeals/shared/components/AreaOfDisagreement.jsx
  src/applications/appeals/shared/components/ContestableIssues.jsx
  src/applications/appeals/shared/components/IssueCard.jsx
  src/applications/appeals/shared/components/IssuesSubmitted.jsx
  src/applications/appeals/shared/components/NeedsToVerify.jsx
  src/applications/appeals/shared/content/contestableIssues.jsx
  src/applications/appeals/testing/components/EditContactInfo.jsx
  src/applications/appeals/testing/components/ReviewPage.jsx
  src/applications/appeals/testing/components/ReviewPage2.jsx
  src/applications/appeals/testing/components/VeteranInformation.jsx
  src/applications/appeals/testing/containers/ConfirmationPage.jsx
  src/applications/appeals/testing/containers/IntroductionPage.jsx
Labels: front end, Tech Debt, benefits-team-1, squad-2, Supplemental Claims, Higher Level Reviews, Notice of Disagreement

#27729 Supplemental Claim | Update web components to USWDS v3
  src/applications/appeals/995/components/EvidencePrivateLimitation.jsx
  src/applications/appeals/995/components/EvidencePrivateRecords.jsx
  src/applications/appeals/995/components/EvidencePrivateRecordsAuthorization.jsx
  src/applications/appeals/995/components/EvidencePrivateRecordsRequest.jsx
  src/applications/appeals/995/components/EvidenceSummary.jsx
  src/applications/appeals/995/components/EvidenceSummaryLists.jsx
  src/applications/appeals/995/components/EvidenceSummaryReview.jsx
  src/applications/appeals/995/components/EvidenceVaRecords.jsx
  src/applications/appeals/995/components/ITFBanner.jsx
  src/applications/appeals/995/components/MissingInfo.jsx
  src/applications/appeals/995/components/Notice5103.jsx
  src/applications/appeals/995/components/PrimaryPhone.jsx
  src/applications/appeals/995/components/PrimaryPhoneReview.jsx
  src/applications/appeals/995/components/WIP.jsx
  src/applications/appeals/995/containers/ConfirmationPage.jsx
  src/applications/appeals/995/containers/IntroductionPage.jsx
  src/applications/appeals/995/content/evidencePrivateLimitation.js
  src/applications/appeals/995/content/evidencePrivateRecordsAuthorization.jsx
  src/applications/appeals/995/content/evidencePrivateRecordsRequest.jsx
  src/applications/appeals/995/content/evidenceUpload.jsx
  src/applications/appeals/995/content/evidenceVaRecordsRequest.jsx
  src/applications/appeals/995/content/evidenceWillUpload.jsx
  src/applications/appeals/995/content/itfWrapper.jsx
  src/applications/appeals/995/content/notice5103.jsx
  src/applications/appeals/995/content/submissionError.jsx
  src/applications/appeals/995/subtask/pages/start.jsx
  src/applications/appeals/995/tests/995-subtask.cypress.spec.js
  src/applications/appeals/995/tests/995-supplemental-claim.cypress.spec.js
Labels: front end, Tech Debt, benefits-team-1, squad-2, Supplemental Claims

#27697 Pension 73287 spouse former marriage contact notice copy
  src/applications/pensions/config/chapters/06-additional-information/documentUpload.js
  src/applications/pensions/helpers.jsx
Labels: pension-benefits, pension

#27694 Pension 73306 medical expense copy change
  src/applications/pensions/config/chapters/05-financial-information/hasMedicalExpenses.js
  src/applications/pensions/config/form.js
Labels: pension-benefits, pension
