Repository department-of-veterans-affairs/vets-website, pull requests merged in 2024-05, with the labels that each got.

#29513 DR | Add dimension limits to upload text
  src/applications/appeals/10182/content/EvidenceUpload.jsx
  src/applications/appeals/995/content/evidenceUpload.jsx
Labels: front end, NOD, Decision-Reviews-Team, Supplemental Claims

#29475 Representative Status Widget tests
  src/applications/representative-search/components/search/SearchControls.jsx
  src/applications/representative-search/sass/find-a-representative.scss
  src/applications/representative-search/tests/e2e/geolocation.cypress.spec.js
  src/applications/static-pages/representative-status/api/RepresentativeStatusApi.js
  src/applications/static-pages/representative-status/components/App/index.jsx
  src/applications/static-pages/representative-status/components/States/Auth.jsx
  src/applications/static-pages/representative-status/hooks/useRepresentativeStatus.js
  src/applications/static-pages/representative-status/stylesheet.scss
  src/applications/static-pages/representative-status/tests/App.unit.spec.jsx
  src/applications/static-pages/representative-status/tests/Auth.unit.spec.jsx
  src/applications/static-pages/representative-status/tests/phoneNumbers.unit.spec.js
  src/applications/static-pages/representative-status/tests/repStatusApi.unit.spec.jsx
  src/applications/static-pages/representative-status/tests/repStatusHook.unit.spec.jsx
  src/applications/static-pages/representative-status/utilities/camelCase.js
Labels: find-a-representative

#29523 Initialize 686c-674 V2 app
  src/applications/disability-benefits/686c-674-v2/README.md
  src/applications/disability-benefits/686c-674-v2/actions/placeholder.js
  src/applications/disability-benefits/686c-674-v2/analytics/placeholder.js
  src/applications/disability-benefits/686c-674-v2/components/placeholder.js
  src/applications/disability-benefits/686c-674-v2/config/placeholder.js
  src/applications/disability-benefits/686c-674-v2/containers/placeholder.js
  src/applications/disability-benefits/686c-674-v2/documentation/placeholder.txt
  src/applications/disability-benefits/686c-674-v2/reducers/placeholder.js
  src/applications/disability-benefits/686c-674-v2/sass/placeholder.scss
  src/applications/disability-benefits/686c-674-v2/tests/placeholder.unit.spec.js
  src/applications/disability-benefits/686c-674-v2/utils/placeholder.js
Labels: dependents-benefits

#29514 NOD | Fix header on review & submit
  src/applications/appeals/10182/config/form.js
Labels: front end, NOD, Decision-Reviews-Team

#29567 NOD | Add comment about trailing space
  src/applications/appeals/10182/config/form.js
Labels: front end, NOD, Decision-Reviews-Team

#29588 [CST] - Update subtext and tests for the Claim Letter Section
  src/applications/claims-status/components/claim-letters/ClaimLetterSection.jsx
  src/applications/claims-status/tests/components/YourClaimsPageV2.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-letters/ClaimLetterSection.unit.spec.jsx
Labels: benefits-team-1, benefits-management-tools

#29554 Representative Status Widget changes
  src/applications/representative-search/containers/SearchPage.jsx
  src/applications/static-pages/representative-status/components/App/index.jsx
  src/applications/static-pages/representative-status/components/States/Auth.jsx
  src/applications/static-pages/representative-status/hooks/useRepresentativeStatus.js
  src/applications/static-pages/representative-status/index.jsx
  src/applications/static-pages/representative-status/tests/formatContactInfo.unit.spec.js
  src/applications/static-pages/representative-status/tests/repStatusApi.unit.spec.js
  src/applications/static-pages/representative-status/tests/repStatusHook.unit.spec.js
  src/applications/static-pages/representative-status/utilities/formatContactInfo.js
Labels: find-a-representative

#29582 HLR | Add H3 to informal conference page
  src/applications/appeals/996/config/form.js
  src/applications/appeals/996/pages/informalConference.js
  src/applications/appeals/996/tests/hlr-keyboard-only.cypress.spec.js
  src/applications/appeals/996/tests/pages/InformalConference.unit.spec.jsx
  src/platform/testing/e2e/cypress/support/commands/keyboardNavigation.js
Labels: front end, HLR, Tech Debt, Decision-Reviews-Team

#29615 [CST] - Update page focus on the claim letter page
  src/applications/claims-status/containers/YourClaimLetters/index.jsx
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#29629 Rep Status widget styling
  src/applications/representative-search/containers/SearchPage.jsx
  src/applications/static-pages/representative-status/components/App/index.jsx
  src/applications/static-pages/representative-status/components/States/Auth.jsx
  src/applications/static-pages/representative-status/stylesheet.scss
  src/applications/static-pages/representative-status/utilities/formatContactInfo.js
Labels: find-a-representative

#29672 82689 - [CDP] - Aria Va-Row Attribute Missing Breaking Tests
  src/applications/combined-debt-portal/medical-copays/components/StatementCharges.jsx
  src/applications/combined-debt-portal/medical-copays/tests/unit/statement.unit.spec.js
Labels: front end, vsa-benefits-2

#29636 NOD | Confirmation page update
  src/applications/appeals/10182/components/ConfirmationPageV2.jsx
  src/applications/appeals/10182/containers/ConfirmationPage.jsx
  src/applications/appeals/10182/tests/fixtures/data/maximal-test.json
  src/applications/appeals/download/containers/Confirmation.jsx
  src/applications/appeals/download/containers/ViewAppeal.jsx
  src/applications/appeals/shared/components/ConfirmationIssues.jsx
  src/applications/appeals/shared/components/ConfirmationPdfMessages.jsx
  src/applications/appeals/shared/components/ConfirmationPersonalInfo.jsx
  src/applications/appeals/shared/constants.js
  src/applications/appeals/shared/sass/appeals.scss
  src/applications/appeals/shared/utils/areaOfDisagreement.js
  src/applications/appeals/shared/utils/data.js
  src/applications/appeals/testing/pages/areaOfDisagreement.jsx
  src/applications/appeals/testing/pages/contestableIssues.js
  src/applications/appeals/testing/utils/areaOfDisagreement.js
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: enhancement, front end, NOD, Decision-Reviews-Team

#29675 DR | Add mock data with 100 added issues
  src/applications/appeals/10182/tests/fixtures/data/100-issues.json
  src/applications/appeals/995/tests/fixtures/data/101-issues.json
  src/applications/appeals/996/tests/fixtures/data/100-issues.json
  src/applications/appeals/996/tests/validations/date.unit.spec.js
  src/applications/appeals/996/validations/date.js
Labels: front end, HLR, NOD, Decision-Reviews-Team, Supplemental Claims

#29674 [CST] - Add new feature toggle cst_claim_phases to vets-website
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#29707 [CST] - Created diagram and new overview header
  src/applications/claims-status/components/ClaimOverviewHeader.jsx
  src/applications/claims-status/components/claim-overview-tab/ClaimOverviewHeader.jsx
  src/applications/claims-status/components/claim-overview-tab/DesktopClaimPhaseDiagram.jsx
  src/applications/claims-status/components/claim-overview-tab/MobileClaimPhaseDiagram.jsx
  src/applications/claims-status/containers/OverviewPage.jsx
  src/applications/claims-status/sass/claims-status.scss
  src/applications/claims-status/tests/components/ClaimOverviewHeader.unit.spec.jsx
  src/applications/claims-status/tests/components/OverviewPage.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-overview-tab/ClaimOverviewHeader.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-overview-tab/DesktopClaimPhaseDiagram.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-overview-tab/MobileClaimPhaseDiagram.unit.spec.jsx
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#29696 Preparing for rep status widget go-live
  src/applications/representative-search/containers/SearchPage.jsx
  src/applications/static-pages/representative-status/components/States/Auth.jsx
Labels: find-a-representative

#29508 Update contact info edit pages to USWDS v3
  src/applications/appeals/10182/tests/10182-contact-loop.cypress.spec.js
  src/applications/appeals/995/tests/995-contact-loop.cypress.spec.js
  src/applications/appeals/996/tests/hlr-contact-loop.cypress.spec.js
  src/applications/letters/tests/02-keyboard-only.cypress.spec.js
  src/applications/personalization/profile/tests/components/ContactInformationEditView.unit.spec.jsx
  src/applications/personalization/profile/tests/components/contact-information/ContactInformation.delete-email-address.unit.spec.jsx
  src/applications/personalization/profile/tests/components/contact-information/ContactInformation.edit-email-address.unit.spec.jsx
  src/applications/personalization/profile/tests/components/contact-information/ContactInformation.edit-telephone.unit.spec.jsx
  src/applications/personalization/profile/tests/components/contact-information/ContactInformation.update-address.unit.spec.jsx
  src/applications/personalization/profile/tests/components/edit/Edit.unit.spec.jsx
  src/applications/personalization/profile/tests/e2e/address-validation/edit-after-validation.cypress.spec.js
  src/applications/personalization/profile/tests/e2e/address-validation/international-address.cypress.spec.js
  src/applications/personalization/profile/tests/e2e/address-validation/international-zip/international-zip-is-optional.change.country.cypress.spec.js
  src/applications/personalization/profile/tests/e2e/address-validation/international-zip/usa-address-is-required.cypress.spec.js
  src/applications/personalization/profile/tests/e2e/address-validation/page-objects/AddressPage.js
  src/applications/personalization/profile/tests/e2e/contact-information/focus-management.cypress.spec.js
  src/applications/personalization/profile/tests/e2e/contact-information/home-address-modal-failure.cypress.spec.js
  src/applications/personalization/profile/tests/e2e/contact-information/home-address-modal.cypress.spec.js
  src/applications/personalization/profile/tests/e2e/contact-information/mailing-address.cypress.spec.js
  src/applications/personalization/profile/tests/e2e/contact-information/modals.cypress.spec.js
  src/applications/personalization/profile/tests/e2e/edit/edit.cypress.spec.js
  src/platform/forms-system/test/js/components/EditContactInfo.unit.spec.jsx
  src/platform/site-wide/loading-button/LoadingButton.jsx
  src/platform/testing/e2e/cypress/support/commands/webComponents.js
  src/platform/testing/e2e/cypress/support/index.js
  src/platform/user/profile/vap-svc/components/AddressField/address-schemas.js
  src/platform/user/profile/vap-svc/components/ContactInformationFieldInfo/ConfirmRemoveModal.jsx
  src/platform/user/profile/vap-svc/components/ContactInformationFieldInfo/ContactInformationUpdateSuccessAlert.jsx
  src/platform/user/profile/vap-svc/components/ProfileInformationEditView.jsx
  src/platform/user/profile/vap-svc/constants/index.js
  src/platform/user/profile/vap-svc/containers/AddressValidationView.jsx
  src/platform/user/profile/vap-svc/tests/containers/AddressValidationView.unit.spec.jsx
  src/platform/user/profile/vap-svc/util/contact-information/addressUtils.js
  src/platform/user/profile/vap-svc/util/contact-information/emailUtils.js
  src/platform/user/profile/vap-svc/util/contact-information/phoneUtils.js
Labels: front end, HLR, Tech Debt, NOD, Decision-Reviews-Team, Supplemental Claims

#29704 NOD | Add confirmation update unit tests
  src/applications/appeals/10182/components/ConfirmationPageV2.jsx
  src/applications/appeals/10182/tests/components/ConfirmationPagev2.unit.spec.jsx
  src/applications/appeals/10182/tests/containers/ConfirmationPage.unit.spec.jsx
  src/applications/appeals/10182/tests/fixtures/data/maximal-test.json
  src/applications/appeals/10182/tests/fixtures/data/minimal-test.json
  src/applications/appeals/10182/tests/fixtures/data/no-api-issues.json
  src/applications/appeals/download/containers/Confirmation.jsx
  src/applications/appeals/shared/components/ConfirmationIssues.jsx
  src/applications/appeals/shared/components/ConfirmationPdfMessages.jsx
  src/applications/appeals/shared/components/ConfirmationPersonalInfo.jsx
  src/applications/appeals/shared/tests/components/ConfirmationIssues.unit.spec.jsx
  src/applications/appeals/shared/tests/components/ConfirmationPdfMessages.unit.spec.jsx
  src/applications/appeals/shared/tests/components/ConfirmationPersonalInfo.unit.spec.jsx
  src/applications/appeals/shared/tests/utils/areaOfDisagreement.unit.spec.js
  src/applications/appeals/shared/tests/utils/data.unit.spec.js
Labels: front end, NOD, Decision-Reviews-Team

#29724 80217 url and title updates
  src/applications/disability-benefits/all-claims/pages/toxicExposure/gulfWar1990Details.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/gulfWar1990Summary.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/toxicExposurePages.js
  src/applications/disability-benefits/all-claims/tests/content/toxicExposureSummary.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/gulfWar1990Details.unit.spec.jsx
Labels: disability-compensation

#29778 Removed prod env check on widget loader
  src/applications/representative-search/containers/SearchPage.jsx
Labels: find-a-representative

#29755 DR | Downtime updates & testing
  src/applications/appeals/10182/tests/10182-downtime-notification.cypress.spec.js
  src/applications/appeals/10182/tests/fixtures/mocks/in-progress-forms.json
  src/applications/appeals/995/tests/995-downtime-notification.cypress.spec.js
  src/applications/appeals/995/tests/995.cypress.helpers.js
  src/applications/appeals/996/tests/hlr-downtime-notification.cypress.spec.js
  src/applications/appeals/shared/tests/cypress.downtime.js
  src/applications/appeals/shared/tests/cypress.setup.js
  src/applications/appeals/shared/tests/fixtures/mocks/get-in-progress.js
  src/applications/check-in/components/layout/Wrapper.jsx
  src/applications/facility-locator/containers/FacilityLocatorApp.jsx
  src/platform/forms/sass/_m-schemaform.scss
  src/platform/forms/save-in-progress/DowntimeMessage.jsx
  src/platform/forms/save-in-progress/RoutedSavableReviewPage.jsx
  src/platform/forms/save-in-progress/SaveInProgressIntro.jsx
  src/platform/forms/tests/save-in-progress/DowntimeMessage.unit.spec.jsx
  src/platform/forms/tests/save-in-progress/SaveInProgressIntro.unit.spec.jsx
  src/platform/monitoring/DowntimeNotification/components/Down.jsx
  src/platform/monitoring/DowntimeNotification/containers/DowntimeNotification.jsx
  src/platform/monitoring/DowntimeNotification/tests/Down.unit.spec.jsx
Labels: front end, HLR, NOD, Decision-Reviews-Team, Supplemental Claims

#29631 Add feature flag for enabling/disabling 0969 Income and Assets Form
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: pension-benefits

#29871 [CST] - Update 5103 alert text
  src/applications/claims-status/components/claim-files-tab/FilesNeeded.jsx
  src/applications/claims-status/tests/components/claim-files-tab/FilesNeeded.unit.spec.jsx
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#29863 83339 Add back FDC (Fully Developed Claim) page
  src/applications/disability-benefits/all-claims/config/form.js
  src/applications/disability-benefits/all-claims/content/fullyDevelopedClaim.jsx
  src/applications/disability-benefits/all-claims/pages/fullyDevelopedClaim.js
  src/applications/disability-benefits/all-claims/pages/index.js
  src/applications/disability-benefits/all-claims/submit-transformer.js
  src/applications/disability-benefits/all-claims/tests/fixtures/data/maximal-test.json
  src/applications/disability-benefits/all-claims/tests/fixtures/data/transformed-data/maximal-test.json
  src/applications/disability-benefits/all-claims/tests/pages/fullyDevelopedClaim.unit.spec.jsx
Labels: disability-compensation

#29841 Update contact info edit errors
  src/applications/disability-benefits/all-claims/tests/pages/trainingPay.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/unemployabilityCertification.unit.spec.jsx
  src/applications/personalization/profile/tests/components/ContactInformationEditView.unit.spec.jsx
  src/applications/personalization/profile/tests/e2e/personal-information/personal-info.require-field-with-intial-data.cypress.spec.js
  src/applications/personalization/profile/tests/unit-test-helpers.js
  src/applications/vaos/tests/new-appointment/components/ClinicChoicePage.unit.spec.js
  src/applications/vaos/tests/new-appointment/components/PreferredDatePage.unit.spec.js
  src/applications/vaos/tests/new-appointment/components/ReasonForAppointmentPage.unit.spec.js
  src/applications/vaos/tests/new-appointment/components/TypeOfAudiologyCare.unit.spec.js
  src/applications/vaos/tests/new-appointment/components/TypeOfEyeCarePage.unit.spec.js
  src/applications/vaos/tests/new-appointment/components/TypeOfFacilityPage.unit.spec.js
  src/applications/vaos/tests/new-appointment/components/TypeOfSleepCarePage.unit.spec.js
  src/applications/vaos/tests/new-appointment/components/VAFacilityPage/index.unit.spec.js
  src/platform/forms-system/src/js/validation.js
  src/platform/forms-system/test/js/validation.unit.spec.js
  src/platform/forms/validations.js
  src/platform/user/profile/vap-svc/tests/containers/VAPServiceProfileField.unit.spec.jsx
  src/platform/user/profile/vap-svc/util/contact-information/emailUtils.js
  src/platform/user/profile/vap-svc/util/contact-information/phoneUtils.js
Labels: front end, HLR, NOD, Decision-Reviews-Team, Supplemental Claims

#29859 Pensions adjust helper text
  src/applications/pensions/components/ArrayDescription.jsx
  src/applications/pensions/config/chapters/03-health-and-employment-information/helpers.js
Labels: pension-benefits

#29901 DR | Fix spacing & cleanup CSS
  src/applications/appeals/10182/containers/IntroductionPage.jsx
  src/applications/appeals/10182/sass/10182-nod.scss
  src/applications/appeals/995/components/EvidenceSummaryLists.jsx
  src/applications/appeals/995/components/Notice5103.jsx
  src/applications/appeals/995/containers/IntroductionPage.jsx
  src/applications/appeals/995/content/IssueSummary.jsx
  src/applications/appeals/995/sass/995-supplemental-claim.scss
  src/applications/appeals/996/sass/0996-higher-level-review.scss
  src/applications/appeals/shared/components/ContestableIssues.jsx
  src/applications/appeals/shared/sass/appeals.scss
  src/applications/appeals/testing/components/ContestableIssuesWidget.jsx
Labels: front end, HLR, Tech Debt, Decision-Reviews-Team, Supplemental Claims

#29825 Pensions remove multiresponse flag
  src/applications/pensions/PensionsApp.jsx
  src/applications/pensions/components/ListItemView.jsx
  src/applications/pensions/config/chapters/02-military-history/previousNames.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/helpers.js
  src/applications/pensions/config/chapters/04-household-information/currentSpouseFormerMarriages.jsx
  src/applications/pensions/config/chapters/04-household-information/dependentChildren.js
  src/applications/pensions/config/chapters/05-financial-information/careExpenses.js
  src/applications/pensions/config/chapters/05-financial-information/incomeSources.js
  src/applications/pensions/config/chapters/05-financial-information/medicalExpenses.js
  src/applications/pensions/helpers.jsx
  src/applications/pensions/multiresponseStyles.js
  src/applications/pensions/sass/pensions.scss
  src/applications/pensions/tests/unit/chapters/03-health-and-employment-information/employmentHistory.unit.spec.jsx
  src/applications/pensions/tests/unit/components/ListItemView.unit.spec.jsx
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: pension-benefits

#29876 76693 - [FSR] - Use Income New data BE data/calcs
  src/applications/financial-status-report/components/householdIncome/AdditionalIncomeCheckList.jsx
  src/applications/financial-status-report/components/householdIncome/OtherIncomeSummary.jsx
  src/applications/financial-status-report/components/householdIncome/SpouseAdditionalIncomeCheckList.jsx
  src/applications/financial-status-report/components/householdIncome/SpouseOtherIncomeSummary.jsx
  src/applications/financial-status-report/components/monetary/FinancialOverview.jsx
  src/applications/financial-status-report/tests/e2e/fsr-5655-streamlined-waiver-long.cypress.spec.js
  src/applications/financial-status-report/utils/calculateIncome.js
  src/applications/financial-status-report/utils/streamlinedDepends.js
Labels: front end, vsa-benefits-2

#29913 NOD | Show "Not selected" for empty boolean values
  src/applications/appeals/10182/components/ConfirmationPageV2.jsx
  src/applications/appeals/10182/tests/components/ConfirmationPagev2.unit.spec.jsx
  src/applications/appeals/shared/components/ConfirmationIssues.jsx
  src/applications/appeals/shared/components/ConfirmationPersonalInfo.jsx
  src/applications/appeals/shared/tests/components/ConfirmationPersonalInfo.unit.spec.jsx
  src/applications/appeals/shared/tests/utils/confirmation.unit.spec.js
  src/applications/appeals/shared/utils/confirmation.js
Labels: front end, NOD, Decision-Reviews-Team

#29738 [CST] - Add claim phase stepper (steps 1-4) to the overview page
  src/applications/claims-status/components/claim-overview-tab/ClaimPhaseStepper.jsx
  src/applications/claims-status/containers/OverviewPage.jsx
  src/applications/claims-status/sass/claims-status.scss
  src/applications/claims-status/tests/components/OverviewPage.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-overview-tab/ClaimPhaseStepper.unit.spec.jsx
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#29930 Add top margin to errors
  src/platform/forms/sass/_m-schemaform.scss
Labels: front end, HLR, NOD, Decision-Reviews-Team, Supplemental Claims

#29931 Pensions- change alert to info
  src/applications/pensions/components/FormAlerts/index.jsx
  src/applications/pensions/tests/unit/chapters/05-financial-information/incomeSources.unit.spec.jsx
Labels: pension-benefits

#29929 Update edit page paths
  src/applications/appeals/10182/tests/10182-contact-loop.cypress.spec.js
  src/applications/appeals/995/tests/995-contact-loop.cypress.spec.js
  src/applications/appeals/996/tests/hlr-contact-loop.cypress.spec.js
  src/platform/forms-system/src/js/components/ContactInfo.jsx
  src/platform/forms-system/src/js/definitions/profileContactInfo.js
  src/platform/user/profile/vap-svc/components/ProfileInformationFieldController.jsx
Labels: front end, HLR, Tech Debt, NOD, Decision-Reviews-Team, Supplemental Claims

#29940 incremented vets-json-schema version
  package.json
  yarn.lock
Labels: appoint-a-representative

#29948 DR | Add/update submission error message
  src/applications/appeals/10182/config/form.js
  src/applications/appeals/995/config/form.js
  src/applications/appeals/996/config/form.js
  src/applications/appeals/shared/content/submissionError.jsx
  src/applications/appeals/shared/tests/content/submissionError.unit.spec.jsx
Labels: front end, HLR, NOD, Decision-Reviews-Team, Supplemental Claims

#29740 Initial app generation of Appoint a Rep form 21-22 and 21-22A
  src/applications/representative-appoint/21-22-AND-21-22A-schema.json
  src/applications/representative-appoint/app-entry.jsx
  src/applications/representative-appoint/config/form.js
  src/applications/representative-appoint/containers/App.jsx
  src/applications/representative-appoint/containers/ConfirmationPage.jsx
  src/applications/representative-appoint/containers/IntroductionPage.jsx
  src/applications/representative-appoint/definitions/toursOfDuty.js
  src/applications/representative-appoint/manifest.json
  src/applications/representative-appoint/pages/directDeposit.js
  src/applications/representative-appoint/pages/serviceHistory.js
  src/applications/representative-appoint/reducers/index.js
  src/applications/representative-appoint/routes.jsx
  src/applications/representative-appoint/sass/appoint-a-representative.scss
  src/applications/representative-appoint/tests/appoint-a-representative.cypress.spec.js
  src/applications/representative-appoint/tests/fixtures/data/test-data.json
Labels: appoint-a-representative

#29943 [CST] - Update font awesome icons to va-icons
  src/applications/claims-status/components/ClaimCard/ClaimCardLink.jsx
  src/applications/claims-status/components/ClaimsListItem.jsx
  src/applications/claims-status/components/DueDateOld.jsx
  src/applications/claims-status/components/SubmittedTrackedItem.jsx
  src/applications/claims-status/components/claim-files-tab/DocumentsFiled.jsx
  src/applications/claims-status/components/claim-letters/ClaimLetterSection.jsx
  src/applications/claims-status/components/claim-status-tab/WhatWeAreDoing.jsx
  src/applications/claims-status/sass/claims-status.scss
  src/applications/rated-disabilities/components/OnThisPageLink.jsx
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#29957 Update files and list titles for consistency
  src/applications/pensions/config/chapters/02-military-history/hasOtherNames.js
  src/applications/pensions/config/chapters/02-military-history/index.js
  src/applications/pensions/config/chapters/02-military-history/otherNames.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/currentEmploymentHistory.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/previousEmploymentHistory.js
  src/applications/pensions/config/chapters/05-financial-information/careExpenses.js
  src/applications/pensions/config/chapters/05-financial-information/medicalExpenses.js
  src/applications/pensions/tests/e2e/pagePaths.js
  src/applications/pensions/tests/unit/chapters/02-military-history/hasOtherNames.jsx
  src/applications/pensions/tests/unit/chapters/02-military-history/otherNames.jsx
Labels: pension-benefits

#29902 Add new Lighthouse ITF flipper
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: pension-benefits

#30051 HLR & NOD | Fix review page edit label for area of disagreement
  src/applications/appeals/shared/pages/areaOfDisagreement.js
Labels: bug, 508/Accessibility, front end, HLR, NOD, Decision-Reviews-Team

#30064 DR | Fix page focus issues
  src/applications/appeals/10182/config/form.js
  src/applications/appeals/995/config/form.js
  src/applications/appeals/996/config/form.js
  src/applications/appeals/shared/tests/utils/focus.unit.spec.js
  src/applications/appeals/shared/utils/focus.js
Labels: bug, 508/Accessibility, front end, HLR, NOD, Decision-Reviews-Team, Supplemental Claims

#30069 SC | Fix uploaded file focus management
  src/applications/appeals/995/config/form.js
  src/applications/appeals/995/tests/utils/focus.unit.spec.js
  src/applications/appeals/995/utils/focus.js
  src/applications/appeals/shared/utils/focus.js
Labels: bug, 508/Accessibility, front end, Decision-Reviews-Team, Supplemental Claims

#30084 SC | Update ITF html
  src/applications/appeals/995/content/itfWrapper.jsx
Labels: bug, 508/Accessibility, front end, Decision-Reviews-Team, Supplemental Claims

#30047 DR | Full name missing alert update
  src/applications/appeals/10182/containers/IntroductionPage.jsx
  src/applications/appeals/10182/tests/containers/IntroductionPage.unit.spec.jsx
  src/applications/appeals/995/containers/IntroductionPage.jsx
  src/applications/appeals/995/tests/containers/IntroductionPage.unit.spec.jsx
  src/applications/appeals/996/containers/IntroductionPage.jsx
  src/applications/appeals/996/tests/containers/IntroductionPage.unit.spec.jsx
  src/applications/appeals/shared/components/NeedsMissingInfoAlert.jsx
  src/applications/appeals/shared/components/NeedsToVerifyAlert.jsx
  src/applications/appeals/shared/components/ShowAlertOrSip.jsx
  src/applications/appeals/shared/tests/components/NeedsMissingInfoAlert.unit.spec.jsx
  src/applications/appeals/shared/tests/components/NeedsToVerifyAlert.unit.spec.jsx
  src/applications/appeals/shared/tests/components/ShowAlertOrSip.unit.spec.jsx
Labels: bug, front end, HLR, NOD, Decision-Reviews-Team, Supplemental Claims

#30090 DR | Fix long file name overflow
  src/applications/appeals/shared/utils/upload.js
Labels: bug, front end, NOD, Decision-Reviews-Team, Supplemental Claims

#30082 NDBEX 83933: Update Intro page (Burials V2)
  src/applications/burials-v2/components/IntroductionPage.jsx
Labels: Burials, burial-benefits

#29975 Dbex/73694 not sure
  src/applications/disability-benefits/all-claims/components/ToxicExposureSummary.jsx
  src/applications/disability-benefits/all-claims/constants.js
  src/applications/disability-benefits/all-claims/content/toxicExposure.jsx
  src/applications/disability-benefits/all-claims/pages/toxicExposure/gulfWar1990Details.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/gulfWar2001Details.js
  src/applications/disability-benefits/all-claims/tests/content/toxicExposure.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/gulfWar1990Details.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/gulfWar1990Locations.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/gulfWar1990Summary.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/gulfWar2001Details.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/gulfWar2001Locations.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/gulfWar2001Summary.unit.spec.jsx
Labels: disability-compensation

#30033 [CST] - Added claim phases 5 - 8 to stepper
  src/applications/claims-status/components/claim-overview-tab/ClaimPhaseStepper.jsx
  src/applications/claims-status/tests/components/claim-overview-tab/ClaimPhaseStepper.unit.spec.jsx
  src/applications/claims-status/tests/e2e/03.claim-overview.v2.cypress.spec.js
  src/applications/claims-status/tests/e2e/fixtures/mocks/lighthouse/feature-toggle-claim-phases-enabled.json
  src/applications/claims-status/tests/e2e/page-objects/TrackClaimsPageV2.js
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#30085 [CST] - Update Status Tab for the What We're Doing Section when feature flag cst_claim_phases is enabled
  src/applications/claims-status/components/claim-status-tab/WhatWeAreDoing.jsx
  src/applications/claims-status/containers/ClaimStatusPage.jsx
  src/applications/claims-status/tests/components/ClaimStatusPage.unit.spec.jsx
  src/applications/claims-status/tests/components/OverviewPage.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-status-tab/WhatWeAreDoing.unit.spec.jsx
  src/applications/claims-status/tests/utils/helpers.unit.spec.js
  src/applications/claims-status/utils/helpers.js
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#30066 Fix form saved focus on alert
  src/platform/forms/save-in-progress/FormSaved.jsx
  src/platform/forms/tests/save-in-progress/FormSaved.unit.spec.jsx
Labels: bug, 508/Accessibility, front end, HLR, NOD, Decision-Reviews-Team, Supplemental Claims
