Repository department-of-veterans-affairs/vets-website, pull requests merged in 2024-12, with the labels that each got.

#33192 update net worth constant
  src/applications/disability-benefits/686c-674/config/constants.js
Labels: dependents-benefits

#33253 Appoint a rep QA findings
  src/applications/representative-appoint/components/ClaimantTypeForm.jsx
  src/applications/representative-appoint/components/ProfileNotUpdatedNote.jsx
  src/applications/representative-appoint/containers/IntroductionPage.jsx
  src/applications/representative-appoint/containers/NextStepsPage.jsx
  src/applications/representative-appoint/tests/fixtures/data/form-data.json
  src/applications/representative-appoint/tests/fixtures/data/pdf-transformed-form-data.json
  src/applications/representative-appoint/tests/pages/representative/selectAccreditedRepresentative.unit.spec.jsx
  src/applications/representative-appoint/tests/pages/representative/selectOrganization.unit.spec.jsx
  src/applications/representative-appoint/tests/utilities/pdfTransform.unit.spec.jsx
  src/applications/representative-appoint/utilities/pdfTransform.js
Labels: appoint-a-representative

#33278 HLR | Use v2 endpoint with toggle
  src/applications/appeals/996/config/submitForm.js
  src/applications/appeals/996/tests/config/submitForm.unit.spec.js
  src/applications/appeals/996/tests/fixtures/data/maximal-test-v2.5.json
  src/applications/appeals/996/tests/hlr-v2.5.cypress.spec.js
Labels: HLR, Decision-Reviews-Team, frontend

#33302 Appoint a rep QA
  src/applications/representative-appoint/components/SelectAccreditedRepresentative.jsx
  src/applications/representative-appoint/config/form.js
  src/applications/representative-appoint/containers/IntroductionPage.jsx
Labels: appoint-a-representative

#33270 SC | Add submitted data to confirmation
  src/applications/appeals/995/components/ConfirmationPageV2.jsx
  src/applications/appeals/995/components/EvidenceSummaryLists.jsx
  src/applications/appeals/995/constants.js
  src/applications/appeals/995/containers/ConfirmationPage.jsx
  src/applications/appeals/995/content/facilityTypes.js
  src/applications/appeals/995/content/livingSituation.jsx
  src/applications/appeals/995/tests/components/ConfirmationPagev2.unit.spec.jsx
  src/applications/appeals/995/tests/components/EvidenceSummary.unit.spec.jsx
  src/applications/appeals/995/tests/components/EvidenceSummaryLists.unit.spec.jsx
  src/applications/appeals/995/tests/components/EvidenceSummaryListsOld.unit.spec.jsx
  src/applications/appeals/995/tests/components/EvidenceSummaryOld.unit.spec.jsx
  src/applications/appeals/995/tests/components/EvidenceSummaryReview.unit.spec.jsx
  src/applications/appeals/995/tests/containers/ConfirmationPage.unit.spec.jsx
  src/applications/appeals/995/tests/fixtures/data/maximal-test-v2.json
  src/applications/appeals/995/tests/pages/facilityType.unit.spec.jsx
  src/applications/appeals/995/tests/pages/livingSituation.unit.spec.js
  src/applications/appeals/996/tests/components/ConfirmationPagev2.unit.spec.jsx
  src/applications/appeals/996/tests/containers/ConfirmationPage.unit.spec.jsx
  src/applications/appeals/shared/components/ConfirmationIssues.jsx
  src/applications/appeals/shared/components/ConfirmationPersonalInfo.jsx
  src/applications/appeals/shared/tests/components/ConfirmationIssues.unit.spec.jsx
  src/applications/appeals/shared/tests/components/ConfirmationPersonalInfo.unit.spec.jsx
  src/applications/appeals/testing/sc/constants.js
Labels: Decision-Reviews-Team, Supplemental Claims, frontend

#33294 Dbex/84062 claim certification
  src/applications/disability-benefits/all-claims/config/form.js
  src/applications/disability-benefits/all-claims/content/preSubmitInfo.js
  src/applications/disability-benefits/all-claims/prefill-transformer.js
  src/applications/disability-benefits/all-claims/tests/cypress.helpers.js
  src/applications/disability-benefits/all-claims/tests/fixtures/data/minimal-test.json
Labels: disability-compensation

#33188 [DOCS] Update pull request template, accessibility review link
  .github/PULL_REQUEST_TEMPLATE.md
Labels: bug, documentation

#33229 [Art/97453] - POA request card styling update
  src/applications/accredited-representative-portal/app-entry.jsx
  src/applications/accredited-representative-portal/components/POARequestsCard/POARequestsCard.jsx
  src/applications/accredited-representative-portal/components/POARequestsTable/POARequestsTable.jsx
  src/applications/accredited-representative-portal/components/POARequestsTableFetcher/POARequestsTableFetcher.jsx
  src/applications/accredited-representative-portal/mocks/mockPOARequestsResponse.json
  src/applications/accredited-representative-portal/sass/POARequestsCard.scss
  src/applications/accredited-representative-portal/sass/POARequestsTable.scss
  src/applications/accredited-representative-portal/tests/unit/components/POARequestsCard.unit.spec.jsx
Labels: benefits-accredited-rep-facing

#33262 isolating 21a sub app
  package.json
  src/applications/accredited-representative-portal/accreditation/21a/README.md
  src/applications/accredited-representative-portal/accreditation/21a/app-entry.jsx
  src/applications/accredited-representative-portal/accreditation/21a/components/common/Footer/Footer.jsx
  src/applications/accredited-representative-portal/accreditation/21a/components/common/Header/Header.jsx
  src/applications/accredited-representative-portal/accreditation/21a/components/common/Header/Header.scss
  src/applications/accredited-representative-portal/accreditation/21a/components/common/Header/MobileHeader/MobileHeader.jsx
  src/applications/accredited-representative-portal/accreditation/21a/components/common/Header/MobileHeader/MobileLogoRow.jsx
  src/applications/accredited-representative-portal/accreditation/21a/components/common/Header/MobileHeader/MobileOfficialGovtWebsite.jsx
  src/applications/accredited-representative-portal/accreditation/21a/components/common/Header/WiderThanMobileHeader/WiderThanMobileHeader.jsx
  src/applications/accredited-representative-portal/accreditation/21a/components/common/Header/WiderThanMobileHeader/WiderThanMobileLogoRow.jsx
  src/applications/accredited-representative-portal/accreditation/21a/components/common/Header/WiderThanMobileHeader/WiderThanMobileOfficialGovtWebsite.jsx
  src/applications/accredited-representative-portal/accreditation/21a/components/common/Header/common/UserNav.jsx
  src/applications/accredited-representative-portal/accreditation/21a/constants/index.js
  src/applications/accredited-representative-portal/accreditation/21a/constants/sis.js
  src/applications/accredited-representative-portal/accreditation/21a/constants/usip.js
  src/applications/accredited-representative-portal/accreditation/21a/containers/App.jsx
  src/applications/accredited-representative-portal/accreditation/21a/containers/IntroductionPage.jsx
  src/applications/accredited-representative-portal/accreditation/21a/package.json
  src/applications/accredited-representative-portal/accreditation/21a/store.js
Labels: benefits-accredited-rep-facing

#33283 Global | Remove left padding on SiP message
  src/platform/forms/sass/_m-schemaform.scss
Labels: HLR, NOD, Decision-Reviews-Team, Supplemental Claims, frontend

#33286 NOD | Customize confirmation information
  src/applications/appeals/10182/components/ConfirmationPageV2.jsx
  src/applications/appeals/10182/tests/components/ConfirmationPagev2.unit.spec.jsx
  src/applications/appeals/10182/tests/utils/helpers.unit.spec.js
  src/applications/appeals/10182/utils/helpers.js
Labels: NOD, Decision-Reviews-Team, frontend

#33264 Add discontinued incomes section
  src/applications/income-and-asset-statement/config/chapters/11-discontinued-incomes/discontinuedIncomePages.js
  src/applications/income-and-asset-statement/config/chapters/11-discontinued-incomes/index.js
  src/applications/income-and-asset-statement/config/form.js
  src/applications/income-and-asset-statement/labels.jsx
  src/applications/income-and-asset-statement/tests/e2e/fixtures/data/test-data.json
  src/applications/income-and-asset-statement/tests/e2e/income-and-asset-statement.cypress.spec.js
Labels: pension-income-assets

#33314 DR | Add feature toggles for modularized API endpoints
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: HLR, NOD, Decision-Reviews-Team, Supplemental Claims, frontend

#33106 ART/96498 - POA request details page
  src/applications/accredited-representative-portal/app-entry.jsx
  src/applications/accredited-representative-portal/components/POARequestsTableFetcher/POARequestsTableFetcher.jsx
  src/applications/accredited-representative-portal/containers/POARequestDetailsPage.jsx
  src/applications/accredited-representative-portal/hooks/usePOARequests.js
  src/applications/accredited-representative-portal/routes.jsx
  src/applications/accredited-representative-portal/sass/POARequestDetails.scss
  src/applications/accredited-representative-portal/tests/unit/components/POARequestsTableFetcher.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/containers/POARequestDetails.unit.spec.jsx
Labels: benefits-accredited-rep-facing

#33331 Add income receipt waivers
  src/applications/income-and-asset-statement/config/chapters/03-unassociated-incomes/unassociatedIncomePages.js
  src/applications/income-and-asset-statement/config/chapters/04-associated-incomes/associatedIncomePages.js
  src/applications/income-and-asset-statement/config/chapters/05-owned-assets/ownedAssetPages.js
  src/applications/income-and-asset-statement/config/chapters/06-royalties-and-other-properties/royaltiesAndOtherPropertyPages.js
  src/applications/income-and-asset-statement/config/chapters/08-trusts/trustPages.js
  src/applications/income-and-asset-statement/config/chapters/09-annuities/annuityPages.js
  src/applications/income-and-asset-statement/config/chapters/12-income-receipt-waivers/incomeReceiptWaiverPages.js
  src/applications/income-and-asset-statement/config/chapters/12-income-receipt-waivers/index.js
  src/applications/income-and-asset-statement/config/form.js
  src/applications/income-and-asset-statement/helpers.js
  src/applications/income-and-asset-statement/tests/e2e/fixtures/data/test-data.json
  src/applications/income-and-asset-statement/tests/e2e/income-and-asset-statement.cypress.spec.js
Labels: pension-income-assets

#33210 [DBX-97063] 0781 Paper Sync boilerplate
  src/applications/disability-benefits/all-claims/config/form.js
  src/applications/disability-benefits/all-claims/config/form0781/index.js
  src/applications/disability-benefits/all-claims/content/form0781.jsx
  src/applications/disability-benefits/all-claims/pages/additionalFormsChapterWrapper.js
  src/applications/disability-benefits/all-claims/pages/form0781/workflowChoicePage.js
  src/applications/disability-benefits/all-claims/tests/config/form0781.unit.spec.js
  src/applications/disability-benefits/all-claims/tests/pages/additionalFormsChapterWrapper.unit.spec.js
  src/applications/disability-benefits/all-claims/tests/pages/form0781/workflowChoicePage.unit.spec.js
  src/applications/disability-benefits/all-claims/utils/form0781.js
  src/applications/disability-benefits/all-claims/utils/index.jsx
Labels: disability-experience, disability-compensation

#33397 SC | Updates post-research
  src/applications/appeals/995/components/EvidenceRecords.jsx
  src/applications/appeals/995/content/evidenceVaRecords.jsx
  src/applications/appeals/995/content/facilityTypes.js
  src/applications/appeals/995/pages/facilityTypes.js
  src/applications/appeals/995/tests/pages/facilityType.unit.spec.jsx
  src/applications/appeals/995/tests/validations/facilityTypes.unit.spec.js
  src/applications/appeals/995/validations/facilityTypes.js
Labels: Decision-Reviews-Team, Supplemental Claims, frontend

#33370 SC | Switch APIs based on toggle
  src/applications/appeals/995/actions/index.js
  src/applications/appeals/995/config/form.js
  src/applications/appeals/995/config/submitForm.js
  src/applications/appeals/995/constants/apis.js
  src/applications/appeals/995/constants/index.js
  src/applications/appeals/995/containers/App.jsx
  src/applications/appeals/995/tests/995-ITF.cypress.spec.js
  src/applications/appeals/995/tests/995-contact-loop.cypress.spec.js
  src/applications/appeals/995/tests/995-downtime-notification.cypress.spec.js
  src/applications/appeals/995/tests/995-keyboard-only.cypress.spec.js
  src/applications/appeals/995/tests/995-max-selections.cypress.spec.js
  src/applications/appeals/995/tests/995.cypress.helpers.js
  src/applications/appeals/995/tests/config/submitForm.unit.spec.js
  src/applications/appeals/995/tests/containers/App.unit.spec.jsx
  src/applications/appeals/995/utils/upload.js
  src/applications/appeals/shared/tests/cypress.downtime.js
  src/applications/appeals/shared/tests/cypress.max-selections.js
  src/applications/appeals/shared/tests/cypress.setup.js
Labels: Decision-Reviews-Team, Supplemental Claims, frontend

#33413 95923 - [CDP] Temporary hurricane banner update (complete prior to 12/09/2024)
  src/applications/combined-debt-portal/combined/components/DisasterAlert.jsx
  src/applications/combined-debt-portal/combined/containers/OverviewPage.jsx
  src/applications/combined-debt-portal/debt-letters/containers/DebtLettersSummary.jsx
  src/applications/combined-debt-portal/medical-copays/containers/SummaryPage.jsx
Labels: vsa-benefits-2, frontend

#33339 install react router 6 in accredited representative portal
  package.json
  src/applications/accredited-representative-portal/app-entry.jsx
  src/applications/accredited-representative-portal/components/LandingPageWelcome/LandingPageWelcome.jsx
  src/applications/accredited-representative-portal/components/POARequestsCard/POARequestsCard.jsx
  src/applications/accredited-representative-portal/components/common/Breadcrumbs.jsx
  src/applications/accredited-representative-portal/containers/App.jsx
  src/applications/accredited-representative-portal/containers/POARequestDetailsPage.jsx
  src/applications/accredited-representative-portal/containers/SignedInLayout.jsx
  src/applications/accredited-representative-portal/package.json
  src/applications/accredited-representative-portal/routes.jsx
  src/applications/accredited-representative-portal/tests/unit/helpers/index.jsx
Labels: benefits-accredited-rep-facing

#33340 Dependents | 686 Updates: Removing Custom Routing
  src/applications/disability-benefits/686c-674-v2/config/chapters/report-dependent-death/deceasedDependentArrayPages.js
  src/applications/disability-benefits/686c-674-v2/config/chapters/stepchild-no-longer-part-of-household/removeChildHouseholdArrayPages.js
  src/applications/disability-benefits/686c-674-v2/config/form.js
Labels: dependents-benefits

#33325 Appoint a Rep component unit tests
  src/applications/representative-appoint/components/CurrentAccreditedRepresentative.jsx
  src/applications/representative-appoint/components/SelectAccreditedRepresentative.jsx
  src/applications/representative-appoint/components/VeteranDetails.jsx
  src/applications/representative-appoint/config/form.js
  src/applications/representative-appoint/pages/claimant/confirmClaimantPersonalInformation.js
  src/applications/representative-appoint/pages/index.js
  src/applications/representative-appoint/prefill-transformer.js
  src/applications/representative-appoint/tests/components/GetFormHelp.unit.spec.jsx
  src/applications/representative-appoint/tests/components/SubmissionError.unit.spec.jsx
  src/applications/representative-appoint/tests/config/formConfig.unit.spec.jsx
  src/applications/representative-appoint/tests/fixtures/data/21-22a/form-data.json
  src/applications/representative-appoint/tests/fixtures/data/initial-form-data.json
  src/applications/representative-appoint/tests/fixtures/data/organization-type.json
  src/applications/representative-appoint/tests/pages/claimantType.unit.spec.jsx
  src/applications/representative-appoint/tests/pages/representative/contactAccreditedRepresentative.unit.spec.jsx
  src/applications/representative-appoint/tests/pages/representative/selectAccreditedRepresentative.unit.spec.jsx
  src/applications/representative-appoint/tests/pages/representative/selectAccreditedRepresentativeReview.unit.spec.jsx
  src/applications/representative-appoint/tests/pages/representative/selectOrganization.unit.spec.jsx
  src/applications/representative-appoint/tests/utilities/parseRepType.unit.spec.jsx
  src/applications/representative-appoint/utilities/helpers.js
Labels: appoint-a-representative

#33382 HLR | Remove static page CTA entry
  src/applications/static-pages/cta-widget/ctaWidgets.js
Labels: HLR, Tech Debt, frontend

#33427 HLR | Update confirmation page alert
  src/applications/appeals/996/components/ConfirmationPageV2.jsx
  src/applications/appeals/996/tests/components/ConfirmationPagev2.unit.spec.jsx
Labels: HLR, Decision-Reviews-Team, frontend

#33459 NOD | Remove extra comma
  src/applications/appeals/10182/components/ConfirmationPageV2.jsx
Labels: NOD, Decision-Reviews-Team, frontend

#33239 Add 5103 language to intro and supporting evidence pages
  src/applications/disability-benefits/all-claims/components/IntroductionPage.jsx
  src/applications/disability-benefits/all-claims/content/preSubmitInfo.js
  src/applications/disability-benefits/all-claims/content/supportingEvidenceOrientation.jsx
  src/applications/disability-benefits/all-claims/tests/containers/IntroductionPage.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/content/supportingEvidenceOrientation.unit.spec.jsx
  src/applications/disability-benefits/all-claims/utils/index.jsx
Labels: disability-compensation

#33408 Appoint a rep e2e tests
  src/applications/representative-appoint/components/SearchInput.jsx
  src/applications/representative-appoint/components/SelectAccreditedRepresentative.jsx
  src/applications/representative-appoint/constants/routes.js
  src/applications/representative-appoint/containers/ConfirmationPage.jsx
  src/applications/representative-appoint/containers/PreSubmitInfo.jsx
  src/applications/representative-appoint/tests/containers/ConfirmationPage.unit.spec.jsx
  src/applications/representative-appoint/tests/e2e/navigation/2122.cypress.spec.js
  src/applications/representative-appoint/tests/e2e/navigation/2122a.cypress.spec.js
  src/applications/representative-appoint/tests/fixtures/data/attorney.json
  src/applications/representative-appoint/utilities/e2eHelpers.js
Labels: appoint-a-representative

#33481 Hiding flaky unit tests in representative-appoint
  src/applications/representative-appoint/tests/pages/representative/selectAccreditedRepresentative.unit.spec.jsx
Labels: appoint-a-representative

#33475 98523 deploy 5103 changes to staging
  src/applications/disability-benefits/all-claims/utils/index.jsx
Labels: disability-compensation

#33461 HLR | Update subtask content
  src/applications/appeals/996/subtask/pages/start.jsx
Labels: HLR, Decision-Reviews-Team, frontend

#33493 SC | Update 5103 page
  src/applications/appeals/995/components/Notice5103.jsx
  src/applications/appeals/995/content/notice5103.jsx
  src/applications/appeals/995/tests/components/Notice5103.unit.spec.jsx
  src/applications/appeals/995/tests/content/notice5103.unit.spec.jsx
  src/applications/appeals/995/tests/pages/notice5103.unit.spec.js
Labels: Decision-Reviews-Team, Supplemental Claims, frontend

#33511 98523 deploy 5103 to dev and lower
  src/applications/disability-benefits/all-claims/utils/index.jsx
Labels: disability-compensation

#33510 Appoint a rep container unit tests
  src/applications/representative-appoint/config/form.js
  src/applications/representative-appoint/containers/IntroductionPage.jsx
  src/applications/representative-appoint/pages/index.js
  src/applications/representative-appoint/pages/veteran/veteranContactPhoneEmailForNonVeteran.js
  src/applications/representative-appoint/tests/containers/IntroductionPage.unit.spec.jsx
  src/applications/representative-appoint/tests/containers/NextStepsPage.unit.spec.jsx
  src/applications/representative-appoint/tests/pages/authorizations/authorizeAddress.unit.spec.jsx
  src/applications/representative-appoint/tests/pages/authorizations/authorizeInsideVA.unit.spec.jsx
  src/applications/representative-appoint/tests/pages/authorizations/authorizeMedical.unit.spec.jsx
  src/applications/representative-appoint/tests/pages/authorizations/authorizeMedicalSelect.unit.spec.jsx
  src/applications/representative-appoint/tests/pages/authorizations/authorizeOutsideVA.unit.spec.jsx
  src/applications/representative-appoint/tests/pages/authorizations/authorizeOutsideVANames.unit.spec.jsx
  src/applications/representative-appoint/tests/pages/claimant/claimantContactMailing.unit.spec.jsx
  src/applications/representative-appoint/tests/pages/claimant/claimantContactPhoneEmail.unit.spec.jsx
  src/applications/representative-appoint/tests/pages/claimant/claimantPersonalInformation.unit.spec.jsx
  src/applications/representative-appoint/tests/pages/claimant/claimantRelationship.unit.spec.jsx
  src/applications/representative-appoint/tests/pages/claimant/claimantType.unit.spec.jsx
  src/applications/representative-appoint/tests/pages/veteran/veteranContactMailing.unit.spec.jsx
  src/applications/representative-appoint/tests/pages/veteran/veteranContactPhoneEmail.unit.spec.jsx
  src/applications/representative-appoint/tests/pages/veteran/veteranIdentification.unit.spec.jsx
  src/applications/representative-appoint/tests/pages/veteran/veteranPersonalInformation.unit.spec.jsx
  src/applications/representative-appoint/tests/pages/veteran/veteranServiceInformation.unit.spec.jsx
Labels: appoint-a-representative

#33248 [96896] Appoint a Rep dynamic authorizations
  src/applications/representative-appoint/components/AddressAuthorizationDescription.jsx
  src/applications/representative-appoint/components/AddressAuthorizationPolicy.jsx
  src/applications/representative-appoint/components/InsideVAAuthorizationDescription.jsx
  src/applications/representative-appoint/components/MedicalAuthorizationDescription.jsx
  src/applications/representative-appoint/components/MedicalAuthorizationPolicy.jsx
  src/applications/representative-appoint/components/MedicalSelectAuthorizationDescription.jsx
  src/applications/representative-appoint/components/OutsideVAAuthorizationDescription.jsx
  src/applications/representative-appoint/components/OutsideVAAuthorizationNameDescription.jsx
  src/applications/representative-appoint/components/OutsideVAAuthorizationUnsureNote.jsx
  src/applications/representative-appoint/pages/authorizations/authorizeAddress.js
  src/applications/representative-appoint/pages/authorizations/authorizeInsideVA.js
  src/applications/representative-appoint/pages/authorizations/authorizeMedical.js
  src/applications/representative-appoint/pages/authorizations/authorizeMedicalSelect.js
  src/applications/representative-appoint/pages/authorizations/authorizeOutsideVA.js
  src/applications/representative-appoint/pages/authorizations/authorizeOutsideVANames.js
  src/applications/representative-appoint/tests/components/AddressAuthorizationDescription.unit.spec.jsx
  src/applications/representative-appoint/tests/components/AddressAuthorizationPolicy.unit.spec.jsx
  src/applications/representative-appoint/tests/components/InsideVAAuthorizationDescription.unit.spec.jsx
  src/applications/representative-appoint/tests/components/MedicalAuthorizationDescription.unit.spec.jsx
  src/applications/representative-appoint/tests/components/MedicalAuthorizationPolicy.unit.spec.jsx
  src/applications/representative-appoint/tests/components/MedicalSelectAuthorizationDescription.unit.spec.jsx
  src/applications/representative-appoint/tests/components/OutsideVAAuthorizationDescription.unit.spec.jsx
  src/applications/representative-appoint/tests/components/OutsideVAAuthorizationNameDescription.unit.spec.jsx
  src/applications/representative-appoint/tests/components/OutsideVAAuthorizationUnsureNote.unit.spec.jsx
  src/applications/representative-appoint/tests/fixtures/sparseFormDataExamples.js
  src/applications/representative-appoint/utilities/helpers.js
Labels: appoint-a-representative

#33437 [97180] Add unit tests for api files
  src/applications/representative-appoint/tests/api/fetchRepStatus.unit.spec.js
  src/applications/representative-appoint/tests/api/fetchRepresentatives.unit.spec.js
  src/applications/representative-appoint/tests/api/generatePDF.unit.spec.js
  src/applications/representative-appoint/tests/api/sendNextStepsEmail.unit.spec.js
Labels: appoint-a-representative

#33500 [92622] Add presubmit unit tests
  src/applications/representative-appoint/containers/PreSubmitInfo.jsx
  src/applications/representative-appoint/tests/containers/PreSubmitInfo.unit.spec.jsx
Labels: appoint-a-representative

#33530 Skipping flaky unit tests
  src/applications/representative-appoint/components/AddressAuthorizationPolicy.jsx
  src/applications/representative-appoint/components/ContactAccreditedRepresentative.jsx
  src/applications/representative-appoint/components/MedicalAuthorizationPolicy.jsx
  src/applications/representative-appoint/components/OutsideVAAuthorizationUnsureNote.jsx
  src/applications/representative-appoint/components/ReplaceAccreditedRepresentative.jsx
  src/applications/representative-appoint/components/SearchInput.jsx
  src/applications/representative-appoint/components/SearchResult.jsx
  src/applications/representative-appoint/components/SelectAccreditedRepresentative.jsx
  src/applications/representative-appoint/containers/App.jsx
  src/applications/representative-appoint/tests/components/SearchResult.unit.spec.jsx
  src/applications/representative-appoint/tests/pages/authorizations/authorizeAddress.unit.spec.jsx
  src/applications/representative-appoint/tests/pages/authorizations/authorizeMedical.unit.spec.jsx
  src/applications/representative-appoint/tests/pages/authorizations/authorizeOutsideVANames.unit.spec.jsx
Labels: appoint-a-representative

#33439 Create SMHD configs
  src/platform/user/authentication/components/CreateAccountLink.jsx
  src/platform/user/authentication/components/LoginActions.jsx
  src/platform/user/authentication/config/constants.js
  src/platform/user/authentication/config/dev.config.js
  src/platform/user/authentication/config/prod.config.js
  src/platform/user/authentication/config/staging.config.js
  src/platform/user/authentication/constants.js
  src/platform/user/authentication/utilities.js
  src/platform/user/exportsFile.js
  src/platform/user/tests/authentication/components/CreateAccountLink.unit.spec.js
  src/platform/utilities/sso/constants.js
Labels: Identity

#33547 98948 Add option for statement of truth component to use the name fro…
  src/platform/forms-system/src/js/review/SubmitController.jsx
  src/platform/forms-system/src/js/types.js
  src/platform/forms/components/review/PreSubmitSection.jsx
  src/platform/forms/tests/components/review/PreSubmitSection.unit.spec.jsx
Labels: disability-compensation

#33575 SC | Add private limitation question & separate text area
  src/applications/appeals/995/components/EvidencePrivateLimitation.jsx
  src/applications/appeals/995/components/EvidencePrivateLimitation2.jsx
  src/applications/appeals/995/config/form.js
  src/applications/appeals/995/constants/index.js
  src/applications/appeals/995/content/evidencePrivateLimitation.js
  src/applications/appeals/995/content/evidencePrivateRecordsAuthorization.jsx
  src/applications/appeals/995/tests/components/EvidencePrivateLimitation.unit.spec.jsx
  src/applications/appeals/995/tests/components/EvidencePrivateLimitation2.unit.spec.jsx
  src/applications/appeals/995/tests/pages/evidencePrivateLimitations2.unit.spec.jsx
  src/applications/appeals/995/tests/utils/evidence.unit.spec.js
  src/applications/appeals/995/tests/utils/submit.unit.spec.js
  src/applications/appeals/995/utils/evidence.js
  src/applications/appeals/995/utils/submit.js
Labels: Decision-Reviews-Team, Supplemental Claims, frontend

#33578 98948 remove prefill approach and use new useProfileFullName flag
  src/applications/disability-benefits/all-claims/content/preSubmitInfo.js
  src/applications/disability-benefits/all-claims/prefill-transformer.js
  src/applications/disability-benefits/all-claims/tests/cypress.helpers.js
  src/applications/disability-benefits/all-claims/tests/fixtures/data/minimal-test.json
  src/applications/disability-benefits/all-claims/utils/index.jsx
Labels: disability-compensation

#33441 switching to router loader data fetching approach
  src/applications/accredited-representative-portal/actions/poaRequests.js
  src/applications/accredited-representative-portal/components/POARequestsTableFetcher/POARequestsTableFetcher.jsx
  src/applications/accredited-representative-portal/containers/POARequestDetailsPage.jsx
  src/applications/accredited-representative-portal/containers/POARequestsPage.jsx
  src/applications/accredited-representative-portal/hooks/usePOARequests.js
  src/applications/accredited-representative-portal/routes.jsx
  src/applications/accredited-representative-portal/tests/unit/actions/poaRequests.unit.spec.js
  src/applications/accredited-representative-portal/tests/unit/components/POARequestsTableFetcher.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/components/common/Header/WiderThanMobileHeader/WiderThanMobileOfficialGovtWebsite.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/containers/POARequestDetails.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/containers/POARequestsPage.unit.spec.jsx
Labels: benefits-accredited-rep-facing

#33564 [99002] Update select button text to use rep name
  src/applications/representative-appoint/components/SearchResult.jsx
  src/applications/representative-appoint/components/SelectAccreditedRepresentative.jsx
  src/applications/representative-appoint/tests/components/SearchResult.unit.spec.jsx
  src/applications/representative-appoint/tests/e2e/navigation/2122.cypress.spec.js
  src/applications/representative-appoint/tests/e2e/navigation/2122a.cypress.spec.js
  src/applications/representative-appoint/tests/pages/representative/selectAccreditedRepresentative.unit.spec.jsx
Labels: appoint-a-representative

#33390 Update content with ConfirmationView component
  src/applications/pensions/containers/ConfirmationPage.jsx
  src/applications/pensions/tests/unit/containers/ConfirmationPage.unit.spec.jsx
Labels: pension-benefits

#33589 Mhv button removal dev
  src/platform/user/authentication/config/dev.config.js
  src/platform/user/tests/authentication/components/loginActions.unit.spec.js
Labels: Identity

#33690 SC | Update evidence summary post-research recommendations
  src/applications/appeals/995/components/EvidenceSummary.jsx
  src/applications/appeals/995/components/EvidenceSummaryLists.jsx
  src/applications/appeals/995/components/EvidenceSummaryReview.jsx
  src/applications/appeals/995/constants/index.js
  src/applications/appeals/995/content/evidencePrivateLimitation.js
  src/applications/appeals/995/content/evidencePrivateRecordsAuthorization.jsx
  src/applications/appeals/995/tests/995-supplemental-claim-maximal-v2.cypress.spec.js
  src/applications/appeals/995/tests/995.cypress.helpers.js
  src/applications/appeals/995/tests/components/EvidenceSummary.unit.spec.jsx
  src/applications/appeals/995/tests/components/EvidenceSummaryLists.unit.spec.jsx
  src/applications/appeals/995/tests/components/EvidenceSummaryOld.unit.spec.jsx
Labels: Decision-Reviews-Team, Supplemental Claims, frontend

#33719 SC | Post research confirmation page updates
  src/applications/appeals/10182/components/ConfirmationPageV2.jsx
  src/applications/appeals/995/components/ConfirmationPageV2.jsx
  src/applications/appeals/995/components/EvidencePrivateLimitation.jsx
  src/applications/appeals/995/components/EvidenceSummaryLists.jsx
  src/applications/appeals/995/content/evidencePrivateRecordsAuthorization.jsx
  src/applications/appeals/995/content/optionForMst.jsx
  src/applications/appeals/995/content/title.js
  src/applications/appeals/995/tests/components/ConfirmationPagev2.unit.spec.jsx
  src/applications/appeals/995/tests/components/EvidencePrivateLimitation.unit.spec.jsx
  src/applications/appeals/995/tests/containers/ConfirmationPage.unit.spec.jsx
  src/applications/appeals/995/tests/fixtures/data/maximal-test-v2.json
  src/applications/appeals/996/components/ConfirmationPageV2.jsx
  src/applications/appeals/shared/components/ConfirmationCommon.jsx
  src/applications/appeals/shared/components/ConfirmationIssues.jsx
  src/applications/appeals/shared/components/ConfirmationPersonalInfo.jsx
Labels: Decision-Reviews-Team, Supplemental Claims, frontend

#33613 Appoint a rep - Search Results Header
  src/applications/representative-appoint/components/SearchInput.jsx
  src/applications/representative-appoint/components/SearchResultsHeader.jsx
  src/applications/representative-appoint/components/SelectAccreditedRepresentative.jsx
  src/applications/representative-appoint/containers/App.jsx
  src/applications/representative-appoint/tests/components/SearchResultsHeader.unit.spec.jsx
  src/applications/representative-appoint/tests/fixtures/data/21-22a/form-data.json
  src/applications/representative-appoint/tests/fixtures/data/form-data.json
  src/applications/representative-appoint/tests/fixtures/data/initial-form-data.json
  src/applications/representative-appoint/tests/pages/representative/selectAccreditedRepresentative.unit.spec.jsx
Labels: appoint-a-representative

#33667 [96836] Appoint a Rep prefill
  src/applications/representative-appoint/components/ClaimantType.jsx
  src/applications/representative-appoint/config/form.js
  src/applications/representative-appoint/config/prefillTransformer.js
  src/applications/representative-appoint/tests/config/prefillTransformer.unit.spec.js
  src/applications/representative-appoint/tests/fixtures/data/prefill.json
  src/applications/representative-appoint/tests/pages/claimant/claimantType.unit.spec.jsx
Labels: appoint-a-representative

#33681 [Art/97664] - poa request decline accept flow
  src/applications/accredited-representative-portal/containers/POARequestDetailsPage.jsx
  src/applications/accredited-representative-portal/sass/POARequestDetails.scss
Labels: benefits-accredited-rep-facing

#33760 wrapping for auth
  src/applications/accredited-representative-portal/auth.js
  src/applications/accredited-representative-portal/components/common/Header/common/UserNav.jsx
  src/applications/accredited-representative-portal/routes.jsx
  src/applications/accredited-representative-portal/tests/e2e/Header.cypress.spec.js
  src/applications/accredited-representative-portal/tests/unit/components/common/Header/WiderThanMobileHeader/WiderThanMobileHeader.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/components/common/Header/WiderThanMobileHeader/WiderThanMobileLogoRow.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/components/common/Header/common/UserNav.unit.spec.jsx
  src/applications/accredited-representative-portal/userContext.js
  src/applications/accredited-representative-portal/userLoader.js
Labels: benefits-accredited-rep-facing

#33741 [DBEX] add new 0781 mental health intro and events types pages
  src/applications/disability-benefits/all-claims/config/form0781/index.js
  src/applications/disability-benefits/all-claims/constants.js
  src/applications/disability-benefits/all-claims/content/form0781.jsx
  src/applications/disability-benefits/all-claims/content/mentalHealth.jsx
  src/applications/disability-benefits/all-claims/content/mentalHealthSupport.jsx
  src/applications/disability-benefits/all-claims/content/traumaticEventTypes.jsx
  src/applications/disability-benefits/all-claims/content/traumaticEventsIntro.jsx
  src/applications/disability-benefits/all-claims/pages/form0781/mentalHealthSupport.js
  src/applications/disability-benefits/all-claims/pages/form0781/traumaticEventTypes.js
  src/applications/disability-benefits/all-claims/pages/form0781/traumaticEventsIntro.js
  src/applications/disability-benefits/all-claims/pages/mentalHealth/mentalHealthConditions.js
  src/applications/disability-benefits/all-claims/tests/pages/form0781/mentalHealthSupport.unit.spec.js
  src/applications/disability-benefits/all-claims/tests/pages/form0781/traumaticEventTypes.unit.spec.js
  src/applications/disability-benefits/all-claims/tests/pages/form0781/traumaticEventsIntro.unit.spec.js
  src/applications/disability-benefits/all-claims/utils/form0781.js
Labels: disability-experience, disability-compensation

#33602 [Art/96894] - poa search tabs
  src/applications/accredited-representative-portal/app-entry.jsx
  src/applications/accredited-representative-portal/components/POARequestCard/POARequestCard.jsx
  src/applications/accredited-representative-portal/components/POARequestsCard/POARequestsCard.jsx
  src/applications/accredited-representative-portal/containers/POARequestDetailsPage.jsx
  src/applications/accredited-representative-portal/containers/POARequestSearchPage.jsx
  src/applications/accredited-representative-portal/containers/POARequestsPage.jsx
  src/applications/accredited-representative-portal/routes.jsx
  src/applications/accredited-representative-portal/sass/POARequestCard.scss
  src/applications/accredited-representative-portal/tests/e2e/accredited-representative-portal.cypress.spec.js
  src/applications/accredited-representative-portal/tests/unit/components/POARequestCard.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/components/POARequestsCard.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/helpers/index.jsx
Labels: benefits-accredited-rep-facing

#33787 Dependents | 94154: Fix redirect looping
  src/applications/686c-674/containers/App.jsx
  src/applications/disability-benefits/686c-674/containers/App.jsx
Labels: dependents-benefits
