Repository department-of-veterans-affairs/vets-website, pull requests merged in 2024-04, with the labels that each got.

#28878 Representative Status widget - unauthenticated state
  src/applications/representative-search/containers/SearchPage.jsx
  src/applications/static-pages/representative-status/components/App/index.jsx
  src/applications/static-pages/representative-status/tests/fixtures/mocks/featuresDisabled.json
  src/applications/static-pages/representative-status/tests/fixtures/mocks/featuresEnabled.json
  src/applications/static-pages/representative-status/tests/fixtures/mocks/loggedInUser.json
  src/applications/static-pages/representative-status/tests/fixtures/mocks/profileStatus.json
  src/applications/static-pages/representative-status/tests/login.cypress.spec.js
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: find-a-representative

#28902 [View Payments] Removing uswds flag from web components
  src/applications/disability-benefits/view-payments/components/IdentityNotVerified.jsx
  src/applications/disability-benefits/view-payments/components/view-payments-lists/ViewPaymentsLists.jsx
  src/applications/disability-benefits/view-payments/components/view-payments-lists/payments/Payments.jsx
Labels: View Payments

#28907 Pushed Typescript dependencies to root
  config/base-tsconfig.json
  config/readme.md
  package.json
  yarn.lock
Labels: pension-benefits

#28797 Added warning to upload additional docs for adopted dependents
  src/applications/pensions/components/FormAlerts/index.jsx
  src/applications/pensions/config/chapters/04-household-information/dependentChildInformation.js
  src/applications/pensions/config/chapters/06-additional-information/supportingDocuments.js
  src/applications/pensions/tests/unit/chapters/06-additional-information/supportingDocuments.unit.spec.jsx
Labels: pension-benefits

#28904 [View Payments] Replacing usage of moment with date-fns
  src/applications/disability-benefits/view-payments/README.md
  src/applications/disability-benefits/view-payments/components/view-payments-lists/helpers.js
  src/applications/disability-benefits/view-payments/tests/helpers/index.unit.spec.js
Labels: View Payments

#28936 [Letters] - Update html button to va button
  src/applications/appeals/10182/tests/10182-keyboard-only.cypress.spec.js
  src/applications/letters/components/DownloadLetterLink.jsx
  src/applications/letters/containers/AddressSection.jsx
  src/applications/letters/sass/letters.scss
  src/applications/letters/tests/01-authed-lighthouse.cypress.spec.js
  src/applications/letters/tests/01-authed.cypress.spec.js
  src/applications/letters/tests/02-keyboard-only.cypress.spec.js
  src/applications/letters/tests/components/DownloadLetterLink.unit.spec.jsx
  src/applications/letters/tests/containers/AddressSection.unit.spec.jsx
Labels: va-letters, benefits-team-1, benefits-management-tools

#28950 [CST] - Added tests so that they have at least 80% test coverage
  src/applications/claims-status/components/claim-files-tab/AddFilesForm.jsx
  src/applications/claims-status/tests/components/claim-files-tab/AdditionalEvidencePage.unit.spec.jsx
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#28927 HLR & SC | Prevent lose information warning alert on sign in on start page
  src/applications/appeals/995/config/form.js
  src/applications/appeals/995/containers/App.jsx
  src/applications/appeals/995/containers/ITFWrapper.jsx
  src/applications/appeals/995/containers/IntroductionPage.jsx
  src/applications/appeals/995/routes.jsx
  src/applications/appeals/995/subtask/SubTaskContainer.jsx
  src/applications/appeals/995/tests/995-subtask.cypress.spec.js
  src/applications/appeals/995/tests/containers/App.unit.spec.jsx
  src/applications/appeals/995/tests/routes.unit.spec.js
  src/applications/appeals/996/config/form.js
  src/applications/appeals/996/containers/Form0996App.jsx
  src/applications/appeals/996/containers/IntroductionPage.jsx
  src/applications/appeals/996/routes.jsx
  src/applications/appeals/996/tests/containers/FormApp.unit.spec.jsx
  src/applications/appeals/996/tests/hlr-wizard.cypress.spec.js
  src/applications/appeals/996/tests/routes.unit.spec.js
Labels: front end, HLR, benefits-team-1, Decision-Reviews-Team, Supplemental Claims

#28943 NDBEX-63351: Added back required uploads
  src/applications/burials-v2/components/NoFormPage.jsx
  src/applications/burials-v2/config/chapters/03-military-history/servicePeriods.js
  src/applications/burials-v2/config/chapters/03-military-history/uploadDD214.js
  src/applications/burials-v2/config/chapters/05-additional-information/deathCertificate.js
  src/applications/burials-v2/config/chapters/05-additional-information/transportationReceipts.js
  src/applications/burials-v2/containers/ConfirmationPage.jsx
Labels: Burials, burial-benefits

#28944 added line break to direct deposit text
  src/applications/pensions/components/FormAlerts/index.jsx
Labels: pension-benefits

#28977 Updating imports for app entries
  src/applications/disability-benefits/view-payments/app-entry.jsx
  src/applications/letters/letters-entry.jsx
  src/applications/rated-disabilities/rated-disabilities-entry.jsx
Labels: Rated Disabilities, Benefits Letters, View Payments

#28987 [CST] - Update va-select to only show one select option
  src/applications/claims-status/components/AddFilesFormOld.jsx
  src/applications/claims-status/components/claim-files-tab/AddFilesForm.jsx
Labels: ed benefits, benefits-team-1, benefits-management-tools, Claim Status Tool

#28954 MyVA | Heading A11y Fixes for MyVA Components
  src/applications/personalization/dashboard/components/benefit-payments/BenefitPayments.jsx
  src/applications/personalization/dashboard/components/benefit-payments/PaymentsCard.jsx
  src/applications/personalization/dashboard/components/claims-and-appeals/ClaimsAndAppeals.jsx
  src/applications/personalization/dashboard/components/debts/Debts.jsx
  src/applications/personalization/dashboard/components/education-and-training/EducationAndTraining.jsx
  src/applications/personalization/dashboard/components/health-care/HealthCareCTA.jsx
  src/applications/personalization/dashboard/tests/components/education-and-training/EducationAndTraining.unit.spec.jsx
  src/applications/personalization/dashboard/tests/components/health-care/HealthCareCTA.unit.spec.jsx
  src/applications/personalization/dashboard/tests/components/health-care/HealthCareContent.unit.spec.jsx
Labels: 508/Accessibility

#28709 Use VA cards on single page arrays
  src/applications/pensions/components/IncomeSourceView.jsx
  src/applications/pensions/config/chapters/02-military-history/previousNames.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/employmentHistory.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/medicalCenters.js
  src/applications/pensions/config/chapters/04-household-information/currentSpouseFormerMarriages.jsx
  src/applications/pensions/config/chapters/04-household-information/dependentChildren.js
  src/applications/pensions/config/chapters/05-financial-information/careExpenses.js
  src/applications/pensions/config/chapters/05-financial-information/incomeSources.js
  src/applications/pensions/config/chapters/05-financial-information/medicalExpenses.js
  src/applications/pensions/sass/pensions.scss
  src/applications/pensions/tests/e2e/helpers/index.js
  src/applications/pensions/tests/e2e/pagePaths.js
  src/applications/pensions/tests/e2e/pensions.cypress.spec.js
  src/platform/testing/e2e/cypress/support/commands/webComponents.js
Labels: platform, forms-library, pension-benefits

#28983 Rep Status widget (authenticated state)
  src/applications/representative-search/actions/index.js
  src/applications/representative-search/actions/reports/cancelRepresentativeReport.js
  src/applications/representative-search/components/results/ReportModal.jsx
  src/applications/representative-search/components/results/ResultsList.jsx
  src/applications/representative-search/components/results/SearchResult.jsx
  src/applications/representative-search/components/search/SearchControls.jsx
  src/applications/representative-search/containers/SearchPage.jsx
  src/applications/representative-search/reducers/searchResult.js
  src/applications/representative-search/sass/find-a-representative.scss
  src/applications/representative-search/utils/actionTypes.js
  src/applications/static-pages/representative-status/components/App/States/Auth.jsx
  src/applications/static-pages/representative-status/components/App/States/Unauth.jsx
  src/applications/static-pages/representative-status/components/App/index.jsx
  src/applications/static-pages/representative-status/index.jsx
  src/applications/static-pages/representative-status/stylesheet.scss
Labels: find-a-representative

#29018 DR | Add upload file size & file name reference to file document type select
  src/applications/appeals/995/tests/pages/evidenceUpload.unit.spec.js
  src/applications/appeals/995/utils/upload.js
  src/applications/appeals/shared/components/FileField.jsx
  src/applications/appeals/shared/tests/components/FileField.unit.spec.jsx
  src/applications/appeals/shared/tests/utils/upload.unit.spec.js
  src/applications/appeals/shared/utils/upload.js
  src/platform/forms-system/src/js/fields/FileField.jsx
  src/platform/forms-system/test/js/fields/FileField.unit.spec.jsx
Labels: 508/Accessibility, front end, Tech Debt, NOD, benefits-team-1, Decision-Reviews-Team, Supplemental Claims

#29040 Isolate subtask unit tests
  src/platform/forms/tests/sub-task/basic-2-page-subtask.jsx
  src/platform/forms/tests/sub-task/basic-2-page.unit.spec.jsx
  src/platform/forms/tests/sub-task/complex-subtask.unit.spec.jsx
  src/platform/forms/tests/sub-task/complex-subtask/SubTaskContainer.jsx
  src/platform/forms/tests/sub-task/complex-subtask/constants.js
  src/platform/forms/tests/sub-task/complex-subtask/pages/appeals.jsx
  src/platform/forms/tests/sub-task/complex-subtask/pages/disagree-file-claim.jsx
  src/platform/forms/tests/sub-task/complex-subtask/pages/file-bdd.jsx
  src/platform/forms/tests/sub-task/complex-subtask/pages/file-claim-early.jsx
  src/platform/forms/tests/sub-task/complex-subtask/pages/file-claim.jsx
  src/platform/forms/tests/sub-task/complex-subtask/pages/index.js
  src/platform/forms/tests/sub-task/complex-subtask/pages/pageNames.js
  src/platform/forms/tests/sub-task/complex-subtask/pages/rad.jsx
  src/platform/forms/tests/sub-task/complex-subtask/pages/start.jsx
  src/platform/forms/tests/sub-task/complex-subtask/pages/unable-to-file-bdd.jsx
  src/platform/forms/tests/sub-task/complex-subtask/utils.js
Labels: front end, Tech Debt, benefits-team-1, Decision-Reviews-Team, Supplemental Claims

#28994 [Rated Disabilities] Remove dependency on moment.js
  src/applications/rated-disabilities/components/RatedDisabilityList.jsx
  src/applications/rated-disabilities/components/RatedDisabilityListItem.jsx
  src/applications/rated-disabilities/components/RatingLists/helpers.jsx
  src/applications/rated-disabilities/tests/components/RatedDisabilityList.unit.spec.jsx
  src/applications/rated-disabilities/tests/components/RatedDisabilityListItem.unit.spec.jsx
  src/applications/rated-disabilities/util/index.js
Labels: benefits-management-tools, Rated Disabilities

#29045 [CST] Removing synced status from claim details
  src/applications/claims-status/actions/index.js
  src/applications/claims-status/components/ClaimDetailLayout.jsx
  src/applications/claims-status/components/ClaimSyncWarning.jsx
  src/applications/claims-status/containers/ClaimStatusPage.jsx
  src/applications/claims-status/containers/DetailsPage.jsx
  src/applications/claims-status/containers/FilesPage.jsx
  src/applications/claims-status/containers/OverviewPage.jsx
  src/applications/claims-status/containers/YourClaimsPageV2.jsx
  src/applications/claims-status/reducers/claim-sync.js
  src/applications/claims-status/tests/components/ClaimDetailLayout.unit.spec.jsx
  src/applications/claims-status/tests/reducers/claim-sync.unit.spec.jsx
Labels: Claim Status Tool

#29043 [View Payments] Fixing issue related to off-by-one dates
  src/applications/disability-benefits/view-payments/components/view-payments-lists/helpers.js
  src/applications/disability-benefits/view-payments/tests/helpers/index.unit.spec.js
Labels: View Payments

#28956 67019 Setup e2e tests for Toxic Exposure
  src/applications/disability-benefits/all-claims/constants.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/gulfWar1990LocationDates.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/toxicExposurePages.js
  src/applications/disability-benefits/all-claims/tests/cypress.helpers.js
  src/applications/disability-benefits/all-claims/tests/fixtures/data/maximal-toxic-exposure-test.json
  src/applications/disability-benefits/all-claims/tests/fixtures/data/transformed-data/maximal-toxic-exposure-test.json
  src/applications/disability-benefits/all-claims/tests/submit-transformer.unit.spec.js
  src/applications/disability-benefits/all-claims/tests/toxic-exposure.cypress.spec.js
Labels: disability-compensation

#29070 Update other explanation field labels
  src/applications/pensions/config/chapters/04-household-information/currentSpouseFormerMarriages.jsx
  src/applications/pensions/config/chapters/04-household-information/marriageHistory.js
  src/applications/pensions/config/chapters/05-financial-information/incomeSources.js
Labels: pension-benefits

#29076 [CST] [Frontend] Added cst_use_dd_rum feature flag for used with CST DataDog RUM logging
  src/applications/claims-status/selectors/index.js
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: Claim Status Tool

#29095 [CST] - Added Tests to increase coverage of CST
  src/applications/claims-status/selectors/index.js
  src/applications/claims-status/tests/selectors/index.unit.spec.js
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#29056 Burials V2 Blocker 80112
  src/applications/burials-v2/config/chapters/04-benefits-selection/burialAllowanceConfirmation.js
Labels: Burials, burial-benefits

#28840 Pension 67959 foreign base address
  src/applications/simple-forms/21-0966/tests/e2e/fixtures/data/surviving-maximal-test.json
  src/applications/simple-forms/21-0966/tests/e2e/fixtures/data/third-party-surviving-maximal-test.json
  src/applications/simple-forms/21-0966/tests/e2e/fixtures/data/third-party-veteran-maximal-test.json
  src/applications/simple-forms/21-0966/tests/e2e/fixtures/data/veteran-active-compensation-maximal-test.json
  src/applications/simple-forms/21-0966/tests/e2e/fixtures/data/veteran-active-pension-maximal-test.json
  src/applications/simple-forms/21-0966/tests/e2e/fixtures/data/veteran-maximal-test.json
  src/applications/simple-forms/21-4142/tests/e2e/fixtures/data/maximal-test.json
  src/applications/simple-forms/21-4142/tests/e2e/fixtures/data/transformed/maximal-test.json
  src/applications/simple-forms/26-4555/tests/e2e/fixtures/data/maximal-test.json
  src/applications/simple-forms/26-4555/tests/e2e/fixtures/data/transformed/maximal-test.json
  src/applications/simple-forms/mock-simple-forms-patterns/components/viewElements.jsx
  src/applications/simple-forms/mock-simple-forms-patterns/config/form.js
  src/applications/simple-forms/mock-simple-forms-patterns/pages/mockArrayAddresses.js
  src/platform/forms-system/src/js/web-component-patterns/addressPattern.jsx
Labels: pension-benefits

#29064 NDBEX Burials V2 QA fixes 3rd round
  src/applications/burials-v2/config/chapters/01-claimant-information/mailingAddress.js
  src/applications/burials-v2/config/chapters/03-military-history/servicePeriods.js
  src/applications/burials-v2/tests/config/chapters/03-military-history/servicePeriods.unit.spec.jsx
  src/applications/static-pages/burials-v2-how-do-i-apply-widget/components/App/index.js
Labels: Burials, burial-benefits

#29147 DR | Only show v3 progress bar
  src/applications/appeals/10182/config/form.js
  src/applications/appeals/995/config/form.js
  src/applications/appeals/996/config/form.js
Labels: bug, front end, HLR, NOD, benefits-team-1, Decision-Reviews-Team, Supplemental Claims

#29117 Add va-need-help to FormFooter
  src/applications/appeals/shared/content/GetFormHelp.jsx
  src/applications/disability-benefits/all-claims/tests/containers/WizardContainer.unit.spec.jsx
  src/platform/forms/components/FormFooter.jsx
  src/platform/forms/tests/components/FormFooter.unit.spec.jsx
Labels: front end, HLR, Tech Debt, NOD, benefits-team-1, Decision-Reviews-Team, Supplemental Claims

#29153 [CST] - Update VaFileInput version from V3 to V1
  src/applications/claims-status/components/claim-files-tab/AddFilesForm.jsx
  src/applications/claims-status/tests/components/claim-files-tab/AddFilesForm.unit.spec.jsx
  src/applications/claims-status/tests/e2e/02.claim-files.v2.cypress.spec.js
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#29161 [CST] Adding extra statuses to getStatusContent
  src/applications/claims-status/utils/appeals-v2-helpers.jsx
Labels: Claim Status Tool

#29163 HLR & SC | Fix subtask footers
  src/applications/appeals/995/subtask/SubTaskContainer.jsx
  src/applications/appeals/996/subtask/SubTaskContainer.jsx
  src/applications/appeals/shared/components/SubTaskWrap.jsx
Labels: bug, front end, HLR, benefits-team-1, Decision-Reviews-Team, Supplemental Claims

#29170 HLR & SC | Add subtask form bottom margin
  src/applications/appeals/995/subtask/pages/other.jsx
  src/applications/appeals/996/subtask/pages/other.jsx
  src/platform/forms/sub-task/index.js
Labels: bug, front end, HLR, NOD, benefits-team-1, Decision-Reviews-Team

#28953 Pension 78742 date range pattern
  src/applications/pensions/config/chapters/02-military-history/pow.js
  src/applications/pensions/config/chapters/02-military-history/servicePeriod.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/specialMonthlyPension.js
  src/applications/pensions/config/chapters/05-financial-information/careExpenses.js
  src/applications/pensions/tests/e2e/helpers/index.js
  src/applications/pensions/tests/unit/chapters/02-military-history/pow.unit.spec.jsx
  src/applications/pensions/tests/unit/chapters/02-military-history/servicePeriod.unit.spec.jsx
  src/applications/pensions/tests/unit/chapters/05-financial-information/careExpenses.unit.spec.jsx
  src/applications/simple-forms/mock-simple-forms-patterns/pages/mockArrayMultiPageBuilderPages.js
  src/applications/simple-forms/mock-simple-forms-patterns/pages/mockDate.js
  src/applications/simple-forms/mock-simple-forms-patterns/tests/e2e/fixtures/data/arrayBuilder.json
  src/applications/simple-forms/mock-simple-forms-patterns/tests/e2e/fixtures/data/default.json
  src/applications/simple-forms/mock-simple-forms-patterns/tests/pages/mockDate.unit.spec.jsx
  src/platform/forms-system/src/js/utilities/validations/index.js
  src/platform/forms-system/src/js/validation.js
  src/platform/forms-system/src/js/web-component-patterns/datePatterns.jsx
Labels: platform, forms-library, pension-benefits

#29154 Co040424 rep status authenticated
  src/applications/representative-search/containers/SearchPage.jsx
  src/applications/static-pages/representative-status/api/RepresentativeStatusApi.js
  src/applications/static-pages/representative-status/components/App/States/Auth.jsx
  src/applications/static-pages/representative-status/components/App/index.jsx
  src/applications/static-pages/representative-status/hooks/useRepresentativeStatus.js
  src/applications/static-pages/representative-status/index.jsx
  src/applications/static-pages/representative-status/stylesheet.scss
  src/applications/static-pages/representative-status/tests/login.cypress.spec.js
  src/applications/static-pages/representative-status/utilities/phoneNumbers.js
Labels: find-a-representative

#29042 Burials V2 Blocker 80110
  src/applications/burials-v2/config/chapters/03-military-history/uploadDD214.js
  src/applications/burials-v2/config/chapters/05-additional-information/additionalEvidence.js
  src/applications/burials-v2/config/chapters/05-additional-information/deathCertificate.js
  src/applications/burials-v2/config/chapters/05-additional-information/transportationReceipts.js
  src/applications/burials-v2/utils/upload.js
Labels: Burials, burial-benefits

#29189 Co 041524 rep status widget organization
  src/applications/static-pages/representative-status/components/App/index.jsx
  src/applications/static-pages/representative-status/components/States/Auth.jsx
  src/applications/static-pages/representative-status/components/States/Unauth.jsx
  src/applications/static-pages/representative-status/hooks/useRepresentativeStatus.js
Labels: find-a-representative

#29198 Rep status widget url update
  src/applications/static-pages/representative-status/api/RepresentativeStatusApi.js
Labels: find-a-representative

#29057 Remove age restriction on dependent disability support
  package.json
  src/applications/pensions/config/chapters/04-household-information/dependentChildInformation.js
  src/applications/pensions/tests/e2e/fixtures/data/maximal-test.json
  src/applications/pensions/tests/e2e/fixtures/data/overflow-test.json
  src/applications/pensions/tests/unit/chapters/04-household-information/dependentChildInformation.unit.spec.jsx
  yarn.lock
Labels: pension-benefits

#29141 [DBEX] correct VA med record treatment date validation
  src/applications/disability-benefits/all-claims/pages/vaMedicalRecords.js
  src/applications/disability-benefits/all-claims/tests/pages/vaMedicalRecords.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/validations.unit.spec.js
  src/applications/disability-benefits/all-claims/validations.js
Labels: disability-experience, disability-compensation

#29213 [CST] - Remove aria described by message
  src/applications/claims-status/components/AddFilesFormOld.jsx
  src/applications/claims-status/components/claim-files-tab/AddFilesForm.jsx
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#29185 Pension 80009 bank account pattern
  src/applications/pensions/config/chapters/06-additional-information/accountInformation.js
  src/applications/pensions/config/chapters/06-additional-information/directDeposit.js
  src/applications/pensions/helpers.jsx
  src/applications/pensions/tests/unit/chapters/06-additional-information/accountInformation.unit.spec.jsx
  src/platform/forms-system/src/js/web-component-patterns/bankPattern.jsx
  src/platform/forms-system/src/js/web-component-patterns/index.js
Labels: platform, forms-library, pension-benefits

#29214 Rep status QA
  src/applications/representative-search/containers/SearchPage.jsx
  src/applications/static-pages/representative-status/api/RepresentativeStatusApi.js
  src/applications/static-pages/representative-status/components/States/Auth.jsx
  src/applications/static-pages/representative-status/hooks/useRepresentativeStatus.js
  src/applications/static-pages/representative-status/stylesheet.scss
Labels: find-a-representative

#29232 Revert "76694 - [FSR] - Use Expenses New data BE data/calcs"
  src/applications/financial-status-report/components/otherExpenses/OtherExpensesChecklist.jsx
  src/applications/financial-status-report/components/otherExpenses/OtherExpensesSummary.jsx
  src/applications/financial-status-report/components/shared/PreSubmitSignature.jsx
  src/applications/financial-status-report/tests/e2e/fixtures/mocks/allExpenses.json
  src/applications/financial-status-report/tests/e2e/fsr-5655-complete.cypress.spec.js
  src/applications/financial-status-report/tests/e2e/fsr-5655-minimal.cypress.spec.js
  src/applications/financial-status-report/tests/e2e/fsr-5655-streamlined-waiver-long.cypress.spec.js
  src/applications/financial-status-report/tests/unit/efsr-transform.unit.spec.jsx
  src/applications/financial-status-report/tests/unit/efsr-unit-maximal.json
  src/applications/financial-status-report/utils/calculateExpenses.js
  src/applications/financial-status-report/utils/streamlinedDepends.js
  src/applications/financial-status-report/utils/transform.js
Labels: front end, vsa-benefits-2

#29200 DR | Replace moment.js
  src/applications/appeals/10182/tests/containers/ConfirmationPage.unit.spec.jsx
  src/applications/appeals/10182/tests/fixtures/mocks/application-submit.json
  src/applications/appeals/10182/tests/utils/issues.unit.spec.js
  src/applications/appeals/10182/tests/utils/submit.unit.spec.js
  src/applications/appeals/10182/tests/validations/date.unit.spec.js
  src/applications/appeals/10182/utils/submit.js
  src/applications/appeals/10182/validations/date.js
  src/applications/appeals/995/components/EvidenceSummaryLists.jsx
  src/applications/appeals/995/content/itfWrapper.jsx
  src/applications/appeals/995/tests/components/EvidencePrivateRecords.unit.spec.jsx
  src/applications/appeals/995/tests/components/EvidenceVaRecords.unit.spec.jsx
  src/applications/appeals/995/tests/containers/ConfirmationPage.unit.spec.jsx
  src/applications/appeals/995/tests/containers/ITFWrapper.unit.spec.jsx
  src/applications/appeals/995/tests/content/itfWrapper.unit.spec.js
  src/applications/appeals/995/tests/fixtures/mocks/application-submit.json
  src/applications/appeals/995/tests/reducers/itf.unit.spec.js
  src/applications/appeals/995/tests/utils/helpers.unit.spec.js
  src/applications/appeals/995/tests/utils/itf.unit.spec.js
  src/applications/appeals/995/tests/validations/date.unit.spec.js
  src/applications/appeals/995/tests/validations/evidence.unit.spec.js
  src/applications/appeals/995/utils/helpers.js
  src/applications/appeals/995/utils/itf.js
  src/applications/appeals/995/validations/date.js
  src/applications/appeals/996/tests/containers/ConfirmationPage.unit.spec.jsx
  src/applications/appeals/996/tests/containers/IntroductionPage.unit.spec.jsx
  src/applications/appeals/996/tests/fixtures/mocks/application-submit.json
  src/applications/appeals/996/tests/utils/helpers.unit.spec.js
  src/applications/appeals/996/tests/validations/date.unit.spec.js
  src/applications/appeals/996/utils/helpers.js
  src/applications/appeals/996/validations/date.js
  src/applications/appeals/shared/components/ConfirmationDecisionReviews.jsx
  src/applications/appeals/shared/components/DateSubmitted.jsx
  src/applications/appeals/shared/components/IssueCard.jsx
  src/applications/appeals/shared/components/IssuesSubmitted.jsx
  src/applications/appeals/shared/components/VeteranInformation.jsx
  src/applications/appeals/shared/constants.js
  src/applications/appeals/shared/content/areaOfDisagreement.jsx
  src/applications/appeals/shared/tests/components/AddIssue.unit.spec.js
  src/applications/appeals/shared/tests/components/ConfirmationDecisionReivews.unit.spec.jsx
  src/applications/appeals/shared/tests/cypress.helpers.js
  src/applications/appeals/shared/tests/utils/dates.unit.spec.js
  src/applications/appeals/shared/tests/utils/submit.unit.spec.js
  src/applications/appeals/shared/tests/validations/issues.unit.spec.js
  src/applications/appeals/shared/utils/dates.js
  src/applications/appeals/shared/utils/issues.jsx
  src/applications/appeals/shared/validations/date.js
  src/applications/appeals/testing/components/IssueCard.jsx
  src/applications/appeals/testing/components/VeteranInformation.jsx
  src/applications/appeals/testing/constants.js
  src/applications/appeals/testing/containers/ConfirmationPage.jsx
  src/applications/appeals/testing/content/areaOfDisagreement.jsx
  src/applications/appeals/testing/pages/areaOfDisagreement.jsx
  src/applications/appeals/testing/pages/contestableIssues.js
Labels: front end, HLR, Tech Debt, NOD, benefits-team-1, Decision-Reviews-Team, Supplemental Claims

#29215 upgrading http-cache-semantics
  package.json
  yarn.lock
Labels: qa

#29239 HLR | Fix subtask title
  src/applications/appeals/996/subtask/pages/start.jsx
  src/applications/appeals/996/tests/subtask/subtask.unit.spec.jsx
Labels: front end, HLR, Tech Debt, Decision-Reviews-Team

#29241 79757 - CDP - Migrate V1 components in the Combined Debt Portal that need to be updated (due by May 3, 2024)
  src/applications/combined-debt-portal/combined/components/AlertCard.jsx
  src/applications/combined-debt-portal/combined/components/ComboAlerts.jsx
  src/applications/combined-debt-portal/combined/components/MCPAlerts.jsx
  src/applications/combined-debt-portal/combined/containers/OverviewPage.jsx
  src/applications/combined-debt-portal/debt-letters/components/Alerts.jsx
  src/applications/combined-debt-portal/debt-letters/components/DebtDetailsCard.jsx
  src/applications/combined-debt-portal/debt-letters/components/HowDoIPay.jsx
  src/applications/combined-debt-portal/debt-letters/containers/DebtDetails.jsx
  src/applications/combined-debt-portal/debt-letters/containers/DebtLettersDownload.jsx
  src/applications/combined-debt-portal/debt-letters/containers/DebtLettersSummary.jsx
  src/applications/combined-debt-portal/medical-copays/components/FinancialHelp.jsx
  src/applications/combined-debt-portal/medical-copays/components/HowToPay.jsx
  src/applications/combined-debt-portal/medical-copays/components/Modals.jsx
  src/applications/combined-debt-portal/medical-copays/containers/DetailPage.jsx
  src/applications/combined-debt-portal/medical-copays/containers/HTMLStatementPage.jsx
  src/applications/combined-debt-portal/medical-copays/containers/OverviewPage.jsx
Labels: front end, vsa-benefits-2

#29178 Pensions - Update vets-json-schema
  src/applications/pensions/config/form.js
  src/applications/pensions/migrations.js
  src/applications/pensions/tests/unit/migrations.unit.spec.js
Labels: pension-benefits

#29263 [CST] - Update DueDate component for flakey tests
  src/applications/claims-status/tests/components/DueDate.unit.spec.jsx
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#29168 [CST] Use `setDocumentTitle` helper instead of setting document.title manually
  src/applications/claims-status/components/claim-files-tab/AdditionalEvidencePage.jsx
  src/applications/claims-status/containers/AdditionalEvidencePageOld.jsx
  src/applications/claims-status/containers/AskVAPage.jsx
  src/applications/claims-status/containers/ClaimEstimationPage.jsx
  src/applications/claims-status/containers/DocumentRequestPage.jsx
  src/applications/claims-status/containers/StemClaimStatusPage.jsx
  src/applications/claims-status/containers/YourClaimLetters/index.jsx
  src/applications/claims-status/containers/YourClaimsPageV2.jsx
  src/applications/claims-status/tests/components/AdditionalEvidencePageOld.unit.spec.jsx
  src/applications/claims-status/tests/components/DocumentRequestPage.unit.spec.jsx
  src/applications/claims-status/tests/components/StemClaimStatusPage.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-files-tab/AdditionalEvidencePage.unit.spec.jsx
Labels: Claim Status Tool

#29181 [CST] - Increase test coverage by 85% across all areas PR #1
  src/applications/claims-status/components/StemDeniedDetails.jsx
  src/applications/claims-status/components/TabItem.jsx
  src/applications/claims-status/tests/actions.unit.spec.js
  src/applications/claims-status/tests/components/ClaimComplete.unit.spec.jsx
  src/applications/claims-status/tests/components/ClaimPhase.unit.spec.jsx
  src/applications/claims-status/tests/components/ClosedClaimMessage.unit.spec.jsx
  src/applications/claims-status/tests/components/IndexLink.unit.spec.jsx
  src/applications/claims-status/tests/components/StemAskQuestions.unit.spec.jsx
  src/applications/claims-status/tests/components/StemClaimListItem.unit.spec.jsx
  src/applications/claims-status/tests/components/StemDeniedDetails.unit.spec.jsx
  src/applications/claims-status/tests/components/TabItem.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-letters/ClaimLetterListItem.unit.spec.jsx
  src/applications/claims-status/tests/reducers/claimsV2.unit.spec.js
  src/applications/claims-status/tests/reducers/notifications.unit.spec.js
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#29249 Copy updates to Find a Rep
  src/applications/representative-search/components/results/ReportModal.jsx
  src/applications/representative-search/components/results/SearchResultsHeader.jsx
  src/applications/representative-search/components/search/RepTypeSelector.jsx
  src/applications/representative-search/containers/SearchPage.jsx
  src/applications/representative-search/tests/components/RepTypeSelector.unit.spec.jsx
  src/applications/representative-search/tests/e2e/representativeSearch.cypress.spec.js
  src/applications/static-pages/representative-status/api/RepresentativeStatusApi.js
  src/applications/static-pages/representative-status/utilities/camelCase.js
Labels: find-a-representative

#29245 Update confirmation page
  src/applications/pensions/containers/ConfirmationPage.jsx
  src/applications/pensions/helpers.jsx
  src/applications/pensions/tests/unit/containers/ConfirmationPage.unit.spec.jsx
Labels: pension-benefits

#29307 Pension 80641 isolate app
  config/changed-apps-build.json
  src/applications/pensions/components/GetFormHelp.jsx
  src/applications/pensions/config/form.js
Labels: pension-benefits

#29275 67018 Gulf War 1990 Summary page
  src/applications/disability-benefits/all-claims/content/toxicExposure.jsx
  src/applications/disability-benefits/all-claims/content/toxicExposureSummary.jsx
  src/applications/disability-benefits/all-claims/pages/index.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/gulfWar1990Summary.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/toxicExposurePages.js
  src/applications/disability-benefits/all-claims/tests/content/toxicExposure.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/content/toxicExposureSummary.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/fixtures/data/maximal-toxic-exposure-test.json
  src/applications/disability-benefits/all-claims/tests/fixtures/data/transformed-data/maximal-toxic-exposure-test.json
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/gulfWar1990LocationDates.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/toxicExposure/gulfWar1990Summary.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/utils/utils.unit.spec.jsx
  src/applications/disability-benefits/all-claims/utils/index.jsx
Labels: disability-compensation

#29361 [CST] Reverting to button to enhance a11y
  src/applications/claims-status/components/ClaimPhase.jsx
  src/applications/claims-status/tests/components/ClaimPhase.unit.spec.jsx
  src/applications/claims-status/tests/e2e/page-objects/TrackClaimsPageV2.js
Labels: Claim Status Tool

#29297 [CST] - Increase test coverage by 85% across all areas PR #2
  src/applications/claims-status/actions/index.js
  src/applications/claims-status/constants.js
  src/applications/claims-status/containers/ClaimsStatusApp.jsx
  src/applications/claims-status/tests/actions/index.unit.spec.js
  src/applications/claims-status/tests/actions/indexGetAppealsV2.unit.spec.js
  src/applications/claims-status/tests/utils/appeals-v2-helpers.unit.spec.jsx
  src/applications/claims-status/tests/utils/useDatadogRum.unit.spec.js
  src/applications/claims-status/tests/utils/withRouter.unit.spec.jsx
  src/applications/claims-status/utils/datadog-rum/initializeRealUserMonitoring.js
  src/applications/claims-status/utils/datadog-rum/useBrowserMonitoring.js
  src/applications/claims-status/utils/helpers.js
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#29364 [DBEX] validate if service date is same or before DOB
  src/applications/disability-benefits/all-claims/tests/pages/militaryHistory.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/validations.unit.spec.js
  src/applications/disability-benefits/all-claims/validations.js
Labels: disability-experience, disability-compensation

#29354 Rep Status widget copy and styling updates
  src/applications/representative-search/components/results/SearchResultsHeader.jsx
  src/applications/representative-search/components/search/SearchControls.jsx
  src/applications/representative-search/containers/SearchPage.jsx
  src/applications/representative-search/tests/components/SearchResultsHeader.unit.spec.jsx
  src/applications/representative-search/tests/e2e/accessibility.cypress.spec.js
  src/applications/static-pages/representative-status/components/App/index.jsx
  src/applications/static-pages/representative-status/components/States/Auth.jsx
  src/applications/static-pages/representative-status/index.jsx
Labels: find-a-representative

#29315 Pension- Update single-page multiresponse styles
  src/applications/pensions/PensionsApp.jsx
  src/applications/pensions/components/ListItemView.jsx
  src/applications/pensions/config/chapters/02-military-history/previousNames.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/employmentHistory.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/medicalCenters.js
  src/applications/pensions/config/chapters/04-household-information/dependentChildren.js
  src/applications/pensions/config/chapters/05-financial-information/careExpenses.js
  src/applications/pensions/config/chapters/05-financial-information/incomeSources.js
  src/applications/pensions/config/chapters/05-financial-information/medicalExpenses.js
  src/applications/pensions/helpers.jsx
  src/applications/pensions/multiresponseStyles.js
  src/applications/pensions/tests/unit/chapters/02-military-history/previousNames.unit.spec.jsx
  src/applications/pensions/tests/unit/chapters/03-health-and-employment-information/employmentHistory.unit.spec.jsx
  src/applications/pensions/tests/unit/chapters/05-financial-information/careExpenses.unit.spec.jsx
  src/applications/pensions/tests/unit/chapters/pageTests.spec.jsx
  src/applications/pensions/tests/unit/components/ListItemView.unit.spec.jsx
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: pension-benefits

#29387 DR | Update submission error to va-alert
  src/platform/forms-system/src/js/review/submit-states/ErrorLinks.jsx
  src/platform/forms/components/common/alerts/ErrorMessage.jsx
  src/platform/forms/tests/components/common/alerts/__snapshots__/ErrorMessage.unit.spec.jsx.mocha-snapshot
Labels: front end, 526, HLR, NOD, Decision-Reviews-Team, Supplemental Claims

#29397 Update accordion styling & HLR header
  src/applications/appeals/996/config/form.js
  src/platform/forms/sass/_m-schemaform.scss
Labels: front end, HLR, Tech Debt, NOD, Decision-Reviews-Team, Supplemental Claims

#29398 Rep Status widget
  src/applications/representative-search/components/search/SearchControls.jsx
  src/applications/representative-search/containers/SearchPage.jsx
  src/applications/static-pages/representative-status/components/App/index.jsx
Labels: find-a-representative

#29428 [CST] - Update "Last updated [date]" language for claims list item claim cards
  src/applications/claims-status/components/ClaimsListItem.jsx
  src/applications/claims-status/tests/components/ClaimsListItem.unit.spec.jsx
  src/applications/claims-status/tests/e2e/page-objects/TrackClaimsPage.js
  src/applications/claims-status/tests/e2e/page-objects/TrackClaimsPageV2.js
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#29199 dbex/76057 radio button conversion
  src/applications/disability-benefits/all-claims/pages/alternateNames.js
  src/applications/disability-benefits/all-claims/pages/evidenceTypes.js
  src/applications/disability-benefits/all-claims/pages/terminallyIll.js
  src/applications/disability-benefits/all-claims/pages/trainingPay.js
  src/applications/disability-benefits/all-claims/tests/fixtures/data/maximal-test.json
  src/applications/disability-benefits/all-claims/tests/fixtures/data/transformed-data/maximal-test.json
  src/applications/disability-benefits/all-claims/tests/pages/evidenceTypes.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/terminallyIll.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/trainingPay.unit.spec.jsx
Labels: disability-compensation

#29392 [DBEX] validate activation date is in past & update copy
  src/applications/disability-benefits/all-claims/pages/federalOrders.jsx
  src/applications/disability-benefits/all-claims/tests/pages/federalOrders.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/validations.unit.spec.js
  src/applications/disability-benefits/all-claims/validations.js
Labels: disability-experience, disability-compensation

#29440 [CST] Remove unused CSS classes
  src/applications/claims-status/sass/claims-status.scss
Labels: Claim Status Tool

#29450 [Rated Disabilities] Updating service connected decision logic to include 1151 granted
  src/applications/rated-disabilities/components/RatingLists/helpers.jsx
  src/applications/rated-disabilities/tests/components/RatingLists/RatingLists.unit.spec.jsx
Labels: Rated Disabilities

#29456 [CST] - Updated Documents Filed so that the documents are sorted correctly
  src/applications/claims-status/components/claim-files-tab/DocumentsFiled.jsx
  src/applications/claims-status/tests/components/claim-files-tab/DocumentsFiled.unit.spec.jsx
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#29467 81085 - [CDP] - Manage VA Debt Redirect While Logged In Does Not Stay on Landing Page
  src/applications/combined-debt-portal/combined/containers/OverviewPage.jsx
  src/applications/combined-debt-portal/debt-letters/containers/DebtDetails.jsx
  src/applications/combined-debt-portal/debt-letters/containers/DebtLettersDownload.jsx
  src/applications/combined-debt-portal/debt-letters/containers/DebtLettersSummary.jsx
  src/applications/combined-debt-portal/medical-copays/containers/DetailPage.jsx
  src/applications/combined-debt-portal/medical-copays/containers/HTMLStatementPage.jsx
  src/applications/combined-debt-portal/medical-copays/containers/OverviewPage.jsx
Labels: front end, vsa-benefits-2

#29480 [CST] - Remove sighted language on claim cards
  src/applications/claims-status/components/ClaimCard/ClaimCardLink.jsx
  src/applications/claims-status/components/ClaimsListItem.jsx
  src/applications/claims-status/components/StemClaimListItem.jsx
  src/applications/claims-status/components/appeals-v2/AppealListItem.jsx
  src/applications/claims-status/tests/components/StemClaimListItem.unit.spec.jsx
  src/applications/claims-status/tests/e2e/02.claim-files.v2.cypress.spec.js
Labels: benefits-team-1, benefits-management-tools, Claim Status Tool

#29501 NOD | Update error messages
  src/applications/appeals/10182/content/boardReview.jsx
  src/applications/appeals/10182/content/extensionReason.jsx
  src/applications/appeals/10182/content/hearingType.js
  src/applications/appeals/995/content/IssueSummary.jsx
  src/applications/appeals/995/sass/995-supplemental-claim.scss
  src/applications/appeals/shared/components/IssueCard.jsx
  src/applications/appeals/shared/components/ShowIssuesList.jsx
  src/applications/appeals/shared/content/areaOfDisagreement.jsx
  src/applications/appeals/shared/content/contestableIssues.jsx
  src/applications/appeals/shared/sass/appeals.scss
  src/applications/appeals/shared/tests/components/AreaOfDisagreement.unit.spec.jsx
Labels: front end, HLR, NOD, Decision-Reviews-Team, Supplemental Claims
