Repository department-of-veterans-affairs/vets-website, pull requests merged in 2025-10, with the labels that each got.

#39112 Update owned asset pages per design QA
  src/applications/income-and-asset-statement/config/chapters/04-owned-assets/ownedAssetPages.js
  src/applications/income-and-asset-statement/tests/unit/chapters/05-owned-assets/ownedAssetPages.unit.spec.jsx
Labels: pension-income-assets

#39170 docs(bio-aquia): Add root README.md to benefits-optimization-aquia dir
  src/applications/benefits-optimization-aquia/README.md
Labels: documentation

#39091 DMT | Fix displayed age in view dependents
  src/applications/dependents/dependents-verification/components/DependentsInformation.jsx
  src/applications/dependents/dependents-verification/components/DependentsInformationReview.jsx
  src/applications/dependents/dependents-verification/helpers.js
  src/applications/dependents/dependents-verification/tests/unit/components/DependentsInformation.unit.spec.jsx
  src/applications/dependents/dependents-verification/tests/unit/components/DependentsInformationReview.unit.spec.jsx
  src/applications/dependents/dependents-verification/tests/unit/helpers.unit.spec.jsx
  src/applications/dependents/shared/tests/utils/utils.unit.spec.jsx
  src/applications/dependents/shared/utils/dates.js
  src/applications/dependents/shared/utils/index.js
  src/applications/dependents/view-dependents/components/ViewDependentsList/ViewDependentsListItemV2.jsx
Labels: bug, dependents-benefits, frontend
