Repository department-of-veterans-affairs/vets-website, pull requests merged in 2025-07, with the labels that each got.

#37405 Arp/border too thick jenny
  src/applications/representative-form-upload/containers/App.jsx
Labels: benefits-accredited-rep-facing

#37402 `forms-system` `FileField`: Handle API errors
  src/platform/forms-system/src/js/actions.js
Labels: benefits-accredited-rep-facing

#37438 [ARP] Fix feature toggle 403
  src/applications/accredited-representative-portal/app-entry.jsx
  src/applications/accredited-representative-portal/tests/unit/helpers/index.jsx
  src/applications/accredited-representative-portal/utilities/auth.js
  src/applications/accredited-representative-portal/utilities/store.js
Labels: benefits-accredited-rep-facing

#37452 DV | Review page updates
  src/applications/dependents/dependents-verification/components/DependentsInformationReview.jsx
  src/applications/dependents/dependents-verification/config/form.js
  src/applications/dependents/dependents-verification/tests/unit/components/DependentsInformationReview.unit.spec.jsx
  src/applications/dependents/shared/sass/dependents.scss
Labels: bug, Dependency Verification, frontend

#37410 [ART/113003] - claims submission qa bug fixes
  src/applications/accredited-representative-portal/components/SubmissionCard.jsx
  src/applications/accredited-representative-portal/containers/SubmissionsPage.jsx
  src/applications/accredited-representative-portal/sass/SubmissionsPage.scss
  src/applications/representative-form-upload/components/ClaimantInfoViewField.jsx
  src/applications/representative-form-upload/containers/IntroductionPage.jsx
  src/applications/representative-form-upload/pages/helpers.jsx
  src/applications/representative-form-upload/sass/representative-form-upload.scss
  src/applications/representative-form-upload/tests/unit/components/ClaimantInfoViewField.unit.spec.jsx
  src/applications/representative-form-upload/tests/unit/components/SupportingEvidenceViewField.unit.spec.jsx
Labels: benefits-accredited-rep-facing

#37394 109949 - OTTP - Copay resolve page updates
  src/applications/combined-debt-portal/combined/utils/mocks/mockStatements.json
  src/applications/combined-debt-portal/medical-copays/components/FinancialHelp.jsx
  src/applications/combined-debt-portal/medical-copays/components/HowToPay.jsx
  src/applications/combined-debt-portal/medical-copays/containers/ResolvePage.jsx
Labels: combined-debt-portal, frontend

#37462 113003 - fixing submissions icon, padding needs !important tag
  src/applications/accredited-representative-portal/sass/SubmissionsPage.scss
Labels: benefits-accredited-rep-facing

#37489 DV | Contact page alert updates
  src/applications/dependents/dependents-verification/components/VeteranContactInformationPage.jsx
  src/applications/dependents/dependents-verification/tests/unit/components/VeteranContactInformationPage.unit.spec.jsx
Labels: Dependency Verification, frontend

#37501 DV | Update review & edit page issues
  src/applications/dependents/dependents-verification/components/EditEmailPage.jsx
  src/applications/dependents/dependents-verification/components/EditInternationalPhonePage.jsx
  src/applications/dependents/dependents-verification/components/EditMailingAddress.jsx
  src/applications/dependents/dependents-verification/components/EditPhonePage.jsx
  src/applications/dependents/dependents-verification/components/VeteranContactInformationPage.jsx
  src/applications/dependents/dependents-verification/components/VeteranContactInformationReviewPage.jsx
  src/applications/dependents/dependents-verification/tests/unit/components/EditEmailPage.unit.spec.jsx
  src/applications/dependents/dependents-verification/tests/unit/components/EditInternationalPhonePage.unit.spec.jsx
  src/applications/dependents/dependents-verification/tests/unit/components/EditMailingAddress.unit.spec.jsx
  src/applications/dependents/dependents-verification/tests/unit/components/EditPhonePage.unit.spec.jsx
  src/applications/dependents/dependents-verification/tests/unit/components/VeteranContactInformationPage.unit.spec.jsx
Labels: bug, Dependency Verification, frontend

#37387 Form 21A - Fixed LOA check
  src/applications/accreditation/21a/containers/IntroductionPage.jsx
  src/applications/accreditation/21a/reducers/user.js
  src/applications/accreditation/21a/selectors/user.js
  src/applications/accreditation/21a/tests/containers/App.unit.spec.jsx
  src/applications/accreditation/21a/tests/e2e/fixtures/mocks/user.json
  src/applications/accreditation/21a/tests/unit/IntroductionPage.unit.spec.jsx
  src/applications/accreditation/21a/tests/unit/components/common/Header/UserNav.unit.spec.jsx
Labels: 21a accreditation

#37490 Initialize pre-fill data to form data
  src/applications/income-and-asset-statement/components/CustomPersonalInfo.jsx
  src/applications/income-and-asset-statement/tests/unit/components/CustomPersonalInfo.unit.spec.jsx
Labels: pension-income-assets

#37511 DV | Fix email source
  src/applications/dependents/dependents-verification/components/VeteranContactInformationPage.jsx
  src/applications/dependents/dependents-verification/tests/unit/components/VeteranContactInformationPage.unit.spec.jsx
Labels: bug, Dependency Verification, frontend

#37499 [DD] 113112 - Updating intro page content (staging review feedback)
  src/applications/dispute-debt/containers/IntroductionPage.jsx
Labels: dispute-debt

#37527 Improve test coverage for ARP
  src/applications/representative-form-upload/config/constants.js
  src/applications/representative-form-upload/pages/isVeteranPage.jsx
  src/applications/representative-form-upload/pages/upload.jsx
  src/applications/representative-form-upload/tests/unit/components/ClaimantInfoViewField.unit.spec.jsx
  src/applications/representative-form-upload/tests/unit/config/constants.unit.spec.jsx
  src/applications/representative-form-upload/tests/unit/config/submissionError.unit.spec.jsx
  src/applications/representative-form-upload/tests/unit/containers/IntroductionPage.unit.spec.jsx
  src/applications/representative-form-upload/tests/unit/helpers/index.unit.spec.jsx
  src/applications/representative-form-upload/tests/unit/pages/UploadPage.unit.spec.jsx
  src/applications/representative-form-upload/tests/unit/pages/helpers.unit.spec.jsx
Labels: benefits-accredited-rep-facing

#37565 Update preSubmitInfo implementation
  src/applications/income-and-asset-statement/config/form.js
  src/applications/income-and-asset-statement/containers/PreSubmitInfo.jsx
  src/applications/income-and-asset-statement/tests/unit/containers/PreSubmitInfo.unit.spec.jsx
Labels: pension-income-assets

#37550 MBMS-97938 remove prod flag from PMC form for MBMS-67530
  src/applications/simple-forms/40-0247/pages/veteranPersonalInfo.js
Labels: mbs-self-service

#37551 MBMS-97943 remove prod flag from PMC form for MBMS-67579
  src/applications/simple-forms/40-0247/pages/veteranSupportDocs.js
Labels: mbs-self-service

#37562 0969 | Switch review page to use last 4 for SSN and File number
  src/applications/income-and-asset-statement/components/CustomPersonalInfoReview.jsx
  src/applications/income-and-asset-statement/config/submit.js
  src/applications/income-and-asset-statement/tests/unit/components/CustomPersonalInfoReview.unit.spec.jsx
Labels: pension-income-assets

#37589 0969 | Flatten recipientName
  src/applications/income-and-asset-statement/config/submit.js
  src/applications/income-and-asset-statement/tests/unit/submit.unit.spec.jsx
Labels: pension-income-assets

#37611 113003 - remaining bugs on google doc
  src/applications/accredited-representative-portal/containers/SubmissionsPage.jsx
  src/applications/accredited-representative-portal/sass/SubmissionsPage.scss
  src/applications/accredited-representative-portal/tests/e2e/submissions.cypress.spec.js
  src/applications/representative-form-upload/sass/representative-form-upload.scss
Labels: benefits-accredited-rep-facing

#37567 rel: `vets-json-schema` Version Bump
  package.json
  yarn.lock
Labels: disability-compensation, disability-benefits-team2

#37580 MBMS 68444 Adding customYearErrorMessage to va-memorable-date
  src/applications/simple-forms/40-0247/pages/veteranPersonalInfo.js
  src/platform/forms-system/src/js/web-component-fields/VaMemorableDateField.jsx
Labels: mbs-self-service

#37642 DV | Add missing content on confirmation page
  src/applications/dependents/dependents-verification/containers/ConfirmationPage.jsx
  src/applications/dependents/dependents-verification/tests/mock-api-full-data.js
Labels: dependents-benefits, frontend

#37557 fix(all-claims): React/prop-types warnings across all-claims
  src/applications/disability-benefits/all-claims/components/ToxicExposureSummary.jsx
  src/applications/disability-benefits/all-claims/content/ptsdClassification.jsx
  src/applications/disability-benefits/all-claims/pages/additionalBehaviorChanges.js
  src/applications/disability-benefits/all-claims/pages/incidentDescription.js
  src/applications/disability-benefits/all-claims/pages/secondaryOtherSources.js
  src/applications/disability-benefits/all-claims/pages/secondaryOtherSourcesHelp.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/additionalExposuresSummary.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/gulfWar1990Summary.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/gulfWar2001Summary.js
  src/applications/disability-benefits/all-claims/pages/toxicExposure/herbicideSummary.js
  src/applications/disability-benefits/all-claims/tests/pages/additionalBehaviorChanges.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/form0781/behaviorDescriptionPages.unit.spec.jsx
Labels: disability-benefits, disability-benefits-team2

#37640 [ARP] Bugfix: hardcode ARP client ID so sign out works across browser…
  src/applications/accreditation/21a/constants/index.js
  src/applications/accreditation/21a/utilities/constants.js
  src/applications/accredited-representative-portal/utilities/constants.js
  src/applications/representative-form-upload/utilities/constants.js
Labels: benefits-accredited-rep-facing

#37661 37648 update downtime dependencies in preperation for bep production outage
  src/applications/claims-status/containers/ClaimsStatusApp.jsx
  src/applications/letters/containers/App.jsx
Labels: bmt-team-1, benefits-management-tools

#37687 [ART/111016] - poa details spacing fix
  src/applications/accredited-representative-portal/components/POADetailsColumn.jsx
  src/applications/accredited-representative-portal/containers/POARequestDetailsPage.jsx
  src/applications/accredited-representative-portal/sass/POARequestDetails.scss
Labels: benefits-accredited-rep-facing

#37696 DV | Fix dependents processing & card data
  src/applications/dependents/dependents-verification/components/DependentsInformation.jsx
  src/applications/dependents/dependents-verification/components/DependentsInformationReview.jsx
  src/applications/dependents/dependents-verification/components/Gateway.jsx
  src/applications/dependents/dependents-verification/helpers.js
  src/applications/dependents/dependents-verification/reducers/dependents.js
  src/applications/dependents/dependents-verification/tests/unit/components/DependentsInformation.unit.spec.jsx
  src/applications/dependents/dependents-verification/tests/unit/components/DependentsInformationReview.unit.spec.jsx
  src/applications/dependents/dependents-verification/tests/unit/components/dependent-data.js
  src/applications/dependents/dependents-verification/tests/unit/helpers.unit.spec.jsx
  src/applications/dependents/shared/utils/index.js
Labels: Dependency Verification, frontend

#37665 refactor: error message content for toxic exposure dates
  src/applications/disability-benefits/all-claims/utils/validations.js
Labels: 526, disability-benefits, disability-compensation, disability-benefits-team2

#37622 Dependents | Replace imposter form navigation
  src/applications/dependents/686c-674/config/form.js
  src/applications/dependents/686c-674/tests/e2e/686C-674-ancillary.cypress.spec.js
  src/applications/dependents/686c-674/tests/e2e/686C-674-maximal.cypress.spec.js
  src/applications/dependents/686c-674/tests/e2e/686C-674.cypress.spec.js
  src/platform/forms-system/src/js/components/FormNavButtons.jsx
  src/platform/forms-system/src/js/components/ProgressButton.jsx
  src/platform/forms-system/src/js/containers/FormPage.jsx
  src/platform/forms-system/src/js/patterns/array-builder/ArrayBuilderItemPage.jsx
  src/platform/forms-system/src/js/patterns/array-builder/ArrayBuilderSummaryNoSchemaFormPage.jsx
  src/platform/forms-system/src/js/patterns/array-builder/ArrayBuilderSummaryPage.jsx
  src/platform/forms-system/src/js/patterns/array-builder/tests/arrayBuilderFirstItemPage.unit.spec.jsx
  src/platform/forms-system/src/js/patterns/array-builder/tests/arrayBuilderSummaryPage.unit.spec.jsx
  src/platform/forms-system/src/js/review/submit-states/Back.jsx
  src/platform/forms-system/src/js/review/submit-states/ClientError.jsx
  src/platform/forms-system/src/js/review/submit-states/Default.jsx
  src/platform/forms-system/src/js/review/submit-states/Pending.jsx
  src/platform/forms-system/src/js/review/submit-states/Submitted.jsx
  src/platform/forms-system/src/js/review/submit-states/ThrottledError.jsx
  src/platform/forms-system/src/js/review/submit-states/ValidationError.jsx
  src/platform/forms-system/test/js/components/ProgressButton.unit.spec.jsx
  src/platform/forms-system/test/js/containers/FormPage.unit.spec.jsx
  src/platform/forms-system/test/js/review/submit-states/Back.unit.spec.jsx
  src/platform/forms-system/test/js/review/submit-states/ClientError.unit.spec.jsx
  src/platform/forms-system/test/js/review/submit-states/Default.unit.spec.jsx
  src/platform/forms-system/test/js/review/submit-states/Pending.unit.spec.jsx
  src/platform/forms-system/test/js/review/submit-states/Submitted.unit.spec.jsx
  src/platform/forms-system/test/js/review/submit-states/ThrottledError.unit.spec.jsx
  src/platform/forms-system/test/js/review/submit-states/ValidationError.unit.spec.jsx
  src/platform/forms/save-in-progress/FormStartControls.jsx
  src/platform/forms/save-in-progress/SaveFormLink.jsx
  src/platform/forms/save-in-progress/SaveInProgressDevModal.jsx
  src/platform/forms/tests/save-in-progress/FormStartControls.unit.spec.jsx
  src/platform/forms/tests/save-in-progress/SaveFormLink.unit.spec.jsx
  src/platform/forms/tests/save-in-progress/SaveInProgressDevModal.unit.spec.jsx
  src/platform/testing/e2e/cypress/support/commands/formHelpers.js
  src/platform/testing/e2e/cypress/support/commands/keyboardNavigation.js
  src/platform/testing/e2e/cypress/support/form-tester/index.js
Labels: dependents-benefits, frontend

#37677 arp/replace-poa-search-with-claimant-search
  src/applications/accreditation/21a/components/common/Header/Nav.jsx
  src/applications/accreditation/21a/components/common/Header/UserNav.jsx
  src/applications/representative-form-upload/components/Header/Nav.jsx
  src/applications/representative-form-upload/components/Header/UserNav.jsx
Labels: benefits-accredited-rep-facing

#37700 Arp/small css tweaks claimant search
  src/applications/accredited-representative-portal/components/POARequestCard.jsx
  src/applications/accredited-representative-portal/containers/ClaimantSearchPage.jsx
  src/applications/accredited-representative-portal/containers/POARequestDetailsPage.jsx
  src/applications/accredited-representative-portal/sass/POARequestCard.scss
  src/applications/accredited-representative-portal/sass/POARequestDetails.scss
  src/applications/accredited-representative-portal/sass/POARequestSearchDetails.scss
  src/applications/accredited-representative-portal/sass/accredited-representative-portal.scss
Labels: benefits-accredited-rep-facing

#37715 113211 - [DD] - STAGING REVIEW REQUEST - Fix manual focusing consistency
  src/applications/dispute-debt/config/form.js
  src/applications/dispute-debt/containers/IntroductionPage.jsx
  src/applications/dispute-debt/utils/index.js
Labels: frontend, dispute-debt

#37726 fix broken confirmation page
  src/applications/income-and-asset-statement/config/chapters/12-supporting-documents/uploadDocuments.jsx
Labels: pension-income-assets

#37728 Dependents | Ensure useV2 flag is set
  src/applications/dependents/686c-674/config/form.js
Labels: dependents-benefits, frontend

#37723 Update text content
  src/applications/income-and-asset-statement/config/chapters/01-veteran-and-claimant-information/phoneNumber.js
  src/applications/income-and-asset-statement/config/chapters/08-annuities/annuityPages.js
  src/applications/income-and-asset-statement/config/chapters/09-unreported-assets/unreportedAssetPages.js
  src/applications/income-and-asset-statement/labels.jsx
Labels: pension-income-assets

#37741 DV | FIx style & scrolling on confirmation page
  src/applications/dependents/dependents-verification/containers/ConfirmationPage.jsx
  src/applications/dependents/dependents-verification/tests/e2e/fixtures/data/maximal-test.json
  src/applications/dependents/dependents-verification/tests/mock-api-full-data.js
  src/applications/dependents/shared/tests/fixtures/mocks/mock-dependents.json
Labels: bug, Dependency Verification, frontend

#37748 [ART/112701] - claimant bugs from google doc
  src/applications/accredited-representative-portal/containers/ClaimantSearchPage.jsx
  src/applications/accredited-representative-portal/sass/POARequestCard.scss
  src/applications/accredited-representative-portal/sass/accredited-representative-portal.scss
  src/applications/accredited-representative-portal/utilities/poaRequests.js
Labels: benefits-accredited-rep-facing

#37759 [DD] 113211 - Minor header fixes
  src/applications/dispute-debt/components/VeteranInformation.jsx
  src/applications/dispute-debt/config/form.js
  src/applications/dispute-debt/sass/dispute-debt.scss
Labels: dispute-debt

#37761 DMT | Fix Enable GA on first page
  src/applications/dependents/686c-674/config/chapters/taskWizard/wizard/removeDependentOptions.js
Labels: bug, dependents-benefits, frontend

#37771 0969 | Update to use form nav web components
  src/applications/income-and-asset-statement/components/CustomPersonalInfo.jsx
  src/applications/income-and-asset-statement/config/form.js
  src/applications/income-and-asset-statement/tests/e2e/income-and-asset-statement.cypress.spec.js
Labels: pension-income-assets, frontend

#37775 [art/114395] - updating awaiting receipt icon
  src/applications/accredited-representative-portal/components/SubmissionCard.jsx
  src/applications/accredited-representative-portal/sass/SubmissionsPage.scss
Labels: benefits-accredited-rep-facing

#37770 Update cypress page hook routes
  src/applications/income-and-asset-statement/components/FormAlerts/SupplementaryFormsAlert.jsx
  src/applications/income-and-asset-statement/components/FormAlerts/index.jsx
  src/applications/income-and-asset-statement/config/chapters/11-income-receipt-waivers/incomeReceiptWaiverPages.js
  src/applications/income-and-asset-statement/helpers.js
  src/applications/income-and-asset-statement/tests/e2e/income-and-asset-statement.cypress.spec.js
  src/applications/income-and-asset-statement/tests/unit/helpers.spec.jsx
Labels: pension-income-assets

#37796 Content updates
  src/applications/income-and-asset-statement/config/chapters/02-unassociated-incomes/unassociatedIncomePages.js
  src/applications/income-and-asset-statement/config/chapters/03-associated-incomes/associatedIncomePages.js
  src/applications/income-and-asset-statement/config/chapters/04-owned-assets/ownedAssetPages.js
  src/applications/income-and-asset-statement/config/chapters/05-royalties-and-other-properties/royaltiesAndOtherPropertyPages.js
  src/applications/income-and-asset-statement/config/chapters/06-asset-transfers/assetTransferPages.js
  src/applications/income-and-asset-statement/config/chapters/07-trusts/trustPages.js
  src/applications/income-and-asset-statement/config/chapters/08-annuities/annuityPages.js
  src/applications/income-and-asset-statement/config/chapters/09-unreported-assets/unreportedAssetPages.js
  src/applications/income-and-asset-statement/config/chapters/10-discontinued-incomes/discontinuedIncomePages.js
  src/applications/income-and-asset-statement/config/chapters/11-income-receipt-waivers/incomeReceiptWaiverPages.js
  src/applications/income-and-asset-statement/containers/IntroductionPage.jsx
Labels: pension-income-assets

#37745 MBMS-58074 Military Name Spacing
  src/applications/pre-need-integration/sass/pre-need.scss
Labels: mbs-self-service

#37805 Pensions | Replace imposter form navigation
  src/applications/pensions/components/FormAlerts/index.jsx
  src/applications/pensions/components/IntroductionPage.jsx
  src/applications/pensions/components/MarriageCount.jsx
  src/applications/pensions/config/chapters/04-household-information/marriageHistory.js
  src/applications/pensions/config/chapters/06-additional-information/fasterClaimProcessing.js
  src/applications/pensions/config/chapters/06-additional-information/helper.js
  src/applications/pensions/config/chapters/06-additional-information/supportingDocuments.js
  src/applications/pensions/config/form.js
  src/applications/pensions/containers/UnauthenticatedWarningAlert.jsx
  src/applications/pensions/tests/e2e/helpers/index.js
  src/applications/pensions/tests/e2e/helpers/keyboardOnlyHelpers.js
  src/applications/pensions/tests/e2e/helpers/pageHooks.js
  src/applications/pensions/tests/unit/chapters/04-household-information/marriageHistory.unit.spec.jsx
  src/applications/pensions/tests/unit/components/MarriageCount.unit.spec.jsx
  src/applications/pensions/tests/unit/containers/UnauthenticatedWarningAlert.unit.spec.jsx
Labels: pension-benefits, frontend

#37820 Burials | Replace imposter components
  src/applications/burials-ez/components/NoFormPage.jsx
  src/applications/burials-ez/components/NoHintReviewField.jsx
  src/applications/burials-ez/config/chapters/02-veteran-information/burialInformation.js
  src/applications/burials-ez/config/chapters/03-military-history/separationDocuments.js
  src/applications/burials-ez/config/chapters/03-military-history/servicePeriods.js
  src/applications/burials-ez/config/chapters/05-additional-information/additionalEvidence.js
  src/applications/burials-ez/config/chapters/05-additional-information/supportingDocuments.js
  src/applications/burials-ez/config/form.js
  src/applications/burials-ez/containers/ConfirmationPage.jsx
  src/applications/burials-ez/tests/components/NoHintReviewRow.unit.spec.jsx
  src/applications/burials-ez/tests/config/chapters/02-veteran-information/burialInformation.unit.spec.jsx
  src/applications/burials-ez/tests/e2e/helpers/index.js
  src/applications/burials-ez/tests/utils/helpers.unit.spec.jsx
  src/applications/burials-ez/utils/helpers.jsx
Labels: Burials, frontend

#37803 [art/114644] - staging blockers
  src/applications/representative-form-upload/components/ConfirmationPageView.jsx
  src/applications/representative-form-upload/config/form.js
  src/applications/representative-form-upload/containers/IntroductionPage.jsx
  src/applications/representative-form-upload/helpers/index.js
  src/applications/representative-form-upload/tests/unit/containers/IntroductionPage.unit.spec.jsx
Labels: benefits-accredited-rep-facing

#37811 arp/686c-staging-review-content-fixes
  src/applications/accredited-representative-portal/containers/ClaimantSearchPage.jsx
  src/applications/accredited-representative-portal/containers/POARequestDetailsPage.jsx
  src/applications/accredited-representative-portal/containers/POARequestSearchPage.jsx
  src/applications/representative-form-upload/config/submissionError.js
  src/applications/representative-form-upload/pages/upload.jsx
Labels: benefits-accredited-rep-facing

#37824 MBMS-92409 Address Validation/Confirmation Page header structure
  src/applications/pre-need-integration/components/AddressConfirmation.jsx
  src/applications/pre-need-integration/containers/ConfirmationPage.jsx
Labels: mbs-self-service

#37922 [art/112701] - spacing issue on date in claimant cards
  src/applications/accredited-representative-portal/sass/POARequestDetails.scss
Labels: benefits-accredited-rep-facing

#37921 View-dependents | Update alert content
  src/applications/dependents/view-dependents/components/ViewDependentsHeader/ViewDependentsHeaderV2.jsx
Labels: dependents-benefits, frontend

#37897 MBMS-46159 Updated accordian focus for va-select
  src/platform/forms-system/src/js/components/FormNav.jsx
Labels: 🤖 Copilot Assisted, mbs-self-service

#37962 arp/user_refresh_pop_up
  src/applications/representative-form-upload/containers/App.jsx
  src/applications/representative-form-upload/containers/ConfirmationPage.jsx
  src/applications/representative-form-upload/containers/IntroductionPage.jsx
  src/applications/representative-form-upload/tests/e2e/form-upload.cypress.spec.js
  src/applications/representative-form-upload/tests/unit/containers/IntroductionPage.unit.spec.jsx
Labels: benefits-accredited-rep-facing

#37963 Dependents | Enable GA on add dependents page
  src/applications/dependents/686c-674/config/chapters/taskWizard/wizard/addDependentOptions.js
Labels: bug, dependents-benefits, frontend

#37575 [DD] 113208 - Implementing ConfirmationView
  src/applications/dispute-debt/components/GetFormHelp.jsx
  src/applications/dispute-debt/components/confirmation/ConfirmationDisputeInformation.jsx
  src/applications/dispute-debt/components/confirmation/ConfirmationVeteranInformation.jsx
  src/applications/dispute-debt/constants/index.js
  src/applications/dispute-debt/containers/ConfirmationPage.jsx
  src/applications/dispute-debt/pages/debtSelection.js
  src/applications/dispute-debt/pages/disputeReason.js
  src/applications/dispute-debt/pages/veteranInformation.js
  src/applications/dispute-debt/tests/components/GetFormHelp.unit.spec.jsx
  src/applications/dispute-debt/tests/components/confirmation/ConfirmationDisputeInformation.unit.spec.jsx
  src/applications/dispute-debt/tests/components/confirmation/ConfirmationVeteranInformation.unit.spec.jsx
  src/applications/dispute-debt/tests/containers/ConfirmationPage.unit.spec.jsx
  src/applications/dispute-debt/tests/containers/NeedsHelp.unit.spec.jsx
  src/applications/dispute-debt/tests/dispute-debt.cypress.spec.js
  src/applications/dispute-debt/tests/pages/disputeReason.unit.spec.jsx
Labels: dispute-debt

#37980 [Art/114635] - 686 staging review updates
  src/applications/representative-form-upload/config/form.js
  src/applications/representative-form-upload/containers/IntroductionPage.jsx
  src/applications/representative-form-upload/tests/e2e/form-upload.cypress.spec.js
  src/applications/representative-form-upload/tests/unit/containers/IntroductionPage.unit.spec.jsx
Labels: benefits-accredited-rep-facing

#37413 feat(all-claims): Add centralized date utility library
  src/applications/disability-benefits/all-claims/tests/utils/dates/comparisons.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/utils/dates/form-integration.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/utils/dates/formatting.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/utils/dates/index.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/utils/dates/product-specific.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/utils/dates/validations.unit.spec.jsx
  src/applications/disability-benefits/all-claims/utils/dates/README.md
  src/applications/disability-benefits/all-claims/utils/dates/comparisons.js
  src/applications/disability-benefits/all-claims/utils/dates/form-integration.js
  src/applications/disability-benefits/all-claims/utils/dates/formatting.js
  src/applications/disability-benefits/all-claims/utils/dates/index.js
  src/applications/disability-benefits/all-claims/utils/dates/product-specific.js
  src/applications/disability-benefits/all-claims/utils/dates/validations.js
Labels: disability-benefits, disability-benefits-team2

#37983 MBMS-100399 remove MBMS-67591 prod flag from PMC form
  src/applications/simple-forms/40-0247/config/form.js
  src/applications/simple-forms/40-0247/pages/applicantPersonalInfo.js
Labels: mbs-self-service

#37904 0969 | Recurring income – Relationship to Veteran page updates (Veteran claimantType)
  src/applications/income-and-asset-statement/config/chapters/02-unassociated-incomes/unassociatedIncomePages.js
  src/applications/income-and-asset-statement/containers/App.jsx
  src/applications/income-and-asset-statement/helpers.js
  src/applications/income-and-asset-statement/labels.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/03-unassociated-incomes/unassociatedIncomePages.unit.spec.jsx
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: pension-income-assets

#38001 Global | Currency field updates
  src/platform/forms-system/src/js/web-component-fields/CurrencyField.jsx
  src/platform/forms-system/test/js/web-component-fields/CurrencyField.unit.spec.jsx
Labels: forms-library, pension-benefits, frontend

#37979 Pensions | Fix more imposter components
  src/applications/pensions/components/MarriageCount.jsx
  src/platform/forms-system/src/js/fields/ArrayField.jsx
  src/platform/forms-system/src/js/review/ArrayField.jsx
  src/platform/forms-system/src/js/review/ReviewChapters.jsx
  src/platform/forms-system/src/js/review/ReviewCollapsibleChapter.jsx
Labels: forms-library, pension-benefits, frontend

#37976 0969 | Recurring income – Relationship to Veteran page updates (Spouse claimantType)
  src/applications/income-and-asset-statement/config/chapters/02-unassociated-incomes/unassociatedIncomePages.js
Labels: pension-income-assets

#38022 DV | Add more unit test coverage
  src/applications/dependents/dependents-verification/components/DependentsInformation.jsx
  src/applications/dependents/dependents-verification/components/ExitForm.jsx
  src/applications/dependents/dependents-verification/components/Gateway.jsx
  src/applications/dependents/dependents-verification/helpers.js
  src/applications/dependents/dependents-verification/tests/e2e/fixtures/mocks/mock-dependents.json
  src/applications/dependents/dependents-verification/tests/unit/components/DependentsInformation.unit.spec.jsx
  src/applications/dependents/dependents-verification/tests/unit/components/ExitForm.unit.spec.jsx
  src/applications/dependents/dependents-verification/tests/unit/components/Gateway.unit.spec.jsx
  src/applications/dependents/dependents-verification/tests/unit/components/NeedHelp.unit.spec.jsx
  src/applications/dependents/dependents-verification/tests/unit/components/VeteranContactInformationPage.unit.spec.jsx
  src/applications/dependents/dependents-verification/tests/unit/helpers.unit.spec.jsx
Labels: Dependency Verification, frontend

#38033 Update DV e2e testing
  src/applications/dependents/dependents-verification/tests/e2e/0538-dependents-verification.cypress.spec.js
Labels: testing, Dependency Verification, frontend

#38037 Improve Code Coverage For Representative Form Upload After Launch
  src/applications/representative-form-upload/tests/unit/pages/UploadPage.unit.spec.jsx
  src/applications/representative-form-upload/tests/unit/utilities/api.unit.spec.jsx
  src/applications/representative-form-upload/tests/unit/utilities/constants.unit.spec.jsx
Labels: benefits-accredited-rep-facing

#38035 Content updates
  src/applications/pensions/components/FormAlerts/index.jsx
  src/applications/pensions/config/form.js
Labels: pension-benefits, intent-to-file
