Repository department-of-veterans-affairs/vets-website, pull requests merged in 2025-04, with the labels that each got.

#35616 [art/104055] - accessibility - update heading style on form
  src/applications/accredited-representative-portal/containers/POARequestDetailsPage.jsx
Labels: benefits-accredited-rep-facing

#35614 97877 - [DD] Convert to minimal header
  src/applications/dispute-debt/config/form.js
Labels: vsa-benefits-2, frontend

#35609 [FSR] 104970 - Updating copay compromise text
  src/applications/financial-status-report/components/resolution/ResolutionAmount.jsx
  src/applications/financial-status-report/components/resolution/ResolutionOptions.jsx
Labels: financial-status-report

#35649 [art/97854] - breadcrumbs
  src/applications/accredited-representative-portal/containers/POARequestDetailsPage.jsx
  src/applications/accredited-representative-portal/containers/POARequestSearchPage.jsx
  src/applications/accredited-representative-portal/sass/accredited-representative-portal.scss
  src/applications/accredited-representative-portal/utilities/poaRequests.js
Labels: benefits-accredited-rep-facing

#35631 Dbex 0781ps behavior type list custom page
  src/applications/disability-benefits/all-claims/components/BehaviorListPage.jsx
  src/applications/disability-benefits/all-claims/config/form0781/index.js
  src/applications/disability-benefits/all-claims/constants.js
  src/applications/disability-benefits/all-claims/content/form0781/behaviorListPages.jsx
  src/applications/disability-benefits/all-claims/tests/components/BehaviorListPage.unit.spec.jsx
Labels: disability-experience

#35626 Add more unit tests
  src/applications/income-and-asset-statement/config/chapters/03-unassociated-incomes/unassociatedIncomePages.js
  src/applications/income-and-asset-statement/config/chapters/04-associated-incomes/associatedIncomePages.js
  src/applications/income-and-asset-statement/config/chapters/05-owned-assets/ownedAssetPages.js
  src/applications/income-and-asset-statement/config/chapters/06-royalties-and-other-properties/royaltiesAndOtherPropertyPages.js
  src/applications/income-and-asset-statement/config/chapters/07-asset-transfers/assetTransferPages.js
  src/applications/income-and-asset-statement/config/chapters/08-trusts/trustPages.js
  src/applications/income-and-asset-statement/config/chapters/09-annuities/annuityPages.js
  src/applications/income-and-asset-statement/config/chapters/10-unreported-assets/unreportedAssetPages.js
  src/applications/income-and-asset-statement/config/chapters/11-discontinued-incomes/discontinuedIncomePages.js
  src/applications/income-and-asset-statement/config/chapters/12-income-receipt-waivers/incomeReceiptWaiverPages.js
  src/applications/income-and-asset-statement/tests/e2e/income-and-asset-statement.cypress.spec.js
  src/applications/income-and-asset-statement/tests/unit/App.unit.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/03-unassociated-incomes/unassociatedIncomePages.unit.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/04-associated-incomes/associatedIncomePages.unit.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/05-owned-assets/ownedAssetPages.unit.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/06-royalties-and-other-properties/royaltiesAndOtherPropertyPages.unit.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/07-asset-transfers/assetTransferPages.unit.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/08-trusts/trustPages.unit.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/09-annuities/annuityPages.unit.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/10-unreported-assets/unreportedAssetPages.unit.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/11-discontinued-incomes/discontinuedIncomePages.unit.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/12-income-receipt-waivers/incomeReceiptWaiverPages.unit.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/multiPageTests.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/pageTests.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/components/FormAlerts.unit.spec.jsx
Labels: pension-income-assets

#35662 arf/remove-in-progress-forms
  src/applications/accredited-representative-portal/representative-form-upload/config/constants.js
  src/applications/accredited-representative-portal/representative-form-upload/config/form.js
  src/applications/accredited-representative-portal/representative-form-upload/config/prefill-transformer.js
  src/applications/accredited-representative-portal/representative-form-upload/containers/IntroductionPage.jsx
  src/applications/accredited-representative-portal/representative-form-upload/reducers/user.js
  src/applications/accredited-representative-portal/representative-form-upload/routes.jsx
  src/applications/accredited-representative-portal/representative-form-upload/tests/unit/containers/IntroductionPage.unit.spec.jsx
  src/applications/accredited-representative-portal/representative-form-upload/tests/unit/pages/helpers.unit.spec.jsx
Labels: benefits-accredited-rep-facing

#35522 Frontend for person/PoA search (#98332)
  src/applications/accredited-representative-portal/app-entry.jsx
  src/applications/accredited-representative-portal/components/POARequestSearchCard.jsx
  src/applications/accredited-representative-portal/containers/POARequestIndividualSearchPage.jsx
  src/applications/accredited-representative-portal/routes.jsx
  src/applications/accredited-representative-portal/sass/POARequestSearchDetails.scss
  src/applications/accredited-representative-portal/sass/accredited-representative-portal.scss
  src/applications/accredited-representative-portal/tests/e2e/intercepts/claimant-search.js
  src/applications/accredited-representative-portal/tests/e2e/poa-request-individual-search.cypress.spec.js
  src/applications/accredited-representative-portal/utilities/api.js
Labels: benefits-accredited-rep-facing

#35680 Fix page erroring out after attempting submit without decision (#106529)
  src/applications/accredited-representative-portal/containers/POARequestDetailsPage.jsx
Labels: benefits-accredited-rep-facing

#35690 [Art/103715] - ARF adding get help page
  src/applications/accredited-representative-portal/app-entry.jsx
  src/applications/accredited-representative-portal/containers/GetHelpPage.jsx
  src/applications/accredited-representative-portal/routes.jsx
  src/applications/accredited-representative-portal/sass/GetHelp.scss
  src/applications/accredited-representative-portal/sass/accredited-representative-portal.scss
  src/applications/accredited-representative-portal/tests/unit/containers/GetHelpPage.unit.spec.jsx
  src/applications/accredited-representative-portal/utilities/poaRequests.js
  src/site/assets/files/How to submit VA Form 21-22 online_updated March 2025.pdf
Labels: benefits-accredited-rep-facing

#35723 [Income & Assets] Update the `PENSION_RETIREMENT` unassociated income type to `RETIREMENT_PENSION`
  src/applications/income-and-asset-statement/labels.jsx
Labels: pension-income-assets

#35725 arf/rename-css-file
  src/applications/accredited-representative-portal/representative-form-upload/sass/representative-form-upload.scss
Labels: benefits-accredited-rep-facing

#35754 Income & Asset | Fix list & loop summary card visibility
  src/applications/income-and-asset-statement/config/chapters/03-unassociated-incomes/unassociatedIncomePages.js
  src/applications/income-and-asset-statement/config/chapters/04-associated-incomes/associatedIncomePages.js
  src/applications/income-and-asset-statement/config/chapters/05-owned-assets/ownedAssetPages.js
  src/applications/income-and-asset-statement/config/chapters/06-royalties-and-other-properties/royaltiesAndOtherPropertyPages.js
  src/applications/income-and-asset-statement/config/chapters/07-asset-transfers/assetTransferPages.js
  src/applications/income-and-asset-statement/config/chapters/08-trusts/trustPages.js
  src/applications/income-and-asset-statement/config/chapters/09-annuities/annuityPages.js
  src/applications/income-and-asset-statement/config/chapters/10-unreported-assets/unreportedAssetPages.js
  src/applications/income-and-asset-statement/config/chapters/11-discontinued-incomes/discontinuedIncomePages.js
  src/applications/income-and-asset-statement/config/chapters/12-income-receipt-waivers/incomeReceiptWaiverPages.js
  src/applications/income-and-asset-statement/helpers.js
  src/applications/income-and-asset-statement/tests/e2e/fixtures/data/test-data-all-zeroes.json
  src/applications/income-and-asset-statement/tests/unit/chapters/03-unassociated-incomes/unassociatedIncomePages.unit.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/04-associated-incomes/associatedIncomePages.unit.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/05-owned-assets/ownedAssetPages.unit.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/06-royalties-and-other-properties/royaltiesAndOtherPropertyPages.unit.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/07-asset-transfers/assetTransferPages.unit.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/08-trusts/trustPages.unit.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/09-annuities/annuityPages.unit.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/10-unreported-assets/unreportedAssetPages.unit.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/11-discontinued-incomes/discontinuedIncomePages.unit.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/12-income-receipt-waivers/incomeReceiptWaiverPages.unit.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/multiPageTests.spec.jsx
Labels: bug, pension-income-assets, frontend

#35578 106056 Accessibility Feedback One VA Debt Letter
  src/applications/combined-debt-portal/combined/containers/CombinedStatements.jsx
  src/applications/combined-debt-portal/combined/containers/OverviewPage.jsx
  src/applications/combined-debt-portal/combined/tests/e2e/fixtures/mocks/feature-toggles.json
  src/applications/combined-debt-portal/combined/utils/helpers.js
  src/platform/pdf/exportsFile.js
  src/platform/pdf/templates/index.js
  src/platform/pdf/templates/one_debt_letter.js
  src/platform/pdf/templates/va_logo.png
Labels: combined-debt-portal

#35786 Temporary bugfix to mismatched sorting params for POA Requests
  src/applications/accredited-representative-portal/tests/unit/utilities/api.unit.spec.jsx
  src/applications/accredited-representative-portal/utilities/api.js
Labels: benefits-accredited-rep-facing

#35703 BehaviorList review and submit
  src/applications/disability-benefits/all-claims/components/BehaviorListPage.jsx
  src/applications/disability-benefits/all-claims/tests/components/BehaviorListPage.unit.spec.jsx
Labels: disability-experience

#35803 PBP Remove Unused Flippers
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: pension-benefits, burial-benefits

#35732 Add feature flag to ARP people search (#98332)
  src/applications/accredited-representative-portal/components/Header/Nav.jsx
  src/applications/accredited-representative-portal/components/Header/UserNav.jsx
  src/applications/accredited-representative-portal/containers/POARequestIndividualSearchPage.jsx
  src/applications/accredited-representative-portal/sass/accredited-representative-portal.scss
  src/applications/accredited-representative-portal/tests/e2e/intercepts/feature-toggles.js
  src/applications/accredited-representative-portal/tests/e2e/poa-request-individual-search.cypress.spec.js
  src/applications/accredited-representative-portal/tests/unit/components/Header.unit.spec.jsx
  src/applications/accredited-representative-portal/utilities/poaRequests.js
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: benefits-accredited-rep-facing

#35633 [DBEX] Official Report custom page
  src/applications/disability-benefits/all-claims/components/OfficialReport.jsx
  src/applications/disability-benefits/all-claims/constants.js
  src/applications/disability-benefits/all-claims/content/officialReport.jsx
  src/applications/disability-benefits/all-claims/pages/form0781/officialReport.js
  src/applications/disability-benefits/all-claims/pages/form0781/policeReportLocation.js
  src/applications/disability-benefits/all-claims/pages/form0781/traumaticEventDetails.js
  src/applications/disability-benefits/all-claims/pages/form0781/traumaticEventsPages.js
  src/applications/disability-benefits/all-claims/tests/components/OfficialReport.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/form0781/officialReport.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/form0781/traumaticEventsPages.unit.spec.jsx
  src/applications/disability-benefits/all-claims/utils/form0781.js
Labels: disability-experience, disability-compensation

#35811 [CDP] 107066 - One Debt Letter updates
  src/applications/combined-debt-portal/combined/containers/CombinedStatements.jsx
  src/applications/combined-debt-portal/combined/utils/helpers.js
  src/platform/pdf/templates/one_debt_letter.js
  src/platform/pdf/templates/va_logo.png
Labels: combined-debt-portal

#35828 Dependents | Add Google Analytics to some pages
  src/applications/686c-674/config/chapters/household-income/householdIncome.js
  src/applications/686c-674/config/chapters/taskWizard/wizard/addDependentOptions.js
  src/applications/686c-674/config/chapters/taskWizard/wizard/addOrRemoveDependents.js
  src/applications/686c-674/config/chapters/taskWizard/wizard/removeDependentOptions.js
Labels: analytics, dependents-benefits, frontend

#35812 Dependents | Add uiSchema option to preserve hidden data
  src/applications/686c-674/config/chapters/report-add-a-spouse/current-marriage-information/currentMarriageInformationPartFive.js
  src/applications/686c-674/config/chapters/report-add-a-spouse/current-marriage-information/currentMarriageInformationPartFour.js
  src/applications/686c-674/config/chapters/report-add-a-spouse/spouseMarriageHistoryArrayPages.js
  src/applications/686c-674/config/chapters/report-add-a-spouse/veteranMarriageHistoryArrayPages.js
  src/applications/686c-674/config/chapters/report-divorce/former-spouse-information/formerSpouseInformationPartTwo.js
  src/platform/forms-system/src/js/patterns/array-builder/useEditOrAddForm.jsx
  src/platform/forms-system/src/js/state/helpers.js
  src/platform/forms-system/test/js/state/helpers.unit.spec.jsx
Labels: dependents-benefits, frontend

#35845 [ART/97854] - breadcrumb, get help qa feedback
  src/applications/accredited-representative-portal/containers/GetHelpPage.jsx
  src/applications/accredited-representative-portal/utilities/poaRequests.js
Labels: benefits-accredited-rep-facing

#35844 Update error message copy (#106529)
  src/applications/accredited-representative-portal/containers/POARequestDetailsPage.jsx
Labels: benefits-accredited-rep-facing

#35848 106568 - One Debt Letter HTML page - Testing
  src/applications/combined-debt-portal/combined/containers/CombinedStatements.jsx
  src/applications/combined-debt-portal/combined/tests/e2e/combined-statements.cypress.spec.js
  src/applications/combined-debt-portal/combined/tests/e2e/fixtures/mocks/mock-user-81.json
Labels: vsa-benefits-2, combined-debt-portal, frontend

#35867 107506 - One VA Debt Letter - Color Testing Update
  src/applications/combined-debt-portal/combined/containers/CombinedStatements.jsx
Labels: vsa-benefits-2, combined-debt-portal, frontend

#35791 Global | Add CurrencyUI web component pattern
  src/platform/forms-system/src/js/review/CurrencyWidget.jsx
  src/platform/forms-system/src/js/utilities/data/formatCurrency.js
  src/platform/forms-system/src/js/web-component-fields/CurrencyField.jsx
  src/platform/forms-system/src/js/web-component-fields/vaTextInputFieldMapping.jsx
  src/platform/forms-system/src/js/web-component-patterns/currencyPattern.jsx
  src/platform/forms-system/test/js/review/CurrencyWidget.unit.spec.jsx
  src/platform/forms-system/test/js/utilities/formatCurrency.unit.spec.jsx
Labels: enhancement, pension-income-assets, frontend

#35816 [ART 98332] tweak test
  src/applications/accredited-representative-portal/tests/unit/components/Header.unit.spec.jsx
Labels: benefits-accredited-rep-facing

#35875 Income and assets | Update currency pattern
  src/applications/income-and-asset-statement/config/chapters/03-unassociated-incomes/unassociatedIncomePages.js
  src/applications/income-and-asset-statement/config/chapters/04-associated-incomes/associatedIncomePages.js
  src/applications/income-and-asset-statement/config/chapters/05-owned-assets/ownedAssetPages.js
  src/applications/income-and-asset-statement/config/chapters/06-royalties-and-other-properties/royaltiesAndOtherPropertyPages.js
  src/applications/income-and-asset-statement/config/chapters/07-asset-transfers/assetTransferPages.js
  src/applications/income-and-asset-statement/config/chapters/08-trusts/trustPages.js
  src/applications/income-and-asset-statement/config/chapters/09-annuities/annuityPages.js
  src/applications/income-and-asset-statement/config/chapters/10-unreported-assets/unreportedAssetPages.js
  src/applications/income-and-asset-statement/config/chapters/11-discontinued-incomes/discontinuedIncomePages.js
  src/applications/income-and-asset-statement/config/chapters/12-income-receipt-waivers/incomeReceiptWaiverPages.js
  src/applications/income-and-asset-statement/sass/income-and-asset-statement.scss
  src/applications/income-and-asset-statement/tests/e2e/income-and-asset-statement.cypress.spec.js
  src/applications/income-and-asset-statement/tests/unit/chapters/03-unassociated-incomes/unassociatedIncomePages.unit.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/04-associated-incomes/associatedIncomePages.unit.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/05-owned-assets/ownedAssetPages.unit.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/06-royalties-and-other-properties/royaltiesAndOtherPropertyPages.unit.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/07-asset-transfers/assetTransferPages.unit.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/08-trusts/trustPages.unit.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/09-annuities/annuityPages.unit.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/10-unreported-assets/unreportedAssetPages.unit.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/11-discontinued-incomes/discontinuedIncomePages.unit.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/12-income-receipt-waivers/incomeReceiptWaiverPages.unit.spec.jsx
Labels: enhancement, pension-income-assets, frontend

#35859 [Art/103799] - poa requests search pagination
  src/applications/accredited-representative-portal/components/Pagination.jsx
  src/applications/accredited-representative-portal/containers/POARequestSearchPage.jsx
  src/applications/accredited-representative-portal/tests/e2e/accredited-representative-portal.cypress.spec.js
  src/applications/accredited-representative-portal/utilities/api.js
  src/applications/accredited-representative-portal/utilities/poaRequests.js
Labels: benefits-accredited-rep-facing

#35863 Dependents 105738 | Fix expandUnder focus
  src/applications/686c-674/config/chapters/report-add-a-spouse/current-marriage-information/currentMarriageInformationPartFive.js
  src/applications/686c-674/config/chapters/report-add-a-spouse/current-marriage-information/currentMarriageInformationPartFour.js
  src/applications/686c-674/config/chapters/report-add-a-spouse/spouseMarriageHistoryArrayPages.js
  src/applications/686c-674/config/chapters/report-add-a-spouse/veteranMarriageHistoryArrayPages.js
  src/applications/686c-674/config/chapters/report-divorce/former-spouse-information/formerSpouseInformationPartTwo.js
  src/applications/686c-674/tests/config/chapters/report-add-a-spouse/currentMarriageInformation.unit.spec.jsx
  src/applications/686c-674/tests/e2e/fixtures/spouse-child-all-fields.json
  src/applications/686c-674/tests/e2e/fixtures/spouse-report-divorce.json
Labels: dependents-benefits

#35834 Rep Status qa changes
  src/applications/personalization/dashboard/components/claims-and-appeals/ClaimsAndAppeals.jsx
  src/applications/personalization/profile/components/accredited-representative/AccreditedRepresentative.jsx
  src/applications/personalization/profile/components/hub/Hub.jsx
  src/applications/personalization/profile/tests/e2e/accredited-representative/accredited-representative.cypress.spec.js
  src/platform/user/widgets/representative-status/components/alerts/Unauth.jsx
  src/platform/user/widgets/representative-status/components/alerts/UnknownRep.js
  src/platform/user/widgets/representative-status/components/cards/CurrentRep.jsx
  src/platform/user/widgets/representative-status/components/cards/NoRep.jsx
  src/platform/user/widgets/representative-status/hooks/useRepresentativeStatus.js
  src/platform/user/widgets/representative-status/stylesheet.scss
  src/platform/user/widgets/representative-status/tests/App.unit.spec.jsx
  src/platform/user/widgets/representative-status/tests/CurrentRep.unit.spec.jsx
  src/platform/user/widgets/representative-status/tests/NoRep.unit.spec.jsx
  src/platform/user/widgets/representative-status/tests/Unauth.unit.spec.jsx
Labels: representative-status-widget

#35910 107579 - [CDP] One Debt Letter - HTML page misc updates
  src/applications/combined-debt-portal/combined/containers/CombinedStatements.jsx
  src/applications/combined-debt-portal/combined/containers/OverviewPage.jsx
Labels: vsa-benefits-2, combined-debt-portal, frontend

#35938 [Art/106423] - claims submission header alignment
  src/applications/representative-form-upload/app-entry.jsx
  src/applications/representative-form-upload/components/Header.jsx
  src/applications/representative-form-upload/components/Header/GovBanner.jsx
  src/applications/representative-form-upload/components/Header/Nav.jsx
  src/applications/representative-form-upload/components/Header/NavDropdown.jsx
  src/applications/representative-form-upload/components/Header/UserNav.jsx
  src/applications/representative-form-upload/constants/index.js
  src/applications/representative-form-upload/constants/sis.js
  src/applications/representative-form-upload/constants/usip.js
  src/applications/representative-form-upload/containers/App.jsx
  src/applications/representative-form-upload/routes.jsx
  src/applications/representative-form-upload/sass/representative-form-upload.scss
Labels: benefits-accredited-rep-facing

#35890 Fix currency UI error messaging
  src/platform/forms-system/src/js/web-component-fields/CurrencyField.jsx
  src/platform/forms-system/src/js/web-component-patterns/currencyPattern.jsx
  src/platform/forms-system/src/js/web-component-patterns/index.js
Labels: bug, pension-income-assets, frontend

#35905 Dependents | Update to use currency web component pattern
  src/applications/686c-674/config/chapters/674/addStudentsArrayPages.js
Labels: Tech Debt, dependents-benefits, frontend

#35959 107879 - [CDP] One Debt Letter Stating review feedback 1
  src/applications/combined-debt-portal/combined/components/BalanceCard.jsx
  src/applications/combined-debt-portal/debt-letters/components/DebtSummaryCard.jsx
Labels: vsa-benefits-2, combined-debt-portal, frontend

#35977 Fix accordions
  src/applications/686c-674/components/ChildAdditionalEvidence.jsx
  src/applications/686c-674/config/chapters/household-income/helpers.js
  src/applications/686c-674/tests/components/ChildAdditionalEvidence.unit.spec.jsx
  src/applications/686c-674/tests/config/chapters/household-income/householdIncome.unit.spec.jsx
Labels: dependents-benefits

#35979 Form system | Align submit again button
  src/platform/forms-system/src/js/review/submit-states/GenericError.jsx
  src/platform/forms-system/test/js/review/submit-states/GenericError.unit.spec.jsx
Labels: dependents-benefits, frontend

#35956 Burial - Use currency web component pattern
  src/applications/burials-ez/components/ReviewRowView.jsx
  src/applications/burials-ez/config/chapters/04-benefits-selection/plotAllowancePartOne.js
  src/applications/burials-ez/tests/components/ReviewRowView.unit.spec.jsx
  src/platform/forms-system/src/js/review/CurrencyWidget.jsx
  src/platform/forms-system/test/js/review/CurrencyWidget.unit.spec.jsx
Labels: Burials, frontend

#35963 Income and Asset Statement - Use currency pattern schema
  src/applications/income-and-asset-statement/config/chapters/03-unassociated-incomes/unassociatedIncomePages.js
  src/applications/income-and-asset-statement/config/chapters/04-associated-incomes/associatedIncomePages.js
  src/applications/income-and-asset-statement/config/chapters/05-owned-assets/ownedAssetPages.js
  src/applications/income-and-asset-statement/config/chapters/06-royalties-and-other-properties/royaltiesAndOtherPropertyPages.js
  src/applications/income-and-asset-statement/config/chapters/07-asset-transfers/assetTransferPages.js
  src/applications/income-and-asset-statement/config/chapters/08-trusts/trustPages.js
  src/applications/income-and-asset-statement/config/chapters/09-annuities/annuityPages.js
  src/applications/income-and-asset-statement/config/chapters/10-unreported-assets/unreportedAssetPages.js
  src/applications/income-and-asset-statement/config/chapters/11-discontinued-incomes/discontinuedIncomePages.js
  src/applications/income-and-asset-statement/config/chapters/12-income-receipt-waivers/incomeReceiptWaiverPages.js
Labels: pension-income-assets, frontend

#35996 [Art/103799] - updating pagination key
  src/applications/accredited-representative-portal/components/Pagination.jsx
  src/applications/accredited-representative-portal/containers/POARequestSearchPage.jsx
Labels: benefits-accredited-rep-facing

#35986 Dependents 107973 | Update statement of truth
  src/applications/686c-674/components/CustomPreSubmitInfo.js
  src/applications/686c-674/config/form.js
  src/applications/686c-674/tests/e2e/686C-674-ancilliary.cypress.spec.js
  src/applications/686c-674/tests/e2e/686C-674.cypress.spec.js
  src/applications/686c-674/tests/e2e/fixtures/add-child-report-divorce.json
  src/applications/686c-674/tests/e2e/fixtures/ancilliary-flows.json
  src/applications/686c-674/tests/e2e/fixtures/spouse-child-all-fields.json
  src/applications/686c-674/tests/e2e/fixtures/spouse-report-divorce.json
  src/applications/686c-674/tests/e2e/user.json
Labels: dependents-benefits

#35994 Dependents 107973 | Associate conditional input
  src/applications/686c-674/config/chapters/674/addStudentsArrayPages.js
Labels: dependents-benefits

#35960 DBEX 0781ps content updates
  src/applications/disability-benefits/all-claims/components/BehaviorIntroCombatPage.jsx
  src/applications/disability-benefits/all-claims/components/BehaviorListPage.jsx
  src/applications/disability-benefits/all-claims/content/form0781/workflowChoicePage.jsx
  src/applications/disability-benefits/all-claims/pages/form0781/supportingEvidencePage.js
  src/applications/disability-benefits/all-claims/pages/form0781/treatmentReceivedPage.js
  src/applications/disability-benefits/all-claims/tests/components/BehaviorIntroCombatPage.unit.spec.jsx
Labels: disability-experience

#36017 Testing | setup e2e testing to start & stop of specific pages
  src/platform/testing/e2e/cypress/support/form-tester/index.js
  src/platform/testing/e2e/cypress/support/form-tester/utilities.js
Labels: enhancement, testing, pension-benefits, frontend

#36019 105566 Limit direct deposit profile page features to non-Veterans
  src/applications/personalization/profile/components/direct-deposit/AccountInfoView.jsx
  src/applications/personalization/profile/components/direct-deposit/DirectDeposit.jsx
  src/applications/personalization/profile/components/direct-deposit/config/enums.js
  src/applications/personalization/profile/hooks/useDirectDeposit.js
  src/applications/personalization/profile/mocks/endpoints/direct-deposits/index.js
  src/applications/personalization/profile/mocks/server.js
  src/applications/personalization/profile/reducers/directDeposit.js
  src/applications/personalization/profile/tests/reducers/directDeposit.unit.spec.jsx
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: frontend

#35051 MBMS-82682 | Self-Service: Medallions: Applicant Info Section: Not Signed In User
  src/applications/medallions/config/form.js
  src/applications/medallions/containers/IntroductionPage.jsx
  src/applications/medallions/pages/applicantContactInfo.js
  src/applications/medallions/pages/applicantContactInfo2.js
  src/applications/medallions/pages/applicantMailingAddress.js
  src/applications/medallions/pages/applicantMailingAddress2.js
  src/applications/medallions/pages/applicantName.js
  src/applications/medallions/pages/applicantRelationToVet.js
  src/applications/medallions/pages/applicantRelationToVetOrg.js
  src/applications/medallions/pages/applicantRelationToVetOrg2.js
  src/applications/medallions/pages/nameAndDateOfBirth.js
  src/applications/medallions/utils/helpers.js
  src/platform/forms-system/src/js/web-component-patterns/addressPattern.jsx
Labels: 🤖 Copilot Assisted

#36030 Pension | Replace kitchen sink e2e test with smaller tests
  src/applications/pensions/tests/e2e/cypress.setup.js
  src/applications/pensions/tests/e2e/fixtures/data/maximal-data-parts.js
  src/applications/pensions/tests/e2e/fixtures/data/maximal-test.json
  src/applications/pensions/tests/e2e/helpers/keyboardOnlyHelpers.js
  src/applications/pensions/tests/e2e/helpers/pageHooks.js
  src/applications/pensions/tests/e2e/pensions-keyboard-only.cypress.spec.js
  src/applications/pensions/tests/e2e/pensions-maximal-test-1-2.cypress.spec.js
  src/applications/pensions/tests/e2e/pensions-maximal-test-3.cypress.spec.js
  src/applications/pensions/tests/e2e/pensions-maximal-test-4.cypress.spec.js
  src/applications/pensions/tests/e2e/pensions-maximal-test-5.cypress.spec.js
  src/applications/pensions/tests/e2e/pensions-maximal-test-6.cypress.spec.js
  src/applications/pensions/tests/e2e/pensions-overflow.cypress.spec.js
  src/applications/pensions/tests/e2e/pensions-simple.cypress.spec.js
  src/applications/pensions/tests/fixtures/mocks/in-progress-forms.json
  src/applications/pensions/tests/fixtures/mocks/prefill.json
Labels: testing, pension-benefits, frontend

#36067 Global | Fix CurrencyField to parse scientific notation
  src/platform/forms-system/src/js/web-component-fields/CurrencyField.jsx
  src/platform/forms-system/src/js/web-component-patterns/currencyPattern.jsx
  src/platform/forms-system/src/js/web-component-patterns/numberPattern.jsx
  src/platform/forms-system/src/js/web-component-tests/validations.unit.spec.jsx
Labels: bug, dependents-benefits, frontend

#35974 Arp/form upload/refactor
  package.json
  src/applications/accredited-representative-portal/package.json
  src/applications/representative-form-upload/components/Header/Nav.jsx
  src/applications/representative-form-upload/components/Header/UserNav.jsx
  src/applications/representative-form-upload/config/constants.js
  src/applications/representative-form-upload/config/form.js
  src/applications/representative-form-upload/config/sis.js
  src/applications/representative-form-upload/config/usip.js
  src/applications/representative-form-upload/constants/index.js
  src/applications/representative-form-upload/constants/sis.js
  src/applications/representative-form-upload/constants/usip.js
  src/applications/representative-form-upload/containers/App.jsx
  src/applications/representative-form-upload/containers/IntroductionPage.jsx
  src/applications/representative-form-upload/package.json
  src/applications/representative-form-upload/reducers/index.js
  src/applications/representative-form-upload/reducers/navigation.js
  src/applications/representative-form-upload/routes.jsx
  src/applications/representative-form-upload/sass/Header.scss
  src/applications/representative-form-upload/sass/representative-form-upload.scss
  src/applications/representative-form-upload/tests/e2e/fixtures/mocks/loa1-user.json
  src/applications/representative-form-upload/tests/e2e/fixtures/mocks/loa3-user.json
  src/applications/representative-form-upload/tests/e2e/fixtures/mocks/local-mock-responses.js
  src/applications/representative-form-upload/tests/e2e/fixtures/mocks/sip-get.json
  src/applications/representative-form-upload/tests/e2e/fixtures/mocks/sip-put.json
  src/applications/representative-form-upload/tests/e2e/form-upload.cypress.spec.js
  src/applications/representative-form-upload/tests/unit/containers/IntroductionPage.unit.spec.jsx
  yarn.lock
Labels: benefits-accredited-rep-facing

#36095 [ART/106504] - updating sort, cleaning files up
  src/applications/accredited-representative-portal/components/Pagination.jsx
  src/applications/accredited-representative-portal/components/PaginationMeta.jsx
  src/applications/accredited-representative-portal/components/SortForm.jsx
  src/applications/accredited-representative-portal/containers/POARequestSearchPage.jsx
  src/applications/accredited-representative-portal/utilities/api.js
  src/applications/accredited-representative-portal/utilities/poaRequests.js
Labels: benefits-accredited-rep-facing

#36147 Dependents | Correct array plurals
  src/applications/686c-674/config/chapters/674/addStudentsArrayPages.js
  src/applications/686c-674/config/chapters/report-add-child/summary.js
  src/applications/686c-674/config/chapters/report-child-stopped-attending-school/removeChildStoppedAttendingSchoolArrayPages.js
  src/applications/686c-674/config/chapters/report-dependent-death/deceasedDependentArrayPages.js
  src/applications/686c-674/config/chapters/report-marriage-of-child/removeMarriedChildArrayPages.js
  src/applications/686c-674/config/chapters/stepchild-no-longer-part-of-household/removeChildHouseholdArrayPages.js
Labels: dependents-benefits

#36175 Dependents 107941 | Update Intro page OMB information
  src/applications/686c-674/containers/IntroductionPage.jsx
Labels: dependents-benefits

#36145 [CDP] 106937 - Adding static wizard
  src/applications/financial-status-report/components/shared/IntroProcessList.jsx
  src/applications/financial-status-report/containers/App.jsx
  src/applications/financial-status-report/containers/IntroductionPage.jsx
  src/applications/financial-status-report/tests/e2e/fsr-5655-wizard.cypress.spec.js
  src/applications/financial-status-report/utils/helpers.js
Labels: financial-status-report

#36140 [ART/99582] - add feature toggle for help, profile links
  src/applications/accredited-representative-portal/components/Header/Nav.jsx
  src/applications/accredited-representative-portal/components/Header/UserNav.jsx
  src/applications/accredited-representative-portal/tests/unit/components/Header.unit.spec.jsx
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: benefits-accredited-rep-facing

#36196 [ART/99582] - formatting + minor sort fix
  src/applications/accredited-representative-portal/components/PaginationMeta.jsx
  src/applications/accredited-representative-portal/containers/POARequestDetailsPage.jsx
  src/applications/accredited-representative-portal/containers/POARequestSearchPage.jsx
  src/applications/accredited-representative-portal/utilities/poaRequests.js
Labels: benefits-accredited-rep-facing
