Repository department-of-veterans-affairs/vets-website, pull requests merged in 2025-05, with the labels that each got.

#36248 97899 - [DD] - Update Debt Selection page
  src/applications/dispute-debt/components/DebtSelection.jsx
Labels: vsa-benefits-2, frontend, dispute-debt

#36256 [FSR] Updating static wizard URL
  src/applications/financial-status-report/components/shared/IntroProcessList.jsx
  src/applications/financial-status-report/tests/e2e/fsr-5655-wizard.cypress.spec.js
Labels: financial-status-report

#36183 Income & Asset Statement - Remove max items and update hint text
  src/applications/income-and-asset-statement/config/chapters/03-unassociated-incomes/unassociatedIncomePages.js
  src/applications/income-and-asset-statement/config/chapters/04-associated-incomes/associatedIncomePages.js
  src/applications/income-and-asset-statement/config/chapters/05-owned-assets/ownedAssetPages.js
  src/applications/income-and-asset-statement/config/chapters/06-royalties-and-other-properties/royaltiesAndOtherPropertyPages.js
  src/applications/income-and-asset-statement/config/chapters/07-asset-transfers/assetTransferPages.js
  src/applications/income-and-asset-statement/config/chapters/08-trusts/trustPages.js
  src/applications/income-and-asset-statement/config/chapters/09-annuities/annuityPages.js
  src/applications/income-and-asset-statement/config/chapters/10-unreported-assets/unreportedAssetPages.js
  src/applications/income-and-asset-statement/config/chapters/11-discontinued-incomes/discontinuedIncomePages.js
  src/applications/income-and-asset-statement/config/chapters/12-income-receipt-waivers/incomeReceiptWaiverPages.js
Labels: pension-income-assets, frontend

#36182 MBMS-87650 | Self Service: 508 Compliance: Pre-need Integration: Accessibility: Screen Readers lose focus when interacting with the "Other" checkbox on the demographics screen
  src/applications/pre-need-integration/config/pages/applicantDemographics2.jsx
  src/applications/pre-need-integration/config/pages/applicantDemographics2Preparer.jsx
  src/applications/pre-need-integration/config/pages/sponsorRace.jsx
  src/applications/pre-need-integration/utils/helpers.js
Labels: 🤖 Copilot Assisted

#36278 redirect_before_sign_in
  src/applications/representative-form-upload/routes.jsx
  src/applications/representative-form-upload/tests/unit/utilities/api.unit.spec.jsx
  src/applications/representative-form-upload/utilities/api.js
  src/applications/representative-form-upload/utilities/auth.js
  src/applications/representative-form-upload/utilities/constants.js
  src/applications/representative-form-upload/utilities/mockApi.js
  src/applications/representative-form-upload/utilities/mocks/user.json
Labels: benefits-accredited-rep-facing

#35864 Claimant search part 2 (#107098)
  src/applications/accredited-representative-portal/components/Header/Nav.jsx
  src/applications/accredited-representative-portal/components/Header/UserNav.jsx
  src/applications/accredited-representative-portal/components/POARequestSearchCard.jsx
  src/applications/accredited-representative-portal/containers/POARequestIndividualSearchPage.jsx
  src/applications/accredited-representative-portal/sass/accredited-representative-portal.scss
  src/applications/accredited-representative-portal/tests/e2e/intercepts/claimant-search.js
  src/applications/accredited-representative-portal/tests/e2e/poa-request-individual-search.cypress.spec.js
  src/applications/accredited-representative-portal/utilities/api.js
  src/applications/accredited-representative-portal/utilities/poaRequests.js
Labels: benefits-accredited-rep-facing

#36283 Global | Fix currency validation issue
  src/platform/forms-system/src/js/web-component-fields/CurrencyField.jsx
  src/platform/forms-system/src/js/web-component-patterns/currencyPattern.jsx
  src/platform/forms-system/test/js/web-component-fields/CurrencyField.unit.spec.jsx
  src/platform/forms-system/test/js/web-component-patterns/currencyPattern.unit.spec.jsx
Labels: bug, pension-benefits, dependents-benefits, pension-income-assets, frontend

#36282 Update header tag
  src/applications/pensions/containers/ConfirmationPage.jsx
Labels: 508/Accessibility, pension-benefits, frontend

#36325 Dependents v1 | Fix confirmation header level
  src/applications/686c-674-v1/containers/ConfirmationPage.jsx
  src/applications/686c-674-v1/tests/containers/confirmationPage.unit.spec.jsx
Labels: bug, 508/Accessibility, dependents-benefits, frontend

#36241 Contact Card Layout
  src/applications/dispute-debt/config/contactInfo.js
  src/applications/dispute-debt/config/form.js
  src/applications/dispute-debt/reducers/index.js
Labels: dispute-debt

#36319 Platform | Add common Datadog RUM & Monitoring initialization code
  src/platform/monitoring/Datadog/tests/useBrowserMonitoring.unit.spec.jsx
  src/platform/monitoring/Datadog/tests/utilities.unit.spec.jsx
  src/platform/monitoring/Datadog/useBrowserMonitoring.js
  src/platform/monitoring/Datadog/utilities.js
Labels: analytics, dependents-benefits, frontend

#36223 Rep Status in Profile team QA
  src/applications/personalization/profile/components/Profile.jsx
  src/applications/personalization/profile/components/accredited-representative/AccreditedRepresentative.jsx
  src/applications/personalization/profile/components/hub/Hub.jsx
  src/platform/user/widgets/representative-status/components/App/index.jsx
  src/platform/user/widgets/representative-status/components/cards/CurrentRep.jsx
  src/platform/user/widgets/representative-status/containers/ProfileTabContainer.jsx
  src/platform/user/widgets/representative-status/containers/RepresentativeStatusContainer.jsx
  src/platform/user/widgets/representative-status/tests/App.unit.spec.jsx
Labels: representative-status-widget

#36337 [ART/107101] - poa spacing adjustment, phone update, breadcrumb url update
  src/applications/accredited-representative-portal/components/PaginationMeta.jsx
  src/applications/accredited-representative-portal/containers/POARequestDetailsPage.jsx
  src/applications/accredited-representative-portal/containers/POARequestSearchPage.jsx
  src/applications/accredited-representative-portal/sass/POARequestCard.scss
  src/applications/accredited-representative-portal/sass/POARequestDetails.scss
  src/applications/accredited-representative-portal/sass/accredited-representative-portal.scss
  src/applications/accredited-representative-portal/utilities/poaRequests.js
Labels: benefits-accredited-rep-facing

#36197 Burial Benefits - Update service number field
  src/applications/burials-ez/components/NoHintReviewField.jsx
  src/applications/burials-ez/config/chapters/03-military-history/serviceNumber.js
  src/applications/burials-ez/config/chapters/03-military-history/servicePeriods.js
  src/applications/burials-ez/config/form.js
  src/applications/burials-ez/tests/components/NoHintReviewRow.unit.spec.jsx
  src/applications/burials-ez/tests/config/chapters/03-military-history/serviceNumber.unit.spec.jsx
  src/applications/burials-ez/tests/config/chapters/03-military-history/servicePeriods.unit.spec.jsx
  src/applications/burials-ez/tests/fixtures/data/v4formData.json
  src/applications/burials-ez/tests/schema/maximal-test.json
  src/applications/burials-ez/tests/schema/overflow-test.json
  src/platform/forms-system/src/js/web-component-patterns/ssnPattern.jsx
Labels: platform, Burials, frontend

#36371 Dependents 107935 | Add Data Dog privacy classNames to custom review fields
  src/applications/686c-674/components/CustomReviewFields.jsx
  src/applications/686c-674/config/chapters/report-add-a-spouse/does-live-with-spouse/doesLiveWithSpouse.js
  src/applications/686c-674/config/chapters/report-divorce/former-spouse-information/formerSpouseInformation.js
Labels: dependents-benefits

#36384 Dependents | Add 686c-674 monitor toggle
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: dependents-benefits, frontend

#36352 Update recipient name pages
  src/applications/income-and-asset-statement/config/chapters/03-unassociated-incomes/unassociatedIncomePages.js
  src/applications/income-and-asset-statement/config/chapters/04-associated-incomes/associatedIncomePages.js
  src/applications/income-and-asset-statement/config/chapters/05-owned-assets/ownedAssetPages.js
  src/applications/income-and-asset-statement/config/chapters/06-royalties-and-other-properties/royaltiesAndOtherPropertyPages.js
  src/applications/income-and-asset-statement/config/chapters/11-discontinued-incomes/discontinuedIncomePages.js
  src/applications/income-and-asset-statement/config/chapters/12-income-receipt-waivers/incomeReceiptWaiverPages.js
Labels: pension-income-assets, frontend

#36293 Pensions | Add Intent to File
  src/applications/pensions/PensionsApp.jsx
  src/applications/pensions/components/FormSavedPage.jsx
  src/applications/pensions/config/form.js
  src/applications/pensions/tests/unit/PensionsApp.unit.spec.jsx
  src/applications/pensions/tests/unit/components/FormSavedPage.unit.spec.jsx
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: pension-benefits, frontend, intent-to-file

#36350 Remove min items for optional arrays
  src/platform/forms-system/src/js/patterns/array-builder/arrayBuilder.jsx
Labels: platform, forms-library

#36414 Pensions | Remove duplicate ITF
  src/applications/pensions/PensionsApp.jsx
  src/applications/pensions/components/FormSavedPage.jsx
  src/applications/pensions/tests/unit/components/FormSavedPage.unit.spec.jsx
Labels: pension-benefits, frontend, intent-to-file

#36431 [ART/106748] - arp datalayer events
  src/applications/accredited-representative-portal/components/Header/Nav.jsx
  src/applications/accredited-representative-portal/components/Header/UserNav.jsx
  src/applications/accredited-representative-portal/components/POARequestCard.jsx
  src/applications/accredited-representative-portal/containers/POARequestDetailsPage.jsx
  src/applications/accredited-representative-portal/containers/POARequestSearchPage.jsx
  src/applications/accredited-representative-portal/utilities/analytics.js
Labels: benefits-accredited-rep-facing

#36204 FF Convert VA Letters & Docs buttons to links
  src/applications/letters/actions/letters.js
  src/applications/letters/components/DownloadLetterBlobLink.jsx
  src/applications/letters/containers/LetterList.jsx
  src/applications/letters/reducers/index.js
  src/applications/letters/tests/actions/letters.unit.spec.jsx
  src/applications/letters/tests/components/DownloadLetterBlobLink.unit.spec.jsx
  src/applications/letters/tests/containers/LetterList.unit.spec.jsx
  src/applications/letters/utils/constants.js
Labels: va-letters, benefits-management-tools, bmt-team-2

#36087 Webpack imports should use node_modules instead of src/platform
  config/webpack.config.js
  src/platform/site-wide/sass/fonts.scss
  src/platform/site-wide/sass/fonts/sourcesanspro-bold-webfont.ttf
  src/platform/site-wide/sass/fonts/sourcesanspro-regular-webfont.ttf
Labels: platform, Tech Debt

#36288 [FSR] 108912 - Bug and flaky test fixes
  src/applications/financial-status-report/components/debtsAndCopays/EnhancedBenefitsEdit.jsx
  src/applications/financial-status-report/components/householdIncome/OtherIncomeSummary.jsx
  src/applications/financial-status-report/components/householdIncome/SpouseOtherIncomeSummary.jsx
  src/applications/financial-status-report/components/otherAssets/OtherAssetsSummary.jsx
  src/applications/financial-status-report/components/otherExpenses/OtherExpensesSummary.jsx
  src/applications/financial-status-report/components/shared/PreSubmitSignature.jsx
  src/applications/financial-status-report/components/utilityBills/UtilityBillSummary.jsx
  src/applications/financial-status-report/tests/e2e/fixtures/data/fsr-maximal.json
  src/applications/financial-status-report/tests/e2e/fsr-5655-complete.cypress.spec.js
  src/applications/financial-status-report/tests/e2e/fsr-5655-wizard.cypress.spec.js
  src/applications/financial-status-report/tests/e2e/pages/ChecklistSummaryFlow.js
  src/applications/financial-status-report/tests/e2e/pages/EmploymentHistory.js
Labels: financial-status-report

#36444 MBMS-88750 Screen Reader can now read hint text on platform autosuggest component
  src/platform/forms-system/src/js/fields/AutosuggestField.jsx
Labels: External Review

#36515 [CST] Add e2e test for friendly evidence requests (first and third party)
  src/applications/claims-status/components/claim-status-tab/RecentActivity.jsx
  src/applications/claims-status/tests/e2e/09.friendly-evidence-claims.cypress.spec.js
  src/applications/claims-status/tests/e2e/fixtures/mocks/lighthouse/feature-toggle-cst-friendly-evidence-requests.json
  src/applications/claims-status/tests/e2e/page-objects/TrackClaimsPageV2.js
  src/platform/testing/e2e/cypress/support/commands/index.js
  src/platform/testing/e2e/cypress/support/commands/textHelpers.js
Labels: testing, benefits-management-tools, Claim Status Tool, bmt-team-2

#36450 0969 - Add prefill pages
  src/applications/income-and-asset-statement/components/ContactInformationPage.jsx
  src/applications/income-and-asset-statement/components/EditEmailPage.jsx
  src/applications/income-and-asset-statement/components/EditPhonePage.jsx
  src/applications/income-and-asset-statement/config/chapters/01-veteran-and-claimant-information/contactInformation.js
  src/applications/income-and-asset-statement/config/chapters/01-veteran-and-claimant-information/editEmailAddress.js
  src/applications/income-and-asset-statement/config/chapters/01-veteran-and-claimant-information/editPhoneNumber.js
  src/applications/income-and-asset-statement/config/chapters/01-veteran-and-claimant-information/index.js
  src/applications/income-and-asset-statement/config/chapters/01-veteran-and-claimant-information/veteranInformation.js
  src/applications/income-and-asset-statement/config/form.js
  src/applications/income-and-asset-statement/config/prefill-transformer.js
  src/applications/income-and-asset-statement/helpers.js
  src/applications/income-and-asset-statement/tests/unit/components/ContactInformation.unit.spec.jsx
Labels: pension-income-assets, frontend

#36407 new script file linked to pull request workflow
  .github/workflows/continuous-integration.yml
  .github/workflows/pull-request.yml
  script/github-actions/annotate-flaky-dates-and-times-in-tests.js
Labels: DO NOT MERGE

#36484 arf/continuous_access_token_refresh
  src/applications/representative-form-upload/containers/AccessTokenManager.jsx
  src/applications/representative-form-upload/containers/App.jsx
Labels: benefits-accredited-rep-facing

#36522 Representative status qa findings
  src/platform/user/widgets/representative-status/components/cards/CurrentRep.jsx
  src/platform/user/widgets/representative-status/containers/ProfileTabContainer.jsx
Labels: representative-status-widget

#36560 Removed styling class one-liner
  src/platform/user/widgets/representative-status/containers/ProfileTabContainer.jsx
Labels: representative-status-widget

#36598 [BMT2] Your VA letters and documents: Only fetch PDF letters behind feature flag
  src/applications/letters/containers/LetterList.jsx
  src/applications/letters/selectors/index.js
  src/applications/letters/tests/01-authed-lighthouse.cypress.spec.js
  src/applications/letters/tests/01-authed.cypress.spec.js
Labels: va-letters, benefits-management-tools, bmt-team-2

#36643 Arf/improve code coverage
  src/applications/representative-form-upload/config/form.js
  src/applications/representative-form-upload/tests/e2e/fixtures/data/transformed/minimal-submit-transformer.json
  src/applications/representative-form-upload/tests/e2e/fixtures/data/transformed/submit-claimant-transformer.json
  src/applications/representative-form-upload/tests/e2e/fixtures/data/transformed/submit-transformer.json
  src/applications/representative-form-upload/tests/unit/components/ConfirmationPageView.unit.spec.jsx
  src/applications/representative-form-upload/tests/unit/components/Footer.unit.spec.jsx
  src/applications/representative-form-upload/tests/unit/components/Header/GovBanner.unit.spec.jsx
  src/applications/representative-form-upload/tests/unit/components/Header/NavDropdown.unit.spec.jsx
  src/applications/representative-form-upload/tests/unit/helpers/index.unit.spec.jsx
  src/applications/representative-form-upload/tests/unit/pages/UploadPage.unit.spec.jsx
  src/applications/representative-form-upload/tests/unit/utilities/constants.unit.spec.jsx
Labels: benefits-accredited-rep-facing

#36592 Fixed email validation messages and pattern validation
  src/applications/pre-need-integration/definitions/email.js
  src/applications/pre-need-integration/tests/definitions/email.unit.spec.jsx
  src/applications/pre-need-integration/validation.js
Labels: mbs-self-service

#36660 [ART/110382] - research feedback updates for poa request pages and nav
  src/applications/accredited-representative-portal/components/Header/Nav.jsx
  src/applications/accredited-representative-portal/components/Header/UserNav.jsx
  src/applications/accredited-representative-portal/containers/POARequestSearchPage.jsx
  src/applications/accredited-representative-portal/routes.jsx
  src/applications/accredited-representative-portal/utilities/poaRequests.js
Labels: benefits-accredited-rep-facing

#36517 MBMS-79833 | Self-Service: Pre-Need: Integration: Update the Pre-Need URL and Breadcrumbs to Comply with Va.gov Standards
  src/applications/pre-need-integration/components/Breadcrumbs.jsx
  src/applications/pre-need-integration/manifest.json
  src/applications/pre-need-integration/tests/utils/cypress-preneed-integration-helpers.js
Labels: mbs-self-service

#36671 MBMS-64781 Changes Read Mode Title for preparer mailing address
  src/applications/pre-need-integration/components/PreparerHelpers.jsx
Labels: mbs-self-service

#36708 Remove backend toggle check
  src/applications/pensions/PensionsApp.jsx
Labels: pension-benefits, frontend, intent-to-file

#36734 [ART/107101] - updating container widths, card widths
  src/applications/accredited-representative-portal/containers/POARequestIndividualSearchPage.jsx
  src/applications/accredited-representative-portal/sass/GetHelp.scss
  src/applications/accredited-representative-portal/sass/Header.scss
  src/applications/accredited-representative-portal/sass/POARequestCard.scss
  src/applications/accredited-representative-portal/sass/POARequestDetails.scss
  src/applications/accredited-representative-portal/sass/accredited-representative-portal.scss
Labels: benefits-accredited-rep-facing

#36738 Pensions | Add form saved ITF failure message
  src/applications/pensions/components/FormSavedPage.jsx
  src/applications/pensions/tests/unit/components/FormSavedPage.unit.spec.jsx
Labels: pension-benefits, frontend, intent-to-file

#36724 MBMS-86661 Changed pre need int service period date range error
  src/applications/pre-need-integration/config/pages/servicePeriodsPages.jsx
Labels: mbs-self-service

#36688 MBMS-87660 | Part 2 | Self Service: 508 Compliance: Pre-need Integration: Accessibility: Screen Reader Focus is Lost on Address Validation page
  src/applications/pre-need-integration/config/pages/applicantSuggestedAddress.jsx
  src/applications/pre-need-integration/config/pages/preparerSuggestedAddress.jsx
  src/applications/pre-need-integration/config/pages/sponsorSuggestedAddress.jsx
Labels: 🤖 Copilot Assisted, mbs-self-service

#36758 Pensions | Unhide ITF alert
  src/applications/pensions/PensionsApp.jsx
Labels: pension-benefits, frontend, intent-to-file

#36748 [Income & Assets] Removing form header in favor of minimal header
  src/applications/income-and-asset-statement/config/form.js
Labels: pension-income-assets

#36543 [DBEX] Add page title, update content and render auth validation error
  src/applications/disability-benefits/all-claims/content/privateMedicalRecords.jsx
  src/applications/disability-benefits/all-claims/pages/privateMedicalRecords.js
  src/applications/disability-benefits/all-claims/tests/pages/privateMedicalRecords.unit.spec.jsx
Labels: disability-experience, disability-compensation

#36777 110053 0969 use minimal header
  src/applications/income-and-asset-statement/config/form.js
Labels: pension-income-assets
