Repository department-of-veterans-affairs/vets-website, pull requests merged in 2025-01, with the labels that each got.

#33849 SC | Confirmation page updates
  src/applications/appeals/995/components/EvidenceSummaryLists.jsx
  src/applications/appeals/995/tests/components/ConfirmationPagev2.unit.spec.jsx
  src/applications/appeals/995/tests/components/EvidencePrivateRecords.unit.spec.jsx
  src/applications/appeals/995/tests/components/EvidenceSummary.unit.spec.jsx
  src/applications/appeals/995/tests/components/EvidenceSummaryOld.unit.spec.jsx
  src/applications/appeals/995/tests/components/EvidenceVaRecords.unit.spec.jsx
  src/applications/appeals/995/tests/containers/ConfirmationPage.unit.spec.jsx
  src/applications/appeals/996/tests/components/InformalConferenceContactReview.unit.spec.jsx
Labels: Decision-Reviews-Team, Supplemental Claims, frontend

#33737 Appoint a Rep review routing
  src/applications/representative-appoint/components/SelectAccreditedRepresentative.jsx
  src/applications/representative-appoint/config/form.js
  src/applications/representative-appoint/tests/config/formConfig.unit.spec.jsx
  src/applications/representative-appoint/tests/utilities/isAttorneyOrClaimsAgent.unit.spec.jsx
  src/applications/representative-appoint/utilities/helpers.js
Labels: appoint-a-representative

#33859 Adding feature flag check to enable frontend
  src/applications/representative-appoint/containers/App.jsx
  src/applications/representative-appoint/tests/e2e/navigation/2122.cypress.spec.js
  src/applications/representative-appoint/tests/e2e/navigation/2122a.cypress.spec.js
Labels: appoint-a-representative

#33884 [CST] -
  src/applications/claims-status/tests/utils/helpers.unit.spec.js
  src/applications/claims-status/utils/helpers.js
Labels: bmt-team-1, benefits-management-tools, Claim Status Tool

#33887 Appoint a rep phone validation bug
  src/applications/representative-appoint/api/generatePDF.js
  src/applications/representative-appoint/components/SelectAccreditedRepresentative.jsx
  src/applications/representative-appoint/config/form.js
  src/applications/representative-appoint/config/prefillTransformer.js
  src/applications/representative-appoint/pages/veteran/veteranContactPhoneEmail.js
  src/applications/representative-appoint/pages/veteran/veteranContactPhoneEmailClaimant.js
  src/applications/representative-appoint/tests/config/prefillTransformer.unit.spec.js
  src/applications/representative-appoint/tests/e2e/navigation/2122.cypress.spec.js
  src/applications/representative-appoint/tests/e2e/navigation/2122a.cypress.spec.js
  src/applications/representative-appoint/tests/fixtures/data/21-22a/form-data.json
  src/applications/representative-appoint/tests/fixtures/data/form-data.json
  src/applications/representative-appoint/tests/fixtures/data/initial-form-data.json
  src/applications/representative-appoint/tests/fixtures/data/test-data.json
  src/applications/representative-appoint/tests/utilities/isAttorneyOrClaimsAgent.unit.spec.jsx
  src/applications/representative-appoint/tests/utilities/isVSORepresentative.unit.spec.jsx
  src/applications/representative-appoint/utilities/helpers.js
  src/applications/representative-appoint/utilities/pdfTransform.js
Labels: appoint-a-representative

#33867 [96901] Appoint a Rep 21-22 and 21-22a: replace-rep page fixups
  src/applications/representative-appoint/components/CurrentAccreditedRepresentative.jsx
  src/applications/representative-appoint/components/ReplaceAccreditedRepresentative.jsx
  src/applications/representative-appoint/tests/components/ReplaceAccreditedRepresentative.unit.spec.jsx
Labels: appoint-a-representative

#33804 DBEX 0781 consent page
  src/applications/disability-benefits/all-claims/config/form0781/index.js
  src/applications/disability-benefits/all-claims/content/form0781/consentPage.jsx
  src/applications/disability-benefits/all-claims/pages/form0781/additionalInformationPage.js
  src/applications/disability-benefits/all-claims/pages/form0781/consentPage.js
  src/applications/disability-benefits/all-claims/tests/pages/form0781/consentPage.unit.spec.js
  src/applications/disability-benefits/all-claims/utils/form0781.js
Labels: disability-experience, disability-compensation

#33878 Dependents | 81671: Remove uneeded redirect (part of claean up)
  src/applications/686c-674/containers/App.jsx
Labels: dependents-benefits

#33811 [DBEX] add mental health intro & events content
  src/applications/disability-benefits/all-claims/content/form0781.jsx
  src/applications/disability-benefits/all-claims/content/mentalHealthSupport.jsx
  src/applications/disability-benefits/all-claims/content/traumaticEventTypes.jsx
  src/applications/disability-benefits/all-claims/content/traumaticEventsIntro.jsx
  src/applications/disability-benefits/all-claims/pages/form0781/mentalHealthSupport.js
  src/applications/disability-benefits/all-claims/pages/form0781/traumaticEventTypes.js
  src/applications/disability-benefits/all-claims/pages/form0781/traumaticEventsIntro.js
  src/applications/disability-benefits/all-claims/tests/pages/form0781/mentalHealthSupport.unit.spec.js
  src/applications/disability-benefits/all-claims/tests/pages/form0781/traumaticEventTypes.unit.spec.js
  src/applications/disability-benefits/all-claims/tests/pages/form0781/traumaticEventsIntro.unit.spec.js
  src/applications/disability-benefits/all-claims/utils/index.jsx
Labels: disability-experience, disability-compensation

#33913 [art/99950] - update submit btn to use sentence casing
  src/applications/accredited-representative-portal/containers/POARequestDetailsPage.jsx
Labels: benefits-accredited-rep-facing

#33739 65089 post toxic exposure launch cleanup
  src/applications/disability-benefits/all-claims/components/CustomReviewTopContent.jsx
  src/applications/disability-benefits/all-claims/content/toxicExposure.jsx
  src/applications/disability-benefits/all-claims/tests/content/toxicExposure.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/cypress.helpers.js
  src/applications/disability-benefits/all-claims/tests/prefill-transformer.unit.spec.js
  src/applications/disability-benefits/all-claims/tests/submit-transformer.unit.spec.js
  src/applications/disability-benefits/all-claims/tests/toxic-exposure.cypress.spec.js
Labels: disability-compensation

#33916 [art/99949] - tab style update
  src/applications/accredited-representative-portal/containers/POARequestSearchPage.jsx
  src/applications/accredited-representative-portal/sass/POARequestCard.scss
Labels: benefits-accredited-rep-facing

#33935 Appoint a rep footer
  src/applications/representative-appoint/components/ClaimantTypeForm.jsx
  src/applications/representative-appoint/components/GetFormHelp.jsx
  src/applications/representative-appoint/components/NeedHelp.jsx
  src/applications/representative-appoint/config/form.js
  src/applications/representative-appoint/containers/ConfirmationPage.jsx
  src/applications/representative-appoint/containers/IntroductionPage.jsx
  src/applications/representative-appoint/containers/NextStepsPage.jsx
Labels: appoint-a-representative

#33857 HLR | Switch APIs based on toggle
  src/applications/appeals/996/actions/index.js
  src/applications/appeals/996/config/form.js
  src/applications/appeals/996/config/submitForm.js
  src/applications/appeals/996/constants/apis.js
  src/applications/appeals/996/constants/index.js
  src/applications/appeals/996/containers/Form0996App.jsx
  src/applications/appeals/996/tests/actions/actions.unit.spec.js
  src/applications/appeals/996/tests/config/submitForm.unit.spec.js
  src/applications/appeals/996/tests/containers/FormApp.unit.spec.jsx
  src/applications/appeals/996/tests/fixtures/data/maximal-test-v2.5.json
  src/applications/appeals/996/tests/hlr-contact-loop.cypress.spec.js
  src/applications/appeals/996/tests/hlr-downtime-notification.cypress.spec.js
  src/applications/appeals/996/tests/hlr-keyboard-only.cypress.spec.js
  src/applications/appeals/996/tests/hlr-max-selections.cypress.spec.js
  src/applications/appeals/996/tests/hlr-subtask.cypress.spec.js
  src/applications/appeals/996/tests/hlr-v2.5.cypress.spec.js
  src/applications/appeals/996/tests/hlr.cypress.spec.js
Labels: HLR, Decision-Reviews-Team, frontend

#33914 SC | Update API endpoints
  src/applications/appeals/995/actions/index.js
  src/applications/appeals/995/config/form.js
  src/applications/appeals/995/config/submitForm.js
  src/applications/appeals/995/constants/apis.js
  src/applications/appeals/995/tests/995-ITF.cypress.spec.js
  src/applications/appeals/995/tests/995-contact-loop.cypress.spec.js
  src/applications/appeals/995/tests/995-downtime-notification.cypress.spec.js
  src/applications/appeals/995/tests/995-keyboard-only.cypress.spec.js
  src/applications/appeals/995/tests/995-max-selections.cypress.spec.js
  src/applications/appeals/995/tests/995.cypress.helpers.js
  src/applications/appeals/995/tests/actions/actions.unit.spec.js
  src/applications/appeals/995/tests/config/submitForm.unit.spec.js
  src/applications/appeals/995/tests/containers/App.unit.spec.jsx
  src/applications/appeals/995/tests/utils/upload.unit.spec.js
  src/applications/appeals/995/utils/evidence.js
  src/applications/appeals/995/utils/upload.js
  src/applications/appeals/shared/tests/cypress.downtime.js
  src/applications/appeals/shared/tests/cypress.max-selections.js
Labels: Decision-Reviews-Team, SC, frontend

#33943 Appoint a rep - added extension to phone number
  src/applications/representative-appoint/components/GetFormHelp.jsx
  src/applications/representative-appoint/containers/ConfirmationPage.jsx
  src/applications/representative-appoint/containers/NextStepsPage.jsx
Labels: appoint-a-representative

#33944 HLR & NOD | Update area of disagreement content
  src/applications/appeals/shared/components/AreaOfDisagreement.jsx
  src/applications/appeals/shared/content/areaOfDisagreement.jsx
Labels: HLR, NOD, Decision-Reviews-Team, frontend

#33936 DR | Replace Sentry with DataDog logging
  src/applications/appeals/995/actions/index.js
  src/applications/appeals/995/containers/App.jsx
  src/applications/appeals/995/tests/actions/actions.unit.spec.js
  src/applications/appeals/995/tests/containers/App.unit.spec.jsx
  src/applications/appeals/shared/components/IssueCard.jsx
  src/applications/appeals/testing/sc/actions/index.js
  src/applications/appeals/testing/sc/containers/App.jsx
Labels: HLR, NOD, Decision-Reviews-Team, SC, frontend

#33909 Add alert to file field
  src/applications/pensions/config/chapters/06-additional-information/uploadDocuments.js
  src/platform/forms-system/src/js/actions.js
  src/platform/forms-system/src/js/fields/FileField.jsx
  src/platform/forms-system/test/js/actions.unit.spec.js
Labels: platform, pension-benefits

#33952 DR | Determine country ISO2 code from address data
  src/applications/appeals/10182/utils/submit.js
  src/applications/appeals/995/utils/submit.js
  src/applications/appeals/996/utils/submit.js
  src/applications/appeals/shared/tests/utils/submit.unit.spec.js
  src/applications/appeals/shared/utils/submit.js
Labels: HLR, NOD, Decision-Reviews-Team, SC, frontend

#33986 HLR | Remove outdated content feature toggle
  src/applications/appeals/10182/tests/content/homeless.unit.spec.jsx
  src/applications/appeals/996/components/ConfirmationPageV2.jsx
  src/applications/appeals/996/components/InformalConference.jsx
  src/applications/appeals/996/components/InformalConferenceContact.jsx
  src/applications/appeals/996/components/InformalConferenceContactReview.jsx
  src/applications/appeals/996/components/InformalConferenceReview.jsx
  src/applications/appeals/996/config/form.js
  src/applications/appeals/996/config/submit-transformer.js
  src/applications/appeals/996/config/submitForm.js
  src/applications/appeals/996/containers/Form0996App.jsx
  src/applications/appeals/996/containers/IntroductionPage.jsx
  src/applications/appeals/996/content/InformalConference.jsx
  src/applications/appeals/996/content/InformalConferenceContact.jsx
  src/applications/appeals/996/content/InformalConferenceRep.jsx
  src/applications/appeals/996/content/InformalConferenceTimes.jsx
  src/applications/appeals/996/content/OptIn.jsx
  src/applications/appeals/996/content/contestableIssues.jsx
  src/applications/appeals/996/content/homeless.js
  src/applications/appeals/996/content/introduction.jsx
  src/applications/appeals/996/content/title.js
  src/applications/appeals/996/pages/homeless.js
  src/applications/appeals/996/pages/informalConference.js
  src/applications/appeals/996/pages/informalConferenceChoice.js
  src/applications/appeals/996/pages/informalConferenceTime.js
  src/applications/appeals/996/pages/informalConferenceTimeRep.js
  src/applications/appeals/996/pages/optIn.js
  src/applications/appeals/996/subtask/pages/other.jsx
  src/applications/appeals/996/tests/components/ConfirmationPagev2.unit.spec.jsx
  src/applications/appeals/996/tests/components/InformalConference.unit.spec.jsx
  src/applications/appeals/996/tests/components/InformalConferenceContact.unit.spec.jsx
  src/applications/appeals/996/tests/components/InformalConferenceContactReview.unit.spec.jsx
  src/applications/appeals/996/tests/components/InformalConferenceReview.unit.spec.jsx
  src/applications/appeals/996/tests/config/form.unit.spec.js
  src/applications/appeals/996/tests/config/submit-transformer.unit.spec.js
  src/applications/appeals/996/tests/config/submitForm.unit.spec.js
  src/applications/appeals/996/tests/containers/ConfirmationPage.unit.spec.jsx
  src/applications/appeals/996/tests/containers/FormApp.unit.spec.jsx
  src/applications/appeals/996/tests/content/InformalConferenceRep.unit.spec.jsx
  src/applications/appeals/996/tests/content/InformalConferenceTimes.unit.spec.jsx
  src/applications/appeals/996/tests/content/homeless.unit.spec.js
  src/applications/appeals/996/tests/content/homeless.unit.spec.jsx
  src/applications/appeals/996/tests/content/introduction.unit.spec.jsx
  src/applications/appeals/996/tests/fixtures/data/maximal-test-v2.5.json
  src/applications/appeals/996/tests/fixtures/data/maximal-test-v2.json
  src/applications/appeals/996/tests/fixtures/data/minimal-test-v2.json
  src/applications/appeals/996/tests/hlr-keyboard-only.cypress.spec.js
  src/applications/appeals/996/tests/hlr-v2.5.cypress.spec.js
  src/applications/appeals/996/tests/hlr.cypress.spec.js
  src/applications/appeals/996/tests/pages/InformalConference.unit.spec.jsx
  src/applications/appeals/996/tests/pages/authorization.unit.spec.js
  src/applications/appeals/996/tests/pages/optIn.unit.spec.js
  src/applications/appeals/996/tests/subtask/subtask.unit.spec.jsx
  src/applications/appeals/996/tests/utils/helpers.unit.spec.js
  src/applications/appeals/996/tests/utils/submit.unit.spec.js
  src/applications/appeals/996/tests/validations/validations.unit.spec.js
  src/applications/appeals/996/utils/helpers.js
  src/applications/appeals/996/validations/index.js
  src/applications/appeals/shared/content/homeless.jsx
  src/applications/appeals/shared/tests/components/AreaOfDisagreement.unit.spec.jsx
  src/applications/appeals/shared/tests/content/homeless.unit.spec.jsx
Labels: HLR, Tech Debt, Decision-Reviews-Team, frontend

#34000 99783 - [FSR] - Replace/Remove WIZARD_STATUS_COMPLETE Variable Causing Cross App Import Error
  src/applications/financial-status-report/tests/e2e/fsr-5655-alert-cards-combined.cypress.spec.js
  src/applications/financial-status-report/tests/e2e/fsr-5655-alert-cards.cypress.spec.js
  src/applications/financial-status-report/tests/e2e/fsr-5655-complete.cypress.spec.js
  src/applications/financial-status-report/tests/e2e/fsr-5655-contact-loop.cypress.spec.js
  src/applications/financial-status-report/tests/e2e/fsr-5655-fetchDebts-filter.cypress.spec.js
  src/applications/financial-status-report/tests/e2e/fsr-5655-fetchDebts-success.cypress.spec.js
  src/applications/financial-status-report/tests/e2e/fsr-5655-minimal.cypress.spec.js
  src/applications/financial-status-report/tests/e2e/fsr-5655-streamlined-waiver-long.cypress.spec.js
  src/applications/financial-status-report/tests/e2e/fsr-5655-streamlined-waiver-short.cypress.spec.js
  src/applications/financial-status-report/tests/e2e/fsr-5655-wizard.cypress.spec.js
  src/applications/financial-status-report/wizard/WizardContainer.jsx
  src/applications/financial-status-report/wizard/components/StartFormButton.jsx
Labels: vsa-benefits-2, financial-status-report

#34054 [100908] Appoint a Rep truncate middle name for prefill
  src/applications/representative-appoint/config/prefillTransformer.js
  src/applications/representative-appoint/tests/containers/ConfirmationPage.unit.spec.jsx
  src/applications/representative-appoint/tests/containers/PreSubmitInfo.unit.spec.jsx
  src/applications/representative-appoint/tests/e2e/navigation/2122.cypress.spec.js
  src/applications/representative-appoint/tests/e2e/navigation/2122a.cypress.spec.js
  src/applications/representative-appoint/tests/fixtures/data/21-22a/form-data.json
  src/applications/representative-appoint/tests/fixtures/data/form-data.json
  src/applications/representative-appoint/tests/fixtures/data/initial-form-data.json
  src/applications/representative-appoint/tests/fixtures/data/pdf-transformed-form-data.json
  src/applications/representative-appoint/tests/fixtures/data/prefill.json
  src/applications/representative-appoint/tests/fixtures/data/test-data.json
Labels: appoint-a-representative

#34005 Add updated death certificate upload page
  src/applications/burials-ez/BurialsApp.jsx
  src/applications/burials-ez/config/chapters/05-additional-information/deathCertificateV2.js
  src/applications/burials-ez/config/form.js
  src/applications/burials-ez/utils/helpers.jsx
  src/applications/burials-ez/utils/upload.js
  src/applications/pensions/config/chapters/06-additional-information/uploadDocuments.js
  src/platform/forms-system/src/js/actions.js
  src/platform/forms-system/src/js/fields/FileField.jsx
  src/platform/forms-system/src/js/utilities/file/errorMessageMaps.js
  src/platform/forms-system/src/js/utilities/file/index.js
  src/platform/forms-system/test/config/helpers.js
  src/platform/forms-system/test/js/actions.unit.spec.js
  src/platform/forms-system/test/js/fields/FileField.unit.spec.jsx
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: platform, Burials, burial-benefits

#34018 95247 new confirmation page toggle cleanup
  src/applications/disability-benefits/all-claims/components/ConfirmationPoll.jsx
  src/applications/disability-benefits/all-claims/containers/ConfirmationPage.jsx
  src/applications/disability-benefits/all-claims/content/confirmation-page.jsx
  src/applications/disability-benefits/all-claims/content/confirmation-poll.jsx
  src/applications/disability-benefits/all-claims/tests/components/ConfirmationPoll.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/containers/ConfirmationPage.unit.spec.jsx
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: disability-compensation

#34051 SC | VA treatment date optional & content fixes
  src/applications/appeals/995/components/EvidenceSummaryLists.jsx
  src/applications/appeals/995/content/evidencePrivateRecordsAuthorization.jsx
  src/applications/appeals/995/tests/utils/submit.unit.spec.js
  src/applications/appeals/995/tests/validations/date.unit.spec.js
  src/applications/appeals/995/tests/validations/evidence.unit.spec.js
  src/applications/appeals/995/utils/submit.js
  src/applications/appeals/995/validations/date.js
  src/applications/appeals/shared/props.js
Labels: Decision-Reviews-Team, SC, frontend

#34079 HLR | Fix subtask info content
  src/applications/appeals/996/subtask/pages/start.jsx
Labels: HLR, Decision-Reviews-Team, frontend

#34093 NOD & HLR | Update issue summary link
  src/applications/appeals/10182/content/issueSummary.js
  src/applications/appeals/10182/tests/pages/issueSummary.unit.spec.jsx
  src/applications/appeals/996/content/issueSummary.jsx
  src/applications/appeals/996/tests/pages/issueSummary.unit.spec.jsx
  src/applications/appeals/testing/hlr/content/issueSummary.jsx
  src/applications/appeals/testing/nod-new/content/issueSummary.jsx
Labels: HLR, NOD, Decision-Reviews-Team, frontend

#34059 0781 demo fixes
  src/applications/disability-benefits/all-claims/config/form0781/index.js
  src/applications/disability-benefits/all-claims/tests/utils/form0781.unit.spec.js
  src/applications/disability-benefits/all-claims/utils/form0781.js
Labels: disability-experience, disability-compensation

#33332 [DD] Dispute Debt initial
  src/applications/dispute-debt/actions/index.js
  src/applications/dispute-debt/app-entry.jsx
  src/applications/dispute-debt/components/AlertCard.jsx
  src/applications/dispute-debt/components/DebtSelection.jsx
  src/applications/dispute-debt/components/VeteranInformation.jsx
  src/applications/dispute-debt/config/form.js
  src/applications/dispute-debt/config/prefill-transformer.js
  src/applications/dispute-debt/constants/index.js
  src/applications/dispute-debt/containers/App.jsx
  src/applications/dispute-debt/containers/ConfirmationPage.jsx
  src/applications/dispute-debt/containers/IntroductionPage.jsx
  src/applications/dispute-debt/manifest.json
  src/applications/dispute-debt/pages/debtSelection.js
  src/applications/dispute-debt/pages/disputeReason.js
  src/applications/dispute-debt/pages/index.js
  src/applications/dispute-debt/pages/supportStatement.js
  src/applications/dispute-debt/pages/veteranInformation.js
  src/applications/dispute-debt/reducers/index.js
  src/applications/dispute-debt/routes.jsx
  src/applications/dispute-debt/sass/dispute-debt.scss
  src/applications/dispute-debt/tests/containers/ConfirmationPage.unit.spec.jsx
  src/applications/dispute-debt/tests/containers/IntroductionPage.unit.spec.jsx
  src/applications/dispute-debt/tests/dispute-debt.cypress.spec.js
  src/applications/dispute-debt/tests/fixtures/data/minimal-test.json
  src/applications/dispute-debt/tests/fixtures/mocks/local-mock-responses.js
  src/applications/dispute-debt/tests/fixtures/mocks/user.json
  src/applications/dispute-debt/utils/index.js
  src/platform/forms/constants.js
Labels: digital-dispute

#34099 Update 422 unprocessable error message
  src/platform/forms-system/src/js/utilities/file/errorMessageMaps.js
Labels: platform, burial-benefits

#33958 3: Art/decision/post
  src/applications/accredited-representative-portal/containers/POARequestDetailsPage.jsx
  src/applications/accredited-representative-portal/routes.jsx
  src/applications/accredited-representative-portal/utilities/api.js
  src/applications/accredited-representative-portal/utilities/mockApi.js
Labels: benefits-accredited-rep-facing, art-mvp-prstack

#34092 Dependents | 101037: Fix missing submission date and confirmation number
  src/applications/686c-674/components/IntroductionPageHeader.jsx
  src/applications/686c-674/config/constants.js
  src/applications/686c-674/containers/ConfirmationPage.jsx
  src/applications/686c-674/containers/IntroductionPage.jsx
  src/applications/disability-benefits/686c-674/containers/ConfirmationPage.jsx
Labels: dependents-benefits

#34050 Appoint a rep - submission method
  src/applications/representative-appoint/components/ContactAccreditedRepresentative.jsx
  src/applications/representative-appoint/components/RepresentativeSubmissionMethod.jsx
  src/applications/representative-appoint/config/form.js
  src/applications/representative-appoint/constants/enableV2FeaturesLocally.js
  src/applications/representative-appoint/containers/App.jsx
  src/applications/representative-appoint/hooks/useV2FeatureVisibility.js
  src/applications/representative-appoint/pages/index.js
  src/applications/representative-appoint/pages/representative/representativeSubmissionMethod.js
  src/applications/representative-appoint/pages/representative/selectAccreditedOrganization.js
  src/applications/representative-appoint/tests/e2e/navigation/2122.cypress.spec.js
  src/applications/representative-appoint/tests/e2e/navigation/2122a.cypress.spec.js
  src/applications/representative-appoint/tests/pages/representative/representativeSubmissionMethod.unit.spec.jsx
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: appoint-a-representative

#34138 Update CST for the Document Request Page
  src/applications/claims-status/components/claim-document-request-pages/DefaultPage.jsx
  src/applications/claims-status/tests/components/DocumentRequestPage.unit.spec.jsx
  src/applications/claims-status/tests/components/claim-document-request-pages/DefaultPage.unit.spec.jsx
  src/applications/claims-status/tests/e2e/page-objects/TrackClaimsPage.js
  src/applications/claims-status/tests/e2e/page-objects/TrackClaimsPageV2.js
  src/applications/claims-status/tests/utils/helpers.unit.spec.js
  src/applications/claims-status/utils/helpers.js
Labels: bmt-team-1, benefits-management-tools, Claim Status Tool, frontend

#34105 [99786] Appoint a Rep add submission types to search results
  src/applications/representative-appoint/components/SearchResult.jsx
  src/applications/representative-appoint/components/SelectAccreditedRepresentative.jsx
  src/applications/representative-appoint/config/prefillTransformer.js
  src/applications/representative-appoint/tests/components/SearchResult.unit.spec.jsx
  src/applications/representative-appoint/tests/config/prefillTransformer.unit.spec.js
  src/applications/representative-appoint/tests/utilities/getFormNumberFromEntity.unit.spec.jsx
  src/applications/representative-appoint/utilities/helpers.js
Labels: appoint-a-representative

#34036 4: [ART] Tweak var names in return URL fn
  src/applications/accredited-representative-portal/utilities/constants.js
Labels: benefits-accredited-rep-facing

#34031 4: Art/98327/poa-request-details
  src/applications/accredited-representative-portal/components/POARequestCard.jsx
  src/applications/accredited-representative-portal/containers/POARequestDetailsPage.jsx
  src/applications/accredited-representative-portal/containers/POARequestSearchPage.jsx
  src/applications/accredited-representative-portal/sass/POARequestCard.scss
  src/applications/accredited-representative-portal/sass/POARequestDetails.scss
  src/applications/accredited-representative-portal/tests/unit/components/POARequestCard.unit.spec.jsx
  src/applications/accredited-representative-portal/utilities/mockApi.js
  src/applications/accredited-representative-portal/utilities/mocks/poaRequests.json
  src/applications/accredited-representative-portal/utilities/poaRequests.js
Labels: benefits-accredited-rep-facing, art-mvp-prstack

#34124 HLR & NOD | Clean up text around link
  src/applications/appeals/10182/content/issueSummary.js
  src/applications/appeals/996/content/issueSummary.jsx
  src/applications/appeals/testing/hlr/content/issueSummary.jsx
Labels: HLR, NOD, Decision-Reviews-Team, frontend

#34040 4: [ART] Tweak routes helper fn
  src/applications/accredited-representative-portal/routes.jsx
Labels: benefits-accredited-rep-facing

#34041 4: Art/create decision action.tweak
  src/applications/accredited-representative-portal/containers/POARequestDetailsPage.jsx
  src/applications/accredited-representative-portal/utilities/api.js
Labels: benefits-accredited-rep-facing

#34042 4: [ART] poa request search params constant
  src/applications/accredited-representative-portal/containers/POARequestSearchPage.jsx
Labels: benefits-accredited-rep-facing

#34064 Dependents | 81671: QA fixes (1st round)
  src/applications/686c-674/config/chapters/report-add-a-spouse/current-marriage-information/currentMarriageInformationPartThree.js
  src/applications/686c-674/config/chapters/report-add-a-spouse/spouseMarriageHistoryArrayPages.js
  src/applications/686c-674/config/chapters/report-add-a-spouse/veteranMarriageHistoryArrayPages.js
  src/applications/686c-674/config/chapters/report-add-child/placeOfBirth.js
  src/applications/686c-674/config/chapters/report-dependent-death/deceasedDependentArrayPages.js
  src/applications/686c-674/config/chapters/report-divorce/former-spouse-information/formerSpouseInformationPartTwo.js
  src/applications/686c-674/config/helpers.js
  src/applications/686c-674/tests/config/chapters/report-add-a-spouse/currentMarriageInformation.unit.spec.jsx
  src/applications/686c-674/tests/config/chapters/report-add-a-spouse/spouseMarriageHistoryArrayPages.unit.spec.js
  src/applications/686c-674/tests/config/chapters/report-add-a-spouse/veteranMarriageHistoryArrayPages.unit.spec.js
  src/applications/686c-674/tests/config/chapters/report-dependent-death/deceasedDependentsArray.unit.spec.js
  src/applications/686c-674/tests/e2e/686C-674-ancilliary.cypress.spec.js
  src/applications/686c-674/tests/e2e/686C-674.cypress.spec.js
  src/applications/686c-674/tests/e2e/fixtures/spouse-child-all-fields.json
  src/applications/686c-674/tests/e2e/fixtures/spouse-report-divorce.json
Labels: dependents-benefits

#34034 [DBEX] create add event pages: details, official & police report
  src/applications/disability-benefits/all-claims/components/CountrySelect.jsx
  src/applications/disability-benefits/all-claims/config/form0781/index.js
  src/applications/disability-benefits/all-claims/constants.js
  src/applications/disability-benefits/all-claims/content/form0781.jsx
  src/applications/disability-benefits/all-claims/content/officialReport.jsx
  src/applications/disability-benefits/all-claims/content/policeReportLocation.jsx
  src/applications/disability-benefits/all-claims/content/traumaticEventDetails.jsx
  src/applications/disability-benefits/all-claims/pages/form0781/officialReport.js
  src/applications/disability-benefits/all-claims/pages/form0781/policeReportLocation.js
  src/applications/disability-benefits/all-claims/pages/form0781/traumaticEventDetails.js
  src/applications/disability-benefits/all-claims/tests/pages/form0781/officialReport.unit.spec.js
  src/applications/disability-benefits/all-claims/tests/pages/form0781/policeReportLocation.unit.spec.js
  src/applications/disability-benefits/all-claims/tests/pages/form0781/traumaticEventDetails.unit.spec.js
  src/applications/disability-benefits/all-claims/utils/form0781.js
  src/applications/disability-benefits/all-claims/utils/index.jsx
Labels: disability-experience, disability-compensation

#33992 Dependents | 81671: Data structure revision for BE
  src/applications/686c-674/config/chapters/report-dependent-death/deceasedDependentArrayPages.js
  src/applications/686c-674/config/chapters/report-dependent-death/helpers.js
  src/applications/686c-674/config/form.js
  src/applications/686c-674/containers/App.jsx
  src/applications/686c-674/tests/e2e/fixtures/ancilliary-flows.json
  src/applications/disability-benefits/686c-674/containers/App.jsx
Labels: dependents-benefits

#34081 Remove unused feature toggles
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: Claim Status Tool

#34171 Appoint a rep - submission method
  src/applications/representative-appoint/components/SelectAccreditedRepresentative.jsx
  src/applications/representative-appoint/components/SelectOrganization.jsx
  src/applications/representative-appoint/pages/representative/representativeSubmissionMethod.js
Labels: appoint-a-representative

#33927 2a: [ART] Accept return URL for ARP auth
  src/platform/user/authentication/utilities.js
Labels: benefits-accredited-rep-facing, art-mvp-prstack

#34200 Add PII/PHI masking to date web component pattern
  src/applications/burials-ez/config/chapters/01-claimant-information/personalInformation.js
  src/applications/burials-ez/config/chapters/02-veteran-information/veteranInformation.js
  src/applications/burials-ez/config/form.js
  src/applications/burials-ez/structure.json
  src/platform/forms-system/src/js/web-component-patterns/datePatterns.jsx
Labels: platform, burial-benefits

#34109 udpate meb and toe urls
  src/applications/edu-benefits/components/EducationWizard.jsx
  src/applications/my-education-benefits/containers/App.jsx
  src/applications/my-education-benefits/manifest.json
  src/applications/my-education-benefits/tests/units/containers/ConfirmationPage.unit.spec.js
  src/applications/my-education-benefits/tests/units/containers/IntroductionPage.unit.spec.js
  src/applications/survivor-dependent-education-benefit/22-5490/selectors.js
  src/applications/toe/containers/ToeApp.jsx
  src/applications/toe/manifest.json
Labels: DO NOT MERGE

#34254 [Rated Disabilities] Fixing issues with error handling
  src/applications/rated-disabilities/actions/index.js
  src/applications/rated-disabilities/components/AppContent.jsx
  src/applications/rated-disabilities/components/RatingLists/RatingLists.jsx
  src/applications/rated-disabilities/tests/components/AppContent.unit.spec.jsx
  src/applications/rated-disabilities/tests/e2e/fixtures/feature-toggle-disabled.json
  src/applications/rated-disabilities/tests/e2e/fixtures/not-found-error.json
  src/applications/rated-disabilities/tests/e2e/rated-disabilities-lighthouse.cypress.spec.js
  src/applications/rated-disabilities/tests/e2e/rated-disabilities.cypress.spec.js
  src/applications/rated-disabilities/util/index.js
Labels: Rated Disabilities

#34141 96383 remove environment checks for for prod launch and update e2e tests
  src/applications/disability-benefits/all-claims/components/IntroductionPage.jsx
  src/applications/disability-benefits/all-claims/content/preSubmitInfo.js
  src/applications/disability-benefits/all-claims/content/supportingEvidenceOrientation.jsx
  src/applications/disability-benefits/all-claims/tests/content/supportingEvidenceOrientation.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/cypress.helpers.js
  src/applications/disability-benefits/all-claims/utils/index.jsx
Labels: disability-compensation

#33655 97067 disability benefits nb workflow choice page skeleton
  src/applications/disability-benefits/all-claims/config/form0781/index.js
  src/applications/disability-benefits/all-claims/content/form0781.jsx
  src/applications/disability-benefits/all-claims/content/form0781/workflowChoicePage.jsx
  src/applications/disability-benefits/all-claims/pages/form0781/manualUploadPage.js
  src/applications/disability-benefits/all-claims/pages/form0781/workflowChoicePage.js
  src/applications/disability-benefits/all-claims/tests/pages/form0781/manualUploadPage.unit.spec.js
  src/applications/disability-benefits/all-claims/tests/pages/form0781/workflowChoicePage.unit.spec.js
  src/applications/disability-benefits/all-claims/tests/utils/form0781.unit.spec.js
  src/applications/disability-benefits/all-claims/utils/form0781.js
Labels: disability-experience, disability-compensation

#34220 [ART/100802] - POA request sort by
  src/applications/accredited-representative-portal/components/POARequestCard.jsx
  src/applications/accredited-representative-portal/components/SortForm.jsx
  src/applications/accredited-representative-portal/containers/POARequestDetailsPage.jsx
  src/applications/accredited-representative-portal/containers/POARequestSearchPage.jsx
  src/applications/accredited-representative-portal/sass/POARequestCard.scss
  src/applications/accredited-representative-portal/utilities/api.js
  src/applications/accredited-representative-portal/utilities/mockApi.js
  src/applications/accredited-representative-portal/utilities/mocks/poaRequests.json
Labels: benefits-management-tools

#34253 101627 Reverse order of which form name is in parentheses
  src/applications/disability-benefits/all-claims/components/IntroductionPage.jsx
Labels: disability-experience

#34326 101619 update heading from level 2 to 3
  src/applications/disability-benefits/all-claims/content/supportingEvidenceOrientation.jsx
Labels: disability-experience

#34290 Fixing issue that occurs when there are no ratings
  src/applications/rated-disabilities/components/AppContent.jsx
  src/applications/rated-disabilities/components/NoRatings.jsx
  src/applications/rated-disabilities/components/RatingLists/RatingLists.jsx
  src/applications/rated-disabilities/tests/components/RatingLists/RatingLists.unit.spec.jsx
  src/applications/rated-disabilities/tests/containers/AppContent.unit.spec.jsx
  src/applications/rated-disabilities/tests/e2e/rated-disabilities-lighthouse.cypress.spec.js
  src/applications/rated-disabilities/tests/e2e/rated-disabilities.cypress.spec.js
  src/applications/rated-disabilities/tests/fixtures/200-response.json
  src/applications/rated-disabilities/tests/fixtures/feature-toggle-disabled.json
  src/applications/rated-disabilities/tests/fixtures/feature-toggle-enabled.json
  src/applications/rated-disabilities/tests/fixtures/no-combined-rating.json
  src/applications/rated-disabilities/tests/fixtures/no-ratings.json
  src/applications/rated-disabilities/tests/fixtures/non-service-connected-only.json
  src/applications/rated-disabilities/tests/fixtures/not-found-error.json
  src/applications/rated-disabilities/tests/fixtures/service-connected-only.json
Labels: Rated Disabilities

#34329 [Rated Disabilities] Remove EVSS code
  src/applications/rated-disabilities/actions/index.js
  src/applications/rated-disabilities/components/RatedDisabilityList.jsx
  src/applications/rated-disabilities/components/RatedDisabilityListItem.jsx
  src/applications/rated-disabilities/components/RatedDisabilityView.jsx
  src/applications/rated-disabilities/components/SortSelect.jsx
  src/applications/rated-disabilities/components/TotalRatedDisabilities.jsx
  src/applications/rated-disabilities/components/TotalRatingStates.jsx
  src/applications/rated-disabilities/containers/App.jsx
  src/applications/rated-disabilities/rated-disabilities-entry.jsx
  src/applications/rated-disabilities/reducers/index.js
  src/applications/rated-disabilities/reducers/rated-disabilities.js
  src/applications/rated-disabilities/reducers/total-disabilities.js
  src/applications/rated-disabilities/selectors.js
  src/applications/rated-disabilities/selectors.unit.spec.js
  src/applications/rated-disabilities/tests/actions/index.unit.spec.js
  src/applications/rated-disabilities/tests/components/RatedDisabilityList.unit.spec.jsx
  src/applications/rated-disabilities/tests/components/RatedDisabilityListItem.unit.spec.jsx
  src/applications/rated-disabilities/tests/components/RatedDisabilityView.unit.spec.jsx
  src/applications/rated-disabilities/tests/components/TotalRatedDisabilities.unit.spec.jsx
  src/applications/rated-disabilities/tests/components/TotalRatingStates.unit.spec.jsx
  src/applications/rated-disabilities/tests/e2e/rated-disabilities-lighthouse.cypress.spec.js
  src/applications/rated-disabilities/tests/e2e/rated-disabilities.cypress.spec.js
  src/applications/rated-disabilities/tests/mockdata/200-response.json
  src/applications/rated-disabilities/tests/mockdata/error-response.json
  src/applications/rated-disabilities/tests/mockdata/total-rating-response.json
  src/applications/rated-disabilities/tests/reducers/index.unit.spec.js
  src/applications/rated-disabilities/tests/reducers/total-disabilities.unit.spec.js
Labels: Rated Disabilities

#34245 [Bug] Added `ResizeObserver` to update VA payments pagination on zoomed or mobile screens
  src/applications/disability-benefits/view-payments/components/view-payments-lists/helpers.js
  src/applications/disability-benefits/view-payments/components/view-payments-lists/payments/Payments.jsx
  src/applications/disability-benefits/view-payments/tests/e2e/view-payments.cypress.spec.js
  src/applications/disability-benefits/view-payments/tests/fixtures/test-payments-response.json
Labels: bug, 508/Accessibility, benefits-management-tools, bmt-team-2

#34320 [art/100987] - qa feedback + content changes
  src/applications/accredited-representative-portal/containers/POARequestDetailsPage.jsx
  src/applications/accredited-representative-portal/sass/POARequestDetails.scss
  src/applications/accredited-representative-portal/utilities/poaRequests.js
Labels: benefits-accredited-rep-facing

#34157 Dependents | 101123: QA fixes (2nd round)
  src/applications/686c-674/config/chapters/674/addStudentsArrayPages.js
  src/applications/686c-674/config/chapters/report-add-a-spouse/current-marriage-information/currentMarriageInformationPartFive.js
  src/applications/686c-674/config/chapters/report-add-a-spouse/spouseMarriageHistoryArrayPages.js
  src/applications/686c-674/config/chapters/report-add-a-spouse/veteranMarriageHistoryArrayPages.js
  src/applications/686c-674/config/chapters/stepchild-no-longer-part-of-household/removeChildHouseholdArrayPages.js
  src/applications/686c-674/config/chapters/taskWizard/wizard/addDependentOptions.js
  src/applications/686c-674/config/chapters/taskWizard/wizard/addOrRemoveDependents.js
  src/applications/686c-674/config/form.js
  src/applications/686c-674/containers/IntroductionPage.jsx
  src/applications/686c-674/tests/config/chapters/student-information/addStudentArrayPages.unit.spec.js
  src/applications/686c-674/tests/e2e/fixtures/add-child-add-674.json
Labels: dependents-benefits

#32944 81256 add review step
  src/applications/686c-674/components/ChildAdditionalEvidence.jsx
  src/applications/686c-674/components/SpouseAdditionalEvidence.jsx
  src/applications/686c-674/config/chapters/additional-information/childAdditionalEvidence.js
  src/applications/686c-674/config/chapters/additional-information/spouseAdditionalEvidence.js
  src/applications/686c-674/config/chapters/report-add-a-spouse/add-spouse-additional-evidence/spouseAdditionalEvidence.js
  src/applications/686c-674/config/chapters/report-add-a-spouse/current-marriage-information/helpers.jsx
  src/applications/686c-674/config/chapters/report-add-a-spouse/index.js
  src/applications/686c-674/config/chapters/report-add-child/childAddressPartOne.js
  src/applications/686c-674/config/chapters/report-add-child/childAddressPartTwo.js
  src/applications/686c-674/config/chapters/report-add-child/config.js
  src/applications/686c-674/config/chapters/report-add-child/index.js
  src/applications/686c-674/config/chapters/report-add-child/summary.js
  src/applications/686c-674/config/form.js
  src/applications/686c-674/tests/e2e/fixtures/add-child-add-674.json
  src/applications/686c-674/tests/e2e/fixtures/add-child-report-divorce.json
  src/applications/686c-674/tests/e2e/fixtures/spouse-child-all-fields.json
Labels: disability-experience

#34155 Add full form data to array builder
  src/platform/forms-system/src/js/containers/FormPage.jsx
  src/platform/forms-system/src/js/patterns/array-builder/ArrayBuilderItemPage.jsx
  src/platform/forms-system/src/js/patterns/array-builder/helpers.js
  src/platform/forms-system/src/js/patterns/array-builder/tests/arrayBuilderCards.unit.spec.js
  src/platform/forms-system/src/js/patterns/array-builder/tests/arrayBuilderSubsequentItemPage.unit.spec.js
  src/platform/forms-system/src/js/patterns/array-builder/tests/useEditOrAddForm.unit.spec.jsx
  src/platform/forms-system/src/js/patterns/array-builder/useEditOrAddForm.jsx
  src/platform/forms-system/src/js/state/helpers.js
  src/platform/forms-system/src/js/web-component-fields/index.js
  src/platform/forms-system/test/js/containers/FormPage.unit.spec.jsx
  src/platform/forms-system/test/js/state/helpers.unit.spec.js
Labels: enhancement, Decision-Reviews-Team, forms-library, frontend

#34380 SC | Attempt fix of flaky e2e test
  src/applications/appeals/995/tests/995-keyboard-only.cypress.spec.js
Labels: testing, Tech Debt, SC, frontend

#34350 [DBEX] Events list summary page
  src/applications/disability-benefits/all-claims/config/form0781/index.js
  src/applications/disability-benefits/all-claims/content/mentalHealthSupport.jsx
  src/applications/disability-benefits/all-claims/content/officialReport.jsx
  src/applications/disability-benefits/all-claims/content/traumaticEventDetails.jsx
  src/applications/disability-benefits/all-claims/content/traumaticEventsIntro.jsx
  src/applications/disability-benefits/all-claims/content/traumaticEventsList.jsx
  src/applications/disability-benefits/all-claims/pages/form0781/officialReport.js
  src/applications/disability-benefits/all-claims/pages/form0781/policeReportLocation.js
  src/applications/disability-benefits/all-claims/pages/form0781/traumaticEventDetails.js
  src/applications/disability-benefits/all-claims/pages/form0781/traumaticEventsPages.js
  src/applications/disability-benefits/all-claims/sass/disability-benefits.scss
  src/applications/disability-benefits/all-claims/tests/pages/form0781/officialReport.unit.spec.js
  src/applications/disability-benefits/all-claims/tests/pages/form0781/policeReportLocation.unit.spec.js
  src/applications/disability-benefits/all-claims/tests/pages/form0781/traumaticEventDetails.unit.spec.js
  src/applications/disability-benefits/all-claims/tests/pages/form0781/traumaticEventsPages.unit.spec.js
  src/applications/disability-benefits/all-claims/utils/form0781.js
Labels: disability-experience, disability-compensation

#34384 [Rated Disabilities] Add DataDog Real User Monitoring
  src/applications/rated-disabilities/components/RatingLists/ListItem.jsx
  src/applications/rated-disabilities/containers/App.jsx
  src/applications/rated-disabilities/util/datadog-rum/initializeBrowserLogging.js
  src/applications/rated-disabilities/util/datadog-rum/initializeRealUserMonitoring.js
  src/applications/rated-disabilities/util/datadog-rum/useBrowserMonitoring.js
Labels: Rated Disabilities

#34298 Update E2E tests
  src/applications/pensions/tests/e2e/helpers/keyboardOnlyHelpers.js
  src/applications/pensions/tests/e2e/helpers/pageHooks.js
  src/applications/pensions/tests/e2e/pensions-keyboard-only.cypress.spec.js
  src/applications/pensions/tests/e2e/pensions-kitchen-sink.cypress.spec.js
  src/applications/pensions/tests/e2e/pensions-overflow.cypress.spec.js
  src/applications/pensions/tests/e2e/pensions-simple.cypress.spec.js
Labels: pension-benefits

#34388 Add full data to hideIf
  src/platform/forms-system/src/js/state/helpers.js
  src/platform/forms-system/test/js/state/helpers.unit.spec.js
Labels: enhancement, Decision-Reviews-Team, forms-library, frontend

#34288 Dbex 0781ps behavior pages content
  src/applications/disability-benefits/all-claims/constants.js
  src/applications/disability-benefits/all-claims/content/form0781/behaviorListPages.jsx
  src/applications/disability-benefits/all-claims/pages/form0781/behaviorIntroCombatPage.js
  src/applications/disability-benefits/all-claims/pages/form0781/behaviorIntroPage.js
  src/applications/disability-benefits/all-claims/pages/form0781/behaviorListPage.js
  src/applications/disability-benefits/all-claims/tests/pages/form0781/behaviorListPage.unit.spec.js
Labels: disability-experience

#34360 [ART/100988] - poa request list page content update + qa feedback
  src/applications/accredited-representative-portal/components/POARequestCard.jsx
  src/applications/accredited-representative-portal/components/SortForm.jsx
  src/applications/accredited-representative-portal/containers/POARequestDetailsPage.jsx
  src/applications/accredited-representative-portal/containers/POARequestSearchPage.jsx
  src/applications/accredited-representative-portal/containers/SignedInLayout.jsx
  src/applications/accredited-representative-portal/sass/POARequestCard.scss
  src/applications/accredited-representative-portal/sass/POARequestDetails.scss
  src/applications/accredited-representative-portal/sass/accredited-representative-portal.scss
Labels: benefits-accredited-rep-facing

#34423 SC | Add white-space above finish application link
  src/applications/appeals/995/components/ITFBanner.jsx
  src/applications/appeals/995/components/PrimaryPhone.jsx
  src/applications/appeals/995/content/evidencePrivateLimitation.js
  src/applications/appeals/995/content/evidenceWillUpload.jsx
  src/applications/appeals/995/content/livingSituation.jsx
  src/applications/appeals/995/content/optIn.jsx
  src/applications/appeals/995/content/optionForMst.jsx
  src/applications/appeals/995/pages/evidencePrivateLimitation.js
  src/applications/appeals/995/pages/evidenceVaRecordsRequest.js
  src/applications/appeals/995/pages/facilityTypes.js
  src/applications/appeals/995/pages/housingRisk.js
  src/applications/appeals/995/pages/optionIndicator.js
  src/applications/appeals/995/pages/pointOfContact.js
  src/applications/appeals/shared/components/AddIssue.jsx
  src/applications/appeals/shared/components/FileField.jsx
  src/applications/appeals/shared/components/VeteranInformation.jsx
  src/applications/appeals/shared/content/contestableIssues.jsx
Labels: Decision-Reviews-Team, SC, frontend

#34427 [Rated Disabilities] Promoting DataDog RUM to production
  src/applications/rated-disabilities/util/datadog-rum/initializeRealUserMonitoring.js
Labels: Rated Disabilities

#34428 SC | Fix non-VA evidence limitation review title
  src/applications/appeals/995/config/form.js
Labels: bug, Decision-Reviews-Team, SC, frontend

#34426 SC | Fix non-VA page subtitle
  src/applications/appeals/995/content/title.js
  src/applications/appeals/995/tests/content/title.unit.spec.js
Labels: bug, Decision-Reviews-Team, SC, frontend
