Repository department-of-veterans-affairs/vets-website, pull requests merged in 2025-02, with the labels that each got.

#34317 Dependents | 101123: QA fixes (3rd round)
  src/applications/686c-674/components/IntroductionPageFormProcess.jsx
  src/applications/686c-674/config/chapters/674/addStudentsArrayPages.js
  src/applications/686c-674/config/chapters/report-add-a-spouse/spouseMarriageHistoryArrayPages.js
  src/applications/686c-674/config/chapters/report-add-a-spouse/veteranMarriageHistoryArrayPages.js
  src/applications/686c-674/config/form.js
  src/applications/686c-674/config/prefill-transformer.js
  src/applications/686c-674/containers/IntroductionPage.jsx
  src/applications/686c-674/tests/config/prefill-transformer.unit.spec.js
Labels: dependents-benefits

#34375 [DD] 101869 - Various bug fixes for staging testing
  .github/CODEOWNERS
  src/applications/dispute-debt/config/form.js
  src/applications/dispute-debt/config/submitForm.js
  src/applications/dispute-debt/containers/App.jsx
  src/applications/dispute-debt/containers/IntroductionPage.jsx
  src/applications/dispute-debt/manifest.json
Labels: dispute-debt

#34464 95191 - [CDP] Unit test coverage for debt-letters/components
  src/applications/combined-debt-portal/combined/tests/unit/components.unit.spec.js
Labels: vsa-benefits-2, combined-debt-portal, frontend

#34487 SC | reorder living situation questions
  src/applications/appeals/995/components/ConfirmationPageV2.jsx
  src/applications/appeals/995/config/form.js
  src/applications/appeals/995/content/formMessages.js
  src/applications/appeals/995/pages/contactInformation.js
  src/applications/appeals/995/pages/housingRisk.js
  src/applications/appeals/995/tests/components/ConfirmationPagev2.unit.spec.jsx
  src/applications/appeals/995/tests/containers/ConfirmationPage.unit.spec.jsx
  src/applications/appeals/995/tests/pages/contactInfo.unit.spec.jsx
  src/applications/appeals/995/tests/pages/housingRisk.unit.spec.js
  src/applications/appeals/995/tests/pages/livingSituation.unit.spec.js
  src/applications/appeals/995/tests/pages/otherHousingRisk.unit.spec.js
  src/applications/appeals/995/tests/pages/pointOfContact.unit.spec.js
  src/applications/appeals/shared/components/ConfirmationPersonalInfo.jsx
  src/applications/appeals/shared/tests/components/ConfirmationPersonalInfo.unit.spec.jsx
  src/applications/appeals/shared/tests/utils/focus.unit.spec.js
  src/applications/appeals/shared/tests/validations/contactInfo.unit.spec.js
  src/applications/appeals/shared/utils/focus.js
  src/applications/appeals/shared/validations/contactInfo.js
Labels: Decision-Reviews-Team, SC, frontend

#34470 Update location of death page(s)
  src/applications/burials-ez/BurialsApp.jsx
  src/applications/burials-ez/config/chapters/02-veteran-information/locationOfDeathV2.js
  src/applications/burials-ez/config/form.js
  src/applications/burials-ez/utils/helpers.jsx
Labels: burial-benefits

#34504 SC | Add new form content redirect
  src/applications/appeals/995/config/form.js
  src/applications/appeals/995/constants/index.js
  src/applications/appeals/995/content/formMessages.js
  src/applications/appeals/995/pages/housingRisk.js
  src/applications/appeals/995/tests/utils/evidence.unit.spec.js
  src/applications/appeals/995/tests/utils/toggle.unit.spec.js
  src/applications/appeals/995/utils/evidence.js
  src/applications/appeals/995/utils/toggle.js
  src/applications/appeals/shared/tests/utils/focus.unit.spec.js
  src/applications/appeals/shared/utils/focus.js
Labels: Decision-Reviews-Team, SC, frontend

#34512 Fix non-VA evidence summary page edit labels
  src/applications/appeals/995/components/EvidenceSummaryLists.jsx
  src/applications/appeals/995/content/evidencePrivateLimitation.js
  src/applications/appeals/995/content/evidencePrivateRecordsAuthorization.jsx
Labels: 508/Accessibility, Decision-Reviews-Team, SC, frontend

#34497 [Rated Disabilities] Removing FeatureFlagsLoaded component
  src/applications/rated-disabilities/components/FeatureFlagsLoaded.jsx
  src/applications/rated-disabilities/containers/App.jsx
  src/applications/rated-disabilities/tests/components/FeatureFlagsLoaded.unit.spec.jsx
  src/applications/rated-disabilities/tests/e2e/rated-disabilities.cypress.spec.js
  src/applications/rated-disabilities/tests/fixtures/feature-toggle-disabled.json
  src/applications/rated-disabilities/tests/fixtures/feature-toggle-enabled.json
  src/applications/rated-disabilities/tests/fixtures/feature-toggles.json
Labels: Rated Disabilities

#34522 [Rated Disabilities] Don't use DataDog RUM in Cypress tests
  src/applications/rated-disabilities/util/datadog-rum/initializeBrowserLogging.js
  src/applications/rated-disabilities/util/datadog-rum/initializeRealUserMonitoring.js
Labels: Rated Disabilities

#34517 SC | Fix radio selection in keyboard e2e test
  src/applications/appeals/995/tests/995-keyboard-only.cypress.spec.js
Labels: Decision-Reviews-Team, SC, frontend

#34502 Update marriage history layout and style
  src/applications/pensions/components/ServicePeriodReview.jsx
  src/applications/pensions/config/chapters/04-household-information/marriageInfo.js
  src/applications/pensions/tests/unit/chapters/02-military-history/servicePeriod.unit.spec.jsx
  src/applications/pensions/tests/unit/components/ServicePeriodReview.unit.spec.jsx
Labels: pension-benefits

#34532 [Rated Disabilities] Bump version to kick off production deploy
  src/applications/rated-disabilities/containers/App.jsx
Labels: Rated Disabilities

#34480 Dbex 0781ps behavior list
  src/applications/disability-benefits/all-claims/constants.js
  src/applications/disability-benefits/all-claims/content/form0781/behaviorListPages.jsx
  src/applications/disability-benefits/all-claims/pages/form0781/behaviorListPage.js
  src/applications/disability-benefits/all-claims/tests/pages/form0781/behaviorListPage.unit.spec.js
Labels: disability-experience

#34535 [Rated Disabilities] Bump version for prod deploy
  src/applications/rated-disabilities/containers/App.jsx
Labels: Rated Disabilities

#34533 [101792] Appoint a Rep submission type selection routing fixes
  src/applications/representative-appoint/pages/representative/representativeSubmissionMethod.js
  src/applications/representative-appoint/tests/pages/representative/representativeSubmissionMethod.unit.spec.jsx
Labels: appoint-a-representative

#34217 [ART] fix request headers
  src/applications/accredited-representative-portal/app-entry.jsx
  src/applications/accredited-representative-portal/utilities/api.js
Labels: benefits-accredited-rep-facing

#34463 Appoint a rep - digital submission confirmation page
  src/applications/representative-appoint/containers/ConfirmationDigitalSubmission.jsx
  src/applications/representative-appoint/containers/ConfirmationPage.jsx
  src/applications/representative-appoint/hooks/useTransformForReview.js
  src/applications/representative-appoint/sass/appoint-a-representative.scss
  src/applications/representative-appoint/tests/containers/ConfirmationDigitalSubmission.unit.spec.jsx
  src/applications/representative-appoint/tests/containers/ConfirmationPage.unit.spec.jsx
  src/applications/representative-appoint/tests/e2e/containers/ConfirmationPage.cypress.spec.js
  src/applications/representative-appoint/tests/hooks/useTransformReview.unit.spec.jsx
Labels: appoint-a-representative

#34551 [FSR] Bug 102692 - Fixing resolution option description
  src/applications/financial-status-report/components/resolution/ResolutionOptions.jsx
Labels: financial-status-report

#34534 SC | Add point of contact international phone support
  src/applications/appeals/995/components/ConfirmationPageV2.jsx
  src/applications/appeals/995/content/livingSituation.jsx
  src/applications/appeals/995/pages/pointOfContact.js
  src/applications/appeals/995/tests/components/ConfirmationPagev2.unit.spec.jsx
  src/applications/appeals/995/tests/pages/pointOfContact.unit.spec.js
Labels: Decision-Reviews-Team, SC, frontend

#34538 Update location of death pages
  src/applications/burials-ez/config/form.js
  src/applications/burials-ez/utils/helpers.jsx
Labels: burial-benefits

#34516 [ART/101461] - header content updates
  src/applications/accredited-representative-portal/components/Header.jsx
  src/applications/accredited-representative-portal/components/Header/Nav.jsx
  src/applications/accredited-representative-portal/components/Header/NavDropdown.jsx
  src/applications/accredited-representative-portal/components/Header/UserNav.jsx
  src/applications/accredited-representative-portal/components/SortForm.jsx
  src/applications/accredited-representative-portal/sass/Header.scss
  src/applications/accredited-representative-portal/tests/unit/components/Header/Nav.unit.spec.jsx
  src/site/assets/img/arp-header-logo-dark.svg
  src/site/assets/img/va.svg
Labels: benefits-accredited-rep-facing

#34581 [ART/99756] - Processing banner on POA details page
  src/applications/accredited-representative-portal/components/ProcessingBanner.jsx
  src/applications/accredited-representative-portal/containers/POARequestDetailsPage.jsx
  src/applications/accredited-representative-portal/sass/POARequestDetails.scss
Labels: benefits-accredited-rep-facing

#34523 Dependents | 91285: Limit international phone characters
  src/applications/686c-674/config/chapters/veteran-information/veteran-contact-information.js
  src/applications/disability-benefits/686c-674/config/chapters/veteran-information/veteran-address/veteran-address.js
Labels: dependents-benefits

#34377 Dependents | 101123: QA fixes (4th round)
  src/applications/686c-674/components/SpouseAdditionalEvidence.jsx
  src/applications/686c-674/config/chapters/674/addStudentsArrayPages.js
  src/applications/686c-674/config/chapters/additional-information/childAdditionalEvidence.js
  src/applications/686c-674/config/chapters/additional-information/spouseAdditionalEvidence.js
  src/applications/686c-674/config/chapters/report-add-a-spouse/current-marriage-information/currentMarriageInformationPartThree.js
  src/applications/686c-674/config/chapters/report-add-a-spouse/veteranMarriageHistoryArrayPages.js
  src/applications/686c-674/config/chapters/report-add-child/additionalInformationPartTwo.js
  src/applications/686c-674/config/chapters/report-add-child/config.js
  src/applications/686c-674/config/chapters/report-add-child/index.js
  src/applications/686c-674/config/chapters/report-add-child/placeOfBirth.js
  src/applications/686c-674/config/chapters/report-add-child/relationship.js
  src/applications/686c-674/config/chapters/report-add-child/stepchild.js
  src/applications/686c-674/config/chapters/report-add-child/summary.js
  src/applications/686c-674/config/chapters/report-child-stopped-attending-school/removeChildStoppedAttendingSchoolArrayPages.js
  src/applications/686c-674/config/chapters/report-dependent-death/deceasedDependentArrayPages.js
  src/applications/686c-674/config/chapters/report-marriage-of-child/removeMarriedChildArrayPages.js
  src/applications/686c-674/config/chapters/stepchild-no-longer-part-of-household/removeChildHouseholdArrayPages.js
  src/applications/686c-674/config/chapters/taskWizard/wizard/addDependentOptions.js
  src/applications/686c-674/config/chapters/taskWizard/wizard/removeDependentOptions.js
  src/applications/686c-674/config/form.js
  src/applications/686c-674/config/helpers.js
  src/applications/686c-674/config/upload.js
  src/applications/686c-674/tests/components/ChildAdditionalEvidence.unit.spec.js
  src/applications/686c-674/tests/components/SpouseAdditionalEvidence.unit.spec.js
  src/applications/686c-674/tests/config/chapters/report-add-a-spouse/currentMarriageInformation.unit.spec.jsx
  src/applications/686c-674/tests/config/chapters/report-add-a-spouse/index.unit.spec.js
  src/applications/686c-674/tests/config/chapters/report-add-child/config.unit.spec.js
  src/applications/686c-674/tests/config/chapters/report-add-child/index.unit.spec.js
  src/applications/686c-674/tests/config/chapters/report-add-child/stepchild.unit.spec.js
  src/applications/686c-674/tests/config/upload.unit.spec.js
  src/applications/686c-674/tests/e2e/686C-674-ancilliary.cypress.spec.js
  src/applications/686c-674/tests/e2e/686C-674.cypress.spec.js
  src/applications/686c-674/tests/e2e/fixtures/add-child-add-674.json
  src/applications/686c-674/tests/e2e/fixtures/add-child-report-divorce.json
  src/applications/686c-674/tests/e2e/fixtures/ancilliary-flows.json
  src/applications/686c-674/tests/e2e/fixtures/spouse-child-all-fields.json
  src/applications/686c-674/tests/e2e/fixtures/spouse-report-divorce.json
Labels: dependents-benefits

#34544 DR | Remove API feature toggle & old URLs
  src/applications/appeals/10182/actions/index.js
  src/applications/appeals/10182/components/ContestableIssuesWidget.jsx
  src/applications/appeals/10182/config/submitForm.js
  src/applications/appeals/10182/constants/apis.js
  src/applications/appeals/10182/containers/FormApp.jsx
  src/applications/appeals/10182/tests/10182-contact-loop.cypress.spec.js
  src/applications/appeals/10182/tests/10182-keyboard-only.cypress.spec.js
  src/applications/appeals/10182/tests/10182-notice-of-disagreement.cypress.spec.js
  src/applications/appeals/10182/tests/actions/actions.unit.spec.js
  src/applications/appeals/10182/tests/components/ContestableIssuesWidget.unit.spec.jsx
  src/applications/appeals/10182/tests/config/submitForm.unit.spec.js
  src/applications/appeals/10182/tests/containers/FormApp.unit.spec.jsx
  src/applications/appeals/10182/tests/pages/evidenceUpload.unit.spec.js
  src/applications/appeals/10182/utils/upload.js
  src/applications/appeals/995/actions/index.js
  src/applications/appeals/995/config/submitForm.js
  src/applications/appeals/995/constants/apis.js
  src/applications/appeals/995/containers/App.jsx
  src/applications/appeals/995/tests/actions/actions.unit.spec.js
  src/applications/appeals/995/tests/config/submitForm.unit.spec.js
  src/applications/appeals/995/tests/containers/App.unit.spec.jsx
  src/applications/appeals/995/tests/utils/upload.unit.spec.js
  src/applications/appeals/995/utils/upload.js
  src/applications/appeals/996/actions/index.js
  src/applications/appeals/996/config/submitForm.js
  src/applications/appeals/996/constants/apis.js
  src/applications/appeals/996/containers/Form0996App.jsx
  src/applications/appeals/996/tests/actions/actions.unit.spec.js
  src/applications/appeals/996/tests/config/submitForm.unit.spec.js
  src/applications/appeals/996/tests/containers/FormApp.unit.spec.jsx
Labels: HLR, NOD, Decision-Reviews-Team, SC, frontend

#34559 DR | Update Veteran info page to new pattern
  src/applications/appeals/shared/components/VeteranInformation.jsx
  src/applications/appeals/shared/tests/components/VeteranInformation.unit.spec.jsx
Labels: HLR, NOD, Decision-Reviews-Team, SC, frontend

#34546 Remove DR new API toggles
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: HLR, NOD, Decision-Reviews-Team, SC, frontend

#34614 SC | Create submit utility folder
  src/applications/appeals/995/utils/submit/evidence.js
  src/applications/appeals/995/utils/submit/index.js
  src/applications/appeals/995/utils/submit/veteran.js
Labels: Decision-Reviews-Team, SC, frontend

#34619 Dependents | 101123: QA fixes (5th round)
  src/applications/686c-674/config/chapters/report-add-child/placeOfBirth.js
  src/applications/686c-674/config/helpers.js
  src/applications/686c-674/tests/e2e/fixtures/add-child-add-674.json
  src/applications/686c-674/tests/e2e/fixtures/add-child-report-divorce.json
  src/applications/686c-674/tests/e2e/fixtures/spouse-child-all-fields.json
Labels: dependents-benefits

#34622 SC | Add living situation data to submit
  src/applications/appeals/995/config/submit-transformer.js
  src/applications/appeals/995/constants/index.js
  src/applications/appeals/995/content/livingSituation.jsx
  src/applications/appeals/995/pages/pointOfContact.js
  src/applications/appeals/995/tests/utils/submit-homeless.unit.spec.js
  src/applications/appeals/995/utils/submit/homeless.js
  src/applications/appeals/995/utils/submit/index.js
  src/applications/appeals/shared/constants.js
Labels: Decision-Reviews-Team, SC, frontend

#34620 Update introduction page
  src/applications/pensions/components/IntroductionPage.jsx
Labels: pension-benefits

#34576 Recalc passes data to updateSchemaAndData
  src/platform/forms-system/src/js/state/helpers.js
  src/platform/forms-system/src/js/types.js
Labels: bug, Decision-Reviews-Team, forms-library, frontend

#34660 [ART/103064] - header qa feedback
  src/applications/accredited-representative-portal/components/Header/NavDropdown.jsx
  src/applications/accredited-representative-portal/components/Header/UserNav.jsx
  src/applications/accredited-representative-portal/containers/POARequestDetailsPage.jsx
  src/applications/accredited-representative-portal/sass/Header.scss
  src/applications/accredited-representative-portal/sass/POARequestDetails.scss
  src/applications/accredited-representative-portal/sass/accredited-representative-portal.scss
Labels: benefits-accredited-rep-facing

#34632 [Rated Disabilities] Migrate to new startApp
  babel.config.json
  src/applications/avs/app-entry.jsx
  src/applications/rated-disabilities/containers/App.jsx
  src/applications/rated-disabilities/rated-disabilities-entry.jsx
  src/applications/rated-disabilities/routes.jsx
  src/platform/startup/exportsFile.js
  src/platform/startup/package.json
  src/platform/startup/tests/withoutRouter.unit.spec.js
  src/platform/startup/withoutRouter.js
Labels: Rated Disabilities

#34651 SC | Add facility type submission data transformer
  src/applications/appeals/995/content/facilityTypes.js
  src/applications/appeals/995/tests/utils/submit-facility.unit.spec.js
  src/applications/appeals/995/utils/submit/evidence.js
  src/applications/appeals/995/utils/submit/facilities.js
  src/applications/appeals/shared/constants.js
Labels: Decision-Reviews-Team, SC, frontend

#34686 [Rated Disabilities] Fix issue with version number in DataDog
  src/applications/rated-disabilities/containers/App.jsx
Labels: Rated Disabilities

#34695 99756 - hiding status if submission fails
  src/applications/accredited-representative-portal/containers/POARequestDetailsPage.jsx
Labels: benefits-accredited-rep-facing

#34722 [ART/103240] - QA feedback
  src/applications/accredited-representative-portal/components/Header/Nav.jsx
  src/applications/accredited-representative-portal/components/POARequestCard.jsx
  src/applications/accredited-representative-portal/components/ProcessingBanner.jsx
  src/applications/accredited-representative-portal/containers/POARequestDetailsPage.jsx
  src/applications/accredited-representative-portal/containers/POARequestSearchPage.jsx
  src/applications/accredited-representative-portal/sass/Header.scss
  src/applications/accredited-representative-portal/sass/POARequestCard.scss
  src/applications/accredited-representative-portal/sass/POARequestDetails.scss
  src/applications/accredited-representative-portal/utilities/poaRequests.js
Labels: benefits-accredited-rep-facing

#34658 Appoint a rep - copy updates, routing logic, bug fix
  src/applications/representative-appoint/components/ClaimantType.jsx
  src/applications/representative-appoint/components/RepresentativeSubmissionMethod.jsx
  src/applications/representative-appoint/components/SelectAccreditedRepresentative.jsx
  src/applications/representative-appoint/containers/App.jsx
  src/applications/representative-appoint/containers/ConfirmationDigitalSubmission.jsx
  src/applications/representative-appoint/hooks/useTransformForReview.js
  src/applications/representative-appoint/hooks/useV2FeatureVisibility.js
  src/applications/representative-appoint/pages/representative/representativeSubmissionMethod.js
  src/applications/representative-appoint/tests/pages/representative/representativeSubmissionMethod.unit.spec.jsx
  src/applications/representative-appoint/tests/pages/representative/selectAccreditedRepresentative.unit.spec.jsx
  src/applications/representative-appoint/tests/utilities/formIs2122.unit.spec.jsx
  src/applications/representative-appoint/utilities/helpers.js
Labels: appoint-a-representative

#34718 [DBEX] Update events description and max alert content
  src/applications/disability-benefits/all-claims/content/traumaticEventsList.jsx
  src/applications/disability-benefits/all-claims/pages/form0781/traumaticEventsPages.js
Labels: disability-experience, disability-compensation

#34740 [DBEX] Add external property to link to open in new tab
  src/applications/disability-benefits/all-claims/content/traumaticEventsList.jsx
Labels: disability-experience, disability-compensation

#34750 [art/103340] - poa status update, remove br tag
  src/applications/accredited-representative-portal/components/POARequestCard.jsx
  src/applications/accredited-representative-portal/containers/POARequestDetailsPage.jsx
  src/applications/accredited-representative-portal/containers/POARequestSearchPage.jsx
  src/applications/accredited-representative-portal/sass/POARequestCard.scss
Labels: benefits-accredited-rep-facing

#34752 102591 & 102648 - FSR - Create One VA Debt Letter feature flag & VHA Payment History MVP feature flag
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: vsa-benefits-2, frontend

#34756 DR | Add "on file" to change name link
  src/applications/appeals/shared/components/VeteranInformation.jsx
Labels: HLR, NOD, Decision-Reviews-Team, SC, frontend

#34693 dbex/103053-cypress-tests-for-0781: first draft of basic 0781 flow
  src/applications/disability-benefits/all-claims/tests/cypress.helpers.js
  src/applications/disability-benefits/all-claims/tests/fixtures/data/maximal-modern-0781-test.json
  src/applications/disability-benefits/all-claims/tests/fixtures/data/transformed-data/maximal-modern-0781-test.json
  src/applications/disability-benefits/all-claims/tests/modern-0781.cypress.spec.js
  src/applications/disability-benefits/all-claims/tests/submit-transformer.unit.spec.js
Labels: disability-experience

#34717 Updating api wrapper to bypass platform code that hides response status
  src/applications/accredited-representative-portal/routes.jsx
  src/applications/accredited-representative-portal/tests/unit/utilities/api.unit.spec.jsx
  src/applications/accredited-representative-portal/utilities/api.js
Labels: benefits-accredited-rep-facing

#34631 Dependents | 101123: QA fixes (6th round)
  src/applications/686c-674/README.md
  src/applications/686c-674/config/chapters/additional-information/childAdditionalEvidence.js
  src/applications/686c-674/config/chapters/additional-information/spouseAdditionalEvidence.js
  src/applications/686c-674/config/chapters/report-add-a-spouse/spouseMarriageHistoryArrayPages.js
  src/applications/686c-674/config/chapters/report-add-a-spouse/veteranMarriageHistoryArrayPages.js
  src/applications/686c-674/config/chapters/report-add-child/index.js
  src/applications/686c-674/config/chapters/report-add-child/marriageEndDetails.js
  src/applications/686c-674/config/chapters/report-dependent-death/deceasedDependentArrayPages.js
  src/applications/686c-674/config/constants.js
  src/applications/686c-674/tests/config/chapters/report-add-child/index.unit.spec.js
  src/applications/686c-674/tests/e2e/686C-674-ancilliary.cypress.spec.js
Labels: dependents-benefits

#34781 99756 - adding form submission status to poa request cards
  src/applications/accredited-representative-portal/components/POARequestCard.jsx
  src/applications/accredited-representative-portal/containers/POARequestDetailsPage.jsx
  src/applications/accredited-representative-portal/sass/POARequestCard.scss
  src/applications/accredited-representative-portal/sass/POARequestDetails.scss
  src/applications/accredited-representative-portal/utilities/poaRequests.js
Labels: benefits-accredited-rep-facing

#34791 [ARP] fix auth
  src/applications/accredited-representative-portal/utilities/auth.js
Labels: benefits-accredited-rep-facing

#34790 [CST] - 10278 Added new feature flag cst_show_document_upload_status to the frontend
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: bmt-team-1, benefits-management-tools, Claim Status Tool

#34786 Appoint a Rep QA fixes
  src/applications/representative-appoint/components/ContactAccreditedRepresentative.jsx
  src/applications/representative-appoint/components/SearchResult.jsx
  src/applications/representative-appoint/components/SelectAccreditedRepresentative.jsx
  src/applications/representative-appoint/containers/App.jsx
  src/applications/representative-appoint/containers/ConfirmationDigitalSubmission.jsx
  src/applications/representative-appoint/containers/ConfirmationPage.jsx
  src/applications/representative-appoint/hooks/useDefaultFormData.js
  src/applications/representative-appoint/pages/veteran/veteranContactPhoneEmail.js
  src/applications/representative-appoint/tests/components/SearchResult.unit.spec.jsx
  src/applications/representative-appoint/tests/hooks/useDefaultFormData.unit.spec.jsx
  src/applications/representative-appoint/tests/pages/representative/representativeSubmissionMethod.unit.spec.jsx
  src/applications/representative-appoint/tests/pages/veteran/veteranContactPhoneEmail.unit.spec.jsx
  src/applications/representative-appoint/tests/utilities/convertRepType.unit.spec.jsx
  src/applications/representative-appoint/utilities/helpers.js
  src/applications/representative-appoint/utilities/selectors/authStatus.js
  src/applications/representative-appoint/utilities/selectors/featureToggles.js
Labels: appoint-a-representative

#34779 Add titles to each page in form0781PagesConfig
  src/applications/disability-benefits/all-claims/config/form0781/index.js
  src/applications/disability-benefits/all-claims/content/form0781/manualUploadPage.jsx
  src/applications/disability-benefits/all-claims/content/form0781/workflowChoicePage.jsx
Labels: disability-experience

#34324 Global | Add browser scroll functions
  src/platform/forms-system/src/js/components/FormNav.jsx
  src/platform/forms-system/src/js/containers/FormPage.jsx
  src/platform/site-wide/sass/shame.scss
  src/platform/utilities/scroll/index.jsx
  src/platform/utilities/scroll/scroll.js
  src/platform/utilities/scroll/utils.js
  src/platform/utilities/tests/scroll.unit.spec.jsx
  src/platform/utilities/tests/ui/index.unit.spec.jsx
  src/platform/utilities/ui/index.js
  src/platform/utilities/ui/scroll.js
Labels: enhancement, frontend

#34830 Hide PII data on confirmation pages
  src/applications/burials-ez/containers/ConfirmationPage.jsx
  src/applications/pensions/containers/ConfirmationPage.jsx
Labels: Burials, pension-benefits

#34843 CDP/PROFILE - 103043 - Update my-va with new cards and disable debt/copay fetching
  src/applications/personalization/dashboard/components/Dashboard.jsx
  src/applications/personalization/dashboard/components/debts/Debts.jsx
  src/applications/personalization/dashboard/components/debts/DebtsCard.jsx
  src/applications/personalization/dashboard/components/debts/GenericDebtCard.jsx
Labels: vsa-benefits-2, frontend

#34914 [ART/103240] - header feedback
  src/applications/accredited-representative-portal/sass/Header.scss
  src/applications/accredited-representative-portal/sass/POARequestCard.scss
Labels: benefits-accredited-rep-facing

#34930 34782 add required field
  src/applications/disability-benefits/all-claims/tests/fixtures/data/maximal-modern-0781-test.json
  src/applications/disability-benefits/all-claims/tests/fixtures/data/transformed-data/maximal-modern-0781-test.json
Labels: disability-experience

#34867 Dependents | 103831: Add flipper for transition banner
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: dependents-benefits

#34896 DR | Add readme
  src/applications/appeals/README.md
Labels: documentation, HLR, NOD, Decision-Reviews-Team, SC, frontend

#34951 Updated h1s for consistency
  src/applications/representative-appoint/components/ClaimantTypeForm.jsx
  src/applications/representative-appoint/containers/IntroductionPage.jsx
  src/applications/representative-appoint/containers/NextStepsPage.jsx
  src/applications/representative-appoint/tests/containers/IntroductionPage.unit.spec.jsx
  src/applications/representative-appoint/tests/containers/NextStepsPage.unit.spec.jsx
Labels: appoint-a-representative

#34805 SC | Add submit data transforms for VA evidence & MST pages
  src/applications/appeals/995/components/EvidenceVaRecords.jsx
  src/applications/appeals/995/config/submit-transformer.js
  src/applications/appeals/995/constants/index.js
  src/applications/appeals/995/content/optionIndicator.jsx
  src/applications/appeals/995/tests/config/submit-transformer.unit.spec.js
  src/applications/appeals/995/tests/fixtures/data/maximal-test-v2.json
  src/applications/appeals/995/tests/fixtures/data/transformed-maximal-test-v2.json
  src/applications/appeals/995/tests/pages/evidencePrivateLimitationRequest.unit.spec.jsx
  src/applications/appeals/995/tests/pages/pointOfContact.unit.spec.js
  src/applications/appeals/995/tests/utils/submit-evidence.unit.spec.js
  src/applications/appeals/995/tests/utils/submit-homeless.unit.spec.js
  src/applications/appeals/995/tests/utils/submit-mst.unit.spec.js
  src/applications/appeals/995/tests/utils/submit.unit.spec.js
  src/applications/appeals/995/tests/validations/evidence.unit.spec.js
  src/applications/appeals/995/utils/submit/evidence.js
  src/applications/appeals/995/utils/submit/index.js
  src/applications/appeals/995/utils/submit/mst.js
  src/applications/appeals/995/validations/evidence.js
  src/applications/appeals/shared/constants.js
  src/applications/appeals/shared/validations/evidence.js
Labels: Decision-Reviews-Team, SC, frontend

#34965 SC | New submission code bug fixes
  src/applications/appeals/995/content/livingSituation.jsx
  src/applications/appeals/995/tests/fixtures/data/transformed-maximal-test-v2.json
  src/applications/appeals/995/tests/utils/submit-evidence.unit.spec.js
  src/applications/appeals/995/tests/utils/submit-homeless.unit.spec.js
  src/applications/appeals/995/utils/submit/evidence.js
  src/applications/appeals/995/utils/submit/homeless.js
Labels: bug, Decision-Reviews-Team, SC, frontend

#34647 FSR - 94931 - Update SW Flag Usage
  src/applications/combined-debt-portal/debt-letters/tests/DebtLetterDeductionCodes.unit.spec.js
  src/applications/financial-status-report/components/employment/EmploymentQuestion.jsx
  src/applications/financial-status-report/components/household/DependentAges.jsx
  src/applications/financial-status-report/components/otherExpenses/OtherExpensesChecklist.jsx
  src/applications/financial-status-report/config/chapters/veteranInformationChapter.js
  src/applications/financial-status-report/containers/App.jsx
  src/applications/financial-status-report/tests/e2e/fixtures/data/sw-long-path-minimal-asset.json
  src/applications/financial-status-report/tests/e2e/fixtures/data/sw-short-path-minimal-asset.json
  src/applications/financial-status-report/tests/e2e/fsr-5655-streamlined-waiver-long.cypress.spec.js
  src/applications/financial-status-report/tests/e2e/fsr-5655-streamlined-waiver-short.cypress.spec.js
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: vsa-benefits-2, frontend

#34903 DBEX 0781 behavioral change loop content
  src/applications/disability-benefits/all-claims/config/form0781/index.js
  src/applications/disability-benefits/all-claims/constants.js
  src/applications/disability-benefits/all-claims/content/form0781/behaviorListPages.jsx
  src/applications/disability-benefits/all-claims/pages/form0781/behaviorChangeDescriptions/reassignmentDescriptionPage.js
  src/applications/disability-benefits/all-claims/pages/form0781/behaviorDescriptions.js
  src/applications/disability-benefits/all-claims/pages/form0781/behaviorListPage.js
  src/applications/disability-benefits/all-claims/pages/form0781/unlistedBehaviorDescriptionPage.js
  src/applications/disability-benefits/all-claims/tests/pages/form0781/behaviorDescriptionPages.unit.spec.js
  src/applications/disability-benefits/all-claims/tests/pages/form0781/behaviorListPage.unit.spec.js
  src/applications/disability-benefits/all-claims/tests/pages/form0781/unlistedBehaviorDescriptionPage.unit.spec.js
  src/applications/disability-benefits/all-claims/tests/utils/form0781.unit.spec.js
  src/applications/disability-benefits/all-claims/utils/form0781.js
Labels: disability-experience
