Repository department-of-veterans-affairs/vets-website, pull requests merged in 2025-08, with the labels that each got.

#38038 Clear in progress 0538 form when user chooses to update 686c
  src/applications/dependents/dependents-verification/components/ExitForm.jsx
  src/applications/dependents/dependents-verification/tests/unit/components/ExitForm.unit.spec.jsx
  src/applications/dependents/dependents-verification/util.js
Labels: Dependency Verification

#38054 Dependents + DV | Address UI validation and graduation date validation
  src/applications/dependents/686c-674/config/chapters/674/addStudentsArrayPages.js
  src/applications/dependents/686c-674/config/chapters/report-add-a-spouse/current-marriage-information/currentMarriageInformation.js
  src/applications/dependents/686c-674/config/chapters/report-add-child/childAddressPartOne.js
  src/applications/dependents/686c-674/config/chapters/stepchild-no-longer-part-of-household/removeChildHouseholdArrayPages.js
  src/applications/dependents/686c-674/config/chapters/veteran-information/veteran-address/veteran-address.js
  src/applications/dependents/686c-674/tests/config/chapters/report-add-a-spouse/currentMarriageInformation.unit.spec.jsx
  src/applications/dependents/686c-674/tests/config/chapters/report-add-child/childAddressPartOne.unit.spec.jsx
  src/applications/dependents/686c-674/tests/config/chapters/stepchild-no-longer-part-of-household/removeChildHouseholdArrayPages.unit.spec.jsx
  src/applications/dependents/686c-674/tests/config/chapters/student-information/addStudentArrayPages.unit.spec.jsx
  src/applications/dependents/686c-674/tests/config/chapters/veteran-information/veteranAddress.unit.spec.jsx
  src/applications/dependents/dependents-verification/config/chapters/veteran-contact-information/editAddressPage.js
  src/applications/dependents/dependents-verification/tests/unit/components/EditMailingAddress.unit.spec.jsx
Labels: Dependency Verification, dependents-benefits

#38067 arp/increase_arp_code_coverage
  src/applications/accredited-representative-portal/tests/unit/components/Pagination.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/components/PaginationMeta.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/components/SubmissionCard.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/components/SubmissionsPageResults.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/utilities/api.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/utilities/poaRequests.unit.spec.jsx
Labels: benefits-accredited-rep-facing

#38095 Update recurring income summary description
  src/applications/income-and-asset-statement/components/RecurringIncomeSummaryDescription.jsx
Labels: pension-income-assets

#38090 update schema version to 25.1.5
  package.json
  yarn.lock
Labels: pension-income-assets

#38087 feat: switch hyperlinks in additional Info Alert
  src/applications/disability-benefits/all-claims/content/form0781.jsx
Labels: disability-benefits-team2

#38122 ARP code Coverage above 80%
  src/applications/accredited-representative-portal/tests/unit/components/SortForm.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/containers/SubmissionsPage.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/utilities/analytics.unit.spec.jsx
Labels: benefits-accredited-rep-facing

#38099 MBMS-78601 Updated error message
  src/applications/pre-need-integration/components/FileField.jsx
Labels: mbs-self-service

#38130 Added unit tests for Introduction page
  src/applications/accreditation/21a/pages/03-employment-information-chapter/employersPages.js
  src/applications/accreditation/21a/pages/04-education-history-chapter/educationalInstitutionsPages.js
  src/applications/accreditation/21a/pages/07-character-references-chapter/characterReferencesPages.js
  src/applications/accreditation/21a/tests/containers/IntroductionPage.unit.spec.jsx
  src/applications/accreditation/21a/tests/unit/pages/01-personal-information-chapter/notInGoodStanding.unit.spec.jsx
  src/applications/accreditation/21a/tests/unit/pages/01-personal-information-chapter/otherAddress.unit.spec.jsx
  src/applications/accreditation/21a/tests/unit/pages/02-military-service-chapter/militaryServicePages.unit.spec.jsx
  src/applications/accreditation/21a/tests/unit/pages/03-employment-information-chapter/employerPages.unit.spec.jsx
  src/applications/accreditation/21a/tests/unit/pages/04-education-history-chapter/educationalInstitutionsPages.unit.spec.jsx
  src/applications/accreditation/21a/tests/unit/pages/05-professional-affiliations-chapter/agenciesOrCourtsPages.unit.spec.jsx
  src/applications/accreditation/21a/tests/unit/pages/05-professional-affiliations-chapter/jurisdictionsPages.unit.spec.jsx
  src/applications/accreditation/21a/tests/unit/pages/07-character-references-chapter/characterReferencesPages.unit.spec.jsx
  src/applications/accreditation/21a/tests/unit/utilities/constants.unit.spec.jsx
Labels: 21a accreditation

#38145 [Art/110379] - poa details page update
  src/applications/accredited-representative-portal/components/POADetailsColumn.jsx
  src/applications/accredited-representative-portal/components/ProcessingBanner.jsx
  src/applications/accredited-representative-portal/containers/POARequestDetailsPage.jsx
  src/applications/accredited-representative-portal/routes.jsx
  src/applications/accredited-representative-portal/sass/POARequestDetails.scss
  src/applications/accredited-representative-portal/utilities/poaRequests.js
Labels: benefits-accredited-rep-facing

#38152 DV | Update review page email sections
  src/applications/dependents/686c-674/tests/e2e/fixtures/transformed-maximal.json
  src/applications/dependents/dependents-verification/components/VeteranContactInformationPage.jsx
  src/applications/dependents/dependents-verification/components/VeteranContactInformationReviewPage.jsx
  src/applications/dependents/dependents-verification/config/chapters/veteran-contact-information/editEmailPage.js
  src/applications/dependents/dependents-verification/tests/mock-api-full-data.js
  src/applications/dependents/dependents-verification/tests/unit/components/VeteranContactInformationPage.unit.spec.jsx
Labels: bug, Dependency Verification, frontend

#38190 DV | Veteran contact information page updates
  src/applications/dependents/dependents-verification/components/DependentsInformation.jsx
  src/applications/dependents/dependents-verification/components/EditCardLink.jsx
  src/applications/dependents/dependents-verification/components/EditEmailPage.jsx
  src/applications/dependents/dependents-verification/components/EditInternationalPhonePage.jsx
  src/applications/dependents/dependents-verification/components/EditMailingAddressPage.jsx
  src/applications/dependents/dependents-verification/components/EditPageButtons.jsx
  src/applications/dependents/dependents-verification/components/EditPhonePage.jsx
  src/applications/dependents/dependents-verification/components/VeteranContactInformationPage.jsx
  src/applications/dependents/dependents-verification/config/chapters/veteran-contact-information/editAddressPage.js
  src/applications/dependents/dependents-verification/config/chapters/veteran-contact-information/editInternationalPhonePage.js
  src/applications/dependents/dependents-verification/config/form.js
  src/applications/dependents/dependents-verification/tests/unit/components/EditCardLink.unit.spec.jsx
  src/applications/dependents/dependents-verification/tests/unit/components/EditEmailPage.unit.spec.jsx
  src/applications/dependents/dependents-verification/tests/unit/components/EditInternationalPhonePage.unit.spec.jsx
  src/applications/dependents/dependents-verification/tests/unit/components/EditMailingAddress.unit.spec.jsx
  src/applications/dependents/dependents-verification/tests/unit/components/EditPhonePage.unit.spec.jsx
  src/applications/dependents/dependents-verification/tests/unit/components/VeteranContactInformationPage.unit.spec.jsx
  src/applications/dependents/dependents-verification/tests/unit/util/contact-info.unit.spec.jsx
  src/applications/dependents/dependents-verification/tests/unit/util/util.unit.spec.jsx
  src/applications/dependents/dependents-verification/util/contact-info.js
  src/applications/dependents/dependents-verification/util/focus.js
  src/applications/dependents/dependents-verification/util/index.js
Labels: bug, 508/Accessibility, Dependency Verification, frontend

#38157 DV | Intro page & other review fixes
  src/applications/dependents/686c-674/config/prefill-transformer.js
  src/applications/dependents/686c-674/tests/config/prefill-transformer.unit.spec.jsx
  src/applications/dependents/dependents-verification/components/NeedHelp.jsx
  src/applications/dependents/dependents-verification/components/NoFormPage.jsx
  src/applications/dependents/dependents-verification/components/VeteranContactInformationPage.jsx
  src/applications/dependents/dependents-verification/components/VeteranInformationComponent.jsx
  src/applications/dependents/dependents-verification/config/form.js
  src/applications/dependents/dependents-verification/constants.js
  src/applications/dependents/dependents-verification/containers/IntroductionPage.jsx
Labels: Dependency Verification, dependents-benefits

#37780 Adding 526EZ form upload
  src/applications/accredited-representative-portal/containers/SubmissionsPage.jsx
  src/applications/accredited-representative-portal/sass/SubmissionsPage.scss
  src/applications/accredited-representative-portal/tests/e2e/intercepts/feature-toggles.js
  src/applications/accredited-representative-portal/tests/e2e/submissions.cypress.spec.js
  src/applications/accredited-representative-portal/tests/unit/components/SubmissionCard.unit.spec.jsx
  src/applications/accredited-representative-portal/tests/unit/containers/SubmissionsPage.unit.spec.jsx
  src/applications/representative-form-upload/config/form.js
  src/applications/representative-form-upload/containers/App.jsx
  src/applications/representative-form-upload/containers/IntroductionPage.jsx
  src/applications/representative-form-upload/helpers/index.js
  src/applications/representative-form-upload/pages/veteranInformation.jsx
  src/applications/representative-form-upload/reducers/index.js
  src/applications/representative-form-upload/routes.jsx
  src/applications/representative-form-upload/sass/representative-form-upload.scss
  src/applications/representative-form-upload/tests/e2e/form-upload.cypress.spec.js
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: benefits-accredited-rep-facing

#38208 Docs | Fix typo in DataDog monitoring setup
  src/platform/monitoring/Datadog/README.md
Labels: documentation

#38229 [art/116530] - fixes broken pages on staging
  src/applications/accredited-representative-portal/components/POADetailsColumn.jsx
  src/applications/accredited-representative-portal/tests/e2e/submissions.cypress.spec.js
Labels: benefits-accredited-rep-facing

#38223 Update income recipient page pattern
  src/applications/income-and-asset-statement/config/chapters/02-unassociated-incomes/unassociatedIncomePages.js
Labels: pension-income-assets

#38245 MBMS-101057 Updated unit test
  src/applications/pre-need-integration/tests/components/Phone.unit.spec.jsx
  src/applications/pre-need-integration/tests/config/applicantDemographics.unit.spec.jsx
  src/applications/pre-need-integration/tests/config/applicantDemographics2.unit.spec.jsx
  src/applications/pre-need-integration/tests/config/applicantMilitaryName.unit.spec.jsx
  src/applications/pre-need-integration/tests/config/applicantRelationshipToVet.unit.spec.jsx
  src/applications/pre-need-integration/tests/config/burialBenefits.unit.spec.jsx
  src/applications/pre-need-integration/tests/config/currentlyBuried.unit.spec.jsx
  src/applications/pre-need-integration/tests/config/documents.unit.spec.jsx
  src/applications/pre-need-integration/tests/config/isSponsor.unit.spec.jsx
  src/applications/pre-need-integration/tests/config/nonVeteranApplicantDetails.unit.spec.jsx
  src/applications/pre-need-integration/tests/config/preparer.unit.spec.jsx
  src/applications/pre-need-integration/tests/config/preparerDetails.unit.spec.jsx
  src/applications/pre-need-integration/tests/config/servicePeriods.unit.spec.jsx
  src/applications/pre-need-integration/tests/config/sponsorDeceased.unit.spec.jsx
  src/applications/pre-need-integration/tests/config/sponsorRace.unit.spec.jsx
  src/applications/pre-need-integration/tests/config/veteranApplicantDetails.unit.spec.jsx
  src/applications/pre-need-integration/tests/definitions/address.unit.spec.jsx
  src/applications/pre-need-integration/tests/utils/helpers.unit.spec.jsx
Labels: mbs-self-service

#38262 112038 - CDP - Update Notice of Rights on Modal and PDF 
  src/applications/combined-debt-portal/combined/components/Modals.jsx
  src/applications/combined-debt-portal/combined/containers/CombinedStatements.jsx
  src/applications/combined-debt-portal/debt-letters/containers/DebtDetails.jsx
  src/applications/combined-debt-portal/medical-copays/components/Modals.jsx
  src/applications/combined-debt-portal/medical-copays/containers/DetailCopayPage.jsx
  src/applications/combined-debt-portal/medical-copays/containers/DetailPage.jsx
  src/applications/combined-debt-portal/medical-copays/containers/HTMLStatementPage.jsx
Labels: vsa-benefits-2, combined-debt-portal, frontend, dispute-debt

#38268 0969 | Updating accordion body text to include the subject
  src/applications/income-and-asset-statement/containers/IntroductionPage.jsx
Labels: pension-income-assets

#38063 MBMS-92408 | Pre-Need-Integration enhancement update multiple response pattern / Burial Benefits
  src/applications/pre-need-integration/components/DeceasedPersons.jsx
  src/applications/pre-need-integration/config/form.jsx
  src/applications/pre-need-integration/config/pages/burialBenefitsPages.jsx
  src/applications/pre-need-integration/config/pages/currentlyBuriedPersons.jsx
  src/applications/pre-need-integration/tests/components/DeceasedPersons.unit.spec.jsx
  src/applications/pre-need-integration/tests/config/burialBenefits.unit.spec.jsx
  src/applications/pre-need-integration/tests/config/currentlyBuried.unit.spec.jsx
  src/applications/pre-need-integration/utils/helpers.js
Labels: 🤖 Copilot Assisted, mbs-self-service

#38316 Omit 'wrong_form' validation (117126)
  src/applications/representative-form-upload/helpers/index.js
Labels: benefits-accredited-rep-facing

#38275 arp/code_coverage_after_526_merge
  src/applications/accredited-representative-portal/tests/unit/utilities/poaRequests.unit.spec.jsx
  src/applications/representative-form-upload/tests/unit/config/form.unit.spec.jsx
Labels: benefits-accredited-rep-facing

#38257 Add disability526ShowConfirmationReview toggle to confirmation page
  src/applications/disability-benefits/all-claims/containers/ConfirmationPage.jsx
  src/applications/disability-benefits/all-claims/tests/containers/ConfirmationPage.unit.spec.jsx
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: disability-benefits

#38328 0969 | Refactor base files
  src/applications/income-and-asset-statement/app-entry.jsx
  src/applications/income-and-asset-statement/helpers.js
  src/applications/income-and-asset-statement/reducer.js
  src/applications/income-and-asset-statement/routes.jsx
  src/platform/utilities/package.json
Labels: pension-income-assets

#38366 [Art/113651] - poa search add rep filter
  src/applications/accredited-representative-portal/components/Header/Nav.jsx
  src/applications/accredited-representative-portal/components/PaginationMeta.jsx
  src/applications/accredited-representative-portal/components/SortForm.jsx
  src/applications/accredited-representative-portal/containers/POARequestSearchPage.jsx
  src/applications/accredited-representative-portal/routes.jsx
  src/applications/accredited-representative-portal/sass/POARequestCard.scss
  src/applications/accredited-representative-portal/utilities/api.js
  src/applications/accredited-representative-portal/utilities/poaRequests.js
Labels: benefits-accredited-rep-facing

#38381 Income and Asset Statement Staged Entry Widget - Add to static page entries
  src/applications/static-pages/income-and-asset/components/App/index.js
  src/applications/static-pages/income-and-asset/index.js
  src/applications/static-pages/static-pages-entry.js
  src/platform/site-wide/widgetTypes.js
Labels: pension-income-assets

#38447 [art/117093] - homepage updates
  src/applications/accredited-representative-portal/containers/LandingPage.jsx
  src/applications/accredited-representative-portal/sass/accredited-representative-portal.scss
  src/platform/utilities/feature-toggles/featureFlagNames.json
  src/site/assets/img/arp-hp-card.png
Labels: benefits-accredited-rep-facing

#38462 DMT | Change apps to use new root URL
  src/applications/dependents/686c-674-old/manifest.json
  src/applications/dependents/686c-674-old/tests/e2e/686C-674-ancilliary.cypress.spec.js
  src/applications/dependents/686c-674-old/tests/e2e/686C-674.cypress.spec.js
  src/applications/dependents/686c-674/manifest.json
  src/applications/dependents/686c-674/tests/e2e/686C-674-ancillary.cypress.spec.js
  src/applications/dependents/686c-674/tests/e2e/686C-674-maximal.cypress.spec.js
  src/applications/dependents/686c-674/tests/e2e/686C-674.cypress.spec.js
  src/applications/dependents/dependents-verification/manifest.json
  src/applications/dependents/dependents-verification/tests/e2e/0538-dependents-verification.cypress.spec.js
  src/applications/dependents/temp-url-change/686c-674-old/manifest.json
  src/applications/dependents/temp-url-change/686c-674/manifest.json
  src/applications/dependents/temp-url-change/README.md
  src/applications/dependents/temp-url-change/dependents-verification/manifest.json
  src/applications/dependents/temp-url-change/view-dependents/manifest.json
  src/applications/dependents/view-dependents/manifest.json
  src/applications/dependents/view-dependents/tests/e2e/view-dependents.cypress.spec.js
  src/applications/manifest-catalog.json
Labels: Dependency Verification, dependents-benefits, frontend

#38380 Mbms 101797 story/preneed success alert and subway map
  src/applications/pre-need-integration/containers/ConfirmationPage.jsx
  src/applications/pre-need-integration/tests/containers/ConfirmationPage.unit.spec.jsx
  src/platform/forms-system/src/js/components/ConfirmationView/components.jsx
Labels: mbs-self-service

#38496 arp/landing_page_photo_to_colomn
  src/applications/accredited-representative-portal/sass/accredited-representative-portal.scss
Labels: benefits-accredited-rep-facing

#38482 test: Migrate Page Unit Tests to Date Utility (Part 1)
  src/applications/disability-benefits/all-claims/tests/pages/federalOrders.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/militaryHistory.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/reservesNationalGuardService.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/pages/separationLocation.unit.spec.jsx
  src/applications/disability-benefits/all-claims/tests/utils/dates/dateHelper.js
Labels: disability-benefits-team2

#38490 Art/116946/update help page (part 2)
  src/applications/accredited-representative-portal/components/Header/Nav.jsx
  src/applications/accredited-representative-portal/components/Header/UserNav.jsx
  src/applications/accredited-representative-portal/containers/GetHelpPage.jsx
  src/applications/accredited-representative-portal/sass/GetHelp.scss
  src/applications/accredited-representative-portal/sass/Header.scss
  src/applications/accredited-representative-portal/tests/e2e/GetHelpPage.cypress.spec.js
Labels: benefits-accredited-rep-facing
