Repository department-of-veterans-affairs/vets-website, pull requests merged in 2025-06, with the labels that each got.

#36710 Remove unused toggle
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: pension-benefits, frontend, intent-to-file

#36700 fix(526): Update upload PDF destructive modal styling
  src/applications/disability-benefits/all-claims/content/form0781/workflowChoicePage.jsx
Labels: disability-experience, disability-benefits-team2

#36742 MBMS-87887 | Self Service: Pre-need Integration: Burial Benefits screen wording is incorrect in the veteran flow
  src/applications/pre-need-integration/config/pages/burialBenefits.jsx
Labels: mbs-self-service

#36855 [DESIGN]: Updated three benefit summary letter option labels.
  src/applications/letters/utils/helpers.jsx
Labels: design, content, va-letters, benefits-management-tools, bmt-team-2

#36747 Feature: dynamic titles
  src/applications/dispute-debt/actions/index.js
  src/applications/dispute-debt/components/DebtReviewPage.jsx
  src/applications/dispute-debt/components/DebtSelectionReview.jsx
  src/applications/dispute-debt/components/DebtTitle.jsx
  src/applications/dispute-debt/config/form.js
  src/applications/dispute-debt/constants/index.js
  src/applications/dispute-debt/pages/disputeReason.js
  src/applications/dispute-debt/pages/supportStatement.js
  src/applications/dispute-debt/tests/components/DebtReviewPage.unit.spec.jsx
  src/applications/dispute-debt/tests/components/DebtTitle.unit.spec.jsx
  src/applications/dispute-debt/utils/index.js
Labels: dispute-debt

#36837 MBMS-88612 | Self Service: Pre-Need Integration: Staging Review Updates: Intro doesn't open in a new tab
  src/applications/pre-need-integration/components/IntroductionPage.jsx
Labels: mbs-self-service

#36915 Add trust supplementary forms alert
  src/applications/income-and-asset-statement/components/FormAlerts/index.jsx
  src/applications/income-and-asset-statement/config/chapters/07-trusts/trustPages.js
  src/applications/income-and-asset-statement/tests/unit/components/FormAlerts.unit.spec.jsx
Labels: pension-income-assets

#36912 Fix option selection headers
  src/applications/dependents/686c-674/config/chapters/taskWizard/wizard/addDependentOptions.js
  src/applications/dependents/686c-674/config/chapters/taskWizard/wizard/removeDependentOptions.js
Labels: dependents-benefits, frontend

#36921 Dependents | Focus on confirmation alert header
  src/applications/dependents/686c-674/containers/ConfirmationPage.jsx
  src/applications/dependents/686c-674/tests/containers/confirmationPage.unit.spec.jsx
Labels: 508/Accessibility, dependents-benefits, frontend

#36817 style: Adding Quotes In Authorization Error
  src/applications/disability-benefits/all-claims/content/privateMedicalRecords.jsx
Labels: disability-experience, disability-compensation, disability-benefits-team2

#36933 97919 - [DD] LOA checks and messaging
  src/applications/dispute-debt/components/NeedsToVerifyAlert.jsx
  src/applications/dispute-debt/components/ShowAlertOrSip.jsx
  src/applications/dispute-debt/containers/App.jsx
  src/applications/dispute-debt/containers/IntroductionPage.jsx
Labels: frontend, dispute-debt

#36965 Remove duplicate text
  src/applications/dependents/686c-674/config/chapters/veteran-information/veteran-contact-information.js
Labels: 508/Accessibility, dependents-benefits, frontend

#36959 Dependents | Fix spouse & child upload page
  src/applications/dependents/686c-674/components/ChildAdditionalEvidence.jsx
  src/applications/dependents/686c-674/components/SpouseAdditionalEvidence.jsx
  src/applications/dependents/686c-674/config/chapters/additional-information/childAdditionalEvidence.js
  src/applications/dependents/686c-674/config/chapters/additional-information/spouseAdditionalEvidence.js
  src/applications/dependents/686c-674/config/form.js
  src/applications/dependents/686c-674/config/upload.js
  src/applications/dependents/686c-674/config/utilities.js
  src/applications/dependents/686c-674/tests/components/ChildAdditionalEvidence.unit.spec.jsx
  src/applications/dependents/686c-674/tests/components/SpouseAdditionalEvidence.unit.spec.jsx
  src/applications/dependents/686c-674/tests/config/utilities.unit.spec.jsx
Labels: dependents-benefits, frontend

#36916 686c_link_in_form_upload
  src/applications/accredited-representative-portal/containers/SubmissionsPage.jsx
  src/applications/representative-form-upload/config/form.js
Labels: benefits-accredited-rep-facing

#36968 Add supporting documents summary page
  src/applications/income-and-asset-statement/config/chapters/12-supporting-documents/index.js
  src/applications/income-and-asset-statement/config/chapters/12-supporting-documents/supportingDocuments.jsx
  src/applications/income-and-asset-statement/config/form.js
  src/applications/income-and-asset-statement/tests/unit/chapters/12-supporting-documents/SupportingDocuments.unit.spec.jsx
Labels: pension-income-assets

#36967 Repositioning the SupplementaryFormsAlert above the owned asset cards
  src/applications/income-and-asset-statement/components/FormAlerts/SupplementaryFormsAlert.jsx
  src/applications/income-and-asset-statement/config/chapters/04-owned-assets/ownedAssetPages.js
  src/applications/income-and-asset-statement/tests/unit/components/SupplementaryFormsAlert.unit.spec.jsx
Labels: pension-income-assets

#36978 Dependents | Make date of divorce required
  src/applications/dependents/686c-674/config/chapters/report-add-a-spouse/veteran-marriage-history-details/veteranAdditionalQuestionsView.js
  src/applications/dependents/686c-674/config/chapters/report-divorce/former-spouse-information/formerSpouseInformationPartTwo.js
  src/applications/dependents/686c-674/tests/config/chapters/report-divorce/formerSpouseInformation.unit.spec.jsx
Labels: dependents-benefits, frontend

#36975 Remove hint text
  src/applications/pensions/config/chapters/05-financial-information/hasOver25kAssets.js
Labels: pension-benefits

#36988 Dependents | Move extra content out of legend
  src/applications/dependents/686c-674/config/chapters/674/addStudentsArrayPages.js
  src/applications/dependents/686c-674/config/chapters/report-add-child/intro.js
  src/applications/dependents/686c-674/config/chapters/report-child-stopped-attending-school/removeChildStoppedAttendingSchoolArrayPages.js
  src/applications/dependents/686c-674/config/chapters/report-dependent-death/deceasedDependentArrayPages.js
  src/applications/dependents/686c-674/config/chapters/report-marriage-of-child/removeMarriedChildArrayPages.js
  src/applications/dependents/686c-674/config/chapters/stepchild-no-longer-part-of-household/removeChildHouseholdArrayPages.js
  src/applications/dependents/686c-674/tests/config/chapters/report-child-stopped-attending-school/removeChildStoppedAttendingSchoolArrayPages.unit.spec.jsx
  src/applications/dependents/686c-674/tests/config/chapters/report-dependent-death/deceasedDependentsArray.unit.spec.jsx
  src/applications/dependents/686c-674/tests/config/chapters/report-marriage-of-child/removeMarriedChildArrayPages.unit.spec.jsx
Labels: 508/Accessibility, dependents-benefits, frontend

#37011 [ART/110387] - qa feedback
  src/applications/accredited-representative-portal/components/POARequestCard.jsx
  src/applications/accredited-representative-portal/utilities/poaRequests.js
Labels: benefits-accredited-rep-facing

#37037 [Art/110381] - poa request ff updated form
  src/applications/accredited-representative-portal/containers/POARequestDetailsPage.jsx
  src/applications/accredited-representative-portal/sass/POARequestDetails.scss
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: benefits-accredited-rep-facing

#37034 Art/107098/individual search part 3
  src/applications/accredited-representative-portal/components/Header/Nav.jsx
  src/applications/accredited-representative-portal/components/Header/UserNav.jsx
  src/applications/accredited-representative-portal/components/SubmissionCard.jsx
  src/applications/accredited-representative-portal/containers/ClaimantSearchPage.jsx
  src/applications/accredited-representative-portal/routes.jsx
  src/applications/accredited-representative-portal/sass/accredited-representative-portal.scss
  src/applications/accredited-representative-portal/tests/e2e/poa-request-individual-search.cypress.spec.js
Labels: benefits-accredited-rep-facing

#37033 Dependents | Update how did you get married content
  src/applications/dependents/686c-674/config/chapters/report-add-a-spouse/current-marriage-information/helpers.jsx
Labels: dependents-benefits, frontend

#37067 Add upload documents page
  src/applications/income-and-asset-statement/config/chapters/12-supporting-documents/index.js
  src/applications/income-and-asset-statement/config/chapters/12-supporting-documents/uploadDocuments.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/12-supporting-documents/uploadDocuments.unit.spec.jsx
Labels: pension-income-assets

#37048 [Income & Assets] Intro Page - Updating focus management & position of `SaveInProgressIntro`
  src/applications/income-and-asset-statement/containers/IntroductionPage.jsx
Labels: pension-income-assets

#37036 [Disability Benefits] 0781 event addition cypress test
  src/applications/disability-benefits/all-claims/tests/modern-0781.cypress.spec.js
Labels: disability-experience

#37071 Dependents | Fix review page dates & titles
  src/applications/dependents/686c-674/components/CustomReviewFields.jsx
  src/applications/dependents/686c-674/config/chapters/report-add-a-spouse/does-live-with-spouse/doesLiveWithSpouse.js
  src/applications/dependents/686c-674/config/chapters/report-add-a-spouse/veteranMarriageHistoryArrayPages.js
  src/applications/dependents/686c-674/config/chapters/report-divorce/former-spouse-information/formerSpouseInformation.js
  src/applications/dependents/686c-674/config/form.js
Labels: dependents-benefits, frontend

#37095 Dependents | Update cancel modal content
  src/applications/dependents/686c-674/config/chapters/report-add-a-spouse/spouse-information/spouseInformation.js
  src/applications/dependents/686c-674/config/chapters/report-child-stopped-attending-school/removeChildStoppedAttendingSchoolArrayPages.js
  src/applications/dependents/686c-674/config/chapters/report-dependent-death/deceasedDependentArrayPages.js
  src/applications/dependents/686c-674/config/chapters/report-divorce/former-spouse-information/formerSpouseInformation.js
  src/applications/dependents/686c-674/config/chapters/report-marriage-of-child/removeMarriedChildArrayPages.js
  src/applications/dependents/686c-674/config/helpers.js
  src/applications/dependents/686c-674/tests/config/helpers.unit.spec.jsx
Labels: dependents-benefits, frontend

#37104 [TASK] Letters: Added e2e tests for new single view letter download and edit address
  src/applications/letters/containers/LetterList.jsx
  src/applications/letters/tests/03-letters-new-design.cypress.spec.js
  src/applications/letters/tests/04-letters-edit-address.cypress.spec.js
  src/applications/letters/tests/e2e/fixtures/PDFs/test.txt
  src/applications/letters/tests/e2e/fixtures/mocks/featureToggleLettersNewDesign.json
  src/applications/letters/tests/e2e/fixtures/mocks/lh_letters.js
Labels: testing, va-letters, benefits-management-tools, bmt-team-2

#37109 Dependents | Add Datadog privacy classes
  src/applications/dependents/686c-674/config/chapters/taskWizard/wizard/helpers.jsx
  src/applications/dependents/686c-674/containers/ConfirmationPage.jsx
  src/applications/dependents/686c-674/tests/config/chapters/taskWizard/wizard/helpers.unit.spec.jsx
  src/applications/dependents/686c-674/tests/containers/confirmationPage.unit.spec.jsx
Labels: dependents-benefits, frontend

#37124 Dependents | Update to va-links
  src/applications/dependents/686c-674/components/IntroductionPageFormProcess.jsx
  src/applications/dependents/686c-674/components/SpouseAdditionalEvidence.jsx
  src/applications/dependents/686c-674/components/SpouseEvidencePreparation.jsx
  src/applications/dependents/686c-674/config/chapters/674/helpers.jsx
  src/applications/dependents/686c-674/config/chapters/veteran-information/veteran-information/VeteranInformationComponent.jsx
  src/applications/dependents/686c-674/containers/ConfirmationPage.jsx
  src/applications/dependents/686c-674/containers/IntroductionPage.jsx
Labels: dependents-benefits, frontend

#37123 Art/111041/changes for submissions backend
  src/applications/accredited-representative-portal/components/PaginationMeta.jsx
  src/applications/accredited-representative-portal/components/SubmissionCard.jsx
  src/applications/accredited-representative-portal/containers/SubmissionsPage.jsx
  src/applications/accredited-representative-portal/sass/SubmissionsPage.scss
  src/applications/accredited-representative-portal/tests/e2e/intercepts/submissions.js
  src/applications/accredited-representative-portal/utilities/api.js
  src/applications/accredited-representative-portal/utilities/submissions.js
Labels: benefits-accredited-rep-facing

#37157 Confirmation View Component - Update ChapterSectionCollection subcomponent
  src/platform/forms-system/src/js/components/ConfirmationView/ChapterSectionCollection.jsx
  src/platform/forms-system/test/js/components/ConfirmationView/ChapterSectionCollection.unit.spec.jsx
Labels: platform, forms-library

#37132 [LETTERS] Manage focus when users successfully change their address
  src/applications/letters/containers/NewAddressSection.jsx
Labels: va-letters, benefits-management-tools, bmt-team-2

#37174 MBMS-96039 Added unit tests for all active medallions pages
  src/applications/medallions/tests/pages/applicantContactInfo.unit.spec.jsx
  src/applications/medallions/tests/pages/applicantContactInfo2.unit.spec.jsx
  src/applications/medallions/tests/pages/applicantMailingAddress.unit.spec.jsx
  src/applications/medallions/tests/pages/applicantMailingAddress2.unit.spec.jsx
  src/applications/medallions/tests/pages/applicantName.unit.spec.jsx
  src/applications/medallions/tests/pages/applicantRelationToVet.unit.spec.jsx
  src/applications/medallions/tests/pages/applicantRelationToVetOrg.unit.spec.jsx
  src/applications/medallions/tests/pages/applicantRelationToVetOrg2.unit.spec.jsx
  src/applications/medallions/tests/pages/supportingDocuments.unit.spec.jsx
  src/applications/medallions/tests/pages/supportingDocumentsUpload.unit.spec.jsx
  src/applications/medallions/tests/pages/veteranDemographics1.unit.spec.jsx
  src/applications/medallions/tests/pages/veteranDemographics2.unit.spec.jsx
  src/applications/medallions/tests/pages/veteranInfo1.unit.spec.jsx
  src/applications/medallions/tests/pages/veteranInfo2.unit.spec.jsx
Labels: 🤖 Copilot Assisted, mbs-self-service

#37204 DV | Add Veteran info to review page
  src/applications/dependents/dependents-verification/components/VeteranInformationComponent.jsx
  src/applications/dependents/dependents-verification/components/VeteranInformationReviewPage.jsx
  src/applications/dependents/dependents-verification/config/chapters/veteran-information/veteranInformation.js
  src/applications/dependents/dependents-verification/config/form.js
  src/applications/dependents/dependents-verification/sass/0538-dependents-verification.scss
  src/applications/dependents/dependents-verification/tests/unit/config/chapters/veteran-information/veteranInforamtion.unit.spec.jsx
Labels: Dependency Verification, frontend

#37185 MBMS-96525: Self Service: Preneed mulesoft integration feature flag
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: mbs-self-service

#37247 arp/fixing_staging_and_e2e_test_form_upload
  src/applications/representative-form-upload/pages/claimantInformation.jsx
  src/applications/representative-form-upload/pages/veteranInformation.jsx
  src/applications/representative-form-upload/tests/e2e/form-upload.cypress.spec.js
Labels: benefits-accredited-rep-facing

#37059 [DBEX] Test toxic exposure date submission after opt out
  src/applications/disability-benefits/all-claims/tests/toxic-exposure-partial-date-opt-out.cypress.spec.js
Labels: disability-benefits, disability-compensation, disability-benefits-team2

#37264 [Art/111577] - claims submission history fe fix
  src/applications/accredited-representative-portal/components/SubmissionCard.jsx
  src/applications/accredited-representative-portal/containers/SubmissionsPage.jsx
  src/applications/accredited-representative-portal/sass/SubmissionsPage.scss
  src/applications/representative-form-upload/config/form.js
  src/applications/representative-form-upload/containers/App.jsx
  src/applications/representative-form-upload/pages/claimantInformation.jsx
  src/applications/representative-form-upload/pages/helpers.jsx
  src/applications/representative-form-upload/pages/veteranInformation.jsx
  src/applications/representative-form-upload/sass/representative-form-upload.scss
Labels: benefits-accredited-rep-facing

#37259 [DD] 110744 - PDF Generation on submit - revised
  src/applications/dispute-debt/config/submitForm.js
  src/applications/dispute-debt/config/transformForSubmit.js
  src/applications/dispute-debt/tests/dispute-debt.cypress._spec.js
  src/applications/dispute-debt/tests/fixtures/formattedPdfData.json
  src/applications/dispute-debt/tests/fixtures/mocks/debts.json
  src/applications/dispute-debt/tests/fixtures/mocks/profile-status-response.json
  src/applications/dispute-debt/tests/fixtures/mocks/user.json
  src/applications/dispute-debt/utils/pdfHelpers.js
  src/platform/pdf/templates/dispute_debt.js
  src/platform/pdf/templates/index.js
Labels: dispute-debt

#37195 Update current email page
  src/applications/income-and-asset-statement/config/chapters/01-veteran-and-claimant-information/emailAddress.js
  src/applications/income-and-asset-statement/tests/unit/chapters/01-veteran-and-claimant-information/emailAddress.unit.spec.jsx
  src/applications/income-and-asset-statement/tests/unit/chapters/01-veteran-and-claimant-information/phoneNumber.unit.spec.jsx
Labels: pension-income-assets

#37202 Add date received by page
  src/applications/income-and-asset-statement/config/chapters/01-veteran-and-claimant-information/dateReceivedBy.js
  src/applications/income-and-asset-statement/config/chapters/01-veteran-and-claimant-information/incomeNetWorthDateRange.js
  src/applications/income-and-asset-statement/config/chapters/01-veteran-and-claimant-information/index.js
  src/applications/income-and-asset-statement/tests/e2e/fixtures/data/test-data.json
  src/applications/income-and-asset-statement/tests/unit/chapters/01-veteran-and-claimant-information/dateReceivedBy.unit.spec.jsx
Labels: pension-income-assets

#37223 MBMS-67580 change text on support doc page for PMC form
  src/applications/simple-forms/40-0247/helpers.js
  src/applications/simple-forms/40-0247/pages/veteranSupportDocs.js
Labels: mbs-self-service

#37272 [ART/111577] - minor scss changes from qa feedback
  src/applications/accredited-representative-portal/containers/SubmissionsPage.jsx
  src/applications/accredited-representative-portal/sass/SubmissionsPage.scss
  src/applications/representative-form-upload/components/Header/Nav.jsx
  src/applications/representative-form-upload/components/Header/UserNav.jsx
Labels: benefits-accredited-rep-facing

#37170 Multiform Upload Frontend
  src/applications/representative-form-upload/app-entry.jsx
  src/applications/representative-form-upload/components/ConfirmationPageView.jsx
  src/applications/representative-form-upload/components/SupportingEvidenceViewField.jsx
  src/applications/representative-form-upload/config/constants.js
  src/applications/representative-form-upload/config/form.js
  src/applications/representative-form-upload/config/submissionError.js
  src/applications/representative-form-upload/config/submit-transformer.js
  src/applications/representative-form-upload/helpers/index.js
  src/applications/representative-form-upload/pages/helpers.jsx
  src/applications/representative-form-upload/pages/upload.jsx
  src/applications/representative-form-upload/sass/SupportingEvidenceViewField.scss
  src/applications/representative-form-upload/tests/e2e/form-upload.cypress.spec.js
  src/applications/representative-form-upload/tests/unit/config/constants.unit.spec.jsx
Labels: benefits-accredited-rep-facing

#37309 DV | Fix header issue & duplicate title
  src/applications/dependents/686c-674-old/README.md
  src/applications/dependents/686c-674-old/containers/ConfirmationPage.jsx
  src/applications/dependents/686c-674/README.md
  src/applications/dependents/686c-674/config/chapters/veteran-information/veteran-information/VeteranInformationComponent.jsx
  src/applications/dependents/686c-674/containers/ConfirmationPage.jsx
  src/applications/dependents/dependents-verification/components/DependentsInformation.jsx
  src/applications/dependents/dependents-verification/components/VeteranInformationComponent.jsx
  src/applications/dependents/dependents-verification/components/VeteranInformationReviewPage.jsx
  src/applications/dependents/dependents-verification/config/form.js
  src/applications/dependents/shared/tests/utils/utils.unit.spec.jsx
  src/applications/dependents/shared/utils/index.js
  src/applications/dependents/view-dependents/components/ViewDependentsList/ViewDependentsList.jsx
  src/applications/dependents/view-dependents/components/ViewDependentsList/ViewDependentsListItem.jsx
  src/applications/dependents/view-dependents/tests/util/index.unit.spec.jsx
  src/applications/dependents/view-dependents/util/index.js
Labels: 508/Accessibility, Dependency Verification, frontend

#37293 [BUG] Set nested margin to 0 in Win11 + Firefox
  src/applications/letters/containers/EditAddress.jsx
  src/applications/letters/sass/letters.scss
Labels: bug, benefits-management-tools, Benefits Letters, bmt-team-2

#37312 Added copy to replace accredited rep screen + updated unit test
  src/applications/representative-appoint/components/ReplaceAccreditedRepresentative.jsx
  src/applications/representative-appoint/tests/components/ReplaceAccreditedRepresentative.unit.spec.jsx
Labels: appoint-a-representative

#37290 Global | Allow link to exit form without alert
  src/platform/forms-system/test/js/components/ProgressButton.unit.spec.jsx
  src/platform/forms/save-in-progress/RoutedSavableApp.jsx
Labels: enhancement, Dependency Verification, forms-library, frontend

#37330 Replace sign in url to redirect to 21a subpath
  src/applications/accreditation/21a/components/common/Header/Nav.jsx
Labels: 21a accreditation

#37333 arp/fix_doc_link_intro_page
  src/applications/representative-form-upload/containers/IntroductionPage.jsx
Labels: benefits-accredited-rep-facing

#37332 MBMS-98362 | Self-Service: PMC: Supporting documentation content updates
  src/applications/simple-forms/40-0247/pages/veteranSupportDocs.js
Labels: mbs-self-service

#37358 DV | FE | Convert dependents step 3 to custom page
  src/applications/dependents/686c-674/tests/mock-api-full-data.js
  src/applications/dependents/dependents-verification/components/DependentsInformation.jsx
  src/applications/dependents/dependents-verification/components/DependentsInformationReview.jsx
  src/applications/dependents/dependents-verification/components/ExitPageComponent.jsx
  src/applications/dependents/dependents-verification/config/chapters/dependents/dependents.js
  src/applications/dependents/dependents-verification/config/form.js
  src/applications/dependents/dependents-verification/sass/0538-dependents-verification.scss
  src/applications/dependents/dependents-verification/tests/e2e/fixtures/data/maximal-test.json
  src/applications/dependents/dependents-verification/tests/e2e/fixtures/mocks/mock-dependents.jsonc
  src/applications/dependents/dependents-verification/tests/mock-api-full-data.js
  src/applications/dependents/dependents-verification/tests/unit/components/DependentsInformation.unit.spec.jsx
  src/applications/dependents/dependents-verification/tests/unit/components/DependentsInformationReview.unit.spec.jsx
  src/applications/dependents/dependents-verification/tests/unit/components/dependent-data.js
  src/applications/dependents/shared/sass/dependents.scss
Labels: Dependency Verification, frontend

#37367 [Letters] Update content for new proof of creditable drug coverage UI
  src/applications/letters/utils/helpers.jsx
Labels: benefits-management-tools, Benefits Letters, bmt-team-2

#37378 Trusts summary page conditional alert logic
  src/applications/income-and-asset-statement/components/FormAlerts/index.jsx
  src/applications/income-and-asset-statement/config/chapters/07-trusts/trustPages.js
  src/applications/income-and-asset-statement/tests/unit/components/FormAlerts.unit.spec.jsx
Labels: pension-income-assets

#37374 Cleaning up 21-686c ARP Form Upload
  src/applications/representative-form-upload/config/constants.js
  src/applications/representative-form-upload/config/form.js
  src/applications/representative-form-upload/containers/App.jsx
  src/applications/representative-form-upload/containers/IntroductionPage.jsx
  src/applications/representative-form-upload/sass/representative-form-upload.scss
  src/applications/representative-form-upload/tests/unit/config/constants.unit.spec.jsx
  src/applications/representative-form-upload/tests/unit/containers/IntroductionPage.unit.spec.jsx
Labels: benefits-accredited-rep-facing

#37390 Art/fix 686c form widths
  src/applications/representative-form-upload/containers/App.jsx
  src/applications/representative-form-upload/pages/helpers.jsx
  src/applications/representative-form-upload/pages/upload.jsx
  src/applications/representative-form-upload/sass/representative-form-upload.scss
Labels: benefits-accredited-rep-facing

#37398 Revert LOA check logic
  src/applications/accreditation/21a/containers/IntroductionPage.jsx
  src/applications/accreditation/21a/selectors/user.js
Labels: 21a accreditation

#37371 ARP Make Veteran Date of Birth Optional
  src/applications/representative-form-upload/pages/claimantInformation.jsx
  src/applications/representative-form-upload/tests/e2e/fixtures/data/claimant-test-info.json
  src/applications/representative-form-upload/tests/e2e/fixtures/data/transformed/submit-claimant-transformer.json
  src/applications/representative-form-upload/tests/e2e/form-upload.cypress.spec.js
Labels: benefits-accredited-rep-facing

#37351 Mbms 96038/story medallions unit test coverage save in progress
  src/applications/medallions/containers/SaveInProgressIntro.jsx
  src/applications/medallions/tests/containers/SaveInProgressIntro.unit.spec.jsx
  src/applications/medallions/tests/containers/SaveInProgressIntroLink.unit.spec.jsx
Labels: 🤖 Copilot Assisted, mbs-self-service

#37396 Green check spacing, efolder capitalization, remove va.gov link
  src/applications/accredited-representative-portal/components/SubmissionCard.jsx
  src/applications/accredited-representative-portal/sass/SubmissionsPage.scss
  src/applications/representative-form-upload/sass/representative-form-upload.scss
Labels: benefits-accredited-rep-facing

#37421 DV | Adding intro & confirmation page unit tests
  src/applications/dependents/dependents-verification/containers/ConfirmationPage.jsx
  src/applications/dependents/dependents-verification/tests/unit/containers/ConfirmationPage.unit.spec.jsx
  src/applications/dependents/dependents-verification/tests/unit/containers/IntroductionPage.unit.spec.jsx
Labels: Dependency Verification, frontend

#37424 Update header sizes for intro page
  src/applications/income-and-asset-statement/containers/IntroductionPage.jsx
Labels: pension-income-assets

#37415 [Income & Assets] Updating prefill to align with vets-api implementation
  src/applications/income-and-asset-statement/config/prefill-transformer.js
Labels: pension-income-assets
