Repository department-of-veterans-affairs/vets-website, pull requests merged in 2025-03, with the labels that each got.

#34936 Remove introduction page flipper
  src/applications/pensions/components/IntroductionPage.jsx
Labels: pension-benefits

#35020 better error page
  src/applications/accredited-representative-portal/components/ErrorBoundary.jsx
  src/applications/accredited-representative-portal/containers/ErrorPage.jsx
  src/applications/accredited-representative-portal/tests/unit/components/ErrorBoundary.unit.spec.jsx
Labels: benefits-accredited-rep-facing

#35030 Profile | Update country codes
  src/applications/ask-va/config/countries.json
  src/platform/user/profile/vap-svc/constants/countries.json
Labels: bug, HLR, NOD, Decision-Reviews-Team, SC, frontend

#34868 Pension 85943 marriage info custom page
  src/applications/pensions/components/HomeAcreageValueInput.jsx
  src/applications/pensions/components/HomeAcreageValueReview.jsx
  src/applications/pensions/components/MarriageCount.jsx
  src/applications/pensions/components/MarriageCountReview.jsx
  src/applications/pensions/config/chapters/04-household-information/marriageInfo.js
  src/applications/pensions/tests/e2e/helpers/keyboardOnlyHelpers.js
  src/applications/pensions/tests/e2e/helpers/pageHooks.js
  src/applications/pensions/tests/unit/components/MarriageCount.unit.spec.jsx
  src/applications/pensions/tests/unit/components/MarriageCountReview.unit.spec.jsx
  src/applications/pensions/tests/unit/config/marriageInfo.unit.spec.jsx
  src/platform/forms-system/exportsFile.js
  src/platform/forms-system/package.json
  src/platform/forms-system/src/js/widgets/ArrayCountWidget.jsx
  src/platform/forms-system/test/js/widgets/ArrayCountWidget.unit.spec.jsx
Labels: pension-benefits

#35043 Appoint a rep - digital submission e2e test
  src/applications/representative-appoint/components/RepresentativeSubmissionMethod.jsx
  src/applications/representative-appoint/constants/routes.js
  src/applications/representative-appoint/tests/e2e/mocks/feature-toggles.json
  src/applications/representative-appoint/tests/e2e/mocks/prefill.json
  src/applications/representative-appoint/tests/e2e/mocks/rep-results.json
  src/applications/representative-appoint/tests/e2e/mocks/save-in-progress.json
  src/applications/representative-appoint/tests/e2e/mocks/user.json
  src/applications/representative-appoint/tests/e2e/navigation/2122-digital-submission.cypress.spec.js
  src/applications/representative-appoint/tests/e2e/utils/helpers.js
  src/applications/representative-appoint/tests/e2e/utils/index.js
  src/applications/representative-appoint/tests/e2e/utils/setup.js
Labels: appoint-a-representative

#35080 Update README.md
  src/applications/claims-status/README.md
Labels: bmt-team-1, Claim Status Tool

#35042 Add fullData to 'ui:required' function
  src/platform/forms-system/src/js/state/helpers.js
  src/platform/forms-system/src/js/types.js
  src/platform/forms-system/test/js/state/helpers.unit.spec.js
Labels: bug, HLR, NOD, Decision-Reviews-Team, SC, frontend

#35096 [ARP] Fix unauth landing page
  src/applications/accredited-representative-portal/utilities/api.js
Labels: benefits-accredited-rep-facing

#35027 [Pension Burials] Handle 403 errors
  src/applications/burials-ez/config/submit.js
  src/applications/burials-ez/tests/helpers.unit.spec.jsx
  src/applications/burials-ez/tests/utils/ensureValidCSRFToken.unit.spec.js
  src/applications/burials-ez/utils/ensureValidCSRFToken.js
  src/applications/pensions/config/submit.js
  src/applications/pensions/ensureValidCSRFToken.js
  src/applications/pensions/tests/unit/ensureValidCSRFToken.unit.spec.js
  src/applications/pensions/tests/unit/helpers.unit.spec.jsx
Labels: pension-benefits, burial-benefits

#35114 [104138] Only allow Veteran users to submit digital POA requests
  src/applications/representative-appoint/config/prefillTransformer.js
  src/applications/representative-appoint/tests/config/prefillTransformer.unit.spec.js
  src/applications/representative-appoint/tests/pages/representative/representativeSubmissionMethod.unit.spec.jsx
  src/applications/representative-appoint/tests/utilities/userIsDigitalSubmitEligible.unit.spec.jsx
  src/applications/representative-appoint/utilities/helpers.js
Labels: appoint-a-representative

#35053 SC | New form fixes
  src/applications/appeals/995/config/form.js
  src/applications/appeals/995/constants/index.js
  src/applications/appeals/995/containers/IntroductionPage.jsx
  src/applications/appeals/995/pages/evidencePrivateLimitation.js
  src/applications/appeals/995/pages/evidencePrivateLimitationRequest.js
  src/applications/appeals/995/tests/995-subtask.cypress.spec.js
  src/applications/appeals/995/tests/subtask/subtask.unit.spec.jsx
  src/applications/appeals/995/tests/utils/evidence.unit.spec.js
  src/applications/appeals/995/utils/evidence.js
Labels: bug, Decision-Reviews-Team, SC, frontend

#35100 Burial 102416 Remove poc-v6 application
  .github/CODEOWNERS
  jsconfig-example.json
  src/applications/burial-poc-v6/app-entry.jsx
  src/applications/burial-poc-v6/components/ExpandingGroup.jsx
  src/applications/burial-poc-v6/config/formikData.js
  src/applications/burial-poc-v6/constants.js
  src/applications/burial-poc-v6/manifest.json
  src/applications/burial-poc-v6/pages/BenefitsSelection.jsx
  src/applications/burial-poc-v6/pages/BurialAllowance.jsx
  src/applications/burial-poc-v6/pages/BurialInformation.jsx
  src/applications/burial-poc-v6/pages/BurialIntroduction.jsx
  src/applications/burial-poc-v6/pages/ClaimantContactInformation.jsx
  src/applications/burial-poc-v6/pages/ClaimantInformation.jsx
  src/applications/burial-poc-v6/pages/ConfirmationPage.jsx
  src/applications/burial-poc-v6/pages/MilitaryServiceHistory.jsx
  src/applications/burial-poc-v6/pages/PlotAllowance.jsx
  src/applications/burial-poc-v6/pages/PreviousNames.jsx
  src/applications/burial-poc-v6/pages/ReviewPage.jsx
  src/applications/burial-poc-v6/pages/VeteranInformation.jsx
  src/applications/burial-poc-v6/routes.jsx
  src/applications/burial-poc-v6/sass/burial-poc-v6.scss
  src/applications/burial-poc-v6/tests/ExpandingGroup.unit.spec.jsx
  src/applications/burial-poc-v6/tests/burial-poc-v6.cypress.spec.js
  src/applications/burial-poc-v6/tests/fixtures/data/test-data.json
  src/applications/burial-poc-v6/utils.js
Labels: Burials

#35138 HLR | Bug fix & content updates
  src/applications/appeals/996/content/InformalConferenceRep.jsx
  src/applications/appeals/996/content/introduction.jsx
  src/applications/appeals/shared/components/ContestableIssues.jsx
  src/applications/appeals/shared/tests/components/ContestableIssues.unit.spec.jsx
Labels: bug, HLR, Decision-Reviews-Team, frontend

#35022 [DBEX] Prepare 0781V2 data for submission
  src/applications/disability-benefits/all-claims/submit-transformer.js
  src/applications/disability-benefits/all-claims/tests/fixtures/data/transformed-data/maximal-modern-0781-test.json
  src/applications/disability-benefits/all-claims/tests/utils/submit.unit.spec.js
  src/applications/disability-benefits/all-claims/utils/submit.js
Labels: disability-experience, disability-compensation

#35088 Focus success alert
  src/applications/representative-appoint/containers/ConfirmationDigitalSubmission.jsx
  src/applications/representative-appoint/hooks/useTransformForReview.js
Labels: appoint-a-representative

#35158 [DBEX] Revise report type selection validation
  src/applications/disability-benefits/all-claims/constants.js
  src/applications/disability-benefits/all-claims/content/officialReport.jsx
  src/applications/disability-benefits/all-claims/pages/form0781/officialReport.js
  src/applications/disability-benefits/all-claims/tests/pages/form0781/officialReport.unit.spec.js
Labels: disability-experience, disability-compensation

#35076 102826 - CDP - VHA MVP - Add Resolve Copay page
  src/applications/combined-debt-portal/combined/routes.jsx
  src/applications/combined-debt-portal/medical-copays/components/BalanceCard.jsx
  src/applications/combined-debt-portal/medical-copays/containers/ResolvePage.jsx
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: vsa-benefits-2, frontend

#35186 [Art/103890] homepage qa feedback
  src/applications/accredited-representative-portal/components/Header/NavDropdown.jsx
  src/applications/accredited-representative-portal/components/Header/UserNav.jsx
  src/applications/accredited-representative-portal/containers/LandingPage.jsx
  src/applications/accredited-representative-portal/sass/Header.scss
  src/applications/accredited-representative-portal/sass/accredited-representative-portal.scss
  src/applications/accredited-representative-portal/tests/unit/containers/LandingPage.unit.spec.jsx
Labels: benefits-accredited-rep-facing

#35181 fixing error boundary page
  src/applications/accredited-representative-portal/components/ErrorHeader.jsx
  src/applications/accredited-representative-portal/containers/ErrorPage.jsx
  src/applications/accredited-representative-portal/tests/unit/components/ErrorBoundary.unit.spec.jsx
Labels: benefits-accredited-rep-facing

#35193 [ART/104998] - authorization fix
  src/applications/accredited-representative-portal/containers/POARequestDetailsPage.jsx
Labels: benefits-accredited-rep-facing

#35124 Update dependent children pages
  src/applications/pensions/config/chapters/04-household-information/dependentChildrenPages.js
  src/applications/pensions/config/form.js
  src/applications/pensions/tests/unit/chapters/04-household-information/dependentChildrenPages.unit.spec.jsx
Labels: pension-benefits

#35185 NOD | Focus & content fixes
  src/applications/appeals/10182/components/ConfirmationPageV2.jsx
  src/applications/appeals/10182/containers/IntroductionPage.jsx
  src/applications/appeals/10182/content/evidenceIntro.jsx
  src/applications/appeals/10182/tests/components/ConfirmationPagev2.unit.spec.jsx
  src/applications/appeals/shared/components/FileField.jsx
  src/applications/appeals/shared/sass/appeals.scss
  src/applications/appeals/shared/tests/utils/addIssues.unit.spec.js
  src/applications/appeals/shared/utils/addIssue.js
  src/applications/appeals/shared/utils/focus.js
  src/applications/appeals/testing/nod-new/content/evidenceIntro.jsx
Labels: bug, NOD, Decision-Reviews-Team, frontend

#35190 [DBEX] Properly extract date without month or year values
  src/applications/disability-benefits/all-claims/tests/utils/submit.unit.spec.js
  src/applications/disability-benefits/all-claims/utils/submit.js
Labels: disability-experience, disability-compensation

#35148 Dependents | 103777: Update prefill UI for info that cannot be edited
  src/applications/686c-674/config/chapters/veteran-information/veteran-information/VeteranInformationComponent.jsx
  src/applications/686c-674/tests/config/chapters/veteran-information/veteranInformation.unit.spec.jsx
Labels: dependents-benefits

#35225 Adding devs for FSR and CDP build notifications
  config/changed-apps-build.json
Labels: financial-status-report, combined-debt-portal

#35239 [ART/104061] - update home links
  src/applications/accredited-representative-portal/containers/LandingPage.jsx
  src/applications/accredited-representative-portal/sass/accredited-representative-portal.scss
  src/applications/accredited-representative-portal/tests/unit/containers/LandingPage.unit.spec.jsx
Labels: benefits-accredited-rep-facing

#34980 Conditionally require province for all countries in addressUI()
  src/applications/representative-appoint/pages/claimant/claimantContactMailing.js
  src/applications/representative-appoint/pages/veteran/veteranContactMailing.js
  src/applications/representative-appoint/pages/veteran/veteranContactMailingClaimant.js
  src/applications/representative-appoint/tests/pages/veteran/veteranContactMailing.unit.spec.jsx
  src/platform/forms-system/src/js/web-component-patterns/addressPattern.jsx
  src/platform/forms-system/test/js/definitions/address.unit.spec.jsx
Labels: appoint-a-representative

#35293 DR | prevent whitespace-only issue names
  src/applications/appeals/shared/components/AddIssue.jsx
  src/applications/appeals/shared/tests/components/AddIssue.unit.spec.jsx
  src/applications/appeals/shared/tests/utils/replace.unit.spec.js
  src/applications/appeals/shared/utils/replace.js
Labels: bug, HLR, NOD, Decision-Reviews-Team, SC, frontend

#35253 Dbex 0781ps conflicting error handling
  src/applications/disability-benefits/all-claims/constants.js
  src/applications/disability-benefits/all-claims/content/form0781/behaviorListPages.jsx
  src/applications/disability-benefits/all-claims/content/form0781/supportingEvidencePage.jsx
  src/applications/disability-benefits/all-claims/content/form0781/treatmentReceivedPage.jsx
  src/applications/disability-benefits/all-claims/pages/form0781/behaviorListPage.js
  src/applications/disability-benefits/all-claims/pages/form0781/supportingEvidencePage.js
  src/applications/disability-benefits/all-claims/pages/form0781/treatmentReceivedPage.js
  src/applications/disability-benefits/all-claims/tests/pages/form0781/behaviorListPage.unit.spec.js
  src/applications/disability-benefits/all-claims/tests/pages/form0781/supportingEvidencePage.unit.spec.js
  src/applications/disability-benefits/all-claims/tests/pages/form0781/treatmentReceivedPage.unit.spec.js
Labels: disability-experience

#35256 Ensure legacy 0781 stays hidden when modern 0781 flag is on
  src/applications/disability-benefits/all-claims/tests/cypress.helpers.js
Labels: disability-experience

#35321 NOD | Content changes
  src/applications/appeals/10182/containers/IntroductionPage.jsx
  src/applications/appeals/995/containers/IntroductionPage.jsx
  src/applications/appeals/996/containers/IntroductionPage.jsx
  src/applications/appeals/shared/content/contestableIssues.jsx
  src/applications/appeals/shared/sass/appeals.scss
Labels: HLR, NOD, Decision-Reviews-Team, SC, frontend

#35372 [Art/105223] - content update poa details
  src/applications/accredited-representative-portal/containers/POARequestDetailsPage.jsx
Labels: benefits-accredited-rep-facing

#35387 [ART/104061] - homepage qa feedback
  src/applications/accredited-representative-portal/containers/LandingPage.jsx
  src/applications/accredited-representative-portal/sass/accredited-representative-portal.scss
Labels: benefits-accredited-rep-facing

#35424 DR | Content updates
  src/applications/appeals/995/content/OmbInfo.jsx
  src/applications/appeals/995/content/facilityTypes.js
  src/applications/appeals/996/content/InformalConferenceTimes.jsx
Labels: HLR, Decision-Reviews-Team, SC, frontend

#35341 104039 - FSR - Add tracking for VHA FSR submission types to be tracked with our GA analytics
  src/applications/financial-status-report/config/submitForm.js
  src/applications/financial-status-report/tests/unit/fsr-5655-submit.unit.spec.jsx
Labels: vsa-benefits-2, financial-status-report, frontend

#35455 [CST] - 105030 Updated CST Test from using SkinDeep to React Testing Library (Part 2)
  src/applications/claims-status/components/Notification.jsx
  src/applications/claims-status/components/claim-status-tab/ClosedClaimAlert.jsx
  src/applications/claims-status/components/claim-status-tab/NextSteps.jsx
  src/applications/claims-status/components/claim-status-tab/Payments.jsx
  src/applications/claims-status/containers/ClaimStatusPage.jsx
  src/applications/claims-status/tests/components/ClaimStatusPage.unit.spec.jsx
  src/applications/claims-status/tests/components/FilesPage.unit.spec.jsx
Labels: bmt-team-1, benefits-management-tools, Claim Status Tool

#35453 Burials - Remove upload document update feature toggle implementation
  src/applications/burials-ez/BurialsApp.jsx
  src/applications/burials-ez/config/chapters/05-additional-information/deathCertificate.js
  src/applications/burials-ez/config/chapters/05-additional-information/deathCertificateV2.js
  src/applications/burials-ez/config/form.js
  src/applications/burials-ez/utils/helpers.jsx
Labels: Burials

#35467 [CDP] 102827 - Updating copay balance page for payment history
  src/applications/combined-debt-portal/medical-copays/components/Balances.jsx
  src/applications/combined-debt-portal/medical-copays/containers/DetailCopayPage.jsx
  src/applications/combined-debt-portal/medical-copays/containers/ResolvePage.jsx
  src/applications/combined-debt-portal/medical-copays/containers/SummaryPage.jsx
  src/applications/combined-debt-portal/medical-copays/tests/e2e/copay-history-feature-navigation.cypress.spec.js
  src/applications/combined-debt-portal/medical-copays/tests/e2e/copay-navigation.cypress.spec.js
Labels: combined-debt-portal

#35505 arp/hotfix
  src/applications/accredited-representative-portal/containers/POARequestSearchPage.jsx
  src/applications/accredited-representative-portal/utilities/mockApi.js
Labels: benefits-accredited-rep-facing

#35337 Rep Status widget - LOA1 state check
  src/applications/static-pages/representative-status/components/App/index.jsx
  src/applications/static-pages/representative-status/components/States/Auth.jsx
  src/applications/static-pages/representative-status/components/States/Unauth.jsx
  src/applications/static-pages/representative-status/tests/App.unit.spec.jsx
  src/applications/static-pages/representative-status/tests/representativeTypeMap.unit.spec.js
  src/applications/static-pages/representative-status/utilities/representativeTypeMap.js
Labels: appoint-a-representative

#35516 DR | Remove confirmation page toggles
  src/applications/appeals/10182/containers/ConfirmationPage.jsx
  src/applications/appeals/10182/tests/10182-keyboard-only.cypress.spec.js
  src/applications/appeals/10182/tests/components/ConfirmationPagev2.unit.spec.jsx
  src/applications/appeals/10182/tests/containers/ConfirmationPage.unit.spec.jsx
  src/applications/appeals/995/containers/ConfirmationPage.jsx
  src/applications/appeals/995/tests/995-keyboard-only.cypress.spec.js
  src/applications/appeals/995/tests/containers/ConfirmationPage.unit.spec.jsx
  src/applications/appeals/996/containers/ConfirmationPage.jsx
  src/applications/appeals/996/tests/containers/ConfirmationPage.unit.spec.jsx
  src/applications/appeals/996/tests/hlr-keyboard-only.cypress.spec.js
  src/applications/appeals/shared/tests/mock-api-full-data.js
Labels: HLR, Tech Debt, NOD, Decision-Reviews-Team, SC, frontend

#35532 [CDP] 102594 - Adding One VA Debt Letter button context
  src/applications/combined-debt-portal/combined/containers/OverviewPage.jsx
Labels: combined-debt-portal

#35508 [CST] Updated ClaimDetailLayout unit test to use React Testing Library
  src/applications/claims-status/components/AddingDetails.jsx
  src/applications/claims-status/tests/components/ClaimDetailLayout.unit.spec.jsx
Labels: Claim Status Tool, frontend

#35537 [CDP][FSR] Linking docs to relevant source
  src/applications/combined-debt-portal/debt-letters/const/deduction-codes/index.js
  src/applications/combined-debt-portal/debt-letters/const/diary-codes/debtSummaryCardContent.js
  src/applications/financial-status-report/actions/geographicMeansThreshold.js
  src/applications/financial-status-report/constants/deduction-codes/index.js
  src/applications/financial-status-report/constants/diary-codes/index.js
  src/applications/financial-status-report/constants/gmtCalculationTypes.js
Labels: financial-status-report, combined-debt-portal

#35517 DR | Remove confirmation toggles in platform
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: HLR, Tech Debt, NOD, Decision-Reviews-Team, SC

#35499 [FSR] 104975 - Retirement account limit removal
  src/applications/financial-status-report/utils/validations.js
Labels: financial-status-report

#35559 Moved rep status widget to platform folder
  src/applications/representative-appoint/containers/IntroductionPage.jsx
  src/applications/representative-search/containers/SearchPage.jsx
  src/applications/static-pages/static-pages-entry.js
  src/platform/user/widgets/representative-status/api/RepresentativeStatusApi.js
  src/platform/user/widgets/representative-status/components/App/index.jsx
  src/platform/user/widgets/representative-status/components/States/Auth.jsx
  src/platform/user/widgets/representative-status/components/States/Unauth.jsx
  src/platform/user/widgets/representative-status/hooks/useRepresentativeStatus.js
  src/platform/user/widgets/representative-status/index.jsx
  src/platform/user/widgets/representative-status/stylesheet.scss
  src/platform/user/widgets/representative-status/tests/App.unit.spec.jsx
  src/platform/user/widgets/representative-status/tests/Auth.unit.spec.jsx
  src/platform/user/widgets/representative-status/tests/fixtures/mocks/featuresDisabled.json
  src/platform/user/widgets/representative-status/tests/fixtures/mocks/featuresEnabled.json
  src/platform/user/widgets/representative-status/tests/fixtures/mocks/loggedInUser.json
  src/platform/user/widgets/representative-status/tests/fixtures/mocks/profileStatus.json
  src/platform/user/widgets/representative-status/tests/formatContactInfo.unit.spec.jsx
  src/platform/user/widgets/representative-status/tests/login.cypress.spec.js
  src/platform/user/widgets/representative-status/tests/phoneNumbers.unit.spec.jsx
  src/platform/user/widgets/representative-status/tests/repStatusApi.unit.spec.jsx
  src/platform/user/widgets/representative-status/tests/repStatusHook.unit.spec.jsx
  src/platform/user/widgets/representative-status/tests/representativeTypeMap.unit.spec.js
  src/platform/user/widgets/representative-status/utilities/formatContactInfo.js
  src/platform/user/widgets/representative-status/utilities/phoneNumbers.js
  src/platform/user/widgets/representative-status/utilities/representativeTypeMap.js
Labels: representative-status-widget
