Repository department-of-veterans-affairs/vets-website, pull requests merged in 2025-09, with the labels that each got.

#38531 116754 - dashboard qa feedback
  src/applications/accredited-representative-portal/components/Dashboard/Unauthorized.jsx
  src/applications/accredited-representative-portal/components/Header/Nav.jsx
  src/applications/accredited-representative-portal/containers/DashboardPage.jsx
  src/applications/accredited-representative-portal/sass/Dashboard.scss
Labels: benefits-accredited-rep-facing

#38538 [art/117093] - hp updates
  src/applications/accredited-representative-portal/components/Header/Nav.jsx
  src/applications/accredited-representative-portal/containers/LandingPage.jsx
  src/applications/accredited-representative-portal/sass/accredited-representative-portal.scss
Labels: benefits-accredited-rep-facing

#38539 Reorder array builder summary pages
  src/applications/income-and-asset-statement/config/chapters/02-unassociated-incomes/unassociatedIncomePages.js
  src/applications/income-and-asset-statement/config/chapters/03-associated-incomes/associatedIncomePages.js
Labels: pension-income-assets

#38552 Pensions | Update net worth accordions
  src/applications/pensions/components/FormAlerts/index.jsx
Labels: pension-benefits

#38613 DMT | Load dependents into form data
  src/applications/dependents/686c-674/config/prefill-transformer.js
  src/applications/dependents/686c-674/tests/config/prefill-transformer.unit.spec.jsx
Labels: dependents-benefits, frontend

#38619 118715 - pagination update
  src/applications/accredited-representative-portal/components/Pagination.jsx
  src/applications/accredited-representative-portal/containers/POARequestSearchPage.jsx
  src/applications/accredited-representative-portal/containers/SubmissionsPage.jsx
  src/applications/accredited-representative-portal/tests/unit/components/Pagination.unit.spec.jsx
Labels: benefits-accredited-rep-facing

#38593 feat(526): Add feature flip for purge TE opted out data on submit
  src/applications/disability-benefits/all-claims/local-dev-mock-api/featureToggles.json
  src/applications/disability-benefits/all-claims/tests/fixtures/mocks/feature-toggles.json
  src/applications/disability-benefits/all-claims/tests/utils/utils.unit.spec.jsx
  src/applications/disability-benefits/all-claims/utils/index.jsx
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: enhancement

#38542 Art/116946/update help page (pt 3)
  src/applications/accredited-representative-portal/containers/GetHelpPage.jsx
  src/applications/accredited-representative-portal/sass/GetHelp.scss
  src/applications/representative-form-upload/components/Header/Nav.jsx
  src/applications/representative-form-upload/sass/Header.scss
  src/applications/representative-form-upload/tests/e2e/form-upload.cypress.spec.js
Labels: benefits-accredited-rep-facing

#38602 feat(526): Add feature flip for TE destructive modal
  src/applications/disability-benefits/all-claims/local-dev-mock-api/featureToggles.json
  src/applications/disability-benefits/all-claims/tests/fixtures/mocks/feature-toggles.json
  src/applications/disability-benefits/all-claims/tests/utils/utils.unit.spec.jsx
  src/applications/disability-benefits/all-claims/utils/index.jsx
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: enhancement, disability-benefits, disability-benefits-pathways-team

#38670 [art/117093] - feedback on homepage tablet view
  src/applications/accredited-representative-portal/sass/Header.scss
  src/applications/accredited-representative-portal/sass/POARequestDetails.scss
  src/applications/accredited-representative-portal/sass/accredited-representative-portal.scss
Labels: benefits-accredited-rep-facing

#38693 [ART/116832] - focus management across forms, arp app
  src/applications/accredited-representative-portal/components/SortForm.jsx
  src/applications/accredited-representative-portal/containers/ClaimantSearchPage.jsx
  src/applications/accredited-representative-portal/containers/POARequestSearchPage.jsx
  src/applications/accredited-representative-portal/sass/POARequestCard.scss
  src/applications/representative-form-upload/containers/IntroductionPage.jsx
  src/applications/representative-form-upload/helpers/index.js
Labels: benefits-accredited-rep-facing

#38685 [ARP] remove `accreditedRepresentativePortalSelfServiceAuth` feature …
  src/applications/accredited-representative-portal/components/Error/ErrorBoundary.jsx
Labels: benefits-accredited-rep-facing

#38688 0969 | Add dependent descriptions to Financial Accounts chapter
  src/applications/income-and-asset-statement/config/chapters/03-associated-incomes/associatedIncomePages.js
Labels: pension-income-assets

#38709 DMT | Add 686c-674 duplicate toggle
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: dependents-benefits, frontend

#38781 0969 | Auto-open property & business accordion on review page
  src/applications/income-and-asset-statement/containers/App.jsx
Labels: pension-income-assets, frontend

#38773 [Art/118507] - header update mobile
  src/applications/accredited-representative-portal/components/Header/Dropdown.jsx
  src/applications/accredited-representative-portal/components/Header/DropdownContainer.jsx
  src/applications/accredited-representative-portal/components/Header/DropdownLinks.jsx
  src/applications/accredited-representative-portal/components/Header/Nav.jsx
  src/applications/accredited-representative-portal/components/Header/NavDropdown.jsx
  src/applications/accredited-representative-portal/components/Header/UserNav.jsx
  src/applications/accredited-representative-portal/sass/Header.scss
  src/applications/accredited-representative-portal/tests/unit/components/Header.unit.spec.jsx
  src/applications/accredited-representative-portal/utilities/constants.js
  src/applications/representative-form-upload/components/Header/Dropdown.jsx
  src/applications/representative-form-upload/components/Header/DropdownContainer.jsx
  src/applications/representative-form-upload/components/Header/DropdownLinks.jsx
  src/applications/representative-form-upload/components/Header/Nav.jsx
  src/applications/representative-form-upload/components/Header/NavDropdown.jsx
  src/applications/representative-form-upload/components/Header/UserNav.jsx
  src/applications/representative-form-upload/constants/index.js
  src/applications/representative-form-upload/sass/Header.scss
  src/applications/representative-form-upload/tests/unit/components/Header/NavDropdown.unit.spec.jsx
Labels: benefits-accredited-rep-facing

#38809 [art/117253] - ARP help page content update
  src/applications/accredited-representative-portal/containers/GetHelpPage.jsx
  src/applications/accredited-representative-portal/sass/GetHelp.scss
Labels: benefits-accredited-rep-facing

#38801 Remove flipper and default to updated medical evidence pages
  src/applications/pensions/PensionsApp.jsx
  src/applications/pensions/components/FormAlerts/index.jsx
  src/applications/pensions/config/chapters/03-health-and-employment-information/additionalEvidence.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/age.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/index.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/medicalCondition.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/medicalConditions.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/over65.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/socialSecurityDisability.js
  src/applications/pensions/config/chapters/03-health-and-employment-information/socialSupplementalSecurity.js
  src/applications/pensions/helpers.jsx
  src/applications/pensions/tests/e2e/pagePaths.js
  src/applications/pensions/tests/unit/chapters/03-health-and-employment-information/medicalCondition.unit.spec.jsx
  src/applications/pensions/tests/unit/chapters/03-health-and-employment-information/over65.unit.spec.jsx
  src/applications/pensions/tests/unit/chapters/03-health-and-employment-information/socialSecurityDisability.unit.spec.jsx
  src/applications/pensions/tests/unit/components/FormAlerts/FormAlerts.unit.spec.jsx
  src/platform/utilities/feature-toggles/featureFlagNames.json
Labels: pension-benefits

#38816 [art/118507] - header css updates
  src/applications/accredited-representative-portal/components/Header/DropdownContainer.jsx
  src/applications/accredited-representative-portal/components/Header/DropdownLinks.jsx
  src/applications/accredited-representative-portal/sass/Header.scss
  src/applications/accredited-representative-portal/utilities/constants.js
  src/applications/representative-form-upload/components/Header/DropdownContainer.jsx
  src/applications/representative-form-upload/sass/Header.scss
Labels: benefits-accredited-rep-facing

#38782 Platform | Fix review page accordion state
  src/platform/forms-system/src/js/actions.js
  src/platform/forms-system/src/js/review/ReviewChapters.jsx
  src/platform/forms-system/src/js/state/reducers.js
  src/platform/forms-system/test/js/actions.unit.spec.jsx
  src/platform/forms-system/test/js/reducers.unit.spec.jsx
  src/platform/forms-system/test/js/review/ReviewChapters.unit.spec.jsx
Labels: bug, platform, frontend

#38814 Art/117994/handle too many requests
  src/applications/representative-form-upload/config/submissionError.js
  src/applications/representative-form-upload/tests/e2e/form-upload.cypress.spec.js
  src/applications/representative-form-upload/tests/unit/config/submissionError.unit.spec.jsx
Labels: benefits-accredited-rep-facing

#38518 fix(526): Purge unclaimed toxic exposure data onSubmit
  src/applications/disability-benefits/all-claims/Form526EZApp.jsx
  src/applications/disability-benefits/all-claims/submit-transformer.js
  src/applications/disability-benefits/all-claims/tests/utils/on-submit/purge-toxic-exposure-data.unit.spec.jsx
  src/applications/disability-benefits/all-claims/utils/on-submit/index.js
  src/applications/disability-benefits/all-claims/utils/on-submit/purge-toxic-exposure-data.js
Labels: bug, disability-benefits, disability-benefits-pathways-team

#38921 Financial accounts chapter updates
  src/applications/income-and-asset-statement/config/chapters/03-associated-incomes/associatedIncomePages.js
Labels: pension-income-assets

#38875 Update is married statuses
  src/applications/pensions/config/chapters/04-household-information/helpers.jsx
  src/applications/pensions/tests/unit/components/MarriageCountReview.unit.spec.jsx
  src/applications/pensions/tests/unit/helpers.unit.spec.jsx
Labels: pension-benefits

#38949 Update current employment conditional logic
  src/applications/pensions/config/chapters/03-health-and-employment-information/currentEmployment.js
Labels: pension-benefits

#38890 init(21-4192): Add application for employment information
  config/changed-apps-build.json
  src/applications/benefits-optimization-aquia/21-4192-employment-information/README.md
  src/applications/benefits-optimization-aquia/21-4192-employment-information/app-entry.jsx
  src/applications/benefits-optimization-aquia/21-4192-employment-information/config/form.js
  src/applications/benefits-optimization-aquia/21-4192-employment-information/config/index.js
  src/applications/benefits-optimization-aquia/21-4192-employment-information/constants.js
  src/applications/benefits-optimization-aquia/21-4192-employment-information/containers/app.jsx
  src/applications/benefits-optimization-aquia/21-4192-employment-information/containers/confirmation-page.jsx
  src/applications/benefits-optimization-aquia/21-4192-employment-information/containers/index.js
  src/applications/benefits-optimization-aquia/21-4192-employment-information/containers/introduction-page.jsx
  src/applications/benefits-optimization-aquia/21-4192-employment-information/index.js
  src/applications/benefits-optimization-aquia/21-4192-employment-information/manifest.json
  src/applications/benefits-optimization-aquia/21-4192-employment-information/pages/identification-information.js
  src/applications/benefits-optimization-aquia/21-4192-employment-information/pages/index.js
  src/applications/benefits-optimization-aquia/21-4192-employment-information/pages/mailing-address.js
  src/applications/benefits-optimization-aquia/21-4192-employment-information/pages/name-and-date-of-birth.js
  src/applications/benefits-optimization-aquia/21-4192-employment-information/pages/phone-and-email-address.js
  src/applications/benefits-optimization-aquia/21-4192-employment-information/reducers/index.js
  src/applications/benefits-optimization-aquia/21-4192-employment-information/routes.jsx
  src/applications/benefits-optimization-aquia/21-4192-employment-information/sass/21-4192-employment-information.scss
  src/applications/benefits-optimization-aquia/21-4192-employment-information/tests/21-4192-employment-information.cypress.spec.js
  src/applications/benefits-optimization-aquia/21-4192-employment-information/tests/containers/confirmation-page.unit.spec.jsx
  src/applications/benefits-optimization-aquia/21-4192-employment-information/tests/containers/introduction-page.unit.spec.jsx
  src/applications/benefits-optimization-aquia/21-4192-employment-information/tests/fixtures/data/index.js
  src/applications/benefits-optimization-aquia/21-4192-employment-information/tests/fixtures/data/minimal-test.json
  src/applications/benefits-optimization-aquia/21-4192-employment-information/tests/fixtures/index.js
  src/applications/benefits-optimization-aquia/21-4192-employment-information/tests/fixtures/mocks/index.js
  src/applications/benefits-optimization-aquia/21-4192-employment-information/tests/fixtures/mocks/local-mock-responses.js
  src/applications/benefits-optimization-aquia/21-4192-employment-information/tests/fixtures/mocks/user.json
  src/applications/benefits-optimization-aquia/21-4192-employment-information/utils/index.js
  src/applications/manifest-catalog.json
  src/platform/forms/constants.js
  src/platform/forms/tests/forms-config-validator.unit.spec.jsx
Labels: needs VSP approval, benefits-optimization, benefits-optimization-aquia

#38930 [Disability Benefits] rel: vets-json-schema latest version (25.2.5) bump
  package.json
  yarn.lock
Labels: disability-benefits, disability-benefits-pathways-team

#38894 init(21a-530a): Add application for interment allowance 21a-530a
  config/changed-apps-build.json
  src/applications/benefits-optimization-aquia/21-0779-nursing-home-information/manifest.json
  src/applications/benefits-optimization-aquia/21p-530a-interment-allowance/README.md
  src/applications/benefits-optimization-aquia/21p-530a-interment-allowance/app-entry.jsx
  src/applications/benefits-optimization-aquia/21p-530a-interment-allowance/config/form.js
  src/applications/benefits-optimization-aquia/21p-530a-interment-allowance/config/index.js
  src/applications/benefits-optimization-aquia/21p-530a-interment-allowance/constants.js
  src/applications/benefits-optimization-aquia/21p-530a-interment-allowance/containers/app.jsx
  src/applications/benefits-optimization-aquia/21p-530a-interment-allowance/containers/confirmation-page.jsx
  src/applications/benefits-optimization-aquia/21p-530a-interment-allowance/containers/index.js
  src/applications/benefits-optimization-aquia/21p-530a-interment-allowance/containers/introduction-page.jsx
  src/applications/benefits-optimization-aquia/21p-530a-interment-allowance/index.js
  src/applications/benefits-optimization-aquia/21p-530a-interment-allowance/manifest.json
  src/applications/benefits-optimization-aquia/21p-530a-interment-allowance/pages/identification-information.js
  src/applications/benefits-optimization-aquia/21p-530a-interment-allowance/pages/index.js
  src/applications/benefits-optimization-aquia/21p-530a-interment-allowance/pages/mailing-address.js
  src/applications/benefits-optimization-aquia/21p-530a-interment-allowance/pages/name-and-date-of-birth.js
  src/applications/benefits-optimization-aquia/21p-530a-interment-allowance/pages/phone-and-email-address.js
  src/applications/benefits-optimization-aquia/21p-530a-interment-allowance/reducers/index.js
  src/applications/benefits-optimization-aquia/21p-530a-interment-allowance/routes.jsx
  src/applications/benefits-optimization-aquia/21p-530a-interment-allowance/sass/21p-530a-interment-allowance.scss
  src/applications/benefits-optimization-aquia/21p-530a-interment-allowance/tests/21p-530a-interment-allowance.cypress.spec.js
  src/applications/benefits-optimization-aquia/21p-530a-interment-allowance/tests/containers/confirmation-page.unit.spec.jsx
  src/applications/benefits-optimization-aquia/21p-530a-interment-allowance/tests/containers/introduction-page.unit.spec.jsx
  src/applications/benefits-optimization-aquia/21p-530a-interment-allowance/tests/fixtures/data/index.js
  src/applications/benefits-optimization-aquia/21p-530a-interment-allowance/tests/fixtures/data/minimal-test.json
  src/applications/benefits-optimization-aquia/21p-530a-interment-allowance/tests/fixtures/index.js
  src/applications/benefits-optimization-aquia/21p-530a-interment-allowance/tests/fixtures/mocks/index.js
  src/applications/benefits-optimization-aquia/21p-530a-interment-allowance/tests/fixtures/mocks/local-mock-responses.js
  src/applications/benefits-optimization-aquia/21p-530a-interment-allowance/tests/fixtures/mocks/user.json
  src/applications/manifest-catalog.json
  src/platform/forms/constants.js
  src/platform/forms/tests/forms-config-validator.unit.spec.jsx
Labels: benefits-optimization, benefits-optimization-aquia

#39011 [CDP] 120606 - Fix incorrect copay breadcrumb for resolve page
  src/applications/combined-debt-portal/combined/components/MCPAlerts.jsx
  src/applications/combined-debt-portal/combined/routes.jsx
  src/applications/combined-debt-portal/combined/tests/e2e/combined-debt-portal-otpp.cypress.spec.js
  src/applications/combined-debt-portal/medical-copays/components/AccountSummary.jsx
  src/applications/combined-debt-portal/medical-copays/components/BalanceCard.jsx
  src/applications/combined-debt-portal/medical-copays/components/Balances.jsx
  src/applications/combined-debt-portal/medical-copays/components/DisputeCharges.jsx
  src/applications/combined-debt-portal/medical-copays/components/DownloadStatement.jsx
  src/applications/combined-debt-portal/medical-copays/components/FinancialHelp.jsx
  src/applications/combined-debt-portal/medical-copays/components/HowToPay.jsx
  src/applications/combined-debt-portal/medical-copays/components/StatementAddresses.jsx
  src/applications/combined-debt-portal/medical-copays/components/StatementCharges.jsx
  src/applications/combined-debt-portal/medical-copays/components/StatementTable.jsx
  src/applications/combined-debt-portal/medical-copays/containers/DetailCopayPage.jsx
  src/applications/combined-debt-portal/medical-copays/containers/ResolvePage.jsx
Labels: combined-debt-portal, frontend

#39038 120029 - OTPP - ADE Empty table cells not announced
  src/applications/combined-debt-portal/medical-copays/components/StatementTable.jsx
Labels: combined-debt-portal, frontend

#39034 DMT | Organize config utilities
  src/applications/dependents/686c-674/config/constants.js
  src/applications/dependents/686c-674/config/utilities/api.js
  src/applications/dependents/686c-674/config/utilities/data.js
  src/applications/dependents/686c-674/config/utilities/index.js
  src/applications/dependents/686c-674/tests/config/utilities.api.unit.spec.jsx
  src/applications/dependents/686c-674/tests/config/utilities.data.unit.spec.jsx
Labels: dependents-benefits, frontend
